Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

fix: correct versions from backporting
  deploy/helm/elastic-agent/README.md
  internal/pkg/otel/README.md
  internal/pkg/otel/templates/README.md.tmpl
Due: elastic-agent-extended-testing

fix: resolve conflicts
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

fix: resolve conflicts
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

fix: resolve conflicts
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

fix: remove ksm helm examples
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
Due: none

fix: remove netflow helm examples
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
Due: none

Windows: Fix Windows job assignment to work on Go 1.23+ (#6825)
  changelog/fragments/1739375044-windows-change-how-process-handles-are-obtained-when-assigning-sub-processes-to-Job-objects..yaml
  pkg/core/process/external_windows.go
  pkg/core/process/job_windows.go
  pkg/testing/fixture_install.go
  pkg/testing/tools/check/check.go
  pkg/testing/tools/tools.go
  testing/integration/logs_ingestion_test.go
  testing/integration/upgrade_fleet_test.go
Due: elastic-agent-extended-testing

Update README.md
  deploy/helm/elastic-agent/README.md
Due: none

Better error handling for flavor detection (#6804)
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/install/flavors.go
  testing/integration/upgrade_gpg_test.go
  testing/integration/upgrade_standalone_retry_test.go
  testing/integration/upgrade_standalone_same_commit_test.go
Due: elastic-agent-extended-testing

Better error handling for flavor detection (#6804)
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/install/flavors.go
Due: elastic-agent-extended-testing

fix install prevention on Linux
  specs/endpoint-security.spec.yml
Due: elastic-agent-extended-testing

changelog
  changelog/fragments/1739528415-fix-install-prevention-on-linux.yaml
Due: none

Resolved install_test.go
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

otel: add test for document equivalence between agent filestream input and filebeat receiver (#6681)
  pkg/testing/fixture.go
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Resolved conflicts
  pkg/testing/tools/fleettools/fleet.go
Due: elastic-agent-extended-testing

add missing fingerprint config options to index small files
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

otel: add test for agent hybrid
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

ensure new lines are written to the input file
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

fix agent not starting
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

add queue timeout to normal beats and separate path.home for fbreceiver
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

add path.home for normal filebeat
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

disable compression level so we inspect the requests
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

more strict rules for ignored fields to avoid false positives
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

add host metadata processor, remove 'host.*' from ignored fields
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

print elastic-agent output if test fails
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

use add_fields to add missing fields, use a single index
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

fail if ignored field is not present in both maps
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

add note for metadata field
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Use global processor
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

avoid checking cmd.Wait error since it is bogus
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

add monitoring filebeat test
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

push changes upstream
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

add new method on fixture
  pkg/testing/fixture.go
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing
