Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Update .buildkite/bk.integration.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

fix: clamp non-positive agent.download.retry_sleep_init_duration to default 30s
  changelog/fragments/1777882926-drosiek-validate-download-retrysleepinit-time.yaml
  internal/pkg/agent/application/upgrade/artifact/config.go
  internal/pkg/agent/application/upgrade/artifact/config_test.go
Due: Trigger Extended tests for Pull request

Fix handling of console events on Windows
  changelog/fragments/1777295027-fix-windows-otel-signal-handling.yaml
  internal/pkg/agent/cmd/otel_windows.go
  pkg/core/process/cmd.go
  pkg/testing/fixture.go
  testing/integration/ess/agent_start_shutdown_test.go
  testing/integration/ess/otel_test.go
  wrapper/windows/archive-proxy/main.go
Due: Trigger Extended tests for Pull request

chore: stop using deprecated logp.DevelopmentSetup(); explicitly set loggers in test runners
  magefile.go
  pkg/testing/common/instance.go
  pkg/testing/common/stack.go
  pkg/testing/ess/client.go
  pkg/testing/ess/client_test.go
  pkg/testing/ess/serverless_provisioner.go
  pkg/testing/ess/serverless_test.go
  pkg/testing/ess/statful_provisioner.go
  pkg/testing/gcloud/provisioner.go
  pkg/testing/kubernetes/kind/provisioner.go
  pkg/testing/multipass/provisioner.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/runner_test.go
  testing/integration/ess/upgrade_integrations_server_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

chore: fix k8s manifest comments wrt to `initContainers`
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml.original
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-daemonset.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

add backport label
  deploy/kubernetes/Makefile
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Use the process wrapper in the otel command
  internal/pkg/agent/cmd/otel_windows.go
Due: Trigger Extended tests for Pull request

Reword changelog entry
  changelog/fragments/1777295027-fix-windows-otel-signal-handling.yaml
Due: none

fix: fix noctx exec.Command usage in modified files
  pkg/testing/kubernetes/kind/provisioner.go
Due: Trigger Extended tests for Pull request

Delete changelog/fragments/1777458000-fix-nil-process-state-panic.yaml
  changelog/fragments/1777458000-fix-nil-process-state-panic.yaml
Due: none

bk: run UTs in Windows ARM (11-pro) (#13699)
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/unit-tests.ps1
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  pkg/testing/fetcher.go
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Allow dependabot to update all dependencies
  .github/dependabot.yml
Due: none

remove duplicate entries
  changelog/9.4.0.yaml
  docs/release-notes/_snippets/9.4.0/index.md
Due: none

Clean up windows uninstall (#13606)
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/cmd/uninstall.go
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_windows.go
  internal/pkg/agent/install/uninstall_windows_test.go
  pkg/testing/fixture.go
Due: Trigger Extended tests for Pull request

Revert "Use the process wrapper in the otel command"
  internal/pkg/agent/cmd/otel_windows.go
Due: Trigger Extended tests for Pull request

Harmonize the archive proxy and otel command
  internal/pkg/agent/cmd/otel_windows.go
Due: Trigger Extended tests for Pull request

Delete internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/manual_rollback.go
Due: Trigger Extended tests for Pull request

Update rollback.go
  internal/pkg/agent/application/upgrade/rollback.go
Due: Trigger Extended tests for Pull request

Create local copy of `StartMockESDeterministic` for `internal/edot` testing (#13917)
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/mockes_helpers_test.go
  internal/edot/otelcol/monitoring_test.go
  internal/edot/otelcol/ratelimit_test.go
Due: Trigger Extended tests for Pull request

updatecli: filter where the Azure images are defined (#13742)
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: none

Code review fixes.
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/status.go
Due: Trigger Extended tests for Pull request

Ignore otel collector dependencies
  .github/dependabot.yml
Due: none

fix: clamp non-positive agent.download.retry_sleep_init_duration to default 30s (#13974)
  changelog/fragments/1777882926-drosiek-validate-download-retrysleepinit-time.yaml
  internal/pkg/agent/application/upgrade/artifact/config.go
  internal/pkg/agent/application/upgrade/artifact/config_test.go
Due: Trigger Extended tests for Pull request

gh(aw): add pr buildkite detective
  .github/workflows/trigger-pr-buildkite-detective.yml
Due: none

Revert "Temporarily skip serverless tests in CI (#13928)"
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

Add windows/arm64 to supported table
  pkg/testing/fetcher.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
