Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

create helm-chart and configure the oblt-gcp oidc thing
  .buildkite/pipeline.elastic-agent-helm-charts.yml
  .buildkite/scripts/steps/helm-charts.sh
Due: elastic-agent-extended-testing

Update golangci-lint.yml
  .github/workflows/golangci-lint.yml
Due: none

Update .golangci.yml
  .golangci.yml
Due: none

[CI] Fix unified release ARM packaging (#7205)
  .buildkite/pipeline.elastic-agent-package.yml
Due: none

Stop testing metricbeat and auditbeat. (#7186)
  .buildkite/scripts/steps/beats_tests.sh
Due: elastic-agent-extended-testing

Add auto retry
  .buildkite/pipeline.yml
Due: elastic-agent-extended-testing

Refactor.
  pkg/testing/tools/check/check.go
  pkg/testing/tools/tools.go
  testing/integration/agent_long_running_leak_test.go
  testing/integration/delay_enroll_test.go
  testing/integration/endpoint_security_test.go
  testing/integration/enroll_replace_token_test.go
  testing/integration/enroll_unprivileged_test.go
  testing/integration/escaping_secrets_in_policy_test.go
  testing/integration/fqdn_test.go
  testing/integration/linux_deb_test.go
  testing/integration/linux_rpm_test.go
  testing/integration/logs_ingestion_test.go
  testing/integration/metrics_monitoring_test.go
  testing/integration/monitoring_endpoint_test.go
  testing/integration/monitoring_probe_preserve_text_cfg_test.go
  testing/integration/monitoring_probe_reload_test.go
  testing/integration/upgrade_fleet_test.go
Due: elastic-agent-extended-testing

Fix hash
  internal/pkg/crypto/hash.go
Due: elastic-agent-extended-testing

feat: add unit-tests
  internal/pkg/acl/acl_windows.go
  internal/pkg/acl/acl_windows_test.go
  internal/pkg/agent/perms/windows.go
Due: elastic-agent-extended-testing

go update
  go.mod
  go.sum
  http.json
Due: elastic-agent-extended-testing

update ea-libs
  go.mod
  go.sum
  internal/pkg/otel/configtranslate/otelconfig_test.go
Due: elastic-agent-extended-testing

remove println
  internal/pkg/otel/configtranslate/otelconfig.go
Due: elastic-agent-extended-testing

chore(ci): Validate catalog-info.yaml (#7240)
  .buildkite/pipeline.yml
Due: elastic-agent-extended-testing

Bump versions
  .package-version
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
Due: elastic-agent-extended-testing

Bump versions
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

Bump versions
  .package-version
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
Due: elastic-agent-extended-testing

Bump versions
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

Update grpc_test.go
  internal/pkg/agent/configuration/grpc_test.go
Due: elastic-agent-extended-testing

Fix a bug preventing kind cluster deletion (#7202)
  pkg/testing/kubernetes/kind/provisioner.go
Due: elastic-agent-extended-testing

test integrations with basic installation
  testing/integration/auditd_monitoring_test.go
  testing/integration/auditd_package.json
  testing/integration/network_traffic_monitoring_test.go
  testing/integration/network_traffic_package.json
  testing/integration/osquery_monitoring_test.go
  testing/integration/osquery_package.json
Due: elastic-agent-extended-testing

chore: bump elastic-agent helm chart ksm dependency (#7241)
  deploy/helm/elastic-agent/Chart.lock
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
Due: none
