Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

add the 8.19.18 Elastic Agent release notes
  changelog/8.19.18.asciidoc
  changelog/8.19.18.yaml
  changelog/fragments/1780322182-fix-missing-beat-receiver-trace-logs-from-diagnostic-bundle.yaml
  changelog/fragments/1781273333-add-system.cpu.cores-field-to-self-monitoring-data.yaml
  changelog/fragments/1782147307-drop-force-extension-converter.yaml
Due: none

remove duplicate entries
  changelog/8.19.18.asciidoc
  changelog/8.19.18.yaml
Due: none

Logs enabled, metrics disabled.
  testing/integration/ess/event_logging_test.go
Due: Trigger Extended tests for Pull request

Fix coordinator.go using internal-only AuditUnenroll symbols via pkg/fleetapi
  internal/pkg/agent/application/coordinator/coordinator.go
Due: Trigger Extended tests for Pull request

Fix integration tests importing ActionType constants from internal fleetapi
  testing/integration/ess/scheduled_upgrade_details_test.go
  testing/integration/ess/switch_unprivileged_test.go
Due: Trigger Extended tests for Pull request

Fix missed callers of moved fleetapi types
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  testing/fleetservertest/fleetserver_test.go
Due: Trigger Extended tests for Pull request

Remove Config.Arch and Config.OS
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/upgrade/artifact/artifact.go
  internal/pkg/agent/application/upgrade/artifact/artifact_test.go
  internal/pkg/agent/application/upgrade/artifact/config.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/downloader_test.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/verifier_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/common_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier_test.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/install/componentvalidation/validation.go
Due: Trigger Extended tests for Pull request

Separate upgrade URI resolution from downloaders
  internal/pkg/agent/application/upgrade/artifact/artifact.go
  internal/pkg/agent/application/upgrade/artifact/artifact_test.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/downloader_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader_test.go
  internal/pkg/agent/application/upgrade/artifact/download/localremote/downloader.go
  internal/pkg/agent/application/upgrade/artifact/download/localremote/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/snapshot/downloader.go
  internal/pkg/agent/application/upgrade/artifact/download/snapshot/downloader_test.go
  internal/pkg/agent/application/upgrade/artifact/download/snapshot/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/testdata/latest-snapshot.json
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
Due: Trigger Extended tests for Pull request

Build Artifact filename at creation, remove unused fields
  internal/pkg/agent/application/upgrade/artifact/artifact.go
  internal/pkg/agent/application/upgrade/artifact/artifact_test.go
  internal/pkg/agent/application/upgrade/artifact/download/composed/verifier_test.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/downloader.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/downloader_test.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/verifier_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/common_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier_test.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

Fix lint
  internal/pkg/agent/application/upgrade/download/fetch.go
  internal/pkg/agent/application/upgrade/download/verify.go
  internal/pkg/agent/application/upgrade/download/verify_test.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
Due: Trigger Extended tests for Pull request

chore: improve comments
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

fix(test): revert findCtx parent back to ctx
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

fix(test): fix flaky TestClassicAndReceiverAgentMonitoring
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

fix(test): use 10-minute shared context instead of two 5-minute per-phase contexts
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Move metrics conversion to connector
  internal/edot/connectors/elasticmonitoring/connector.go
  internal/edot/connectors/elasticmonitoring/convert.go
  internal/edot/connectors/elasticmonitoring/convert_test.go
  internal/edot/connectors/elasticmonitoring/factory.go
  internal/edot/otelcol/components/default.go
  internal/edot/receivers/elasticmonitoring/convert.go
  internal/edot/receivers/elasticmonitoring/convert_test.go
  internal/edot/receivers/elasticmonitoring/factory.go
  internal/edot/receivers/elasticmonitoring/receiver.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

diag: exploratory perturbation campaign + envprobe host monitoring
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/envprobe/main.go
  .buildkite/scripts/steps/unit-tests.ps1
  investigation.md
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

fix: skip fragment-in-pr check for mergify[bot]-authored PRs
  .github/workflows/fragment-in-pr.yml
Due: none

Add Elastic Agent 9.4.3 release notes (#15129)
  changelog/9.4.3.yaml
  changelog/fragments/1771884267-add-azure-monitor-receiver-to-edot-collector.yaml
  changelog/fragments/1777551882-drosiek-marker-stale.yaml
  changelog/fragments/1779393592-change-bulk_response_filter_path-in-elasticsearch-exporter-configurations.yaml
  changelog/fragments/1779743162-remove-franz-go-dependency-to-shrink-elastic-agent-binary-size.yaml
  changelog/fragments/1779748227-Add-Azure-auth-extension-to-EDOT-Collector.yaml
  changelog/fragments/1779933035-disable-tls-certificate-hot-reload-by-default-on-9.4-patch-branch.yaml
  changelog/fragments/1779979535-move-fleet-uninstall-notification-before-installation-directory-removal.yaml
  changelog/fragments/1779995943-read-container-tls-from-env.yaml
  changelog/fragments/1779996772-fix-container-override-inconsistencies.yaml
  changelog/fragments/1780533768-fix-command-runtime-late-checkin-resurrect.yaml
  changelog/fragments/1780533768-fix-msi-uninstall-registry-infinite-loop.yaml
  changelog/fragments/1780926122-fix-bug-where-an-empty-request-body-could-be-sent-after-failing-over-to-an-alternate-fleet-host..yaml
  changelog/fragments/1781273333-add-system.cpu.cores-field-to-self-monitoring-data.yaml
  changelog/fragments/1781639318-heartbeat-bump-npm-11.17.0.yaml
  docs/release-notes/_snippets/9.4.3/breaking-changes.md
  docs/release-notes/_snippets/9.4.3/deprecations.md
  docs/release-notes/_snippets/9.4.3/index.md
  docs/release-notes/_snippets/breaking-changes/9.4.md
  docs/release-notes/_snippets/deprecations/9.4.md
  docs/release-notes/_snippets/index/9.4.md
Due: none

Add Elastic Agent 9.4.3 release notes (#15129)
  changelog/9.4.3.yaml
  changelog/fragments/1779743162-remove-franz-go-dependency-to-shrink-elastic-agent-binary-size.yaml
  changelog/fragments/1780533768-fix-command-runtime-late-checkin-resurrect.yaml
  changelog/fragments/1780533768-fix-msi-uninstall-registry-infinite-loop.yaml
  changelog/fragments/1781273333-add-system.cpu.cores-field-to-self-monitoring-data.yaml
  docs/release-notes/_snippets/9.4.3/breaking-changes.md
  docs/release-notes/_snippets/9.4.3/deprecations.md
  docs/release-notes/_snippets/9.4.3/index.md
  docs/release-notes/_snippets/breaking-changes/9.4.md
  docs/release-notes/_snippets/deprecations/9.4.md
  docs/release-notes/_snippets/index/9.4.md
Due: none

Apply suggestions from code review
  changelog/8.19.18.asciidoc
Due: none

Fix integration test configs
  internal/edot/otelcol/monitoring_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Fix 8.19 backport conflicts for PR #15084
  internal/pkg/agent/application/actions/handlers/handler_action_migrate.go
  internal/pkg/agent/application/actions/handlers/handler_action_migrate_test.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_privilege_level_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_privilege_level_change_test.go
  internal/pkg/agent/application/actions/handlers/handler_action_unenroll.go
  internal/pkg/agent/application/actions/handlers/handler_helpers.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/enroll/options.go
  internal/pkg/agent/application/enroll/options_test.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/cmd/watch_test.go
  internal/pkg/agent/storage/store/state_store.go
  internal/pkg/agent/storage/store/state_store_test.go
  pkg/fleetapi/action.go
  testing/integration/ess/switch_unprivileged_test.go
Due: Trigger Extended tests for Pull request

Resolve backport conflict markers in 9.4 branch
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  pkg/fleetapi/action.go
Due: Trigger Extended tests for Pull request

chore: bump nodejs 22.23 and npm 11.18
  changelog/fragments/1782833975-bump-heartbeat-nodejs-22.23-npm-11.18.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove duplicate internal/pkg/fleetapi import from coordinator_unit_test.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
Due: Trigger Extended tests for Pull request

Reapply "[Release] Update version to 9.4.4 (#15002)" (#15146) (#15162)
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-secret/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
  version/version.go
Due: Trigger k8s sync, Trigger Extended tests for Pull request
