Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

refactor: sort complete lists instead of while inserting
  magefile.go
Due: elastic-agent-extended-testing

Test run Windows
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/integration-tests.ps1
Due: elastic-agent-extended-testing

add missing fingerprint config options to index small files
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Removed -v flag
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/integration-tests.ps1
Due: elastic-agent-extended-testing

Add filesource provider (#6587)
  changelog/fragments/1737666699-Add-filesource-provider.yaml
  internal/pkg/agent/cmd/include.go
  internal/pkg/composable/providers/filesource/filesource.go
  internal/pkg/composable/providers/filesource/filesource_test.go
Due: elastic-agent-extended-testing

ensure new lines are written to the input file
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

disable compression level so we inspect the requests
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Parse agent version
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/integration-tests.ps1
Due: elastic-agent-extended-testing

fix: split up ack-ing fleet in a separate function
  internal/pkg/agent/cmd/container.go
Due: elastic-agent-extended-testing

add queue timeout to normal beats and separate path.home for fbreceiver
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Fix Fleet Enrollment Handling for Containerized Agent (#6568)
  .mockery.yaml
  changelog/fragments/1737552345-Fix-enrollment-for-containerised-agent-when-there-is-an-enrollement-token-change-or-the-agent-is-unenrolled.yaml
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/configuration/fleet.go
  internal/pkg/crypto/hash.go
  internal/pkg/crypto/hash_test.go
  testing/integration/kubernetes_agent_standalone_test.go
  testing/mocks/internal_/pkg/agent/application/actions/handlers/diagnostics_provider_mock.go
  testing/mocks/internal_/pkg/agent/application/actions/handlers/log_level_setter_mock.go
  testing/mocks/internal_/pkg/agent/application/actions/handlers/uploader_mock.go
  testing/mocks/internal_/pkg/agent/application/info/agent_mock.go
  testing/mocks/internal_/pkg/agent/storage/storage_mock.go
  testing/mocks/internal_/pkg/fleetapi/acker/acker_mock.go
  testing/mocks/internal_/pkg/fleetapi/client/sender_mock.go
  testing/mocks/pkg/control/v2/client/client_mock.go
Due: elastic-agent-extended-testing

enhancement(5423): added logic to replaces scheduler with long-wait scheduler in case of exceeded unauth response limit
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
Due: elastic-agent-extended-testing

Cleanup
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/integration-tests.ps1
  magefile.go
Due: elastic-agent-extended-testing

enhancement(5423): removed default case from type switch, added unit tests
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
Due: elastic-agent-extended-testing

Move agent version to .agent-version file
  .buildkite/scripts/common.sh
  .buildkite/scripts/common2.sh
  .github/workflows/fragment-in-pr.yml
  deploy/kubernetes/Makefile
  dev-tools/set_version
  testing/environments/cloud/Makefile
  testing/environments/cloud/main.tf
  version/.agent-version
  version/version.go
Due: Sync K8s, elastic-agent-extended-testing

Fix embed
  version/version.go
Due: elastic-agent-extended-testing

add path.home for normal filebeat
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

docs(otel): sort OTel components (#6616)
  internal/pkg/otel/README.md
  magefile.go
Due: elastic-agent-extended-testing

mage otel:readme
  internal/pkg/otel/README.md
Due: elastic-agent-extended-testing

working
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  dev-tools/packaging/templates/linux/preinstall.sh.tmpl
Due: elastic-agent-extended-testing

Fix k8s container logs input id using container names
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  dev-tools/kubernetes/base/elastic-agent-standalone/config-map.yaml
  internal/pkg/agent/application/coordinator/testdata/config.yaml
Due: Sync K8s, elastic-agent-extended-testing

Switch k8s input paths to /var/log/pods/* to ingest rotated container logs
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_kubernetes_logs_containers.tpl
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

feat: remove apm-processing from gateway collector
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: none

re-enable otel subcommand on Windows (#6068)
  changelog/fragments/1731962301-re-enable-otel-subcommand-on-Windows.yaml
  internal/pkg/agent/cmd/otel.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/cmd/validate_test.go
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Apply suggestions from code review
  changelog/fragments/1738160406-add_redis_nginx_otel_comps.yaml
Due: none

Changes to binary distribution (#6542)
  _meta/.flavors
  changelog/fragments/1737131552-Changes-to-binary-distribution.yaml
  dev-tools/mage/settings.go
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/application/upgrade/step_unpack_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/install/flavors.go
  internal/pkg/agent/install/flavors_test.go
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_test.go
  pkg/api/v1/manifest.go
  pkg/component/load.go
  pkg/component/load_test.go
  pkg/testing/fixture_install.go
  specs/apm-server.spec.yml
  specs/cloudbeat.spec.yml
  specs/endpoint-security.spec.yml
  testing/integration/fleetserver_test.go
  testing/integration/install_test.go
  testing/integration/upgrade_standalone_same_commit_test.go
Due: elastic-agent-extended-testing

remove elasticsearch exporter in favor of managed otlp
  internal/pkg/otel/samples/linux/logs_metrics_traces.yml
  internal/pkg/otel/samples/linux/platformlogs.yml
  internal/pkg/otel/samples/linux/platformlogs_hostmetrics.yml
Due: elastic-agent-extended-testing

enhancement(5423): added blackbox functional tests for gateway Run
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
Due: elastic-agent-extended-testing

enhancement(5423): added changelog
  changelog/fragments/1738199968-update-scheduler-when-received-too-many-unathorized-responses.yaml
Due: none

cleanup
  dev-tools/packaging/templates/linux/preinstall.sh.tmpl
Due: elastic-agent-extended-testing

lint
  internal/pkg/agent/cmd/apply_flavor.go
Due: elastic-agent-extended-testing

Update images for testing
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
Due: elastic-agent-extended-testing

chore: update config to reflect degrade_on_partial
  _meta/config/common.p2.yml.tmpl
  _meta/config/common.reference.p2.yml.tmpl
  _meta/elastic-agent.yml
  elastic-agent.reference.yml
  elastic-agent.yml
Due: none

Update pipeline.yml
  .buildkite/pipeline.yml
Due: elastic-agent-extended-testing
