Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Regenerate PR list and config file
  changelog/new/bundles
  changelog/new/elastic-agent-9.3.0.txt
  docs/changelog.yml
Due: none

Add changelog directives
  changelog/elastic-agent-9.3.0.txt
  changelog/new/10231.yaml
  changelog/new/10644.yaml
  changelog/new/11186.yaml
  changelog/new/11300.yaml
  changelog/new/11418.yaml
  changelog/new/11484.yaml
  changelog/new/11619.yaml
  changelog/new/11795.yaml
  changelog/new/11813.yaml
  changelog/new/11825.yaml
  changelog/new/11826.yaml
  changelog/new/11955.yaml
  changelog/new/12073.yaml
  changelog/new/12187.yaml
  changelog/new/12205.yaml
  changelog/new/12225.yaml
  changelog/new/12239.yaml
  changelog/new/bundles
  docs/changelog/bundles/9.3.0.yaml
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Due: none

Move and update changelog.yml
  changelog/changelog.yml
  docs/changelog.yml
Due: none

dra: support helmchart (#12228)
  .buildkite/scripts/steps/package.sh
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkgtypes.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Apply suggestion from @v1v
  dev-tools/mage/dockerbuilder.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

helm-charts: use SNAPSHOT suffix instead of beta (#12254)
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

helm-charts: use SNAPSHOT suffix instead of beta (#12254)
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

merge conflicts
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
Due: Trigger Extended tests for Pull request

merge conflicts
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
Due: Trigger Extended tests for Pull request

Update changelog fragment
  changelog/fragments/1769453831-otel-dynamic-providers.yaml
Due: none

Clarify the namespace for internal metrics, specifying both `otelcol.*` and `otelcol_*` formats + add links
  docs/reference/edot-collector/config/monitor-internal-metrics.md
Due: none

Update internal metrics documentation for clarity
  docs/reference/edot-collector/config/monitor-internal-metrics.md
Due: none

Allow overriding runtime for dynamic inputs (#12438)
  changelog/fragments/1769453831-otel-dynamic-providers.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/cmd/inspect.go
  internal/pkg/agent/install/componentvalidation/validation.go
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/transpiler/inputs.go
  internal/pkg/agent/transpiler/inputs_test.go
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/agent/transpiler/vars_test.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/dynamic.go
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Update test to new API
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Update fixture.PrepareAgentCommand to use process package
  pkg/testing/fixture.go
Due: Trigger Extended tests for Pull request

Isolate --develop tests to a single test for speed.
  testing/integration/ess/install_test.go
Due: Trigger Extended tests for Pull request

Add 9.3.0 known issue for becoming unhealthy at warning log level.
  docs/release-notes/known-issues.md
Due: none

Isolate --develop tests to a single test for speed. (#12597)
  testing/integration/ess/install_test.go
Due: Trigger Extended tests for Pull request

Fix conflicts
  testing/integration/ess/install_test.go
Due: Trigger Extended tests for Pull request

Change uses of NewGCM to NewGCMWithRandomNonce, remove fipsonly skips
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/info/agent_id_test.go
  internal/pkg/agent/application/secret/secret_test.go
  internal/pkg/agent/install/uninstall_test.go
  internal/pkg/agent/migration/migrate_config_test.go
  internal/pkg/agent/storage/encrypted_disk_storage_windows_linux_test.go
  internal/pkg/agent/storage/store/state_store_test.go
  internal/pkg/agent/vault/aesgcm/aesgcm.go
  internal/pkg/agent/vault/aesgcm/aesgcm_test.go
  internal/pkg/agent/vault/vault_file_fips_test.go
  internal/pkg/agent/vault/vault_file_test.go
  internal/pkg/crypto/io.go
  internal/pkg/crypto/io_aesgcm_replace_test.go
  internal/pkg/crypto/io_opts_fips.go
  internal/pkg/crypto/io_opts_fips_test.go
  internal/pkg/crypto/io_opts_nofips.go
  internal/pkg/crypto/io_opts_nofips_test.go
  internal/pkg/crypto/io_test.go
  internal/pkg/testutils/testutils.go
Due: Trigger Extended tests for Pull request

mark JMX receiver as deprecated
  internal/edot/components.yml
  internal/edot/otelcol/components.go
Due: Trigger Extended tests for Pull request

add changelog
  changelog/fragments/1770253767-deprecate_jmx_receiver.yaml
  internal/edot/components.yml
Due: Trigger Extended tests for Pull request

Add Vale docs linting support (#12549)
  .github/workflows/docs-build.yml
Due: none

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
