Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Remove retry from latestSnapshotBuildID
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
Due: Trigger Extended tests for Pull request

Add comments/total timeout
  internal/pkg/agent/application/upgrade/artifact/config.go
  internal/pkg/agent/application/upgrade/step_download.go
Due: Trigger Extended tests for Pull request

formatting
  internal/pkg/agent/application/upgrade/step_download.go
Due: Trigger Extended tests for Pull request

Use smaller of single source timeout and download timeout
  internal/pkg/agent/application/upgrade/step_download.go
Due: Trigger Extended tests for Pull request

add comment to config
  internal/pkg/agent/application/upgrade/artifact/config.go
Due: Trigger Extended tests for Pull request

test(otel): stabilize TestOTelElasticsearchInvalidAPIKeyBackoff (#16473)
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to 34b0bb23cf59
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to d56a62754699
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 90149afff1f3
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to a3b430ed01b8
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

Add substituion for ECK
  docs/docset.yml
Due: none

fix(component): validate component working directory path (#16226)
  changelog/fragments/1788440317-validate-component-working-directory-path-to-prevent-path-traversal.yaml
  pkg/component/component.go
  pkg/component/component_test.go
Due: Trigger Extended tests for Pull request

fix(component): remove orphaned error check after filepath.Clean switch
  pkg/component/component.go
Due: Trigger Extended tests for Pull request

test(component): assert WorkDir path traversal fix (#16226)
  pkg/component/component.go
  pkg/component/component_test.go
Due: Trigger Extended tests for Pull request

Apply suggestion from @ycombinator
  pkg/component/component.go
Due: Trigger Extended tests for Pull request

test(component): add absolute path ID test case for WorkDir validation
  pkg/component/component_test.go
Due: Trigger Extended tests for Pull request

fix(component): inline validateComponentID call, remove validateWorkDir wrapper
  pkg/component/component.go
Due: Trigger Extended tests for Pull request

Update docs/reference/edot-collector/upstream-collector.md
  docs/reference/edot-collector/upstream-collector.md
Due: none

Apply suggestion from @vishaangelova
  docs/docset.yml
Due: none

docs: document mOTLP availability on Elastic Cloud Hosted (#16484)
  docs/docset.yml
  docs/reference/edot-collector/upstream-collector.md
Due: none

Allow overriding Elastic Agent hostname via environment variable (#15686)
  .buildkite/bk.integration.pipeline.yml
  changelog/fragments/1784542898-allow-overriding-elastic-agent-hostname-via-elastic_agent_hostname-environment-variable.yaml
  internal/edot/cmd/otel.go
  internal/edot/cmd/otel_test.go
  internal/edot/cmd/validate_test.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/util/host.go
  internal/pkg/util/host_test.go
  pkg/component/runtime/command.go
  pkg/component/runtime/command_test.go
  testing/integration/ess/fqdn_test.go
  testing/integration/ess/hostname_override_test.go
  testing/integration/groups.go
  testing/integration/k8s/common.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request

fix merge conflict
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/status.go
  internal/pkg/otel/translate/status_test.go
Due: Trigger Extended tests for Pull request

docs: update docs
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

[Release] update version
  version/version.go
Due: Trigger Extended tests for Pull request

test(otel/manager): verify findRandomTCPPorts avoids wildcard-bound ports
  internal/pkg/otel/manager/common_test.go
Due: Trigger Extended tests for Pull request

test(otel/manager): add port-variety test to detect deterministic allocation
  internal/pkg/otel/manager/common_test.go
Due: Trigger Extended tests for Pull request

test(otel/manager): add findRandomTCPPortsOnAllInterfaces and analogous tests
  internal/pkg/otel/manager/common_test.go
Due: Trigger Extended tests for Pull request

fix lint: use netListen variable to avoid gosec/noctx on 0.0.0.0 bind
  internal/pkg/otel/manager/common_test.go
Due: Trigger Extended tests for Pull request

fix backport conflicts
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/status.go
Due: Trigger Extended tests for Pull request

add openshift resourcedetection
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/openshift/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  go.mod
  testing/integration/k8s/common.go
  testing/integration/k8s/otel_helm_test.go
Due: Trigger Extended tests for Pull request

validate component working directory path to prevent path traversal (#16489)
  changelog/fragments/1788440317-validate-component-working-directory-path-to-prevent-path-traversal.yaml
  pkg/component/component.go
  pkg/component/component_test.go
Due: Trigger Extended tests for Pull request

add fragment
  changelog/fragments/1788553536-update-go-to-1.26.8.yaml
Due: none

Fix stale googlecloudmonitoringreceiver version in NOTICE files
  NOTICE-fips.txt
  NOTICE.txt
Due: none

internal/pkg/agent/application/upgrade: suppress spurious warn on fresh volume
  changelog/fragments/1788737506-suppress-spurious-warn-absent-symlink-fresh-volume.yaml
  internal/pkg/agent/application/upgrade/cleanup_agent_directories.go
  internal/pkg/agent/application/upgrade/cleanup_agent_directories_test.go
  internal/pkg/agent/application/upgrade/manual_rollback_test.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
Due: Trigger Extended tests for Pull request
