Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

Don't deepcopy AST when generating vars
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

Store AST directly in dynamic provider mappings
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

kubernetes provider binary
  cmd/k8sprovider/Dockerfile
  cmd/k8sprovider/k8sprovider.yaml
  cmd/k8sprovider/main.go
  cmd/k8sprovidercontroller/Dockerfile
  cmd/k8sprovidercontroller/k8sprovider.yaml
  cmd/k8sprovidercontroller/main.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/providers/kubernetes/kubernetes.go
Due: elastic-agent-extended-testing

wip: share host info between components
  internal/pkg/agent/application/info/agent_metadata.go
  internal/pkg/agent/application/info/agent_metadata_test.go
  internal/pkg/agent/application/info/inject_config.go
  internal/pkg/composable/providers/host/host.go
  internal/pkg/util/host.go
  pkg/component/platforms.go
  pkg/testing/define/define.go
Due: elastic-agent-extended-testing

Avoid unnecessary copies when rendering inputs
  internal/pkg/agent/transpiler/utils.go
Due: elastic-agent-extended-testing

Remove unnecessary ast clone
  internal/pkg/agent/application/coordinator/coordinator.go
Due: elastic-agent-extended-testing

wip: cache final config ast nodes
  internal/pkg/agent/transpiler/utils.go
  internal/pkg/agent/transpiler/vars.go
Due: elastic-agent-extended-testing

Use xxhash instead of sha256 for hashing AST nodes
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/utils.go
Due: elastic-agent-extended-testing

Evaluate condition expressions only once
  internal/pkg/agent/transpiler/ast.go
Due: elastic-agent-extended-testing

Emit updates for running Pods only
  internal/pkg/composable/providers/kubernetes/pod.go
  internal/pkg/composable/providers/kubernetes/pod_test.go
Due: elastic-agent-extended-testing

sudo param
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
Due: elastic-agent-extended-testing

Test non-sudo
  .buildkite/bk.integration.pipeline.yml
Due: none

mage fmt
  testing/integration/switch_unprivileged_test.go
Due: elastic-agent-extended-testing

Cleanup
  .buildkite/bk.integration.pipeline.yml
Due: none

cleanup
  .buildkite/bk.integration.pipeline.yml
Due: none

ess.ps1
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/ess.ps1
Due: elastic-agent-extended-testing

[Release] Update version to 8.16.1 (#5817)
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  version/version.go
Due: Sync K8s, elastic-agent-extended-testing

fix: updated excluded error strings
  testing/integration/logs_ingestion_test.go
Due: elastic-agent-extended-testing

fix: added error string
  testing/integration/logs_ingestion_test.go
Due: elastic-agent-extended-testing

Test Windown 2022 in buildkite
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  .github/workflows/bump-golang.yml
  testing/integration/apm_propagation_test.go
Due: elastic-agent-extended-testing

fix: updated excluded error strings (#6031)
  testing/integration/logs_ingestion_test.go
Due: elastic-agent-extended-testing

enhancement(5495): ran mage addLicenseHeader
  dev-tools/mage/pkgcommon/pkgcommon-types.go
Due: elastic-agent-extended-testing

enhancement(5495): added changelog fragment
  changelog/fragments/1731517501-removed-endpoint-security-from-linux-containers.yaml
Due: none

Update changelog/fragments/1731517501-removed-endpoint-security-from-linux-containers.yaml
  changelog/fragments/1731517501-removed-endpoint-security-from-linux-containers.yaml
Due: none

enhancement(5495): added package types to expected binaries, updated packaging function
  dev-tools/mage/manifest/manifest.go
  dev-tools/mage/pkgcommon/pkgcommon-types.go
  dev-tools/mage/pkgtypes.go
  magefile.go
Due: elastic-agent-extended-testing

enhancement(5495): ran mage clean
  dev-tools/mage/pkgtypes.go
Due: elastic-agent-extended-testing

added win 10 && 11 steps
  .buildkite/bk.integration.pipeline.yml
Due: none

Remove endpoint security from linux containers (#6016)
  changelog/fragments/1731517501-removed-endpoint-security-from-linux-containers.yaml
  dev-tools/mage/manifest/manifest.go
  dev-tools/mage/pkgcommon/pkgcommon-types.go
  dev-tools/mage/pkgtypes.go
  magefile.go
Due: elastic-agent-extended-testing

[CI] Buildkite integration tests: Windows ess retry script (#6030)
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/ess.ps1
Due: elastic-agent-extended-testing

added rhel8 tests
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/sudo-integration-tests.sh
Due: elastic-agent-extended-testing

Added apm to TF deployment
  .buildkite/scripts/integration-tests.ps1
  test_infra/ess/deployment.tf
Due: elastic-agent-extended-testing

Test build non-sudo
  .buildkite/bk.integration.pipeline.yml
Due: none

removed apm
  test_infra/ess/deployment.tf
Due: none

do not require password
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/unprivileged.go
Due: elastic-agent-extended-testing

resolved conflicts
  dev-tools/mage/manifest/manifest.go
  magefile.go
Due: elastic-agent-extended-testing

Fix Kibana config
  test_infra/ess/deployment.tf
Due: none

Add var generation benchmark
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/testdata/agent.yaml
  internal/pkg/composable/testdata/env.yaml
  internal/pkg/composable/testdata/host.yaml
  internal/pkg/composable/testdata/kubernetes.yaml
  internal/pkg/composable/testdata/path.yaml
Due: elastic-agent-extended-testing
