Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

bump versions
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: none

Downgrade windoseventlogreceiver to fix build.
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Fix setup in TestRollbackWithOpts (#14152)
  internal/pkg/agent/application/upgrade/rollback_test.go
Due: Trigger Extended tests for Pull request

go mod tidy
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Add package tests for non-executable resource file permissions
  dev-tools/packaging/testing/package_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Upgrade npm to v11 in non-wolfi elastic-agent-complete Docker images
  changelog/fragments/1778526445-upgrade-npm-elastic-agent-docker.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix test expectations for new disable_legacy_pem_support SSL field
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_logstash_test.go
Due: Trigger Extended tests for Pull request

Fix race condition in TestAgentStartShutdown (#14150)
  internal/pkg/agent/cmd/run.go
  testing/integration/ess/agent_start_shutdown_test.go
Due: Trigger Extended tests for Pull request

Fix beatInputsKey to work with all the new beat receivers.
  internal/pkg/otel/translate/otelconfig.go
Due: Trigger Extended tests for Pull request

Fix npm upgrade step in non-wolfi elastic-agent-complete Docker images
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix uncleared config manager errors permanently failing aggregate state (#14042)
  changelog/fragments/1778016504-fix-config-manager-errors-poisoning-aggregate-state.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
Due: Trigger Extended tests for Pull request

add pipeline
  .buildkite/CHANGES_SUMMARY.md
  .buildkite/K8S_TESTING.md
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

revert
  .buildkite/CHANGES_SUMMARY.md
  .buildkite/K8S_TESTING.md
Due: none

chore: revert log assetrtion in test
  internal/pkg/agent/application/upgrade/ttl/ttl_marker_source_test.go
Due: Trigger Extended tests for Pull request

Fix assertions in TestCISKeepsRunningOnNonFatalExitCodeFromStart (#14160)
  pkg/component/runtime/service_test.go
Due: Trigger Extended tests for Pull request

fix
  .buildkite/scripts/upload-k8s-tests.sh
Due: Trigger Extended tests for Pull request

chore: nolint for existing tests
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

add more tests
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  internal/pkg/agent/application/info/agent_id.go
  internal/pkg/agent/application/info/agent_metadata.go
  testing/fleetservertest/fleetserver_test.go
Due: Trigger Extended tests for Pull request

Use v1.0.0 of the Go crypto module
  dev-tools/mage/build.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use state store in policy change handler, remove state acker
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  internal/pkg/agent/application/actions/handlers/handler_helpers.go
  internal/pkg/agent/application/application.go
  internal/pkg/agent/storage/store/state_store.go
  internal/pkg/agent/storage/store/state_store_test.go
Due: Trigger Extended tests for Pull request

fix policy change ack ordering
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
Due: Trigger Extended tests for Pull request

Fix cleanup in TestContextProvider (#14149)
  internal/pkg/composable/providers/filesource/filesource_test.go
Due: Trigger Extended tests for Pull request

Fix update-otel.sh to correctly update all dependency versions (#14162)
  .ci/scripts/update-otel.sh
  internal/edot/README.md
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
