Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Sync K8s:
  label: Sync K8s
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: family/core-ubuntu-2204
  env:
  - GH_VERSION=2.4.0

elastic-agent-extended-testing:
  trigger: elastic-agent-extended-testing
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

changelog fragment
  changelog/fragments/1738329703-environment-proxy-injection-fix.yaml
Due: none

add note for metadata field
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

pin agent version for integration tests
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/integration_tests.sh
Due: elastic-agent-extended-testing

Playground to Debug flaky tests
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.yml
Due: elastic-agent-extended-testing

omitted build flag
  .buildkite/integration.pipeline.yml
Due: elastic-agent-extended-testing

fixup! pin agent version for integration tests
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/k8s-extended-tests.sh
Due: elastic-agent-extended-testing

updated step dependency
  .buildkite/integration.pipeline.yml
Due: elastic-agent-extended-testing

fixup! fixup! pin agent version for integration tests
  .buildkite/scripts/buildkite-integration-tests.sh
Due: elastic-agent-extended-testing

Temporarily skipped ESS clenup to get logs
  .buildkite/bk.integration.pipeline.yml
Due: none

move environment manipulation, trying to fix test run in CI
  internal/pkg/agent/application/inject_proxy_component_modifier_test.go
Due: elastic-agent-extended-testing

fixup! fixup! fixup! pin agent version for integration tests
  .buildkite/scripts/integration-tests.ps1
Due: elastic-agent-extended-testing

Fixes from code review.
  internal/pkg/agent/transpiler/outputs.go
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/agent/transpiler/vars_test.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

Add const.
  internal/pkg/agent/transpiler/vars.go
Due: elastic-agent-extended-testing

fix unit test, localhost never goes through environment proxy
  internal/pkg/agent/application/inject_proxy_component_modifier_test.go
Due: elastic-agent-extended-testing

Skip TestUpgradeBrokenPackageVersion until agent version pinning is removed
  testing/integration/upgrade_broken_package_test.go
Due: elastic-agent-extended-testing

Update README.md
  internal/pkg/otel/README.md
Due: elastic-agent-extended-testing

[CI] Fix throttled windows test failures (#6662)
  .buildkite/scripts/integration-tests.ps1
Due: elastic-agent-extended-testing

Force ESS stack to 9.1.0 for Integration Tests
  .package-version
Due: elastic-agent-extended-testing

Update go.mod
  go.mod
Due: elastic-agent-extended-testing

Update .golangci.yml
  .golangci.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Update Dockerfile.skaffold
  Dockerfile.skaffold
Due: none

Update version.asciidoc
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

Pin agent version for integration tests (#6682)
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/k8s-extended-tests.sh
  .package-version
  testing/integration/upgrade_broken_package_test.go
Due: elastic-agent-extended-testing

fix: replace RWMutex with Mutex
  internal/pkg/composable/providers/kubernetessecrets/expiration_cache.go
Due: elastic-agent-extended-testing

fix: rename newExpirationStore to newExpirationCache
  internal/pkg/composable/providers/kubernetessecrets/expiration_cache.go
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets.go
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets_test.go
Due: elastic-agent-extended-testing

Fix/5595 force uninstall correct installation (#6559)
  changelog/fragments/1737473147-force-install-replaces-correct-agent.yaml
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/install_test.go
  internal/pkg/agent/cmd/uninstall.go
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

Update pipeline.yml
  .buildkite/pipeline.yml
Due: elastic-agent-extended-testing

Add changelog.
  changelog/fragments/1738617834-Upgrade-to-Go-1.22.11..yaml
Due: none

udated artifact download for x86_64 sudo
  .buildkite/bk.integration.pipeline.yml
Due: none

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/
