Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Check diskspace availability before downloading upgrade artifact
  changelog/fragments/1784775896-add-upgrade-diskspace-check.yaml
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/diskspace_darwin.go
  internal/pkg/agent/application/upgrade/diskspace_linux.go
  internal/pkg/agent/application/upgrade/diskspace_test.go
  internal/pkg/agent/application/upgrade/diskspace_windows.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  testing/integration/common_logs_ingestion.go
  testing/integration/ess/upgrade_diskspace_darwin_test.go
  testing/integration/ess/upgrade_diskspace_linux_test.go
  testing/integration/ess/upgrade_diskspace_test.go
  testing/integration/ess/upgrade_diskspace_windows_test.go
  testing/upgradetest/upgrader.go
Due: Trigger Extended tests for Pull request

Unify disk space reporting into DiskSpaceLowError
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors_test.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch_test.go
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

Treat disk space reservation failures as permanent download errors
  internal/pkg/agent/application/upgrade/step_download.go
Due: Trigger Extended tests for Pull request

Fix windows lint error
  internal/pkg/agent/application/upgrade/diskspace_windows.go
Due: Trigger Extended tests for Pull request

Add disk space check before preallocate
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/diskspace_darwin.go
  internal/pkg/agent/application/upgrade/diskspace_linux.go
  internal/pkg/agent/application/upgrade/diskspace_windows.go
Due: Trigger Extended tests for Pull request

Use preallocated reservation file
  dev-tools/mage/manifest/checksum_retry.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch_test.go
  internal/pkg/agent/application/upgrade/artifact/download/verify.go
  internal/pkg/agent/application/upgrade/artifact/download/verify_test.go
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/diskspace_darwin.go
  internal/pkg/agent/application/upgrade/diskspace_linux.go
  internal/pkg/agent/application/upgrade/diskspace_test.go
  internal/pkg/agent/application/upgrade/diskspace_windows.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  testing/integration/ess/upgrade_diskspace_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add new upgrade errors and rename ErrInsufficientDiskSpace
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors_test.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch_test.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

Fix adjacent lint issues
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

mage helm:renderExamples
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-secret/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
Due: Trigger Extended tests for Pull request

Fix race in TestFQDN (#16815)
  testing/integration/ess/fqdn_test.go
Due: Trigger Extended tests for Pull request

Fix clear docs and config text errors (#16178)
  deploy/helm/elastic-agent/CONTRIBUTING.md
  docs/architecture.md
  docs/hybrid-agent-beats-receivers.md
  specs/cloudbeat.spec.yml
  specs/endpoint-security.spec.yml
  testing/integration/ess/endpoint_security_test.go
Due: Trigger Extended tests for Pull request

Fix conflicts
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Include fleet-server when building Windows -fips package (#16788)
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Leave the Helm field for strict validation purposes, but add no validation making it optional
  deploy/helm/elastic-agent/values.schema.json
Due: Trigger Extended tests for Pull request

Reuse ECH deployments on automatic retries
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
  .buildkite/scripts/steps/ess_start_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_tf.ps1
Due: Trigger Extended tests for Pull request

rever: it is not r3quired as it is used by the setup initial step
  .buildkite/scripts/steps/ess_start_oblt-cli.sh
Due: Trigger Extended tests for Pull request

Silence retry_sleep_init_duration log noise.
  changelog/fragments/1790282152-fix-unnecessary-agent.download.retry_sleep_init_duration-warning-log-on-every-policy-change..yaml
  internal/pkg/agent/application/upgrade/artifact/config.go
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to f2f6b34a99c9
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 31aa92fdd19a
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to 6430cad5e84d
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 3a22d0a1ef31
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

feat(edot): add agent info as a resource processor
  changelog/fragments/1790328408-add-opt-in-agent-metadata-enrichment-for-edot-resource-attributes.yaml
  docs/hybrid-agent-beats-receivers.md
  internal/edot/processors/agent_metadata_test.go
  internal/edot/testing/components.go
  internal/pkg/otel/manager/agent_metadata_test.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/translate/agent_metadata.go
Due: Trigger Extended tests for Pull request

update fragment
  changelog/fragments/1790328408-add-opt-in-agent-metadata-enrichment-for-edot-resource-attributes.yaml
Due: none

[kube-stack] Switch apm aggregated metrics to _otlp ES native endpoint
  deploy/helm/edot-collector/kube-stack/README.md
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

feat(otel): add Syslog receiver to EDOT Collector
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1790334234-add-syslog-receiver-to-edot-collector.yaml
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components/default.go
  internal/pkg/otel/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

Reuse ECH deployments on automatic retries (#16818)
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_tf.ps1
Due: Trigger Extended tests for Pull request

Apply suggestion from @v1v
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

oblt-cli: use new major version
  .oblt-cli-version
Due: none

ci: enable single-branch Updatecli checkouts
  .ci/updatecli/update-otel.yml
  .ci/updatecli/updatecli-bump-edot.yml
  .ci/updatecli/updatecli-bump-golang.yml
  .ci/updatecli/updatecli-bump-kube-stack.yml
  .ci/updatecli/updatecli-bump-vm-images.yml
  .updatecli-version
Due: none

oblt-cli: use new major version (#16831)
  .oblt-cli-version
Due: none

feat(edot-collector): run the EDOT daemon collector as non-root on OpenShift
  changelog/fragments/1790349506-helm-edot-collector-openshift-rootless.yaml
  deploy/helm/edot-collector/kube-stack/README.md
  deploy/helm/edot-collector/kube-stack/openshift/rootless-values.yaml
  testing/integration/k8s/common.go
  testing/integration/k8s/otel_helm_test.go
Due: Trigger Extended tests for Pull request
