Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

go mod tidy
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

fix conflicts
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[agent] Fix a few bugs related to logging for fleet-managed mode (#14504)
  changelog/fragments/1774000686-fix-logging.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  pkg/testing/fixture.go
  testing/integration/ess/logging_file_test.go
Due: Trigger Extended tests for Pull request

fix merge conflicts
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

fixed another conflict
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

Change integration test to run in extended test group
  .buildkite/bk.integration.pipeline.yml
  testing/integration/ess/large_synthetics_policy_test.go
  testing/integration/groups.go
Due: Trigger Extended tests for Pull request

[mage] Run golang-crossbuild as non-root (#14803)
  dev-tools/mage/build.go
  dev-tools/mage/clean.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix conflicts
  dev-tools/mage/crossbuild.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add Go build caching to unit test pipeline
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Add Go build caching to integration test pipeline
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

Install awscli on macOS for Buildkite cache plugin
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-command.ps1
  .buildkite/pipeline.yml
  .buildkite/scripts/install-awscli.sh
Due: Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, DRY RUN publish to serverless

Add Go build caching to integration test packaging steps
  .buildkite/integration.pipeline.yml
Due: Trigger Extended tests for Pull request

Add missing host.hostname to monitoring metrics for OTel outputs (#14454)
  changelog/fragments/1779390024-add-hostname-monitoring-metrics.yaml
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  testing/integration/ess/metrics_monitoring_test.go
Due: Trigger Extended tests for Pull request

Make running integration tests locally easier
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/define/batch.go
  pkg/testing/define/batch_test.go
  pkg/testing/define/define.go
  pkg/testing/define/define_test.go
  pkg/testing/runner/runner.go
  testing/integration/ess/upgrade_integrations_server_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add docker provisioner
  dev-tools/mage/gotest.go
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/common/instance.go
  pkg/testing/docker/Dockerfile
  pkg/testing/docker/provisioner.go
  pkg/testing/runner/runner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Preserve file modes in test repo archive
  pkg/testing/runner/archiver.go
  pkg/testing/runner/archiver_test.go
Due: Trigger Extended tests for Pull request

Add local stack provisioner
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/common/instance.go
  pkg/testing/common/stack.go
  pkg/testing/docker/provisioner.go
  pkg/testing/ess/local_provisioner.go
  pkg/testing/ess/local_provisioner_test.go
  pkg/testing/runner/runner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Integration tests now use on_state_change checkin by default.
  internal/pkg/agent/application/enroll/enroll.go
  internal/pkg/agent/application/enroll/options.go
  internal/pkg/agent/cmd/enroll.go
  internal/pkg/agent/configuration/fleet.go
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
Due: Trigger Extended tests for Pull request

Add test where monitors fail
  testing/integration/ess/large_synthetics_policy_test.go
Due: Trigger Extended tests for Pull request

Speed up polling interval in log level test.
  testing/integration/ess/log_level_test.go
Due: Trigger Extended tests for Pull request

Add test that persisted config sets the correct checkin mode.
  internal/pkg/agent/cmd/enroll_cmd_test.go
  internal/pkg/agent/configuration/fleet.go
Due: Trigger Extended tests for Pull request

Document why the checkin-on-state-change is hidden
  internal/pkg/agent/cmd/enroll.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
