Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

test: add Green Tea GC A/B harness for direct VM reproduction
  tmp/greentea-ab.ps1
Due: none

Add azuremonitorreceiver to internal/pkg/otel/README.md
  internal/pkg/otel/README.md
Due: Trigger Extended tests for Pull request

Cleanup .md file from 8.19
  docs/reference/edot-collector/custom-collector.md
  internal/edot/README.md
Due: Trigger Extended tests for Pull request

docs: record Green Tea GC exoneration (build 40583); next is a Go version bisect
  investigation.md
Due: none

chore: lint; comments
  internal/pkg/agent/application/upgrade/cleanup_agent_directories.go
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/upgrade.go
Due: Trigger Extended tests for Pull request

bisect: pin Go 1.25.10 to test whether the crash is a 1.26 regression
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/unit-tests.ps1
  .go-version
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Fix independent agent release packaging
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

docs: update generated documentation for v9.4.2
  docs/reference/edot-collector/components.md
  docs/reference/edot-collector/config/default-config-standalone.md
  docs/reference/edot-collector/custom-collector.md
Due: none

Skip unit tests on Windows 11 amd64
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

docs: version bisect done — not a 1.26 regression; record env + procmon findings
  investigation.md
Due: none

test(integration): extend restart log level test for QA parity
  testing/integration/ess/log_level_test.go
Due: Trigger Extended tests for Pull request

docs: add draft upstream (golang/go) report consolidating the findings
  tmp/upstream-report-draft.md
Due: none

Fix snapshot handling
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  pkg/version/version_parser.go
  pkg/version/version_parser_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

docs: sharpest evidence — crash in GC scanstack->copystack->unwinder (1.25.10)
  investigation.md
  tmp/upstream-report-draft.md
Due: none

matrix: test Windows-11 + amd64 specificity (win10-amd64, win11-arm64)
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

remove unused argument in getLogLevelFromFleetMetadata
  testing/integration/ess/log_level_test.go
Due: Trigger Extended tests for Pull request

chore: remove unused Synthetics dependencies
  changelog/fragments/1780060974-remove-synthetics-dependencies.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Skip unit tests on Windows 11 amd64 (#14627)
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

disable kernel security features
  .buildkite/scripts/steps/unit-tests.ps1
Due: Trigger Extended tests for Pull request

Fix conflicts
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Add windows/amd64 and windows/arm64 to FIPS elastic-agent packages (#14444)
  .buildkite/pipeline.elastic-agent-package.yml
Due: Trigger Elastic Agent Package

Fix independent agent release packaging (#14626)
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  pkg/version/version_parser.go
  pkg/version/version_parser_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

disable kernel security features - fix
  .buildkite/scripts/steps/unit-tests.ps1
Due: Trigger Extended tests for Pull request

pull back on some mitigations
  .buildkite/scripts/steps/unit-tests.ps1
Due: Trigger Extended tests for Pull request

chore: remove unused Synthetics dependencies (#14630)
  changelog/fragments/1780060974-remove-synthetics-dependencies.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Unify packaging targets
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/package.sh
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

Clean up packaging scripts and document USE_PACKAGE_VERSION default
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/package.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

Fix defaults in packaging scripts
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/package.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless
