Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Sync K8s:
  label: Sync K8s
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: family/core-ubuntu-2204
  env:
  - GH_VERSION=2.4.0

elastic-agent-extended-testing:
  trigger: elastic-agent-extended-testing
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

fixup! fixup! Verify that we can opt out of docker image pinning for ESS
  test_infra/ess/deployment.tf
Due: none

[CI] Packaging Containers for ARM fix
  .buildkite/integration.pipeline.yml
  dev-tools/mage/crossbuild.go
  dev-tools/mage/settings.go
Due: elastic-agent-extended-testing

Changed FPM image
  dev-tools/mage/settings.go
Due: elastic-agent-extended-testing

Correct VM images
  .buildkite/integration.pipeline.yml
Due: elastic-agent-extended-testing

[Release] update version
  version/version.go
Due: elastic-agent-extended-testing

Allow locally building multiplatform docker images (#6256)
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkg.go
Due: elastic-agent-extended-testing

docs: update docs
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

[otel/kube-stack] Drop deprecated parameter from routing connector config
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: none

Recreate kind cluster after each K8s test
  magefile.go
  pkg/testing/common/config.go
  pkg/testing/runner/runner.go
Due: elastic-agent-extended-testing

fix(ipv6): support ipv6 agent monitoring host (#7073)
  changelog/fragments/1740713597-support-agent-monitoring-ipv6.yaml
  internal/pkg/agent/application/monitoring/v1_monitor.go
Due: elastic-agent-extended-testing

build: bump go to 1.24.0
  .buildkite/pipeline.yml
  .go-version
  .tool-versions
Due: elastic-agent-extended-testing

[otel/kube-stack] Drop deprecated parameter from routing connector config (#7130)
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: none

enhancement(5039): remove commented code
  internal/pkg/crypto/io.go
Due: elastic-agent-extended-testing

Revert "Allow locally building multiplatform docker images (#6256)"
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkg.go
Due: elastic-agent-extended-testing

Revert "Allow locally building multiplatform docker images (#6256)" (#7140)
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkg.go
Due: elastic-agent-extended-testing

feat(elastic-agent-services): add another tag to docker image for agentless use
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkg_test.go
  dev-tools/mage/pkgtypes.go
  dev-tools/mage/settings.go
  dev-tools/packaging/packages.yml
Due: elastic-agent-extended-testing

(ci:fix) linting error on G115
  dev-tools/mage/pkgtypes.go
Due: elastic-agent-extended-testing

enchancement(6394): started adding integraiton tests
  testing/integration/endpoint_security_test.go
Due: elastic-agent-extended-testing

enhancement(6394): updated fixture install, updated endpoint security tests
  pkg/testing/fixture_install.go
  testing/integration/endpoint_security_test.go
Due: elastic-agent-extended-testing

enhancmenet(6394): updated the preinstall script
  dev-tools/packaging/templates/linux/preinstall.sh.tmpl
  pkg/component/runtime/service.go
Due: elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/
