Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Sync K8s:
  label: Sync K8s
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: family/core-ubuntu-2204
  env:
  - GH_VERSION=2.4.0

elastic-agent-extended-testing:
  trigger: elastic-agent-extended-testing
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

fix(5163): added context to the verify interface, updated relevant calls, added backoff roundtripper
  internal/pkg/agent/application/upgrade/artifact/download/composed/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/composed/verifier_test.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/fs/verifier_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/common_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier_test.go
  internal/pkg/agent/application/upgrade/artifact/download/snapshot/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/verifier.go
  internal/pkg/agent/application/upgrade/step_download.go
Due: elastic-agent-extended-testing

fix(5163): closing response body on unsuccesful responses
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt.go
Due: elastic-agent-extended-testing

fix(5163): ran mage fmt
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt.go
  internal/pkg/agent/application/upgrade/artifact/download/verifier.go
Due: elastic-agent-extended-testing

fix(5163): removed unused roundtripper
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier_test.go
Due: elastic-agent-extended-testing

fix(5164): ran mage check
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt_test.go
Due: elastic-agent-extended-testing

fix(5163): added changelog
  changelog/fragments/1733936340-add-retries-for-download-upgrade-verifiers.yaml
Due: none

fix(5163): remove log
  internal/pkg/agent/application/upgrade/artifact/download/verifier.go
Due: elastic-agent-extended-testing

fix(5163): fixed linting errors
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt_test.go
Due: elastic-agent-extended-testing

fix(5163): added logic to handle resetting request body in the retry roundtripper, added unit tests, updated comments
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt_test.go
Due: elastic-agent-extended-testing

fix(5163): added comment explaining the backoff function, added nolint comment
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt.go
Due: elastic-agent-extended-testing

fix(5163): added backoff roundtripper, added tests for asc file download
  internal/pkg/agent/application/upgrade/artifact/download/http/common_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/downloader_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verifier_test.go
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt.go
  internal/pkg/agent/application/upgrade/artifact/download/verifier.go
Due: elastic-agent-extended-testing

update k8s examples
  deploy/kubernetes/elastic-agent-managed-kubernetes-without-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes-without-configmap.yaml
  deploy/kubernetes/elastic_agent_manifest.ts
  deploy/kubernetes/elastic_agent_manifest.ts-e
Due: Sync K8s

Update test report paths
  .buildkite/pipeline.yml
Due: elastic-agent-extended-testing

generate helm yaml files
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
Due: none

update k8s
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

clean up after mage:renderExamples
  deploy/kubernetes/elastic-agent-managed-kubernetes-without-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes-without-configmap.yaml
  deploy/kubernetes/elastic_agent_manifest.ts
  deploy/kubernetes/elastic_agent_manifest.ts-e
Due: Sync K8s

update all k8s file release
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
Due: none

[CI] Remove temporary scheduled test pipeline
  catalog-info.yaml
Due: none

cleanup
  catalog-info.yaml
Due: none

test: add test checking that secrets are not leaked when components are marhsaled to JSON
  pkg/component/component_test.go
Due: elastic-agent-extended-testing

TestRepeatedInstallUninstall optimisation
  .buildkite/bk.integration.pipeline.yml
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

Ess terraform + run integration tests on BK agents (#5113)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/ess.sh
  .buildkite/scripts/sudo-integration-tests.sh
Due: elastic-agent-extended-testing

updated agent
  .buildkite/bk.integration.pipeline.yml
Due: none

resolved conflicts
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/ess.sh
  .buildkite/scripts/sudo-integration-tests.sh
Due: elastic-agent-extended-testing

Ess terraform + run integration tests on BK agents (#5113)
  .buildkite/scripts/steps/ess.sh
Due: elastic-agent-extended-testing

cleanup
  .buildkite/bk.integration.pipeline.yml
Due: none

cleanup
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

cleanup
  testing/integration/groups_test.go
Due: elastic-agent-extended-testing

TestInstallDefendWithMTLSandEncCertKey to fleet-install-defend group
  testing/integration/endpoint_security_test.go
  testing/integration/groups_test.go
Due: elastic-agent-extended-testing

chore: update version and appVersion in the elastic-agent helm chart (#6293)
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  magefile.go
Due: elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/
