Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

bk: use azure VM images and bump versions (#13689)
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/pipeline.elastic-agent-package.yml
  .buildkite/pipeline.yml
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

Fix merge conflicts and run go mod tidy for backport of #13512
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  pkg/testing/gcloud/supported.go
Due: Trigger Extended tests for Pull request

test
  .github/workflows/bump-vm-images.yml
Due: none

Fix merge conflicts for backport of #13512
  pkg/testing/gcloud/supported.go
Due: Trigger Extended tests for Pull request

Fix defer misfire when ConfigureRegistryPermissions fails in SwitchExecutingMode (#13678)
  internal/pkg/agent/install/switch.go
Due: Trigger Extended tests for Pull request

Run go mod tidy to fix stale go.mod/go.sum
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Quote "$@" in integration_tests_oblt-cli.sh to preserve arguments
  .buildkite/scripts/steps/integration_tests_oblt-cli.sh
Due: Trigger Extended tests for Pull request

Fix go.mod/go.sum: remove unused indirect dependencies
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

go mod tidy after merge from 9.3
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

add comment
  internal/pkg/agent/application/enroll/enroll.go
Due: Trigger Extended tests for Pull request

Temporarily skip MacOS unit tests
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Fix conflicts
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Clean up leftover artifacts when install fails
  changelog/fragments/1776765594-clean-up-after-failed-install.yaml
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/install_test.go
  testing/installtest/checks.go
  testing/integration/ess/install_test.go
Due: Trigger Extended tests for Pull request

Fix conflicts
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix go.mod
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Fix issues from code review.
  internal/edot/receivers/elasticmonitoring/convert.go
  internal/edot/receivers/elasticmonitoring/convert_test.go
  internal/edot/receivers/elasticmonitoring/receiver.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Temporarily skip MacOS unit tests (#13704)
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Fix conflicts
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/force_extension_converter.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Revert "Temporarily skip MacOS unit tests (#13704)"
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Add missing return
  internal/pkg/otel/manager/force_extension_converter.go
Due: Trigger Extended tests for Pull request

Fix linter warnings
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Fix go fmt.
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

fix: interrupt retry backoff on ctx cancellation for fleet enroll (#13698)
  changelog/fragments/1776702953-fix-enroll-retry-blocks-uninstall.yaml
  internal/pkg/agent/application/enroll/enroll.go
  internal/pkg/agent/application/enroll/enroll_test.go
Due: Trigger Extended tests for Pull request

Add include_metadata field on beatreceivers configured with logstash/kafka output
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Revert "Temporarily skip MacOS unit tests (#13704)" (#13711)
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Fix Windows JSON escaping and harden ess_down teardown
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request
