Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Fix flaky TestSystemMetricsWithLogstashOutput: disable SSL on Logstash beats inputs
  testing/integration/ess/testdata/pipelines.yml
Due: Trigger Extended tests for Pull request

Add windows/arm64 FIPS build and integration tests
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/integration.pipeline.yml
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add windows/arm64 to elastic-agent-core-fips supported platforms
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

removed duplicated key
  .buildkite/k8s-testing-pipeline.yml
Due: none

fix conflicts
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

fix conflicts
  internal/pkg/otel/translate/otelconfig.go
Due: Trigger Extended tests for Pull request

fix test expectation
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

bk: fix bk pipeline step for k8s tests (#14354)
  .buildkite/k8s-testing-pipeline.yml
  catalog-info.yaml
Due: none

Fix flaky TestSystemMetricsWithLogstashOutput: disable SSL on Logstash beats inputs (#14363)
  testing/integration/ess/testdata/pipelines.yml
Due: Trigger Extended tests for Pull request

ci: declare workflow-level contents: read on 2 workflows (#14331)
  .github/workflows/fragment-in-pr.yml
  .github/workflows/validate-docs-structure.yml
Due: none

Make the GHA lint workflow more performant and reliable
  .github/workflows/golangci-lint.yml
  .golangci.yml
Due: none

Delete .github/workflows/validate-docs-structure.yml
  .github/workflows/validate-docs-structure.yml
Due: none

fix: preserve live install during upgrade cleanup and report aborted upgrades to Fleet (#13935)
  changelog/fragments/1777551882-drosiek-marker-stale.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/cmd/watch_test.go
Due: Trigger Extended tests for Pull request

Fix log attributes
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

run go mod tidy
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

Make the GHA lint workflow more performant and reliable (#14389)
  .github/workflows/golangci-lint.yml
  .golangci.yml
Due: none

Fix unit test after merge
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

fix(tests): update TLS ssl map expectations for elastic-agent-libs v0.43.0
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_logstash_test.go
Due: Trigger Extended tests for Pull request

test(network_traffic): fix otel captureStart to include pbreceiver startup traffic
  testing/integration/ess/network_traffic_monitoring_test.go
Due: Trigger Extended tests for Pull request

test(network_traffic): fix flaky compare subtest by triggering deterministic TLS connections
  testing/integration/ess/network_traffic_monitoring_test.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
