Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

chore
  .buildkite/pipeline.agentless-app-release.yaml
Due: DRY RUN publish to serverless

added akamaisiemreceiver to otel factory with README and components
  changelog/fragments/1778743723-akamaiseimreceiver-initial-release.yaml
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components/default.go
  internal/pkg/otel/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

Fix silent early-return when removing stale enrollment and upgrade artifacts (#14234)
  changelog/fragments/1778661566-drosiek-fix-is-not-exist.yaml
  internal/pkg/agent/application/enroll/enroll.go
  internal/pkg/agent/application/enroll/enroll_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
Due: Trigger Extended tests for Pull request

Update files from mage update
  internal/edot/README.md
Due: Trigger Extended tests for Pull request

according to the docs https://buildkite.com/docs/pipelines/configure/glob-pattern-syntax\#syntax-elements-on-windows
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

debug annotation
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

use a different hook
  .buildkite/hooks/pre-artifact
  .buildkite/hooks/pre-artifact.ps1
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-command.ps1
Due: Trigger Extended tests for Pull request, Trigger Serverless Beats Tests

fix required double escape
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

use experimental feature to avoid manipulating things for windows
  .buildkite/hooks/pre-artifact.ps1
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

faster builds for testing purposes
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

debug if possible
  .buildkite/hooks/pre-artifact
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Add background RPM lock diagnostics to CI on RHEL
  .buildkite/scripts/common.sh
Due: Trigger Extended tests for Pull request

Also disable google-osconfig-agent and fix diagnostics lsof -> fuser
  .buildkite/scripts/common.sh
Due: Trigger Extended tests for Pull request

revert
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

skip debug
  .buildkite/hooks/pre-artifact
Due: Trigger Extended tests for Pull request

Add probe scripts for runner VMs
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-command.ps1
  .buildkite/hooks/pre-exit
  .buildkite/hooks/pre-exit.ps1
  .buildkite/scripts/boot-probe.ps1
  .buildkite/scripts/boot-probe.sh
Due: Trigger Extended tests for Pull request, Trigger Serverless Beats Tests

chore: fix lint issues
  internal/pkg/agent/application/enroll/enroll_test.go
Due: Trigger Extended tests for Pull request

Apply suggestion from @v1v
  .buildkite/scripts/upload-k8s-tests.sh
Due: Trigger Extended tests for Pull request

bump version
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.agentless-app-release.yaml
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/pipeline.elastic-agent-helm-charts.yml
  .buildkite/pipeline.elastic-agent-package.yml
  .buildkite/pipeline.integration-test-matrix.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

Log parent process of RPM lock holders in diagnostics
  .buildkite/scripts/common.sh
Due: Trigger Extended tests for Pull request

fix version
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.agentless-app-release.yaml
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/pipeline.elastic-agent-helm-charts.yml
  .buildkite/pipeline.elastic-agent-package.yml
  .buildkite/pipeline.integration-test-matrix.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

Import Fleet Server API types from fleet-server pkg/api
  go.mod
  go.sum
  internal/pkg/fleetapi/action.go
  internal/pkg/fleetapi/client/client.go
  internal/pkg/fleetapi/client/round_trippers.go
Due: Trigger Extended tests for Pull request

Keep API version header key local
  internal/pkg/fleetapi/client/round_trippers.go
Due: Trigger Extended tests for Pull request

Add TODO comment above fleet-server replace directive
  go.mod
Due: Trigger Extended tests for Pull request

Point fleet-server/pkg/api at upstream merge commit, remove replace
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

Update internal/edot/go.sum with fleet-server/pkg/api dependencies
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Point fleet-server/pkg/api at commit with LICENSE file
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

go mod tidy after beats submodule update
  go.mod
  go.sum
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

go mod tidy after rebase on main
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

Point fleet-server/pkg/api at commit with LICENSE file fix
  go.mod
  go.sum
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Set package version in manifest loading
  dev-tools/mage/settings.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

chore: fix lint issues
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/cmd/enroll_cmd_test.go
Due: Trigger Extended tests for Pull request

Fix ps invocation with PIDs from fuser
  .buildkite/scripts/common.sh
Due: Trigger Extended tests for Pull request
