Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Move docker tests to a non-Windows file
  pkg/testing/docker/provisioner_docker_test.go
  pkg/testing/docker/provisioner_test.go
Due: Trigger Extended tests for Pull request

Fix auditd.log.key field path (was auditd.data.key)
  testing/integration/ess/auditd_monitoring_test.go
Due: Trigger Extended tests for Pull request

Accept Otel fileexporter new/fixed file permissions
  testing/installtest/checks_unix.go
  testing/installtest/checks_unix_test.go
Due: Trigger Extended tests for Pull request

Trigger ingest-dev release pipelines from version-bump automation (#15811)
  .buildkite/pipeline.version-bump.yml
Due: none

Allow elastic-agent-metrics.ndjson to be world writable.
  testing/installtest/checks_unix.go
  testing/installtest/checks_unix_test.go
Due: Trigger Extended tests for Pull request

Remove unnecessary AI constant
  testing/installtest/checks_unix.go
Due: Trigger Extended tests for Pull request

Apply suggestions from code review
  docs/release-notes/_snippets/9.5.0/index.md
Due: none

missing PR entry for https://github.com/elastic/elastic-agent/pull/15512
  changelog/9.5.0.yaml
  docs/release-notes/_snippets/9.5.0/index.md
Due: none

add new entries for BC6
  changelog/9.5.0.yaml
Due: none

render and cleanup with additional bc6 entries
  changelog/fragments/1781291375-update-otel-components-to-v0.156.0.yaml
  changelog/fragments/1783505837-give-service-runtime-components-more-time-to-check-in-before-failing-an-upgrade.yaml
  changelog/fragments/1784562105-fix-orphaned-filelog-receiver-in-edot-collector-helm-charts.yaml
  changelog/fragments/1784815776-fleet-policy-preserves-base-logging-settings.yaml
  docs/release-notes/_snippets/9.5.0/index.md
Due: none

removing additional mentions of OTel dep upgrades
  docs/release-notes/_snippets/9.5.0/index.md
Due: none

add more context about FIPS change
  docs/release-notes/_snippets/9.5.0/index.md
Due: none

Size the beat receiver queue for the Elasticsearch exporter's concurrency
  changelog/fragments/1785446506-size-beat-receiver-queue-for-otel-exporter-concurrency.yaml
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to fb520dbe81fb
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

Fix tag filter: use tags field, not auditd.log.key
  testing/integration/ess/auditd_monitoring_test.go
Due: Trigger Extended tests for Pull request

ci(ff): integrate release automation into root mage settings
  NOTICE-fips.txt
  NOTICE.txt
  RELEASE.md
  dev-tools/mage/release/README.md
  dev-tools/mage/release/cmd/agent-release/main.go
  dev-tools/mage/release/config.go
  dev-tools/mage/release/config_test.go
  dev-tools/mage/release/go.mod
  dev-tools/mage/release/go.sum
  dev-tools/mage/release/release.go
  dev-tools/mage/release/version_test.go
  dev-tools/mage/release/workflows.go
  dev-tools/mage/release_settings.go
  dev-tools/mage/release_settings_test.go
  dev-tools/mage/settings.go
  go.mod
  go.sum
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: satisfy staticcheck QF1012 in release issue body builders
  dev-tools/mage/release/issue.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

replace old variable
  docs/reference/edot-collector/components.md
  docs/reference/edot-collector/components/migrate-components.md
  docs/reference/edot-collector/config/default-config-k8s.md
  docs/reference/edot-collector/config/default-config-standalone.md
Due: none

Fix EPS with OTEL
  changelog/fragments/1785446506-size-beat-receiver-queue-for-otel-exporter-concurrency.yaml
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

Add changelog entry
  changelog/fragments/1785505890-update-otel-collector-dependencies-to-v0.157.0-v1.63.0.yaml
Due: none

Prevent Agent workspace version from leaking into the Beats build
  .buildkite/scripts/steps/beats_tests.sh
Due: Trigger Extended tests for Pull request, Trigger Serverless Beats Tests

Remove unused legacy Kubernetes Mage runner
  dev-tools/mage/kubernetes/kind.go
  dev-tools/mage/kubernetes/kubectl.go
  dev-tools/mage/kubernetes/kuberemote.go
  dev-tools/mage/kubernetes/kubernetes.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add MicroShift Kubernetes test provisioner
  deploy/kubernetes/README.md
  deploy/kubernetes/elastic-agent-kustomize/openshift/elastic-agent-standalone/elastic-agent-standalone-scc-role-binding.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/elastic-agent-standalone/kube-state-metrics-scc-role-binding.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/elastic-agent-standalone/kustomization.yaml
  magefile.go
  pkg/testing/kubernetes/microshift/provisioner.go
  pkg/testing/kubernetes/microshift/provisioner_test.go
  testing/integration/k8s/k8s.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
  testing/integration/k8s/testdata/elastic-agent-openshift-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Make the dynamic inputs runtime override configurable
  changelog/fragments/1785503040-make-the-dynamic-inputs-runtime-override-configurable.yaml
  docs/hybrid-agent-beats-receivers.md
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/configuration/configuration_test.go
  internal/pkg/agent/transpiler/inputs.go
  internal/pkg/agent/transpiler/inputs_test.go
  internal/pkg/agent/transpiler/vars.go
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Allow PR checks to run for the renovate bot
  .buildkite/pull-requests.json
Due: none

Allow PR checks to run for the renovate bot (#15927)
  .buildkite/pull-requests.json
Due: none

Scope auditd test comparison to execve events from test rules (#15914)
  testing/integration/ess/auditd_monitoring_test.go
Due: Trigger Extended tests for Pull request

Add new upgrade errors and rename ErrInsufficientDiskSpace
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors_test.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch_test.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

Check diskspace availability before downloading upgrade artifact
  changelog/fragments/1784775896-add-upgrade-diskspace-check.yaml
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/diskspace_darwin.go
  internal/pkg/agent/application/upgrade/diskspace_linux.go
  internal/pkg/agent/application/upgrade/diskspace_test.go
  internal/pkg/agent/application/upgrade/diskspace_windows.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  testing/integration/common_logs_ingestion.go
  testing/integration/ess/upgrade_diskspace_darwin_test.go
  testing/integration/ess/upgrade_diskspace_linux_test.go
  testing/integration/ess/upgrade_diskspace_test.go
  testing/integration/ess/upgrade_diskspace_windows_test.go
  testing/upgradetest/upgrader.go
Due: Trigger Extended tests for Pull request

Fix adjacent lint issues
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

Don't fail an upgrade on temporary bad HTTP status codes
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/fleetapi/client/client.go
  internal/pkg/fleetapi/client/client_test.go
Due: Trigger Extended tests for Pull request

Add changelog fragment
  changelog/fragments/1785561405-fix-temporary-fleet-error-failing-upgrade.yaml
Due: none

docs: close TEST_PLATFORMS quotes in platform examples
  docs/test-framework-dev-guide.md
Due: none

[8.19][Automation] Update elastic/beats to 59fa7901c984
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to 29aee21ddb4b
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.3][Automation] Update elastic/beats to 549d56c0857d
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request
