Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

address AI comments
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/output_kafka.go
Due: Trigger Extended tests for Pull request

Add ratelimitprocessor test
  internal/edot/otelcol/ratelimit_test.go
Due: Trigger Extended tests for Pull request

Remove ratelimitprocessor from the core components list
  internal/edot/README.md
  internal/edot/cmd/testdata/otel/components-output-fips.yml
  internal/edot/cmd/testdata/otel/components-output.yml
  internal/edot/components.yml
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

Add processor reference back to README.md
  internal/edot/README.md
Due: Trigger Extended tests for Pull request

Fix RPM prefix installation to copy service file instead of symlink.
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  dev-tools/packaging/templates/linux/postrm.sh.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add changelog.
  changelog/fragments/1774358740-fix-rpm---prefix-installation-to-copy-service-file.yaml
Due: none

Fix postrm with DEB.
  dev-tools/packaging/templates/linux/postrm.sh.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix test failures
  testing/integration/common_logs_ingestion.go
  testing/integration/ess/linux_rpm_test.go
Due: Trigger Extended tests for Pull request

Update 1773940000-edot-otlpjsonconnector.yaml
  changelog/fragments/1773940000-edot-otlpjsonconnector.yaml
Due: none

Use v0.147.0 instead of v0.148.0
  go.mod
  go.sum
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Persist logging level on policy change
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  testing/integration/ess/log_level_test.go
Due: Trigger Extended tests for Pull request

Fix for upgrade scenario.
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove the fix to confirm reproducibility
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
Due: Trigger Extended tests for Pull request

Add AGENTS.md, and a CLAUD.md that is a symlink to AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

Fix formatting
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

Add changelog.
  changelog/fragments/1774382936-update-otel-to-v1.54.0-v0.148.0.yaml
Due: none

removing these workflows which don't exist in 9.2
  .github/workflows/bump-kube-stack-version.yml
  .github/workflows/validate-docs-structure.yml
Due: none

Add ai-github-action workflows
  .github/workflows/sweep-coordinator-status-accuracy.yml
  .github/workflows/sweep-fleet-enrollment-resilience.yml
  .github/workflows/sweep-otel-collector-integration.yml
  .github/workflows/sweep-upgrade-lifecycle.yml
  .github/workflows/trigger-breaking-change-detect.yml
  .github/workflows/trigger-docs-new-contributor-review.yml
  .github/workflows/trigger-docs-patrol.yml
  .github/workflows/trigger-duplicate-issue-detector.yml
  .github/workflows/trigger-issue-triage.yml
  .github/workflows/trigger-mention-in-issue.yml
  .github/workflows/trigger-mention-in-pr.yml
  .github/workflows/trigger-pr-actions-detective.yml
  .github/workflows/trigger-pr-review.yml
  .github/workflows/trigger-stale-issues.yml
  .github/workflows/trigger-text-auditor.yml
Due: none

Add AI workflows to elastic-agent repository (#13291)
  .github/workflows/sweep-coordinator-status-accuracy.yml
  .github/workflows/sweep-fleet-enrollment-resilience.yml
  .github/workflows/sweep-otel-collector-integration.yml
  .github/workflows/sweep-upgrade-lifecycle.yml
  .github/workflows/trigger-breaking-change-detect.yml
  .github/workflows/trigger-docs-new-contributor-review.yml
  .github/workflows/trigger-docs-patrol.yml
  .github/workflows/trigger-duplicate-issue-detector.yml
  .github/workflows/trigger-issue-triage.yml
  .github/workflows/trigger-mention-in-issue.yml
  .github/workflows/trigger-mention-in-pr.yml
  .github/workflows/trigger-pr-actions-detective.yml
  .github/workflows/trigger-pr-review.yml
  .github/workflows/trigger-stale-issues.yml
  .github/workflows/trigger-text-auditor.yml
Due: none

Switch stale-issues to stale-issues-investigator
  .github/workflows/trigger-stale-issues.yml
Due: none

fix test
  testing/integration/ess/checkin_compress_test.go
Due: Trigger Extended tests for Pull request

Switch stale-issues to stale-issues-investigator (#13297)
  .github/workflows/trigger-stale-issues.yml
Due: none

Stay on collector 0.147 and therefore pdata 1.53
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[beatreceivers] Add ssl support for kafka output
  internal/pkg/otel/translate/common.go
  internal/pkg/otel/translate/common_fips_test.go
  internal/pkg/otel/translate/common_nofips_test.go
  internal/pkg/otel/translate/common_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
  internal/pkg/otel/translate/testdata/certs/client.crt
  internal/pkg/otel/translate/testdata/certs/client.key
  internal/pkg/otel/translate/testdata/certs/rootCA.crt
Due: Trigger Extended tests for Pull request

use agent_metadata processor
  internal/pkg/agent/application/monitoring/component/v1_monitor.go
  internal/pkg/otel/translate/otelconfig.go
Due: Trigger Extended tests for Pull request

Run otel:readme.
  internal/edot/README.md
Due: Trigger Extended tests for Pull request

Remove unused context import
  testing/integration/ess/checkin_compress_test.go
Due: Trigger Extended tests for Pull request

Fix integration test failure
  pkg/testing/fixture.go
  testing/integration/ess/install_test.go
  testing/integration/ess/linux_rpm_test.go
Due: Trigger Extended tests for Pull request

Fix issue with systemctl enable resolving the link to /etc/systemd/system
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  dev-tools/packaging/templates/linux/postrm.sh.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Set include_attributes True.
  internal/pkg/otel/manager/healthcheck.go
Due: Trigger Extended tests for Pull request

Revert "Remove the fix to confirm reproducibility"
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
Due: Trigger Extended tests for Pull request

Add changelog fragment
  changelog/fragments/1774526504-persist-logging-level-on-policy-change.yaml
Due: none
