Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Fix upgrade marker not removed after successful upgrade
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/cmd/watch_test.go
  pkg/upgrade/details/details.go
  pkg/upgrade/details/details_test.go
Due: Trigger Extended tests for Pull request

Fleet gateway notifies coordinator after StateCompleted checkin succeeds
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
  internal/pkg/agent/application/managed_mode.go
Due: Trigger Extended tests for Pull request

Add changelog fragment for upgrade marker cleanup unification
  changelog/fragments/1781622285-upgrade-marker-is-now-removed-on-all-platforms-after-a-successful-upgrade.yaml
Due: none

Enable dependabot for all Go dependencies (#15152)
  .github/dependabot.yml
Due: none

Unify packaging targets
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/package.sh
  AGENTS.md
  README.md
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  docs/test-framework-dev-guide.md
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

testing: add download stall detection to WaitForWatchingState
  testing/integration/ess/proxy_url_test.go
  testing/upgradetest/watcher.go
Due: Trigger Extended tests for Pull request

testing: fix error handling and doc comments in state-aware upgrade helpers
  testing/upgradetest/watcher.go
Due: Trigger Extended tests for Pull request

testing: simplify state-aware upgrade helpers
  testing/integration/ess/proxy_url_test.go
  testing/upgradetest/watcher.go
Due: Trigger Extended tests for Pull request

testing: replace WaitForWatcher with state-aware helpers in proxy URL upgrade tests
  testing/integration/ess/proxy_url_test.go
  testing/upgradetest/watcher.go
Due: Trigger Extended tests for Pull request

update docs version 8.19.18
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Update version to 8.19.19
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Set the correct minimum batch size for ES and Kafka exporters (#15122)
  changelog/fragments/1782232123-Fix-minimum-batch-size-for-supervised-OTel-collector-ES-and-Kafka-exporters.yaml
  internal/pkg/otel/translate/beatsauth_test.go
  internal/pkg/otel/translate/common.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

Switch auditbeat to run as a receiver by default.
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/auditd_monitoring_test.go
Due: Trigger Extended tests for Pull request

otel(packetbeat): enable otel as default runtime (#15151)
  changelog/fragments/1782319332-otel-packetbeat-default-runtime.yaml
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
Due: Trigger Extended tests for Pull request

update docs version 9.3.7
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Update version to 9.3.8
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Add changelog.
  changelog/fragments/1782497509-run-audit-inputs-as-collector-receivers-by-default,-reducing-steady-state-memory-usage.yaml
Due: none

add the 9.3.7 Elastic Agent release notes
  changelog/9.3.7.yaml
  changelog/fragments/1779390024-add-hostname-monitoring-metrics.yaml
  changelog/fragments/1780322182-fix-missing-beat-receiver-trace-logs-from-diagnostic-bundle.yaml
  changelog/fragments/1781273333-add-system.cpu.cores-field-to-self-monitoring-data.yaml
  changelog/fragments/1781862490-profiles-feature-gate.yaml
  docs/release-notes/_snippets/9.3.7/breaking-changes.md
  docs/release-notes/_snippets/9.3.7/deprecations.md
  docs/release-notes/_snippets/9.3.7/index.md
  docs/release-notes/_snippets/breaking-changes/9.3.md
  docs/release-notes/_snippets/deprecations/9.3.md
  docs/release-notes/_snippets/index/9.3.md
Due: none

Fix agent.features.fqdn.enabled in otel/translate.
  changelog/fragments/1782259200-otel-translate-honor-fqdn-feature-flag.yaml
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

remove duplicate entries
  changelog/9.3.7.yaml
  docs/release-notes/_snippets/9.3.7/index.md
Due: none

Add e2e test
  changelog/fragments/1782259200-otel-translate-honor-fqdn-feature-flag.yaml
  testing/integration/ess/fqdn_test.go
Due: Trigger Extended tests for Pull request

Fix TestFleetDownloadProxyURL and TestFleetDownloadAuthUpgrade timing out in CI (#15135)
  testing/integration/ess/proxy_url_test.go
  testing/upgradetest/watcher.go
Due: Trigger Extended tests for Pull request

Honor per-unit status_reporting in agent health rollup
  changelog/fragments/1782570953-suppress-health-degradation.yaml
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/coordinator/coordinator_state_test.go
  testing/integration/ess/status_reporting_test.go
Due: Trigger Extended tests for Pull request

docs: update generated documentation for v9.4.2
  docs/reference/edot-collector/config/default-config-standalone.md
Due: none

fix(test): stabilize TestNetworkTraffic/TestBeatsMetrics/compare
  testing/integration/ess/network_traffic_monitoring_test.go
Due: Trigger Extended tests for Pull request

test: generate controlled TLS traffic in TestNetworkTraffic compare
  testing/integration/ess/network_traffic_monitoring_test.go
Due: Trigger Extended tests for Pull request

test: trim comments in TestNetworkTraffic compare
  testing/integration/ess/network_traffic_monitoring_test.go
Due: Trigger Extended tests for Pull request

Disable issue failure reporting from AI workflows
  .github/workflows/sweep-coordinator-status-accuracy.yml
  .github/workflows/sweep-fleet-enrollment-resilience.yml
  .github/workflows/sweep-otel-collector-integration.yml
  .github/workflows/sweep-upgrade-lifecycle.yml
  .github/workflows/trigger-breaking-change-detect.yml
  .github/workflows/trigger-docs-new-contributor-review.yml
  .github/workflows/trigger-docs-patrol.yml
  .github/workflows/trigger-duplicate-issue-detector.yml
  .github/workflows/trigger-issue-triage.yml
  .github/workflows/trigger-mention-in-issue.yml
  .github/workflows/trigger-mention-in-pr.yml
  .github/workflows/trigger-pr-actions-detective.yml
  .github/workflows/trigger-pr-buildkite-detective.yml
  .github/workflows/trigger-pr-review.yml
  .github/workflows/trigger-stale-issues.yml
  .github/workflows/trigger-text-auditor.yml
Due: none

fix(test): stabilize TestNetworkTraffic/TestBeatsMetrics/compare (#15199)
  testing/integration/ess/network_traffic_monitoring_test.go
Due: Trigger Extended tests for Pull request

Apply suggestions from code review
  docs/release-notes/_snippets/9.3.7/index.md
Due: none

Switch auditbeat to run as a receiver by default. (#15188)
  changelog/fragments/1782497509-run-audit-inputs-as-collector-receivers-by-default,-reducing-steady-state-memory-usage.yaml
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/auditd_monitoring_test.go
Due: Trigger Extended tests for Pull request

Disable issue failure reporting from AI workflows (#15205)
  .github/workflows/sweep-coordinator-status-accuracy.yml
  .github/workflows/sweep-fleet-enrollment-resilience.yml
  .github/workflows/sweep-otel-collector-integration.yml
  .github/workflows/sweep-upgrade-lifecycle.yml
  .github/workflows/trigger-breaking-change-detect.yml
  .github/workflows/trigger-docs-new-contributor-review.yml
  .github/workflows/trigger-docs-patrol.yml
  .github/workflows/trigger-duplicate-issue-detector.yml
  .github/workflows/trigger-issue-triage.yml
  .github/workflows/trigger-mention-in-issue.yml
  .github/workflows/trigger-mention-in-pr.yml
  .github/workflows/trigger-pr-actions-detective.yml
  .github/workflows/trigger-pr-buildkite-detective.yml
  .github/workflows/trigger-pr-review.yml
  .github/workflows/trigger-stale-issues.yml
  .github/workflows/trigger-text-auditor.yml
Due: none

Fix flaky event log test.
  testing/integration/ess/event_logging_test.go
Due: Trigger Extended tests for Pull request
