Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

[beatreceiver] Add support for kerberos on kafka output
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_nofips_test.go
Due: Trigger Extended tests for Pull request

add changelog
  changelog/fragments/1786359572-kafka-kerberos.yaml
Due: none

fix changelog
  changelog/fragments/1786359572-kafka-kerberos.yaml
Due: none

fix translation logic after testing
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_nofips_test.go
Due: Trigger Extended tests for Pull request

Fix workflow updating active branches in renovate.json (#16108)
  .github/workflows/update-renovate-branches.yml
Due: none

[ci] Clone beats branch matching EA branch for serverless tests; disable local package metadata
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/beats_tests.sh
Due: Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, DRY RUN publish to serverless

Test the packaging workflow against a staging manifest
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/trigger-elastic-agent-package-staging.sh
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Add docker provisioner
  dev-tools/mage/gotest.go
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/common/instance.go
  pkg/testing/docker/Dockerfile
  pkg/testing/docker/provisioner.go
  pkg/testing/docker/provisioner_test.go
  pkg/testing/runner/runner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Move docker tests to a non-Windows file
  pkg/testing/docker/provisioner_docker_test.go
  pkg/testing/docker/provisioner_test.go
Due: Trigger Extended tests for Pull request

Fix documentation
  docs/test-framework-dev-guide.md
Due: none

[9.5] Replace post-dependabot.yml with post-dependency-update.yml from main (#16100)
  .github/workflows/post-dependency-update.yml
Due: none

Add ESS e2e for OTel heartbeat private-location monitors (#15977)
  testing/integration/ess/heartbeat_monitoring_test.go
Due: Trigger Extended tests for Pull request

Update post-dependency-update.yml
  .github/workflows/post-dependency-update.yml
Due: none

Fix remaining conflict markers in 8.19 backport of #14871
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/package.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

Fix magefile.go compilation errors in 8.19 backport
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix 8.19 backport: update packages.yml to use build/core/extracted for agent binary
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix 8.19 backport: update Docker image specs in packages.yml to use build/core/extracted
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix 8.19 backport: populate build/golang-crossbuild/ from extracted core in manifest mode
  dev-tools/packaging/packages.yml
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

remove elastic/goja checksum from go.sum (excluded by GONOSUMDB)
  go.sum
Due: Trigger Extended tests for Pull request

update elastic/goja replace in internal/edot to v0.0.0-20260803153216-4ed21c445bb5
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Update docs/release-notes/_snippets/9.4.5/index.md
  docs/release-notes/_snippets/9.4.5/index.md
Due: none

Add known-issue for #15964 (#16031)
  docs/release-notes/known-issues.md
Due: none

fix(test): allow SYSTEM ACE without requiring it for upgrade compatibility
  testing/installtest/checks_windows.go
Due: Trigger Extended tests for Pull request

fix(windows): fix sid.String() call — returns one value not two
  pkg/utils/perm_windows.go
Due: Trigger Extended tests for Pull request

fix(windows): correct SystemSID constant value
  pkg/utils/perm_windows.go
Due: Trigger Extended tests for Pull request

chore: add changelog fragment for Windows LPE security fix
  changelog/fragments/1786027979-fix-local-privilege-escalation-via-binary-tampering-on-windows-unprivileged-installs.yaml
Due: none

fix(windows): implement HasStrictExecPerms to block tampered binaries
  pkg/utils/perm_windows.go
  pkg/utils/perm_windows_test.go
Due: Trigger Extended tests for Pull request

fix(windows): remove group write from default install permissions
  internal/pkg/agent/perms/opts.go
  internal/pkg/agent/perms/unix_test.go
Due: Trigger Extended tests for Pull request

fix(test): update privileged Windows DACL check to expect SYSTEM as distinct ACE
  testing/installtest/checks_windows.go
Due: Trigger Extended tests for Pull request

fix(windows): add runtime.KeepAlive(sd) in HasStrictExecPerms
  pkg/utils/perm_windows.go
Due: Trigger Extended tests for Pull request

fix(test): update Windows DACL check to expect SYSTEM as distinct ACE
  testing/installtest/checks_windows.go
Due: Trigger Extended tests for Pull request

update docs version 9.4.5
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
