Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

[CI] Buildkite integration tests: Added 2 missing groups (#6057)
  .buildkite/bk.integration.pipeline.yml
Due: none

Buildkite integration tests: Windows 2022 Sudo tests (#6010)
  .tool-versions
Due: none

removed tool-versions && restored asdf vars in a pipeline
  .tool-versions
Due: none

docs: update docs
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

[Release] update version
  version/version.go
Due: elastic-agent-extended-testing

gh-actions: fix slack bump
  .github/workflows/bump-agent-versions.yml
  .github/workflows/bump-golang.yml
  .github/workflows/updatecli-compose.yml
Due: none

correct commit
  .github/workflows/bump-agent-versions.yml
  .github/workflows/bump-golang.yml
  .github/workflows/updatecli-compose.yml
Due: none

[CI] Buildkite integration tests: Made AWS ARM instance size equal to x86_64 (#6064)
  .buildkite/bk.integration.pipeline.yml
Due: none

Fix logs integration test (#6069)
  testing/integration/logs_ingestion_test.go
Due: elastic-agent-extended-testing

Elastic Defend cannot run in emulation (#6095)
  changelog/fragments/1732110636-elastic-defend-cannot-run-in-emulation.yaml
  specs/endpoint-security.spec.yml
Due: elastic-agent-extended-testing

remove windows build constraints for otel
  internal/pkg/agent/cmd/otel.go
  internal/pkg/agent/cmd/validate_test.go
Due: elastic-agent-extended-testing

move processing windows events earlier in the boot process
  internal/pkg/agent/cmd/run.go
Due: elastic-agent-extended-testing

add changelog
  changelog/fragments/1731962301-re-enable-otel-subcommand-on-Windows.yaml
Due: none

add Windows to otel integration tests
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

mark and skip flaky TestOTelManager_Run (#6126)
  internal/pkg/otel/manager/manager_test.go
Due: elastic-agent-extended-testing

[CI] BK Integration tests: Run non-sudo tests (#6045)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf.sh
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  test_infra/ess/deployment.tf
Due: elastic-agent-extended-testing

added rhel8 tests (#6044)
  .buildkite/bk.integration.pipeline.yml
Due: none

Merged
  testing/integration/logs_ingestion_test.go
Due: elastic-agent-extended-testing

Add failureThreshold to elastic-agent self-monitoring config (#5999)
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
  internal/pkg/core/monitoring/config/config.go
Due: elastic-agent-extended-testing

Test fix: propely collect hostnames for GetAgentByPolicyIDAndHostnameFromList
  pkg/testing/tools/fleettools/fleet.go
Due: elastic-agent-extended-testing

added analytics plugin
  .buildkite/bk.integration.pipeline.yml
Due: none

changed sudo-integration-tests.sh
  .buildkite/scripts/buildkite-integration-tests.sh
Due: elastic-agent-extended-testing

added win25 non-sudo test step
  .buildkite/bk.integration.pipeline.yml
Due: none

added analytics plugin (#6145)
  .buildkite/bk.integration.pipeline.yml
Due: none

Test fix: propely collect hostnames for GetAgentByPolicyIDAndHostnameFromList (#6146)
  pkg/testing/tools/fleettools/fleet.go
Due: elastic-agent-extended-testing

[CI] BK integration tests: made ESS deployment equat to the ess_provisioner
  test_infra/ess/deployment.tf
Due: none

Added integrations server configuration id
  test_infra/ess/deployment.tf
Due: none

ci: ignore beats in dependabot config (#6086)
  .github/dependabot.yml
Due: none

[CI] BK integration tests: ESS deployment adjustments (#6150)
  test_infra/ess/deployment.tf
Due: none

Add BUILDKITE_ANALYTICS_TOKEN to buildkite integration tests
  .buildkite/hooks/pre-command
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/integration_tests_tf.sh
Due: elastic-agent-extended-testing

Add BUILDKITE_ANALYTICS_TOKEN to powershell
  .buildkite/scripts/integration-tests.ps1
Due: elastic-agent-extended-testing

[CI] Add BUILDKITE_ANALYTICS_TOKEN to buildkite integration tests (#6153)
  .buildkite/hooks/pre-command
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/integration_tests_tf.sh
Due: elastic-agent-extended-testing
