Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Strip Unit.Config from components diagnostic files to prevent secret leakage
  changelog/fragments/1774617287-strip-unit-config-from-components-diagnostics.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

address comments
  changelog/fragments/1774617287-strip-unit-config-from-components-diagnostics.yaml
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

improve stripComponentUnitsConfig performance
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/diagnostics_test.go
Due: Trigger Extended tests for Pull request

simplify integration test
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Revert "improve stripComponentUnitsConfig performance"
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/diagnostics_test.go
Due: Trigger Extended tests for Pull request

add support for ssl
  internal/pkg/otel/translate/common.go
  internal/pkg/otel/translate/common_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

fix lint
  go.mod
  internal/pkg/otel/translate/common_fips_test.go
  internal/pkg/otel/translate/common_test.go
Due: Trigger Extended tests for Pull request

Updaye README.md
  internal/edot/README.md
Due: Trigger Extended tests for Pull request

Add dependency
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

remove plugin
  .buildkite/pipeline.version-bump.yml
Due: none

More work.
  internal/edot/receivers/elasticmonitoring/convert.go
  internal/edot/receivers/elasticmonitoring/convert_test.go
  internal/edot/receivers/elasticmonitoring/factory.go
  internal/edot/receivers/elasticmonitoring/receiver.go
  internal/pkg/otel/manager/manager.go
Due: Trigger Extended tests for Pull request

[Synthetics] Upgrade Nodejs to v22.22.2
  changelog/fragments/1774970286-dependency-upgrade-nodejs-v22.22.2.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Move otel config modification completely into the otel manager (#13250)
  internal/pkg/agent/application/application.go
  internal/pkg/otel/manager/execution.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/execution_subprocess_test.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Improve logging
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/cmd/uninstall.go
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_test.go
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_unix.go
  internal/pkg/agent/install/uninstall_windows.go
  internal/pkg/agent/install/uninstall_windows_test.go
  pkg/testing/fixture.go
Due: Trigger Extended tests for Pull request

fix tests
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_otel.yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_process.yaml
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

Fix integration test
  testing/integration/ess/zombie_process_test.go
Due: Trigger Extended tests for Pull request

[Synthetics] Upgrade Nodejs to v22.22.2 (#13391)
  changelog/fragments/1774970286-dependency-upgrade-nodejs-v22.22.2.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove unused symbols from dev-tools (#13205)
  dev-tools/mage/common.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/gomod.go
  dev-tools/mage/gotest.go
  dev-tools/mage/install.go
  dev-tools/mage/keychain.go
  dev-tools/mage/keychain_test.go
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgdeps.go
  dev-tools/mage/semver.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove WHOHANG
  testing/integration/ess/zombie_helpers_linux_test.go
  testing/integration/ess/zombie_helpers_notlinux_test.go
  testing/integration/ess/zombie_process_test.go
Due: Trigger Extended tests for Pull request

docs: add EKS deployment guide for EDOT kube-stack
  deploy/helm/edot-collector/kube-stack/README.md
Due: Trigger Extended tests for Pull request

[Synthetics] Allow custom CA certificate mounting (#13368)
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/docker/docker-entrypoint.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

docs: update kube-stack README for EKS IAM setup
  deploy/helm/edot-collector/kube-stack/README.md
Due: Trigger Extended tests for Pull request

Set ShutdownBuffer to ReapTime+2s, remove unneeded test
  pkg/component/runtime/command.go
  pkg/component/runtime/manager_fake_input_test.go
Due: Trigger Extended tests for Pull request

[Synthetics] Enable elastic-agent-complete to run in OpenShift (#13369)
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/docker/docker-entrypoint.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

docs: polish kube-stack README formatting
  deploy/helm/edot-collector/kube-stack/README.md
Due: Trigger Extended tests for Pull request

Fix cleanup on windows, add deadlock comment
  pkg/component/runtime/runtime.go
  testing/integration/ess/zombie_process_test.go
Due: Trigger Extended tests for Pull request

Fix TestRpmWithPrefix upgrade subtest for same-version snapshots
  testing/integration/ess/linux_rpm_test.go
Due: Trigger Extended tests for Pull request

Remove repeated instructions and considate under contribution hygene
  AGENTS.md
Due: none
