Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Fix linter warnings
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Refactor the config provider to use a simpler notification mechanism
  internal/edot/otelcol/agentprovider/notifier.go
  internal/edot/otelcol/agentprovider/streaming_provider.go
Due: Trigger Extended tests for Pull request

Handle errors correctly when there's no collector config
  internal/pkg/otel/manager/common.go
  internal/pkg/otel/manager/common_test.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Use a simpler provider implementation
  internal/edot/otelcol/agentprovider/streaming_provider.go
  internal/edot/otelcol/agentprovider/streaming_provider_test.go
Due: Trigger Extended tests for Pull request

wip change to pipe
  internal/edot/otelcol/agentprovider/streaming_provider.go
  internal/edot/otelcol/agentprovider/streaming_provider_test.go
  internal/pkg/otel/manager/execution_subprocess.go
Due: Trigger Extended tests for Pull request

Apply suggestions from code review
  docs/release-notes/_snippets/breaking-changes/9.2.md
  docs/release-notes/_snippets/deprecations/9.2.md
  docs/release-notes/_snippets/index/9.2.md
Due: none

Apply suggestions from code review
  docs/release-notes/_snippets/breaking-changes/9.3.md
  docs/release-notes/_snippets/deprecations/9.3.md
  docs/release-notes/_snippets/index/9.3.md
Due: none

Restore the beats submodule dir after building osqueryd (#12767)
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Make AgentPackageVersion a method on Settings
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Change argument order
  dev-tools/mage/pkgspecs.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix receiver var name
  dev-tools/mage/settings.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

add DRA version bump pipeline (#12711)
  .buildkite/pipeline.version-bump.yml
  catalog-info.yaml
Due: none

Resolve backport conflicts for #12128 on 8.19
  dev-tools/mage/build.go
  dev-tools/mage/checksums.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/gotest.go
  dev-tools/mage/pkg_test.go
  dev-tools/mage/settings.go
  dev-tools/mage/target/update/update.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix backport
  internal/pkg/agent/application/application_test.go
  internal/pkg/config/config.go
Due: Trigger Extended tests for Pull request

Add internal configuration to select runtime by output (#12852)
  changelog/fragments/1771494547-add-output-runtime.yaml
  docs/hybrid-agent-beats-receivers.md
  pkg/component/component.go
  pkg/component/component_test.go
  specs/testbeat.spec.yml
Due: Trigger Extended tests for Pull request

fix conflicts
  pkg/component/component.go
  pkg/component/component_test.go
Due: Trigger Extended tests for Pull request

fix conflict
  docs/hybrid-agent-beats-receivers.md
Due: none

Add verbosity to debug exporter
  changelog/fragments/1772011539-debugexporter_verbosity.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
Due: Trigger Extended tests for Pull request

fix: rename org:ingest tag to org:obs (#12630)
  pkg/testing/ess/statful_provisioner.go
  pkg/testing/ogc/provisioner.go
Due: Trigger Extended tests for Pull request

feat: allow specifying global OTel processors in Agent outputs
  changelog/fragments/1772015556-global-processors.yaml
  internal/pkg/otel/translate/beatsauth_test.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

Resolve backport conflicts for #12128 on 9.2
  dev-tools/mage/build.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/gotest.go
  dev-tools/mage/settings.go
  dev-tools/mage/target/update/update.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove new functions introduced by conflict resolution
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix Ironbank artifact versions in DRA snapshot builds
  .buildkite/scripts/steps/package.sh
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove dev-tools/devmachine/devmachine.go added by backport
  dev-tools/devmachine/devmachine.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Improve handling of otel collector exits
  internal/pkg/otel/manager/execution.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Undo the package.sh changes
  .buildkite/scripts/steps/package.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

remove changelog entry
  changelog/fragments/1772015556-global-processors.yaml
Due: none

Fix Ironbank artifact versions in DRA snapshot builds (#12950)
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package
