Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

Use global processor
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

more strict rules for ignored fields to avoid false positives
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Update `.go-version` to match `go.mod`
  .go-version
Due: elastic-agent-extended-testing

fix: correct agent image repository
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml.original
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-managed/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-daemonset.yaml
Due: Sync K8s

fix: update agent image repository in more places
  docs/local-k8s-testing.md
  internal/pkg/otel/README.md
  internal/pkg/otel/templates/README.md.tmpl
  pkg/testing/kubernetes/supported.go
  skaffold.yaml
Due: elastic-agent-extended-testing

ci: remove Dependabot config for OTel components
  .github/dependabot.yml
Due: none

fix build
  internal/pkg/agent/application/inject_proxy_component_modifier.go
Due: elastic-agent-extended-testing

updated machine types and added scalars
  .buildkite/integration.pipeline.yml
Due: elastic-agent-extended-testing

fix default docker image repository
  dev-tools/packaging/packages.yml
Due: elastic-agent-extended-testing

fail install in case fleet flags are used and install server is missing
  internal/pkg/agent/cmd/install.go
Due: elastic-agent-extended-testing

use add_fields to add missing fields, use a single index
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

update test to restart collector only once
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

[CI][Flaky test] Skip upgrade test group for Windows 2022
  .buildkite/bk.integration.pipeline.yml
Due: none

Add conditions to copy_fields processor
  changelog/fragments/1738855375-Add-conditions-to-copy_fields-processors.yaml
  internal/pkg/agent/application/monitoring/v1_monitor.go
Due: elastic-agent-extended-testing

Skip flaky tests on windows while root cause is being investigated
  testing/integration/upgrade_gpg_test.go
  testing/integration/upgrade_rollback_test.go
  testing/integration/upgrade_standalone_retry_test.go
  testing/integration/upgrade_standalone_same_commit_test.go
Due: elastic-agent-extended-testing

remove some leftover code
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Add integration tests
  testing/integration/event_logging_test.go
  testing/integration/logs_ingestion_test.go
Due: elastic-agent-extended-testing

Skip flaky tests on windows while root cause is being investigated (#6734)
  testing/integration/upgrade_gpg_test.go
  testing/integration/upgrade_rollback_test.go
  testing/integration/upgrade_standalone_retry_test.go
  testing/integration/upgrade_standalone_same_commit_test.go
Due: elastic-agent-extended-testing

Clean up message when audit/uninstall returns 401
  changelog/fragments/1738867024-Improve-message-when-audit-uninstall-returns-401.yaml
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_test.go
Due: elastic-agent-extended-testing

Update internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall.go
Due: elastic-agent-extended-testing

ci(buildkite): skip ci builds when changing the .mergify.yml file (#6721)
  .buildkite/pull-requests.json
Due: none

Fix bug
  changelog/fragments/1738874791-Fix-secret_paths-redaction-along-complex-paths.yaml
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
Due: elastic-agent-extended-testing

fix secret redaction error logs
  internal/pkg/diagnostics/diagnostics.go
Due: elastic-agent-extended-testing

fix: sync replace directives with beats
  go.mod
  go.sum
Due: elastic-agent-extended-testing

Redacted nested secrets path value (#6710)
  changelog/fragments/1738874791-Fix-secret_paths-redaction-along-complex-paths.yaml
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
Due: elastic-agent-extended-testing

Mergify: add backport-9.0
  .mergify.yml
Due: none

Mergify: add backport-9.0 (#6743)
  .mergify.yml
Due: none

Fix dry run in dra publish script (#6670)
  .buildkite/scripts/steps/dra-publish.sh
Due: elastic-agent-extended-testing

Update branch filters to include/exclude 9.* (#6665)
  catalog-info.yaml
Due: none

Fix/5595 force uninstall correct installation (#6559)
  changelog/fragments/1737473147-force-install-replaces-correct-agent.yaml
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/install_test.go
  internal/pkg/agent/cmd/uninstall.go
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

Split packaging into separate steps (#6401)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/steps/integration-package.sh
Due: elastic-agent-extended-testing
