Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Sync K8s:
  label: Sync K8s
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: family/core-ubuntu-2204
  env:
  - GH_VERSION=2.4.0

elastic-agent-extended-testing:
  trigger: elastic-agent-extended-testing
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

updated script and pipelines
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/steps/integration-package.sh
Due: elastic-agent-extended-testing

test
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/steps/integration-package.sh
  internal/pkg/release/pgp.go
Due: elastic-agent-extended-testing

Fix flaky test TestUpgradeHandlerSameVersion
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade_test.go
Due: elastic-agent-extended-testing

otel: add test for agent hybrid
  pkg/testing/fixture.go
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

feat: add apm loadbalancing
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: none

Added status logger
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/fleetapi/enroll_cmd.go
Due: elastic-agent-extended-testing

Added status logger
  changelog/fragments/1736002257-log-fleet-enroll-failure-status-code.yaml
Due: none

fix: reload Helm chart for each example folder (#6475)
  magefile.go
Due: elastic-agent-extended-testing

Added loggers for fleet enrollment failure
  internal/pkg/agent/cmd/enroll_cmd.go
Due: elastic-agent-extended-testing

Skip retry if there is no error
  internal/pkg/agent/cmd/enroll_cmd.go
Due: elastic-agent-extended-testing

Added logger for fleet enrollment failures
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/fleetapi/enroll_cmd.go
Due: elastic-agent-extended-testing

Added logger for fleet enrollment failures
  internal/pkg/agent/cmd/enroll_cmd.go
Due: elastic-agent-extended-testing

chore: increase resource limits
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: none

Fix flaky test TestUpgradeHandlerSameVersion (#6476)
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade_test.go
Due: elastic-agent-extended-testing

add feature flag "beats_as_otel_receivers"
  pkg/features/features.go
  pkg/features/features_test.go
Due: elastic-agent-extended-testing

feat: disable hints default_container_logs when kubernetes integration container logs is enabled
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/integrations/_kubernetes/_preset_pernode.tpl
Due: none

revert resource limits increase
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: none

go mod tidy
  go.mod
Due: elastic-agent-extended-testing

Update go.mod
  go.mod
Due: elastic-agent-extended-testing

docs: update docs
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

[Release] update version
  version/version.go
Due: elastic-agent-extended-testing

go version update to 1.22.10
  go.mod
Due: elastic-agent-extended-testing

chore: remove config warnings
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: none

test
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/steps/integration-package.sh
Due: elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/
