Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

sed -i 's/ v0.113.0$/ v0.114.0/' go.mod
  go.mod
  go.sum
Due: elastic-agent-extended-testing

sed -i 's/\(go\.opentelemetry\.io\/.*\) v1\.19\.0$/\1 v1.20.0/' go.mod
  go.mod
  go.sum
Due: elastic-agent-extended-testing

mage otel:readme
  internal/pkg/otel/README.md
Due: elastic-agent-extended-testing

[helm] remove unsupported Release fields for publishing the chart as an EKS addon (#6079)
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/NOTES.txt
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
Due: none

fix: resolve conflicts
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
Due: none

Elastic Defend cannot run in emulation
  specs/endpoint-security.spec.yml
Due: elastic-agent-extended-testing

Fix integration test
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

add changelog
  changelog/fragments/1732110636-elastic-defend-cannot-run-in-emulation.yaml
  changelog/next.asciidoc
  changelog/next.yaml
Due: none

Update specs/endpoint-security.spec.yml
  specs/endpoint-security.spec.yml
Due: elastic-agent-extended-testing

Increase output for failed test
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

docs: update docs
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

[Release] update version
  version/version.go
Due: elastic-agent-extended-testing

[Release] add-backport-next
  .mergify.yml
Due: none

remove compiled changelog
  changelog/next.asciidoc
  changelog/next.yaml
Due: none

move notification attempt
  internal/pkg/agent/install/uninstall.go
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

Add failureThreshold to elastic-agent self-monitoring config (#5999)
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
  internal/pkg/core/monitoring/config/config.go
Due: elastic-agent-extended-testing

Prevent running Elastic Defend in rosetta on macOS
  specs/endpoint-security.spec.yml
Due: elastic-agent-extended-testing

Make common key redaction case insensitive
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
Due: elastic-agent-extended-testing

make Less take Independent release into account
  magefile.go
  testing/integration/testdata/.upgrade-test-agent-versions.yml
  testing/upgradetest/versions.go
Due: elastic-agent-extended-testing

change went gone
  pkg/version/version_parser.go
Due: elastic-agent-extended-testing

small fix in less logic
  pkg/version/version_parser.go
Due: elastic-agent-extended-testing

add changelog entry
  changelog/fragments/1732187698-update-otel-v0.114.0.yaml
Due: none

Don't deepcopy AST when generating vars (#6058)
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/ast_test.go
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

move notification attempt
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

Update K8S version
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

Add var generation benchmark (#6028)
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/testdata/agent.yaml
  internal/pkg/composable/testdata/env.yaml
  internal/pkg/composable/testdata/host.yaml
  internal/pkg/composable/testdata/kubernetes.yaml
  internal/pkg/composable/testdata/path.yaml
Due: elastic-agent-extended-testing

Emit Pod data only for running Pods in the Kubernetes provider (#6011)
  changelog/fragments/1731500837-pod-status-updates.yaml
  internal/pkg/composable/providers/kubernetes/pod.go
  internal/pkg/composable/providers/kubernetes/pod_test.go
Due: elastic-agent-extended-testing
