Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

chore: regenerate NOTICE with $GOMODCACHE paths
  NOTICE-fips.txt
  NOTICE.txt
Due: none

Bump github.com/grpc-ecosystem/grpc-gateway/v2 to v2.30.0
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

fix beats
  deploy/helm/elastic-agent/charts/kube-state-metrics/.helmignore
  deploy/helm/elastic-agent/charts/kube-state-metrics/Chart.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/README.md
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/NOTES.txt
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/_helpers.tpl
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/ciliumnetworkpolicy.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/clusterrolebinding.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/crs-configmap.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/deployment.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/extra-manifests.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/kubeconfig-secret.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/networkpolicy.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/pdb.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/rbac-configmap.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/role.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/rolebinding.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/scrapeconfig.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/service.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/serviceaccount.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/servicemonitor.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/stsdiscovery-role.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/stsdiscovery-rolebinding.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/verticalpodautoscaler.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/values.yaml
Due: Trigger Extended tests for Pull request

fix test
  deploy/helm/elastic-agent/charts/kube-state-metrics/.helmignore
  deploy/helm/elastic-agent/charts/kube-state-metrics/Chart.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/README.md
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/NOTES.txt
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/_helpers.tpl
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/ciliumnetworkpolicy.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/clusterrolebinding.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/crs-configmap.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/deployment.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/extra-manifests.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/kubeconfig-secret.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/networkpolicy.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/pdb.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/rbac-configmap.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/role.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/rolebinding.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/scrapeconfig.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/service.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/serviceaccount.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/servicemonitor.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/stsdiscovery-role.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/stsdiscovery-rolebinding.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/templates/verticalpodautoscaler.yaml
  deploy/helm/elastic-agent/charts/kube-state-metrics/values.yaml
  go.sum
  internal/pkg/otel/translate/otelconfig_nofips_test.go
Due: Trigger Extended tests for Pull request

Bump github.com/grpc-ecosystem/grpc-gateway/v2 to v2.30.0 for CVE-2026-37236
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

mage notice
  NOTICE-fips.txt
  NOTICE.txt
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Add a security-related note to the 9.4.6 release notes
  docs/release-notes/_snippets/9.4.6/index.md
Due: none

Pass a *paths.Path to the elastic-agent-libs logp configure helpers
  internal/pkg/agent/cmd/watch.go
  pkg/core/logger/logger.go
Due: Trigger Extended tests for Pull request

DO NOT MERGE: point beats submodule and elastic-agent-libs at forks
  .gitmodules
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Resolve backport conflict in Kafka compression mapping.
  internal/pkg/otel/translate/output_kafka.go
Due: Trigger Extended tests for Pull request

Fix builds
  dev-tools/mage/settings.go
  internal/pkg/release/version.go
  magefile.go
  pkg/component/component.go
  pkg/component/component_test.go
  pkg/component/load.go
  pkg/component/variant_inputs.go
  pkg/component/variant_inputs_securityonly.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Replace Docker CLI shell-out with moby/moby/client SDK in local test provisioner
  pkg/testing/docker/provisioner.go
  pkg/testing/docker/provisioner_docker_test.go
Due: Trigger Extended tests for Pull request

chore: run go mod tidy and mage notice after adding direct moby/containerd imports
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
Due: Trigger Extended tests for Pull request

Fix lint.
  pkg/component/component.go
Due: Trigger Extended tests for Pull request

Remove SetVariantForTesting
  internal/pkg/release/version.go
Due: Trigger Extended tests for Pull request

Add fips security test to artifact_test.go.
  internal/pkg/agent/application/upgrade/artifact/artifact_test.go
Due: Trigger Extended tests for Pull request

Fix imports.
  internal/edot/otelcol/components/default_securityonly.go
  pkg/component/load.go
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to 36f46e8aeecd
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Add omitempty to variant.
  pkg/ecsmeta/ecsmeta.go
Due: Trigger Extended tests for Pull request

make check-ci
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

fix: fix diagnostics for otel components containing `/`
  changelog/fragments/1788339094-fix-diagnostics-for-otel-components.yaml
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Apply suggestion from @v1v
  .buildkite/bk.integration-fips.pipeline.yml
Due: Trigger Extended tests for Pull request

docs: update docs
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

[Release] update version
  version/version.go
Due: Trigger Extended tests for Pull request

Update internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics.go
Due: Trigger Extended tests for Pull request

fix duplicate pathways in diagnostics
  changelog/fragments/1788347691-fix-otel-diagnostics-stream-overwrite.yaml
  internal/pkg/diagnostics/diagnostics_test.go
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

docs: improve container restart loop known issue workaround (#16298)
  docs/release-notes/known-issues.md
Due: none

add the 9.5.3 Elastic Agent release notes
  changelog/9.5.3.yaml
  changelog/fragments/1785503040-make-the-dynamic-inputs-runtime-override-configurable.yaml
  changelog/fragments/1786144369-retry-otel-elasticsearch-request-authentication-failures-without-retrying-rejected-documents.yaml
  changelog/fragments/1786552448-fix-diagnostics-collect-component-trace-logs-in-container-deployments.yaml
  changelog/fragments/1787154522-strip-darwin-osqueryd.yaml
  changelog/fragments/1787733895-fix-kafka-lz4-compression-failing-in-the-otel-runtime.yaml
  docs/release-notes/_snippets/9.5.3/breaking-changes.md
  docs/release-notes/_snippets/9.5.3/deprecations.md
  docs/release-notes/_snippets/9.5.3/index.md
  docs/release-notes/_snippets/breaking-changes/9.5.md
  docs/release-notes/_snippets/deprecations/9.5.md
  docs/release-notes/_snippets/index/9.5.md
Due: none

fix duplicate PRs
  changelog/9.5.3.yaml
  docs/release-notes/_snippets/9.5.3/index.md
Due: none

update docs version 9.5.3
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Update version to 9.5.4
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-secret/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Replace Docker CLI shell-out with github.com/moby/moby/client SDK in local test provisioner (#16371)
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  pkg/testing/docker/provisioner.go
  pkg/testing/docker/provisioner_docker_test.go
Due: Trigger Extended tests for Pull request

fix: resolve cherry-pick conflict in provisioner.go (backport #16371)
  pkg/testing/docker/provisioner.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
