Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Add Azure Event Hub receiver to EDOT Collector
  changelog/fragments/1775078416-add-azure-event-hub-receiver-to-edot-collector.yaml
Due: none

Remove the receiver from the released components
  docs/reference/edot-collector/components.md
  docs/reference/edot-collector/custom-collector.md
Due: none

feat: add Azure Event Hub receiver to EDOT Collector
  changelog/fragments/1775078416-add-azure-event-hub-receiver-to-edot-collector.yaml
  docs/reference/edot-collector/components.md
  docs/reference/edot-collector/custom-collector.md
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components.go
  internal/pkg/otel/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

docs: update docs
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

[Release] update version
  version/version.go
Due: Trigger Extended tests for Pull request

Rewrite API calls and leave CSPM, Asset registry
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/config_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/edot/receivers/verifierreceiver/receiver.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/registry.go
Due: Trigger Extended tests for Pull request

Move verifier receiver from opentelemetry-collector-components to elastic-agent
  go.mod
  internal/edot/go.mod
  internal/edot/otelcol/components.go
  internal/pkg/otel/receivers/verifierreceiver/README.md
  internal/pkg/otel/receivers/verifierreceiver/config.go
  internal/pkg/otel/receivers/verifierreceiver/config_test.go
  internal/pkg/otel/receivers/verifierreceiver/doc.go
  internal/pkg/otel/receivers/verifierreceiver/factory.go
  internal/pkg/otel/receivers/verifierreceiver/factory_test.go
  internal/pkg/otel/receivers/verifierreceiver/generated_component_test.go
  internal/pkg/otel/receivers/verifierreceiver/generated_package_test.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_logs.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_logs_test.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_status.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/pkg/otel/receivers/verifierreceiver/metadata.yaml
  internal/pkg/otel/receivers/verifierreceiver/receiver.go
  internal/pkg/otel/receivers/verifierreceiver/receiver_test.go
  internal/pkg/otel/receivers/verifierreceiver/registry.go
  internal/pkg/otel/receivers/verifierreceiver/testdata/TESTING.md
  internal/pkg/otel/receivers/verifierreceiver/testdata/agent-simulation.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/config.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/expected-logs.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/otel-config.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/templates/verifier.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-aws.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-azure.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-gcp.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-standalone.yaml
  internal/pkg/otel/testdata/all-components-fips.yml
  internal/pkg/otel/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

CI fixes
  internal/edot/otelcol/components.go
  internal/pkg/otel/receivers/verifierreceiver/config_test.go
  internal/pkg/otel/receivers/verifierreceiver/receiver.go
Due: Trigger Extended tests for Pull request

Verifier skill
  agents/elastic-agent-verifier/SKILL.md
  agents/elastic-agent-verifier/examples/aws-cspm-policy.yaml
  agents/elastic-agent-verifier/examples/azure-cspm-policy.yaml
  agents/elastic-agent-verifier/examples/gcp-cspm-policy.yaml
  agents/elastic-agent-verifier/reference.md
Due: none

Moving receiver to EDOT
  .github/CODEOWNERS
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/otelcol/components.go
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/config_test.go
  internal/edot/receivers/verifierreceiver/doc.go
  internal/edot/receivers/verifierreceiver/factory.go
  internal/edot/receivers/verifierreceiver/factory_test.go
  internal/edot/receivers/verifierreceiver/generated_component_test.go
  internal/edot/receivers/verifierreceiver/generated_package_test.go
  internal/edot/receivers/verifierreceiver/internal/metadata/generated_logs.go
  internal/edot/receivers/verifierreceiver/internal/metadata/generated_logs_test.go
  internal/edot/receivers/verifierreceiver/internal/metadata/generated_status.go
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/edot/receivers/verifierreceiver/metadata.yaml
  internal/edot/receivers/verifierreceiver/receiver.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/registry.go
  internal/edot/receivers/verifierreceiver/testdata/TESTING.md
  internal/edot/receivers/verifierreceiver/testdata/agent-simulation.yaml
  internal/edot/receivers/verifierreceiver/testdata/config.yaml
  internal/edot/receivers/verifierreceiver/testdata/expected-logs.yaml
  internal/edot/receivers/verifierreceiver/testdata/otel-config.yaml
  internal/edot/receivers/verifierreceiver/testdata/templates/verifier.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-aws.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-azure.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-gcp.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request

Enhance semver
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/registry.go
Due: Trigger Extended tests for Pull request

Rename datastream
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/receiver.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/testdata/TESTING.md
Due: Trigger Extended tests for Pull request

CI checks
  internal/edot/otelcol/components.go
Due: Trigger Extended tests for Pull request

Move verifier receiver from opentelemetry-collector-components to elastic-agent
  internal/pkg/otel/receivers/verifierreceiver/README.md
  internal/pkg/otel/receivers/verifierreceiver/config.go
  internal/pkg/otel/receivers/verifierreceiver/config_test.go
  internal/pkg/otel/receivers/verifierreceiver/doc.go
  internal/pkg/otel/receivers/verifierreceiver/factory.go
  internal/pkg/otel/receivers/verifierreceiver/factory_test.go
  internal/pkg/otel/receivers/verifierreceiver/generated_component_test.go
  internal/pkg/otel/receivers/verifierreceiver/generated_package_test.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_logs.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_logs_test.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_status.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/pkg/otel/receivers/verifierreceiver/metadata.yaml
  internal/pkg/otel/receivers/verifierreceiver/receiver.go
  internal/pkg/otel/receivers/verifierreceiver/receiver_test.go
  internal/pkg/otel/receivers/verifierreceiver/registry.go
  internal/pkg/otel/receivers/verifierreceiver/testdata/TESTING.md
  internal/pkg/otel/receivers/verifierreceiver/testdata/agent-simulation.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/config.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/expected-logs.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/otel-config.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/templates/verifier.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-aws.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-azure.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-gcp.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request

CI fixes
  go.mod
  go.sum
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
Due: Trigger Extended tests for Pull request

CI fixes
  internal/pkg/otel/receivers/verifierreceiver/config_test.go
  internal/pkg/otel/receivers/verifierreceiver/receiver.go
Due: Trigger Extended tests for Pull request

Verify policies and align auth
  go.mod
  go.sum
  internal/edot/go.sum
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/edot/receivers/verifierreceiver/receiver.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/registry.go
Due: Trigger Extended tests for Pull request

Moving receiver to EDOT
  internal/edot/go.sum
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/edot/receivers/verifierreceiver/receiver.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/registry.go
  internal/edot/receivers/verifierreceiver/testdata/TESTING.md
  internal/pkg/otel/receivers/verifierreceiver/README.md
  internal/pkg/otel/receivers/verifierreceiver/config.go
  internal/pkg/otel/receivers/verifierreceiver/config_test.go
  internal/pkg/otel/receivers/verifierreceiver/doc.go
  internal/pkg/otel/receivers/verifierreceiver/factory.go
  internal/pkg/otel/receivers/verifierreceiver/factory_test.go
  internal/pkg/otel/receivers/verifierreceiver/generated_component_test.go
  internal/pkg/otel/receivers/verifierreceiver/generated_package_test.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_logs.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_logs_test.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_status.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/pkg/otel/receivers/verifierreceiver/metadata.yaml
  internal/pkg/otel/receivers/verifierreceiver/receiver.go
  internal/pkg/otel/receivers/verifierreceiver/receiver_test.go
  internal/pkg/otel/receivers/verifierreceiver/registry.go
  internal/pkg/otel/receivers/verifierreceiver/testdata/TESTING.md
  internal/pkg/otel/receivers/verifierreceiver/testdata/agent-simulation.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/config.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/expected-logs.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/otel-config.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/templates/verifier.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-aws.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-azure.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-gcp.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request

Rename CC
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/config_test.go
  internal/edot/receivers/verifierreceiver/doc.go
  internal/edot/receivers/verifierreceiver/factory_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/tls_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/edot/receivers/verifierreceiver/receiver.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/testdata/TESTING.md
  internal/edot/receivers/verifierreceiver/testdata/agent-simulation.yaml
  internal/edot/receivers/verifierreceiver/testdata/config.yaml
  internal/edot/receivers/verifierreceiver/testdata/expected-logs.yaml
  internal/edot/receivers/verifierreceiver/testdata/otel-config.yaml
  internal/edot/receivers/verifierreceiver/testdata/templates/verifier.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-aws.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-azure.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-gcp.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request

Addition test cases
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/testdata/config.yaml
  internal/edot/receivers/verifierreceiver/testdata/otel-config.yaml
Due: Trigger Extended tests for Pull request

fips compliance
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/tls.go
Due: Trigger Extended tests for Pull request

Curve gap and tests
  internal/edot/receivers/verifierreceiver/internal/verifier/tls.go
  internal/edot/receivers/verifierreceiver/internal/verifier/tls_test.go
Due: Trigger Extended tests for Pull request

Remove skill
  agents/elastic-agent-verifier/SKILL.md
  agents/elastic-agent-verifier/examples/aws-cspm-policy.yaml
  agents/elastic-agent-verifier/examples/azure-cspm-policy.yaml
  agents/elastic-agent-verifier/examples/gcp-cspm-policy.yaml
  agents/elastic-agent-verifier/reference.md
Due: none

GCP project id resolver
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/config_test.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/testdata/TESTING.md
  internal/edot/receivers/verifierreceiver/testdata/test-gcp.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request

Rebase fixes and documentation for AWS and Azure
  go.mod
  go.sum
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/testdata/TESTING.md
  internal/edot/receivers/verifierreceiver/testdata/test-azure.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request

Delete beats
  .gitmodules
Due: none

Account string changes
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/config_test.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/testdata/test-aws.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-azure.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-gcp.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request

Remove region
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/config_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/tls_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/testdata/TESTING.md
  internal/edot/receivers/verifierreceiver/testdata/agent-simulation.yaml
  internal/edot/receivers/verifierreceiver/testdata/config.yaml
  internal/edot/receivers/verifierreceiver/testdata/templates/verifier.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-aws.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request
