Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

fix conflicts
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Apply suggestion from @v1v
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

run arlier the fallback
  .buildkite/scripts/steps/ess.ps1
Due: Trigger Extended tests for Pull request

oblt-cli: use the docker image for the elastic-agent when running Custom ECH Testing step (#14023)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

Apply suggestion from @v1v
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

revert
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

hardcoded race detector
  .github/workflows/unit-tests.yml
Due: none

Add config override with tests.
  pkg/component/component.go
  pkg/component/component_test.go
Due: Trigger Extended tests for Pull request

Reapply "Temporarily skip MacOS 13 unit tests (#13834)" (#13860)
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Reapply "Temporarily skip MacOS 13 unit tests (#13834)" (#13860) (#14053)
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Update .github/workflows/unit-tests.yml
  .github/workflows/unit-tests.yml
Due: none

Remove unneeded testproxy from integration test
  testing/integration/ess/policy_change_no_ack_test.go
Due: Trigger Extended tests for Pull request

Update go to v1.26.2 (#13683)
  .go-version
  .golangci-lint-version
  changelog/fragments/1776464382-Update-go-to-v1.26.2.yaml
  go.mod
  internal/edot/go.mod
  internal/pkg/agent/application/actions/handlers/handler_action_diagnostics.go
  magefile.go
  wrapper/windows/archive-proxy/go.mod
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Review feedback
  pkg/testing/define/requirements.go
  pkg/testing/define/requirements_test.go
Due: Trigger Extended tests for Pull request

Make otel runtime the default for filebeat inputs (#13991)
  changelog/fragments/1777903110-make-otel-runtime-the-default-for-filebeat-inputs..yaml
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/container_cmd_test.go
  testing/integration/ess/event_logging_test.go
Due: Trigger Extended tests for Pull request

Fix usage of resolveStreamID.
  internal/pkg/otel/translate/status.go
Due: Trigger Extended tests for Pull request

remove ubuntu-22
  .github/workflows/unit-tests.yml
Due: none

its: expiry date 6 hours after creation (#14020)
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

conflicts
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

revert
  .buildkite/scripts/steps/ess.ps1
Due: Trigger Extended tests for Pull request

change
  .buildkite/scripts/steps/ess.ps1
Due: Trigger Extended tests for Pull request

Apply suggestions from code review
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

oblt-cli: timeout if 20 minutes and use a shorter name
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

teardown: best-effort
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_cleanup_all.sh
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

Fix handling of console events on Windows (#13862)
  changelog/fragments/1777295027-fix-windows-otel-signal-handling.yaml
  internal/pkg/agent/cmd/otel_windows.go
  pkg/core/process/cmd.go
  pkg/testing/fixture.go
  testing/integration/ess/agent_start_shutdown_test.go
  testing/integration/ess/otel_test.go
  wrapper/windows/archive-proxy/main.go
Due: Trigger Extended tests for Pull request
