Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

fix: resolve cherry-pick conflicts in provisioner.go and go.mod (backport #16371)
  go.mod
  pkg/testing/docker/provisioner.go
Due: Trigger Extended tests for Pull request

fix: regenerate NOTICE files for 8.19 backport of #16371
  NOTICE-fips.txt
  NOTICE.txt
Due: none

docs: update docs
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

[Release] update version
  version/version.go
Due: Trigger Extended tests for Pull request

fix: migrate helm v3 to v4 imports and API changes
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  magefile.go
  testing/integration/k8s/agent_helm_test.go
  testing/integration/k8s/common.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
  testing/integration/k8s/otel_helm_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

skip if unit.Config is nil
  changelog/fragments/1788375679-handle-units-with-nil-config.yaml
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/status_test.go
Due: Trigger Extended tests for Pull request

test(otel): stabilize TestOTelElasticsearchInvalidAPIKeyBackoff on Windows
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Restore original maxbackoff
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to 9137b724af81
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to 5249b57337db
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to a5fc6fd1398b
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to cbb16badf313
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Translate the kubernetes container logs integration to a filelog receiver OTEL.
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/configuration/internal.go
  internal/pkg/otel/k8s/config.go
  internal/pkg/otel/k8s/config_test.go
  internal/pkg/otel/k8s/k8s.go
  internal/pkg/otel/k8s/k8s_test.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/translate/input_kubernetes.go
  internal/pkg/otel/translate/input_kubernetes_test.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  pkg/testing/kubernetes/kind/provisioner.go
  pkg/testing/kubernetes/supported.go
  testing/integration/k8s/agent_helm_test.go
Due: Trigger Extended tests for Pull request

skip if unit.Config is nil (#16472)
  changelog/fragments/1788375679-handle-units-with-nil-config.yaml
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/status_test.go
Due: Trigger Extended tests for Pull request

fix xconfmap change and timeout issue
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  internal/pkg/otel/translate/beatsauth_test.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

Replace ingest-otel-data with obs-signals-team
  .github/CODEOWNERS
Due: none

mage notice
  NOTICE-fips.txt
  NOTICE.txt
Due: none

fix: remove data race in TestNotifyFleetAuditUnenroll
  internal/pkg/agent/install/uninstall_test.go
Due: Trigger Extended tests for Pull request

fix: fix xconfmap breaking change and ES exporter timeout issue
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  internal/pkg/otel/translate/beatsauth_test.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

resolve conflicts
  go.mod
Due: Trigger Extended tests for Pull request

fix: resolve yaml.v3 and backoff/v7 migration test failures
  dev-tools/packaging/packages.yml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  internal/pkg/agent/application/info/configuration_embed_changed_test.go
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_otel.yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_process.yaml
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
  pkg/component/component.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: remove unused nolint directive from package_version_test.go
  testing/integration/ess/package_version_test.go
Due: Trigger Extended tests for Pull request

fix: revert pkgspecs.go to yaml.v2 to preserve deep-merge behavior
  dev-tools/mage/pkgspecs.go
  go.mod
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: fix remaining lint failures (handler_helpers_windows, nolint explanations)
  internal/pkg/agent/application/actions/handlers/handler_helpers_windows.go
  testing/integration/ess/package_version_test.go
  testing/integration/ess/proxy_url_test.go
  testing/integration/ess/upgrade_fleet_test.go
Due: Trigger Extended tests for Pull request

fix: update callers to backoff/v7 API (WithContext and RetryNotify removed)
  NOTICE.txt
  dev-tools/mage/common.go
  dev-tools/mage/downloads/releases.go
  dev-tools/mage/downloads/retry.go
  dev-tools/mage/downloads/utils.go
  dev-tools/mage/downloads/utils_test.go
  dev-tools/mage/downloads/versions.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
  internal/pkg/agent/application/upgrade/artifact/download/verify_backoff_rtt.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/otel/actions.go
  pkg/testing/fixture.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: consolidate remaining non-adjacent <<: merge keys in packages.yml
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: resolve lint failures from backoff/v7 and yaml.v3 migrations
  internal/pkg/agent/application/upgrade/artifact/download/verify_backoff_rtt.go
  internal/pkg/agent/application/upgrade/marker_access_windows.go
  testing/integration/ess/package_version_test.go
  testing/integration/ess/pkgversion_common_test.go
  testing/integration/ess/proxy_url_test.go
  testing/integration/ess/upgrade_fleet_test.go
Due: Trigger Extended tests for Pull request

fix: remove data race in TestNotifyFleetAuditUnenroll (#16450)
  internal/pkg/agent/install/uninstall_test.go
Due: Trigger Extended tests for Pull request

add values.yaml for OpenShift deployment
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/openshift/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/templates/agent/openshift-scc.yaml
  testing/integration/k8s/common.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
  testing/integration/k8s/otel_helm_test.go
  testing/integration/k8s/testdata/elastic-agent-openshift-kustomize.yaml
Due: Trigger Extended tests for Pull request

make unprivileged helm tests pass on MicroShift
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
  deploy/helm/elastic-agent/templates/agent/openshift-scc.yaml
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/README.md
  deploy/kubernetes/elastic-agent-kustomize/openshift/elastic-agent-standalone/elastic-agent-standalone-scc-role-binding.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/elastic-agent-standalone/kube-state-metrics-scc-role-binding.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/elastic-agent-standalone/kustomization.yaml
  magefile.go
  testing/integration/k8s/k8s.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
  testing/integration/k8s/testdata/k8s.hints.redis.yaml
  testing/integration/k8s/testdata/logstash.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add MicroShift Kubernetes test provisioner
  deploy/kubernetes/README.md
  deploy/kubernetes/elastic-agent-kustomize/openshift/elastic-agent-standalone/elastic-agent-standalone-scc-role-binding.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/elastic-agent-standalone/kube-state-metrics-scc-role-binding.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/elastic-agent-standalone/kustomization.yaml
  magefile.go
  pkg/testing/kubernetes/microshift/provisioner.go
  pkg/testing/kubernetes/microshift/provisioner_test.go
  testing/integration/k8s/k8s.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
  testing/integration/k8s/testdata/elastic-agent-openshift-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Elastic Agent Package

reuse running MicroShift containers during provisioning
  pkg/testing/kubernetes/microshift/provisioner.go
  pkg/testing/kubernetes/microshift/provisioner_test.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
