Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

updatecli: set force to false, it won't try to update the base branch
  .ci/updatecli/updatecli-bump-golang.yml
Due: none

mergify: update rules
  .mergify.yml
Due: none

mergify: support backport-active-branches and backport-active-minors
  .mergify.yml
Due: none

Redacted nested secrets path value
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
Due: elastic-agent-extended-testing

Update testing/upgradetest/versions.go
  testing/upgradetest/versions.go
Due: elastic-agent-extended-testing

Update tests for flavors
  testing/integration/upgrade_standalone_flavors_test.go
  testing/upgradetest/upgrader.go
  testing/upgradetest/versions.go
Due: elastic-agent-extended-testing

sed -i 's/\(go\.opentelemetry\.io\/collector.*\) v0\.117.0/\1 v0.119.0/' go.mod
  go.mod
Due: elastic-agent-extended-testing

sed -i 's/\(go\.opentelemetry\.io\/collector.*\) v1\.23\.0/\1 v1.25.0/' go.mod
  go.mod
Due: elastic-agent-extended-testing

sed -i 's/\(github\.com\/open-telemetry\/opentelemetry\-collector\-contrib\/.*\) v0\.117\.0/\1 v0.119.0/' go.mod
  go.mod
Due: elastic-agent-extended-testing

go mod tidy
  go.mod
  go.sum
Due: elastic-agent-extended-testing

mage otel:readme
  internal/pkg/otel/README.md
Due: elastic-agent-extended-testing

add changelog entry
  changelog/fragments/1738752554-update-otel-v0.119.0.yaml
Due: none

added comments
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
Due: elastic-agent-extended-testing

changed the backports
  .mergify.yml
Due: none

fail if ignored field is not present in both maps
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

use internal function to be able to unit test the behavior
  internal/pkg/agent/application/inject_proxy_component_modifier.go
  internal/pkg/agent/application/inject_proxy_component_modifier_test.go
Due: elastic-agent-extended-testing

updatecli: set force to false, it won't try to update the base branch (#6705)
  .ci/updatecli/updatecli-bump-golang.yml
Due: none

make lint happy
  internal/pkg/agent/application/inject_proxy_component_modifier.go
Due: elastic-agent-extended-testing

[kustomize]: fix system integration to utilise hostfs mount
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-ksm-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/elastic-agent-standalone-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-daemonset-configmap.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-ksm-daemonset-configmap.yaml
Due: Sync K8s

github-actions: filter by current active branches in the repository (#6326)
  .github/workflows/bump-agent-versions.yml
Due: none

mergify: support backport-active-8, backport-active-9 and backport-active-all (#6708)
  .mergify.yml
Due: none

docs: update docs
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

[Release] update version
  version/version.go
Due: elastic-agent-extended-testing

CI: Remove instances configurations from the test stack
  test_infra/ess/deployment.tf
Due: none

[CI] Backport buildkite integration tests to 8.17 (#6323)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-command.ps1
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.yml
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/install-go.ps1
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess.sh
  .buildkite/scripts/steps/ess_start.sh
  .buildkite/scripts/steps/integration_tests_tf.sh
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  .tool-versions
  test_infra/ess/deployment.tf
Due: elastic-agent-extended-testing

Fixes from code review.
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/agent/transpiler/vars_test.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

Added test_infra to extended pipeline trigger
  .buildkite/pipeline.yml
Due: elastic-agent-extended-testing

mergify: support 8.x for the backport-active-8
  .mergify.yml
Due: none

ci(buildkite): skip ci builds when changing the .mergify.yml file
  .buildkite/pull-requests.json
Due: none

Add integration test.
  pkg/testing/fixture_install.go
  pkg/testing/tools/check/check.go
  testing/integration/enroll_replace_token_test.go
Due: elastic-agent-extended-testing

Add changelog.
  changelog/fragments/1738784301-Add-id-and-replace-token-to-enrollment.yaml
Due: none

add host metadata processor, remove 'host.*' from ignored fields
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

mergify: support 8.x for the backport-active-8 (#6720)
  .mergify.yml
Due: none
