Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Fix a few integration tests under local provisioners (#16690)
  docs/test-framework-dev-guide.md
  pkg/testing/docker/Dockerfile
  testing/integration/ess/heartbeat_monitoring_test.go
  testing/integration/ess/monitoring_probe_reload_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/testdata/network_traffic_package.json
Due: Trigger Extended tests for Pull request

chore: Bump Golang version to 1.26.8
  .go-version
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Pass a *paths.Path to the elastic-agent-libs logp configure helpers (#16447)
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  internal/pkg/agent/cmd/watch.go
  pkg/core/logger/logger.go
Due: Trigger Extended tests for Pull request

use k8s version on openshift tests
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/k8s-utils.sh
Due: Trigger Extended tests for Pull request

Automate changelog fragments for Go bumps
  .ci/scripts/create-go-update-changelog.sh
  .ci/updatecli/README.md
  .ci/updatecli/updatecli-bump-golang.yml
  .github/workflows/bump-golang.yml
Due: none

Bumping Azure VM images
  .buildkite/bk.integration.pipeline.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

fix duplicate PRs
  changelog/8.19.22.asciidoc
  changelog/8.19.22.yaml
Due: none

Update version for 8.19.23
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

update docs version 8.19.22
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Bumping Azure VM images (#16718)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

[main][Automation] Update elastic/beats to 7d60146114ab
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  wrapper/windows/archive-proxy/go.mod
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 0e8fa9c93d29
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  wrapper/windows/archive-proxy/go.mod
  wrapper/windows/archive-proxy/go.sum
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to f4f4d4041f45
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  wrapper/windows/archive-proxy/go.mod
  wrapper/windows/archive-proxy/go.sum
Due: Trigger Extended tests for Pull request

build ironbank variant
  dev-tools/mage/dockervariants.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Wire DOCKER_VARIANTS=ironbank mage package into CI and update test
  .buildkite/scripts/steps/package.sh
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Drive tinit/jq sha256 hashes from template variables
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Read ironbank resource hashes from hardening_manifest.yaml.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Inject ironbank sha256 hashes from manifest into mage package path
  dev-tools/packaging/packages.yml
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix diagnostics
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

test(k8s): cover Kubernetes metrics RBAC deadlock (#15666)
  changelog/fragments/1785319944-k8s-rbac-deadlock-regression-test.yaml
  testing/integration/k8s/kubernetes_agent_helm_rbac_deadlock_test.go
Due: Trigger Extended tests for Pull request

fix artifact directory
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

add soft_fail to openshift jobs
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

test(k8s): cover Kubernetes metrics RBAC deadlock (#15666) (#15900)
  changelog/fragments/1785319944-k8s-rbac-deadlock-regression-test.yaml
  testing/integration/k8s/kubernetes_agent_helm_rbac_deadlock_test.go
Due: Trigger Extended tests for Pull request

Revert "Switch packetbeat crossbuild image to debian9, in line with beats"
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add docs-engineering as CODEOWNER of the docs update scripts. (#16646)
  .github/CODEOWNERS
Due: none

[8.19] Skip endpoint upgrade tests incompatible with kernel 7.0.0
  testing/integration/ess/endpoint_security_test.go
Due: Trigger Extended tests for Pull request

Fix merge conflict in CODEOWNERS backport
  .github/CODEOWNERS
Due: none

[8.19] Skip endpoint upgrade tests incompatible with kernel 7.0.0 (#16730)
  testing/integration/ess/endpoint_security_test.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
