Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Don't backport components.
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components.go
Due: Trigger Extended tests for Pull request

[beatreceiver] Add support for dynamic kafka topic in OTel (#13197)
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
  internal/pkg/otel/translate/output_logstash.go
  internal/pkg/otel/translate/output_logstash_test.go
  pkg/component/component.go
Due: Trigger Extended tests for Pull request

Fix formatting in known issues for Elastic Agent
  docs/release-notes/known-issues.md
Due: none

Fix formatting in known issues for Elastic Agent (#13366)
  docs/release-notes/known-issues.md
Due: none

Cleanup comments and test fail step
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request

Specify availability in technical preview
  docs/release-notes/_snippets/9.3.2/index.md
Due: none

Migrate docs workflows from preview-build to docs-actions
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview-cleanup.yml
Due: none

Use existing lexing implementation to parse kafka topic
  go.mod
  go.sum
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

Leave the executable in the root dir
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_unix.go
  internal/pkg/agent/install/uninstall_windows.go
  internal/pkg/agent/install/uninstall_windows_test.go
Due: Trigger Extended tests for Pull request

Remove the top path during install
  internal/pkg/agent/install/install.go
  internal/pkg/agent/install/install_test.go
Due: Trigger Extended tests for Pull request

Restore include-paths for vale linting scope
  .github/workflows/docs-build.yml
Due: none

Refactor otel manager tests
  internal/pkg/agent/application/application.go
  internal/pkg/otel/manager/execution.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Move config modification completely to otel manager
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/execution_subprocess_test.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Minor improvements
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Move docs workflows to elastic/docs-actions (#13370)
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview-cleanup.yml
Due: none

Remove unused keychain.go from dev-tools/mage
  dev-tools/mage/keychain.go
  dev-tools/mage/keychain_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove unused gomod.go from dev-tools/mage
  dev-tools/mage/gomod.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove unused functions from dev-tools/mage/install.go
  dev-tools/mage/install.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove unused pkgdeps.go from dev-tools/mage
  dev-tools/mage/pkgdeps.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove unused functions from dev-tools/mage/crossbuild.go
  dev-tools/mage/crossbuild.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove unused functions from dev-tools/mage/gotest.go
  dev-tools/mage/gotest.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove unused functions from dev-tools/mage/pkg.go
  dev-tools/mage/pkg.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Drop unused symbols from magefile.go
  dev-tools/mage/common.go
  dev-tools/mage/gotest.go
  dev-tools/mage/pkg.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove unused functions from dev-tools/mage/common.go and semver.go
  dev-tools/mage/common.go
  dev-tools/mage/semver.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Docs: Add entry for Windows/ARM64 support to the 9.3.2 release notes (#13342)
  docs/release-notes/_snippets/9.3.2/index.md
Due: none

Address review feedback
  internal/pkg/otel/manager/execution_subprocess.go
  pkg/component/fake/component/main.go
  pkg/component/runtime/command.go
  pkg/component/runtime/manager.go
  pkg/component/runtime/runtime.go
  pkg/component/runtime/zombie_test_linux.go
  pkg/core/process/external_linux.go
  pkg/core/process/external_unix.go
  pkg/core/process/external_windows.go
  pkg/core/process/process.go
  testing/integration/ess/zombie_helpers_linux_test.go
Due: Trigger Extended tests for Pull request

Move verifier receiver from opentelemetry-collector-components to elastic-agent
  go.mod
  internal/edot/go.mod
  internal/edot/otelcol/components.go
  internal/pkg/otel/receivers/verifierreceiver/README.md
  internal/pkg/otel/receivers/verifierreceiver/config.go
  internal/pkg/otel/receivers/verifierreceiver/config_test.go
  internal/pkg/otel/receivers/verifierreceiver/doc.go
  internal/pkg/otel/receivers/verifierreceiver/factory.go
  internal/pkg/otel/receivers/verifierreceiver/factory_test.go
  internal/pkg/otel/receivers/verifierreceiver/generated_component_test.go
  internal/pkg/otel/receivers/verifierreceiver/generated_package_test.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_logs.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_logs_test.go
  internal/pkg/otel/receivers/verifierreceiver/internal/metadata/generated_status.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/pkg/otel/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/pkg/otel/receivers/verifierreceiver/metadata.yaml
  internal/pkg/otel/receivers/verifierreceiver/receiver.go
  internal/pkg/otel/receivers/verifierreceiver/receiver_test.go
  internal/pkg/otel/receivers/verifierreceiver/registry.go
  internal/pkg/otel/receivers/verifierreceiver/testdata/TESTING.md
  internal/pkg/otel/receivers/verifierreceiver/testdata/agent-simulation.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/config.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/expected-logs.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/otel-config.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/templates/verifier.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-aws.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-azure.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-gcp.yaml
  internal/pkg/otel/receivers/verifierreceiver/testdata/test-standalone.yaml
  internal/pkg/otel/testdata/all-components-fips.yml
  internal/pkg/otel/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

CI fixes
  internal/pkg/otel/receivers/verifierreceiver/config_test.go
  internal/pkg/otel/receivers/verifierreceiver/receiver.go
Due: Trigger Extended tests for Pull request

Rename CC
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/config_test.go
  internal/edot/receivers/verifierreceiver/doc.go
  internal/edot/receivers/verifierreceiver/factory_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/tls_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/edot/receivers/verifierreceiver/receiver.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/testdata/TESTING.md
  internal/edot/receivers/verifierreceiver/testdata/agent-simulation.yaml
  internal/edot/receivers/verifierreceiver/testdata/config.yaml
  internal/edot/receivers/verifierreceiver/testdata/expected-logs.yaml
  internal/edot/receivers/verifierreceiver/testdata/otel-config.yaml
  internal/edot/receivers/verifierreceiver/testdata/templates/verifier.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-aws.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-azure.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-gcp.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
