Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

enhancement(4889): remove unused types
  internal/pkg/agent/cmd/enroll.go
Due: elastic-agent-extended-testing

enhancement(4889): set file ownership of the test file
  internal/pkg/agent/cmd/enroll_match_fileowner_windows_test.go
Due: elastic-agent-extended-testing

enhancement(4889): added test for isOwnerExec for windows
  internal/pkg/agent/cmd/enroll_match_fileowner_windows_test.go
Due: elastic-agent-extended-testing

Update internal/pkg/agent/cmd/enroll_match_fileowner_windows.go
  internal/pkg/agent/cmd/enroll_match_fileowner_windows.go
Due: elastic-agent-extended-testing

enhancement(4889): fix file creation in tests
  internal/pkg/agent/cmd/enroll_match_fileowner_windows_test.go
Due: elastic-agent-extended-testing

enchancement(4889): added log in test
  internal/pkg/agent/cmd/enroll_match_fileowner_windows_test.go
Due: elastic-agent-extended-testing

Remove TestRepeatedInstallUninstall.
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

enhancement(4889): updated summary and issue in changelog
  changelog/fragments/1732656422-add-actionable-error-message-for-enroll-command.yaml
Due: none

enhancement(4889): updated variable name, wrap error when returning error
  internal/pkg/agent/cmd/enroll.go
Due: elastic-agent-extended-testing

enhancement(4889): added comments describing isOwnerExec. fixed type problems with stat.Uid
  internal/pkg/agent/cmd/enroll_match_fileowner_unix.go
  internal/pkg/agent/cmd/enroll_match_fileowner_windows.go
Due: elastic-agent-extended-testing

enhancement(4889): refactored isOwnerExec return
  internal/pkg/agent/cmd/enroll_match_fileowner_unix.go
  internal/pkg/agent/cmd/enroll_match_fileowner_windows.go
Due: elastic-agent-extended-testing

enhancement(4889): differentiating between sid errors
  internal/pkg/agent/cmd/enroll_match_fileowner_windows.go
Due: elastic-agent-extended-testing

enhancment(4889): removed redundant unit tests
  internal/pkg/agent/cmd/enroll_match_fileowner_unix_test.go
  internal/pkg/agent/cmd/enroll_match_fileowner_windows_test.go
Due: elastic-agent-extended-testing

Store AST directly in provider mappings (#6114)
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

use json for docs, use json parser
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Re-enabled notifyFleetAuditUninstall on Windows (#6257)
  changelog/fragments/1733768621-Notify-Fleet-of-uninstall-on-Windows.yaml
  internal/pkg/agent/install/uninstall.go
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

add debug exporter, remove fake component from fixture
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Add comments for setting hosts
  internal/pkg/agent/install/uninstall.go
Due: elastic-agent-extended-testing

docs: add EDOT colletor kube-stack Helm values (#5822)
  changelog/fragments/1729235281-kube-stack-helm-chart.yaml
  deploy/helm/edot-collector/kube-stack/README.md
  deploy/helm/edot-collector/kube-stack/values.yaml
  magefile.go
  testing/integration/otel_helm_test.go
Due: elastic-agent-extended-testing

fix: pin elastic 8.16 version
  deploy/helm/edot-collector/kube-stack/values.yaml
  magefile.go
Due: elastic-agent-extended-testing

Upgrade elastic-agent-libs to 0.17.4
  go.mod
  go.sum
Due: elastic-agent-extended-testing

feat: also update .go-version
  .go-version
Due: elastic-agent-extended-testing

feat: bump to go 1.23.1
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1723829102-Upgrade-to-Go-1.23.1.yaml
  go.mod
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

Revert "feat: also update .go-version"
  .go-version
Due: elastic-agent-extended-testing

feat: bump golangci-lint for go 1.23 support
  Makefile
Due: none

feat: bump to go 1.23.3
  .buildkite/pipeline.yml
  .go-version
  Dockerfile
  Dockerfile.skaffold
  go.mod
  pkg/testing/runner/runner_test.go
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

Revert "feat: bump to go 1.23.1"
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1723829102-Upgrade-to-Go-1.23.0.yaml
  go.mod
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

changelog: update PR url
  changelog/fragments/1723829102-Upgrade-to-Go-1.23.0.yaml
Due: none

Update .golangci.yml
  .golangci.yml
Due: none

feat: bump to go 1.23.2
  .buildkite/pipeline.yml
  .github/workflows/bump-agent-versions.yml
  .go-version
  Dockerfile
  Dockerfile.skaffold
  go.mod
  pkg/testing/runner/runner_test.go
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

feat: update to 1.23.4
  .buildkite/pipeline.yml
  .go-version
  .tool-versions
  Dockerfile
  Dockerfile.skaffold
  go.mod
  pkg/testing/runner/runner_test.go
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

Update .tool-versions
  .tool-versions
Due: none

feat: bump go to 1.23.1
  .buildkite/pipeline.yml
  .go-version
  Dockerfile
  Dockerfile.skaffold
  go.mod
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

feat: bump to go 1.23.0
  .go-version
  .golangci.yml
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1723829102-Upgrade-to-Go-1.23.0.yaml
  go.mod
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

fix(5163): added comment explaining the backoff function, added nolint comment
  internal/pkg/agent/application/upgrade/artifact/download/http/verify_backoff_rtt.go
Due: elastic-agent-extended-testing

chore: update version and appVersion in the elastic-agent helm chart
  deploy/helm/elastic-agent/Chart.yaml
  magefile.go
Due: elastic-agent-extended-testing
