Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

fix conflicts
  dev-tools/mage/pkgtypes.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

run go mod tidy
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

ci: run go mod tidy after beats submodule bump
  .github/workflows/bump-beats-version.yml
Due: none

run mage tidy
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

revert beats update
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

revert beats update
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

Fix flaky TestLogIngestionFleetManaged (#14229)
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

fix conflicts
  internal/pkg/agent/cmd/run.go
Due: Trigger Extended tests for Pull request

remove
  .buildkite/scripts/design.md
Due: Trigger Extended tests for Pull request

Update common_logs_ingestion.go
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

Use sparse checkout for the main pipeline
  catalog-info.yaml
Due: none

Use version 1.6.0 of the plugin
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.agentless-app-release.yaml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

fix more conflicts
  internal/pkg/agent/application/upgrade/step_mark_test.go
Due: Trigger Extended tests for Pull request

Distinguish between core version and package version
  dev-tools/mage/build.go
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/kubernetes/kubernetes.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/darwin/Info.plist.tmpl
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/README.md.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix npm upgrade step in non-wolfi elastic-agent-complete Docker images
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix $NODE_PATH ownership after npm upgrade in Docker images
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Upgrade npm to v11 in non-wolfi elastic-agent-complete Docker images
  changelog/fragments/1778526445-upgrade-npm-elastic-agent-docker.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

linting
  dev-tools/packaging/testing/package_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

handle endpoint-security-resources.zip for Docker images
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix flaky unit tests and skip integration tests broken by OpAMP migration
  internal/pkg/otel/manager/manager_test.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Use redact.REDACTED constant in integration tests
  testing/integration/ess/endpoint_security_test.go
  testing/integration/ess/inspect_test.go
Due: Trigger Extended tests for Pull request

skip flaky test
  testing/integration/ess/policy_change_no_ack_test.go
Due: Trigger Extended tests for Pull request

Use ci-agent-image over generic
  .buildkite/serverless.beats.tests.yml
Due: Trigger Serverless Beats Tests

pass env through
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

explicit files overwrite any conflicting path from dir expansion
  dev-tools/mage/pkgtypes.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

spec.Files is a map not a slice
  dev-tools/mage/pkgtypes.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use redact.REDACTED constant in integration tests (#14214)
  testing/integration/ess/endpoint_security_test.go
  testing/integration/ess/inspect_test.go
Due: Trigger Extended tests for Pull request
