Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Add known issue for osquery in 9.3+ (#13060)
  docs/release-notes/known-issues.md
Due: none

Add and use stdingob otel config provider (#13035)
  internal/edot/cmd/otel.go
  internal/edot/cmd/otel_flags.go
  internal/edot/cmd/otel_flags_test.go
  internal/edot/cmd/otel_test.go
  internal/edot/cmd/validate.go
  internal/edot/go.mod
  internal/edot/otelcol/agentprovider/buffer_provider.go
  internal/edot/otelcol/agentprovider/buffer_provider_test.go
  internal/edot/otelcol/agentprovider/provider.go
  internal/edot/otelcol/agentprovider/provider_test.go
  internal/edot/otelcol/agentprovider/scheme.go
  internal/edot/otelcol/agentprovider/stdingob_provider.go
  internal/edot/otelcol/agentprovider/stdingob_provider_test.go
  internal/edot/otelcol/run.go
  internal/pkg/otel/manager/execution_subprocess.go
Due: Trigger Extended tests for Pull request

Add Cloud Defend Integration Support to Helm Chart
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
  deploy/helm/elastic-agent/templates/integrations/_cloud_defend/_cloud_defend.tpl
  deploy/helm/elastic-agent/templates/integrations/_presets/_pernode.tpl
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
Due: Trigger Extended tests for Pull request

Move package spec loading to settings
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/settings.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Load the needed spec files statically
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Pass package specs explicitly
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/pkgspecs_test.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

add missing cloud-defend mounts
  deploy/helm/elastic-agent/templates/integrations/_presets/_pernode.tpl
Due: Trigger Extended tests for Pull request

point to personal fork
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Reload collector config without restart
  changelog/fragments/1772797146-otel-collector-config-reload.yaml
  internal/pkg/otel/manager/execution.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/execution_subprocess_test.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

[mage] Stop using global package specs (#13058)
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/pkgspecs_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update dev-tools/mage/otel/deps_test.go
  dev-tools/mage/otel/deps_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Bump the version of golangci-lint
  .github/workflows/golangci-lint.yml
Due: none

Update CHANGELOG entry
  changelog/fragments/1758822287-bump-golang-1.25.1.yaml
Due: none

Remove references to the ms_tls13kdf build tag
  dev-tools/packaging/packages.yml
  internal/edot/go.sum
  magefile.go
  wrapper/windows/archive-proxy/go.sum
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use mage target specifically intended for fips140=only unit testing
  .buildkite/scripts/steps/unit-tests.sh
Due: Trigger Extended tests for Pull request

Revert "[Debugging] Print go test command environment right before command is run"
  dev-tools/mage/gotest.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[Debugging] Print go test command environment right before command is run
  dev-tools/mage/gotest.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Download go module dependencies before GODEBUG=fips140=only is set
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix regular expression for matching panicking output
  dev-tools/mage/gotest_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Run dependencies first
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Formatting fixes
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  internal/pkg/agent/application/upgrade/artifact/download/snapshot/downloader_test.go
Due: Trigger Extended tests for Pull request

Set GODEBUG=tlsmlkem=0 for test
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix policy change handler unit tests
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
Due: Trigger Extended tests for Pull request

Fix TestDownloadVersion test
  internal/pkg/agent/application/upgrade/artifact/download/snapshot/downloader_test.go
Due: Trigger Extended tests for Pull request

Append requirefips build tag for fips140=only unit tests
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

No longer necessary
  internal/pkg/agent/application/upgrade/artifact/download/snapshot/downloader_test.go
Due: Trigger Extended tests for Pull request

Add GODEBUG=tlsmlkem=0
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Revert unit test pipeline changes
  .buildkite/scripts/steps/unit-tests.sh
Due: Trigger Extended tests for Pull request

Remove pre-downloading of go modules
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Go version: s/1.25.2/1.25.4/g
  .go-version
  Dockerfile
  changelog/fragments/1758822287-bump-golang-1.25.4.yaml
  dev-tools/mage/otel/deps_test.go
  go.mod
  version/docs/version.asciidoc
  wrapper/windows/archive-proxy/go.mod
Due: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update go version in edot go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

s/1.25.1/1.25.2/g
  .go-version
  Dockerfile
  dev-tools/mage/otel/deps_test.go
  go.mod
  version/docs/version.asciidoc
  wrapper/windows/archive-proxy/go.mod
Due: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Elastic Agent Package
