Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

address review comments
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_nofips_test.go
Due: Trigger Extended tests for Pull request

update comment
  internal/pkg/otel/manager/diagnostics.go
Due: Trigger Extended tests for Pull request

Migrate PR Buildkite Detective onto obs-aw status route.
  .github/workflows/trigger-obs-aw-issue-comment.yml
  .github/workflows/trigger-obs-aw-issues.yml
  .github/workflows/trigger-obs-aw-pull-request.yml
  .github/workflows/trigger-obs-aw-schedule.yml
  .github/workflows/trigger-obs-aw-status.yml
  .github/workflows/trigger-pr-buildkite-detective.yml
Due: none

Remove only the legacy PR Buildkite Detective workflow.
  .github/workflows/trigger-obs-aw-issue-comment.yml
  .github/workflows/trigger-obs-aw-issues.yml
  .github/workflows/trigger-obs-aw-pull-request.yml
  .github/workflows/trigger-obs-aw-schedule.yml
  .github/workflows/trigger-obs-aw-status.yml
Due: none

add bash script for kind provisioner
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/buildkite-k8s-integration-tests-new.sh
  pkg/testing/runner/runner.go
Due: Trigger Extended tests for Pull request

update supported matrix for kind
  pkg/testing/kubernetes/supported.go
Due: Trigger Extended tests for Pull request

add external provisioner
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/ess/external_provisioner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

read agent image reference from docker daemon
  magefile.go
  pkg/testing/kubernetes/image.go
  pkg/testing/kubernetes/kind/provisioner.go
  pkg/testing/kubernetes/supported.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

add kubernetes distro type
  pkg/testing/kubernetes/supported.go
Due: Trigger Extended tests for Pull request

propagate ctx to kind provisioner
  pkg/testing/kubernetes/kind/provisioner.go
Due: Trigger Extended tests for Pull request

promote new k8s-integration-tests.sh script
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/buildkite-k8s-integration-tests-new.sh
  .buildkite/scripts/buildkite-k8s-integration-tests.sh
Due: Trigger Extended tests for Pull request

remove tier-1 and tier-2 jobs duplication
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

make DOCKER_VARIANTS mandatory
  .buildkite/scripts/buildkite-k8s-integration-tests.sh
Due: Trigger Extended tests for Pull request

fix linting issues
  pkg/testing/kubernetes/image.go
Due: Trigger Extended tests for Pull request

feat(edot-collector): support the kube-stack Helm chart on OpenShift
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1788777765-edot-collector-kube-stack-openshift.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/openshift/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  testing/integration/k8s/common.go
  testing/integration/k8s/otel_helm_test.go
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to ebfd78bcf90a
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 736b496fae41
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to d1f6783e7314
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 8d1281ca035e
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Fix stale Buildkite target in bump-golang Updatecli manifest (#16527)
  .ci/updatecli/updatecli-bump-golang.yml
Due: none

container_logs to single filestream.
  changelog/fragments/1788000000-kubernetes-container-logs-glob-input.yaml
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/kubernetes/kubernetes.go
  internal/pkg/agent/application/kubernetes/kubernetes_test.go
  internal/pkg/agent/application/kubernetes/metadata.go
  internal/pkg/agent/configuration/internal.go
  internal/pkg/otel/k8s/config.go
  internal/pkg/otel/k8s/config_test.go
  internal/pkg/otel/k8s/k8s.go
  internal/pkg/otel/k8s/k8s_test.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/translate/input_kubernetes.go
  internal/pkg/otel/translate/input_kubernetes_test.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  testing/integration/k8s/agent_helm_test.go
Due: Trigger Extended tests for Pull request

Add support for Fleet RESTART action (#16332)
  changelog/fragments/1787200000-add-restart-action.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_restart.go
  internal/pkg/agent/application/actions/handlers/handler_action_restart_test.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/application/managed_mode_test.go
  internal/pkg/agent/application/reexec/manager.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/storage/store/state_store.go
  internal/pkg/agent/storage/store/state_store_test.go
  pkg/fleetapi/action.go
  pkg/fleetapi/action_test.go
  testing/integration/ess/restart_action_test.go
Due: Trigger Extended tests for Pull request

Cleanup comment
  internal/pkg/agent/application/coordinator/coordinator.go
Due: Trigger Extended tests for Pull request

[9.5] Fix conflicts in backport: add receiver googlecloudmonitoring (#16516)
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1787053351-add-googlecloudmonitoringreceiver.yaml
  internal/edot/README.md
  internal/edot/components.yml
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components/default.go
  internal/pkg/otel/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

internal/pkg/agent/application/upgrade: suppress spurious warn on fresh volume (#16517)
  changelog/fragments/1788737506-suppress-spurious-warn-absent-symlink-fresh-volume.yaml
  internal/pkg/agent/application/upgrade/cleanup_agent_directories.go
  internal/pkg/agent/application/upgrade/cleanup_agent_directories_test.go
  internal/pkg/agent/application/upgrade/manual_rollback_test.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to 316ed9e1380f
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 060efad3b235
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 48b3a3b6efed
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

Add support for oauth2 on kafka output (#16198)
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1787219101-introduce-kafka-oauth.yaml
  go.mod
  go.sum
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components/default.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/testdata/all-components.yml
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_nofips_test.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_nofips_test.go
  internal/pkg/otel/translate/output_kafka_test.go
  internal/pkg/otel/translate/output_logstash.go
  internal/pkg/otel/translate/output_logstash_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Bump github.com/grpc-ecosystem/grpc-gateway/v2 to v2.30.0 (#16440)
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Add support for Fleet UNINSTALL action
  changelog/fragments/1789200000-add-uninstall-action.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_uninstall.go
  internal/pkg/agent/application/actions/handlers/handler_action_uninstall_test.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/uninstall.go
  internal/pkg/agent/install/uninstall.go
  pkg/fleetapi/action.go
  pkg/fleetapi/action_test.go
  testing/integration/ess/uninstall_action_test.go
Due: Trigger Extended tests for Pull request

move the reporting of status degraded
  internal/pkg/otel/translate/status.go
Due: Trigger Extended tests for Pull request

Add known issue for elastic/fleet-server#7739
  docs/release-notes/known-issues.md
Due: none

typo and extra colon removed
  docs/release-notes/known-issues.md
Due: none

Update docs/release-notes/known-issues.md
  docs/release-notes/known-issues.md
Due: none

match colon enclosure
  docs/release-notes/known-issues.md
Due: none

add colon
  docs/release-notes/known-issues.md
Due: none

Update x/crypto from 0.55.0 to 0.56.0
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[docs] Add known issue for elastic/fleet-server#7739 (#16542)
  docs/release-notes/known-issues.md
Due: none
