Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

Remove devmachine target. A follow-up backport is required
  dev-tools/devmachine/devmachine.go
  magefile.go
Due: elastic-agent-extended-testing

github-actions: filter by current active branches in the repository
  .github/workflows/bump-agent-versions.yml
Due: none

Remove devmachine target. A follow-up backport is required
  .buildkite/pipeline.yml
  catalog-info.yaml
  magefile.go
Due: elastic-agent-extended-testing

Remove devmachine target. A follow-up backport is required
  magefile.go
Due: elastic-agent-extended-testing

Remove devmachine target. A follow-up backport is required
  .buildkite/pipeline.yml
Due: elastic-agent-extended-testing

Move back merged coverage report to build folder (#5799)
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/merge.sh
Due: elastic-agent-extended-testing

Enable Terraform for all the BK integration steps
  .buildkite/bk.integration.pipeline.yml
Due: none

feat: Prevent leaking secrets when logging component model
  internal/pkg/agent/application/coordinator/coordinator.go
  pkg/component/component.go
Due: elastic-agent-extended-testing

Store AST directly in provider mappings (#6114)
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

add changelog entry
  changelog/fragments/1734098868-prevent-leaking-secrets-when-logging-component-model.yaml
Due: none

Add config generation benchmark (#6180)
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/testdata/config.yaml
  internal/pkg/agent/application/coordinator/testdata/variables.yaml
Due: elastic-agent-extended-testing

Remove devmachine target. A follow-up backport is required
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/integration-tests.ps1
Due: elastic-agent-extended-testing

[CI] Backport buildkite integration tests to 8.x (#6322)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yml
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf.sh
  .buildkite/scripts/steps/merge.sh
  .tool-versions
  catalog-info.yaml
  test_infra/ess/deployment.tf
Due: elastic-agent-extended-testing

Avoid unnecessary copies during config generation (#6184)
  changelog/fragments/1733158776-avoid-copies-config-gen.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/ast_test.go
  internal/pkg/agent/transpiler/utils.go
Due: elastic-agent-extended-testing

Exclude the coverage files from the annotate step (#5773)
  .buildkite/pipeline.yml
  dev-tools/mage/gotest.go
Due: elastic-agent-extended-testing

Update internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade.go
Due: elastic-agent-extended-testing

fix: use a different branch name for the auto-updates
  .github/workflows/bump-agent-versions.sh
Due: none

Detect same version upgrade in version check
  internal/pkg/agent/application/upgrade/upgrade.go
  testing/integration/upgrade_standalone_same_commit_test.go
  testing/upgradetest/upgrader.go
Due: elastic-agent-extended-testing

remove double clear
  internal/pkg/agent/application/coordinator/coordinator.go
Due: elastic-agent-extended-testing

Cache conditions when applying variables to config (#6229)
  changelog/fragments/1733411331-cache-conditions-in-config.yaml
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/ast_test.go
Due: elastic-agent-extended-testing

[Release] update version
  version/version.go
Due: elastic-agent-extended-testing

Updating k8s assets
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

ran mage fmt
  internal/pkg/agent/install/uninstall.go
Due: elastic-agent-extended-testing

fix: use a different branch name for the auto-updates (#6335)
  .github/workflows/bump-agent-versions.sh
Due: none

fix: correct agentVersion
  magefile.go
Due: elastic-agent-extended-testing

otel: add test for batch splitting with the elasticsearchexporter
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

fix: mark elastic-agent helm chart with -beta suffix
  magefile.go
Due: elastic-agent-extended-testing

chore: add fragments changelog file
  changelog/fragments/1734023789-add-loadbalancing-exporter-to-EDOT-collector.yaml
Due: none

fix: update chart version and render examples
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
Due: none
