Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

fix: address lint errors introduced by cmux commit
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/manager/opamp_server.go
Due: Trigger Extended tests for Pull request

[mage] Use package-version overrides in helm:package for DRA consistency
  .github/workflows/release-helm-charts-manual.yml
  .github/workflows/release-helm-charts.yml
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: prevent race between otel:prepare and otel:crossBuild
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[mage] Fix unused err variable in Integration.TestOnRemote
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(test): retry agent ID lookup in k8sStepForEachAgentID after pod restart (#16032)
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 8765174920dc
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to fdfe0044d8a8
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to 5ad5d00c29c2
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to dc6b95c03756
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Add support for oauth2 for kafka output
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components/default.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/testdata/all-components.yml
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_nofips_test.go
  internal/pkg/otel/translate/output_kafka_test.go
  internal/pkg/otel/translate/output_logstash.go
  internal/pkg/otel/translate/output_logstash_test.go
Due: Trigger Extended tests for Pull request

Add Heartbeat process-runtime parity guards (#16131)
  pkg/component/heartbeat_runtime_test.go
  testing/integration/ess/heartbeat_monitoring_test.go
Due: Trigger Extended tests for Pull request

[mage] Use package-version overrides in helm:package for DRA consistency (#16190)
  .github/workflows/release-helm-charts-manual.yml
  .github/workflows/release-helm-charts.yml
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

chore: regenerate NOTICE files after adding cmux dependency
  NOTICE-fips.txt
  NOTICE.txt
Due: none

fix: suppress cmux shutdown errors from opamp http server
  internal/edot/go.mod
  internal/edot/go.sum
  internal/pkg/otel/manager/opamp_server.go
Due: Trigger Extended tests for Pull request

Cleanup from code review.
  internal/pkg/otel/translate/common.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

fix ebpf-profiler name lookup for since data and regenerate components table
  docs/reference/edot-collector/components.md
  docs/scripts/update-docs/update-components-docs.py
  internal/edot/components.yml
Due: Trigger Extended tests for Pull request

Apply suggestions from code review
  changelog/fragments/1785446506-size-beat-receiver-queue-for-otel-exporter-concurrency.yaml
Due: none

Address golangci lint in endpoint security tests
  testing/integration/ess/endpoint_security_test.go
Due: Trigger Extended tests for Pull request

Adjust the parameters of elasticsearch output in otel/translate to work best with slabqueue and elasticsearchexporter (#15923)
  changelog/fragments/1785446506-size-beat-receiver-queue-for-otel-exporter-concurrency.yaml
  internal/pkg/otel/translate/common.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

add changelog fragment
  changelog/fragments/1786744535-updatecli_main_bump-golang-version.yaml
Due: none

[9.5][Automation] Update elastic/beats to 98fba7791314
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[Automation] Update Renovate baseBranches to current active branches
  renovate.json
Due: none

fix conflicts in dependabot.yml
  .github/dependabot.yml
Due: none

docs: fix conflict in test docs
  docs/test-framework-dev-guide.md
Due: none

Apply suggestions from code review
  docs/reference/edot-collector/components/elasticsearchexporter.md
Due: none

[9.4][Automation] Update elastic/beats to 3785719268ff
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

Add changelog
  changelog/fragments/1787021059-fix-upgrade-drop-path-artifact.yaml
Due: none

Update tests
  internal/pkg/agent/application/upgrade/artifact/download/fetch_test.go
  internal/pkg/agent/application/upgrade/step_download_test.go
Due: Trigger Extended tests for Pull request

Stop early in copyFile if target is source or source is missing
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 8f4fe1e5dec0
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

Bundle googlecloudmonitoringreceiver in the EDOT Collector
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1787053351-add-googlecloudmonitoringreceiver.yaml
  internal/edot/README.md
  internal/edot/components.yml
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components/default.go
  internal/pkg/otel/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

make all test pass
  internal/pkg/otel/translate/otelconfig_nofips_test.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_nofips_test.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

test: retry getting ESS secrets
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

fix: make backfill script executable
  docs/scripts/update-docs/backfill-component-since.py
Due: none
