Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Fix merge conflict in 9.2 deprecations notes
  docs/release-notes/_snippets/deprecations/9.2.md
Due: none

Fix merge conflict in 9.2 release notes
  docs/release-notes/_snippets/index/9.2.md
Due: none

Allow building agent in Docker rootless mode (#13202)
  dev-tools/mage/crossbuild.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix logic
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

add transform processor correct name
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
  internal/pkg/otel/translate/output_logstash.go
  internal/pkg/otel/translate/output_logstash_test.go
Due: Trigger Extended tests for Pull request

[mb,fb]receiver fix call to NewFactory
  internal/edot/otelcol/components.go
Due: Trigger Extended tests for Pull request

Fix otel test
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Update manifest to 9.2.7-b9dc69b4
  .package-version
Due: Trigger Extended tests for Pull request

Change uses of NewGCM to NewGCMWithRandomNonce (#12599)
  changelog/fragments/1773766154-Use-NewGCMWithRandomNonce-for-encrypted-state-storage.yaml
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/info/agent_id_test.go
  internal/pkg/agent/application/secret/secret_test.go
  internal/pkg/agent/install/uninstall_test.go
  internal/pkg/agent/migration/migrate_config_test.go
  internal/pkg/agent/storage/encrypted_disk_storage_windows_linux_test.go
  internal/pkg/agent/storage/encrypted_disk_store_test.go
  internal/pkg/agent/storage/store/state_store_test.go
  internal/pkg/agent/vault/aesgcm/aesgcm.go
  internal/pkg/agent/vault/aesgcm/aesgcm_test.go
  internal/pkg/agent/vault/vault_file_fips_test.go
  internal/pkg/agent/vault/vault_file_test.go
  internal/pkg/crypto/io.go
  internal/pkg/crypto/io_aesgcm_replace_test.go
  internal/pkg/crypto/io_opts_fips.go
  internal/pkg/crypto/io_opts_fips_test.go
  internal/pkg/crypto/io_opts_nofips.go
  internal/pkg/crypto/io_opts_nofips_test.go
  internal/pkg/crypto/io_test.go
  internal/pkg/testutils/testutils.go
Due: Trigger Extended tests for Pull request

mage fmt
  internal/edot/otelcol/components.go
Due: Trigger Extended tests for Pull request

docs: update generated documentation for v9.3.2
  docs/reference/edot-collector/components.md
  docs/reference/edot-collector/config/default-config-standalone.md
  docs/reference/edot-collector/custom-collector.md
Due: none

Update journald test to set mapping mode via scope
  testing/integration/k8s/testdata/journald-otel.yml
Due: Trigger Extended tests for Pull request

make check-ci
  internal/pkg/otel/translate/output_kafka.go
Due: Trigger Extended tests for Pull request

Update the k8s managed_otlp gateway collector with APM k8s enrichment
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
Due: Trigger Extended tests for Pull request

Add Cloud Defend Integration support to the helm chart (#13074)
  changelog/fragments/1772815729-cloud-defend-helm-chart.yaml
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/examples/README.md
  deploy/helm/elastic-agent/examples/cloud-defend/README.md
  deploy/helm/elastic-agent/examples/cloud-defend/cloud-defend-values.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/NOTES.txt
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
  deploy/helm/elastic-agent/templates/integrations/_cloud_defend/_cloud_defend.tpl
  deploy/helm/elastic-agent/templates/integrations/_presets/_pernode.tpl
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
  testing/integration/k8s/kubernetes_agent_cloud_defend_test.go
Due: Trigger Extended tests for Pull request

Chlog added for enriching apm data with k8s attributes
  changelog/fragments/1773934285-enrich-k8s-edot-gateway-col-with-apm-k8sattributes.yaml
Due: none

resolve conflicts
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
Due: Trigger Extended tests for Pull request

Move compress to config instead of feature flag
  _meta/config/common.reference.p2.yml.tmpl
  elastic-agent.reference.yml
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/configuration/fleet.go
  internal/pkg/fleetapi/checkin_cmd.go
  internal/pkg/fleetapi/checkin_cmd_test.go
  pkg/features/features.go
  pkg/features/features_test.go
  testing/fleetservertest/fleetserver_test.go
  testing/integration/ess/checkin_compress_test.go
Due: Trigger Extended tests for Pull request

Correct changelog fragment
  changelog/fragments/1773175656-Add-feature-flag-to-enable-checkin-request-compression.yaml
Due: none

Fixing conflicts
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
