Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Fix orphaned filelog receiver in EDOT Collector Helm values (#15687)
  changelog/fragments/1784562105-fix-orphaned-filelog-receiver-in-edot-collector-helm-charts.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

Keep FF prep-main PR-A to mergify and version only.
  RELEASE.md
  dev-tools/mage/release/workflows.go
  dev-tools/mage/release/workflows_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

ci: skip docs update workflow for non-latest release tags
  .github/workflows/update-docs.yml
Due: none

docs: update generated docs owner (#15484)
  .github/workflows/update-docs.yml
Due: none

Fix space
  .github/workflows/update-docs.yml
Due: none

ci: request review from ski-docs on generated docs PRs
  .github/workflows/update-docs.yml
Due: none

ci: refactor update-docs into two jobs, drop team-reviewers
  .github/workflows/update-docs.yml
Due: none

Fix diagnostic YAML serialization for zero-value host memory
  pkg/ecsmeta/ecsmeta.go
Due: Trigger Extended tests for Pull request

ci(ff): sync Helm/K8s manifests in prepare-next-release PR-D
  RELEASE.md
  dev-tools/mage/release/README.md
  dev-tools/mage/release/release.go
  dev-tools/mage/release/release_test.go
  dev-tools/mage/release/workflows.go
  dev-tools/mage/release/workflows_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

ci: skip docs update workflow for non-latest release tags (#15734)
  .github/workflows/update-docs.yml
Due: none

Regenerate RuntimeManager mock via mockery and add it to .mockery.yaml
  .mockery.yaml
  internal/pkg/agent/application/actions/handlers/mocks.go
  internal/pkg/agent/application/coordinator/mocks/runtime_manager.go
  internal/pkg/agent/application/info/mocks.go
  internal/pkg/agent/application/upgrade/mocks.go
  internal/pkg/agent/application/upgrade/ttl/mocks.go
  internal/pkg/agent/cmd/mocks.go
  internal/pkg/agent/storage/mocks.go
  internal/pkg/fleetapi/acker/mocks.go
  internal/pkg/fleetapi/client/mocks.go
  pkg/control/v2/client/mocks.go
Due: Trigger Extended tests for Pull request

Drop redundant live-update note from a field comment
  pkg/component/runtime/service.go
Due: Trigger Extended tests for Pull request

Drop remaining method-name reference from a comment
  pkg/component/runtime/manager.go
Due: Trigger Extended tests for Pull request

Trim comments that leaked implementation detail
  pkg/component/runtime/manager.go
  pkg/component/runtime/manager_test.go
  pkg/component/runtime/service.go
Due: Trigger Extended tests for Pull request

Declare Reload on the RuntimeManager interface instead of type-asserting
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
Due: Trigger Extended tests for Pull request

Remove upgrade marker grace period freeze mechanism
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/mocks/runtime_manager.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/configuration/upgrade.go
  pkg/component/runtime/manager.go
  pkg/component/runtime/manager_test.go
  pkg/component/runtime/runtime.go
  pkg/component/runtime/service.go
  pkg/component/runtime/service_test.go
Due: Trigger Extended tests for Pull request

Cap service check-in failure window to a safe margin below the upgrade watcher grace period
  changelog/fragments/1783505837-give-service-runtime-components-more-time-to-check-in-before-failing-an-upgrade.yaml
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/coordinator/coordinator.go
  pkg/component/runtime/manager.go
  pkg/component/runtime/manager_test.go
  pkg/component/runtime/runtime.go
  pkg/component/runtime/service.go
  pkg/component/runtime/service_test.go
Due: Trigger Extended tests for Pull request

Give service-runtime components more time to check in before failing an upgrade
  changelog/fragments/1783505837-give-service-runtime-components-more-time-to-check-in-before-failing-an-upgrade.yaml
  pkg/component/runtime/service.go
  pkg/component/runtime/service_test.go
Due: Trigger Extended tests for Pull request

Simplify grace period handling: plain field on Manager, skip Reload during upgrade
  internal/pkg/agent/application/application.go
  pkg/component/runtime/manager.go
Due: Trigger Extended tests for Pull request

Pin service check-in grace period to upgrade marker during active upgrade
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  pkg/component/runtime/manager.go
Due: Trigger Extended tests for Pull request

Assign upgradeGracePeriod to a variable in NewUpgrader
  internal/pkg/agent/application/upgrade/upgrade.go
Due: Trigger Extended tests for Pull request

Lift upgrade grace period freeze when upgrade reaches terminal state
  internal/pkg/agent/application/actions/handlers/mocks.go
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/mocks/runtime_manager.go
  internal/pkg/agent/application/info/mocks.go
  internal/pkg/agent/application/upgrade/mocks.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/application/upgrade/ttl/mocks.go
  internal/pkg/agent/cmd/mocks.go
  internal/pkg/agent/storage/mocks.go
  internal/pkg/fleetapi/acker/mocks.go
  internal/pkg/fleetapi/client/mocks.go
  pkg/component/runtime/manager.go
  pkg/component/runtime/manager_test.go
  pkg/component/runtime/service_test.go
  pkg/control/v2/client/mocks.go
Due: Trigger Extended tests for Pull request

Add Reload to the generated RuntimeManager mock
  internal/pkg/agent/application/coordinator/mocks/runtime_manager.go
Due: Trigger Extended tests for Pull request

Simplify grace period wiring: drop ManagerOption in favor of a plain setter
  internal/pkg/agent/application/application.go
  pkg/component/runtime/manager.go
Due: Trigger Extended tests for Pull request

ci: add ski-docs as reviewer on generated docs PRs
  .github/workflows/update-docs.yml
Due: none

Fold next-minor docs/manifests into FF PR-A.
  RELEASE.md
  dev-tools/mage/release/README.md
  dev-tools/mage/release/github.go
  dev-tools/mage/release/workflows.go
  dev-tools/mage/release/workflows_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Drop Reload from RuntimeManager; strengthen grace period constraint test
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/mocks/runtime_manager.go
  internal/pkg/agent/configuration/upgrade.go
  pkg/component/runtime/manager.go
  pkg/component/runtime/service.go
  pkg/component/runtime/service_test.go
Due: Trigger Extended tests for Pull request

Fix test assertion
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Fix test assertions
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/metrics_monitoring_test.go
Due: Trigger Extended tests for Pull request

Allow overriding Elastic Agent hostname via environment variable
  testing/integration/ess/hostname_override_test.go
Due: Trigger Extended tests for Pull request
