Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

test: add log assertion to the test
  internal/pkg/agent/application/upgrade/ttl/ttl_marker_source_test.go
Due: Trigger Extended tests for Pull request

[mage] Fix commit hash override (#13823)
  dev-tools/mage/build.go
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/kubernetes/kubernetes.go
  dev-tools/mage/pkg_test.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  dev-tools/packaging/files/linux/filebeat.sh.tmpl
  dev-tools/packaging/files/linux/metricbeat.sh.tmpl
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/darwin/elastic-agent.tmpl
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  dev-tools/packaging/templates/linux/preinstall.sh.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add FIPS-compliant Windows amd64 package
  dev-tools/mage/build.go
  dev-tools/mage/crossbuild.go
  dev-tools/packaging/packages.yml
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add Windows to fips integration test
  testing/integration/ess/fips_test.go
  testing/integration/ess/upgrade_fleet_test.go
  testing/integration/ess/upgrade_integrations_server_test.go
Due: Trigger Extended tests for Pull request

Fix linter warnings
  dev-tools/mage/crossbuild.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Build and test FIPS Windows images
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/buildkite-integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf_fips.ps1
Due: Trigger Extended tests for Pull request

bump(bk): plugin dependency
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

additional merge cleanup
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

update commit_short to core_commit_short
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix cleanup in TestContextProvider
  internal/pkg/composable/providers/filesource/filesource_test.go
Due: Trigger Extended tests for Pull request

Use upstream FIPS module
  dev-tools/mage/build.go
  dev-tools/mage/crossbuild.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

feat: apply review fixes
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/cmd/watch_test.go
Due: Trigger Extended tests for Pull request

Fix commit hash use
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix magefile.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix setup in TestRollbackWithOpts
  internal/pkg/agent/application/upgrade/rollback_test.go
Due: Trigger Extended tests for Pull request

bump(bk): plugin dependency (#14147)
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

Fix privilege change action deduplication
  internal/pkg/agent/application/actions/handlers/handler_action_privilege_level_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_privilege_level_change_unix.go
  internal/pkg/agent/application/actions/handlers/handler_action_privilege_level_change_windows.go
  testing/integration/ess/switch_unprivileged_test.go
Due: Trigger Extended tests for Pull request

reconcile changes from main
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_nofips_test.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  internal/pkg/agent/application/actions/handlers/mocks.go
  internal/pkg/agent/application/gateway/fleet/mocks.go
  internal/pkg/agent/application/info/agent_id.go
  internal/pkg/agent/application/info/agent_id_test.go
  internal/pkg/agent/application/info/agent_info.go
  internal/pkg/agent/application/info/agent_info_test.go
  internal/pkg/agent/application/info/mocks.go
  internal/pkg/agent/application/mocks.go
  internal/pkg/agent/application/upgrade/mocks.go
  internal/pkg/agent/cmd/mocks.go
  internal/pkg/agent/storage/mocks.go
  internal/pkg/fleetapi/acker/mocks.go
  internal/pkg/fleetapi/client/mocks.go
  pkg/component/runtime/runtime_comm_test.go
  pkg/control/v2/client/mocks.go
  testing/fleetservertest/fleetserver_test.go
Due: Trigger Extended tests for Pull request

Apply suggestions from code review
  docs/release-notes/_snippets/9.4.1/index.md
Due: none

Fix assertions in TestCISKeepsRunningOnNonFatalExitCodeFromStart
  pkg/component/runtime/service_test.go
Due: Trigger Extended tests for Pull request

bk: run fips ITs if packaging changes PRs or branches
  .buildkite/integration.pipeline.yml
Due: Trigger Extended tests for Pull request

Fix race condition in TestAgentStartShutdown
  internal/pkg/agent/cmd/run.go
  testing/integration/ess/agent_start_shutdown_test.go
Due: Trigger Extended tests for Pull request

Fix linter warnings
  pkg/component/runtime/service_test.go
Due: Trigger Extended tests for Pull request

Fix update-otel.sh to bring all dependencies up to date, not only those matching the component status component.
  .ci/scripts/update-otel.sh
Due: none

kb(k8s): bk pipeline for running k8s
  .buildkite/k8s-testing-pipeline.yml
  catalog-info.yaml
Due: none

just a dummy
  .buildkite/k8s-testing-pipeline.yml
  catalog-info.yaml
Due: none

Apply suggestion from @v1v
  catalog-info.yaml
Due: none

kb(k8s): bk pipeline for running k8s based on tiers
  .buildkite/k8s-testing-pipeline.yml
  .buildkite/scripts/upload-k8s-tests.sh
  catalog-info.yaml
Due: Trigger Extended tests for Pull request
