Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Add FIPS test to detect new golang.org/x/crypto imports
  internal/edot/otelcol/components/fips_xcrypto_test.go
Due: Trigger Extended tests for Pull request

Fix TestMonitoringNoDuplicates flakiness
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Lower maxAllowedDuplicates from 20 to 10
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Revert context deadline change, keep assertion fix only
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Raise maxAllowedDuplicates to 20 (observed maximum)
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Set maxAllowedDuplicates to 30
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Fix: restore kafka/prometheus/heartbeat receivers in non-FIPS builds
  internal/edot/otelcol/components/components_nofips.go
Due: Trigger Extended tests for Pull request

Improve x/crypto FIPS test comments with precise risk analysis
  internal/edot/otelcol/components/fips_xcrypto_test.go
Due: Trigger Extended tests for Pull request

Drop stack requirement for TestSystemMetricsWithKafkaOutput
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Restructure kafka output transform processor config
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

Revert "Restructure kafka output transform processor config"
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

Update otel_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Aggregate mixed receiver status correctly
  internal/pkg/otel/translate/status.go
  internal/pkg/otel/translate/status_test.go
Due: Trigger Extended tests for Pull request

Add ability to disable partial reload
  internal/pkg/agent/application/application.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  pkg/component/component.go
Due: Trigger Extended tests for Pull request

Retry transient network failures in mage packaging targets
  dev-tools/mage/common.go
  dev-tools/mage/downloads/utils.go
  dev-tools/mage/downloads/utils_test.go
  dev-tools/mage/lint.go
  dev-tools/mage/manifest/manifestspecs.go
  dev-tools/mage/manifest/manifestspecs_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use exponential backoff in the devtools Retry helper
  dev-tools/mage/common.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix linter warnings
  dev-tools/mage/common.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[Flaky Test] Fix TestMonitoringNoDuplicates flakiness (#15514)
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

[IAR] Remove helmchart artifact copy workaround (#15505)
  .buildkite/pipeline.elastic-agent-package.yml
Due: Trigger Elastic Agent Package

Override fleet.ssl.certificate_authorities from env vars in container mode (#15427)
  changelog/fragments/1783541510-container-fleet-ca-override.yaml
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
  testing/integration/ess/container_cmd_test.go
Due: Trigger Extended tests for Pull request

[deps] Add k8s-ecosystem group to Dependabot config
  .github/dependabot.yml
Due: none

Fix lint warning
  testing/integration/ess/osquery_monitoring_test.go
Due: Trigger Extended tests for Pull request

Allow running local sudo tests on MacOS.
  pkg/testing/local/runner.go
  pkg/testing/runner/runner.go
Due: Trigger Extended tests for Pull request

Drop unused retryCount
  dev-tools/mage/downloads/utils.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Added guidance on forwarding signals to a self-managed Gateway Collector. Included configuration examples and emphasized the vendor-agnostic nature of the setup.
  docs/reference/edot-collector/config/default-config-standalone.md
Due: none
