Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Run Ironbank Dockerfile permissions test in CI after packaging
  .buildkite/scripts/steps/package.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove changelog fragment for test-only change
  changelog/fragments/1789153486-add-ironbank-dockerfile-permissions-integration-test.yaml
Due: none

Add elastic-agent.yml to fake agent tarball in Ironbank test
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use pre-built ironbank build context and agent tarball instead of fake stubs
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix golangci-lint issues in ironbank dockerfile test
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Switch Ironbank test from exec.Command to Moby Docker client SDK
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: resolve merge conflicts in 8.19 backport of #16173
  pkg/utils/perm_windows.go
  pkg/utils/perm_windows_test.go
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to fda1180ff396
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 57cc21a93bf4
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 868eee045ba3
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

feat: migrate elastic-agent-core DRA to dra-prep-buildkite-plugin
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/scripts/stage_artifacts.sh
Due: Trigger Extended tests for Pull request

docs: update docs
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

[Release] update version
  version/version.go
Due: Trigger Extended tests for Pull request

fix: inline dra-prep plugin config to avoid env var expansion issue
  .buildkite/pipeline.elastic-agent-binary-dra.yml
Due: none

Fix fleet integration test failures with local stack + Docker provisioner
  pkg/testing/docker/Dockerfile
  testing/integration/ess/auditd_monitoring_test.go
  testing/integration/ess/heartbeat_monitoring_test.go
  testing/integration/ess/monitoring_probe_reload_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
Due: Trigger Extended tests for Pull request

minor fixes and refactors
  testing/integration/ess/auditd_monitoring_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/testdata/network_traffic_package.json
Due: Trigger Extended tests for Pull request

Update docs
  docs/test-framework-dev-guide.md
Due: none

docs: refresh gateway forwarding section for 9.5 naming and current samples
  docs/reference/edot-collector/config/default-config-standalone.md
Due: none

docs: fix broken elasticapm links and a missed rename on the standalone config page
  docs/reference/edot-collector/config/default-config-standalone.md
Due: none

Add Elastic Agent 9.4.7+build202609161309 IAR release notes
  docs/release-notes/_snippets/9.4.7+build202609161309/breaking-changes.md
  docs/release-notes/_snippets/9.4.7+build202609161309/deprecations.md
  docs/release-notes/_snippets/9.4.7+build202609161309/index.md
  docs/release-notes/_snippets/index/9.4.md
Due: none

Add Elastic Agent 9.5.4+build202609161310 IAR release notes
  docs/release-notes/_snippets/9.5.4+build202609161310/breaking-changes.md
  docs/release-notes/_snippets/9.5.4+build202609161310/deprecations.md
  docs/release-notes/_snippets/9.5.4+build202609161310/index.md
  docs/release-notes/_snippets/index/9.5.md
Due: none

Fix release notes: accurate BC pipeline notes, remove incorrect item
  docs/release-notes/_snippets/9.5.4+build202609161310/index.md
Due: none

Fix release notes: accurate BC pipeline notes, remove incorrect item
  docs/release-notes/_snippets/9.4.7+build202609161309/index.md
Due: none

Pass a *paths.Path to the elastic-agent-libs logp configure helpers (#16447)
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  internal/pkg/agent/cmd/watch.go
  pkg/core/logger/logger.go
Due: Trigger Extended tests for Pull request

Apply style: Elastic Defend (no substitution), imperative verb tense
  docs/release-notes/_snippets/9.4.7+build202609161309/index.md
Due: none

Apply style: Elastic Defend (no substitution), imperative verb tense
  docs/release-notes/_snippets/9.5.4+build202609161310/index.md
Due: none

Revert "Apply style: Elastic Defend (no substitution), imperative verb tense"
  docs/release-notes/_snippets/9.5.4+build202609161310/index.md
Due: none

Revert "Apply style: Elastic Defend (no substitution), imperative verb tense"
  docs/release-notes/_snippets/9.4.7+build202609161309/index.md
Due: none

Apply reviewer suggestion: use 'Elastic Defend', imperative verb tense
  docs/release-notes/_snippets/9.4.7+build202609161309/index.md
Due: none

Apply reviewer suggestion: use 'Elastic Defend', imperative verb tense
  docs/release-notes/_snippets/9.5.4+build202609161310/index.md
Due: none

Add Elastic Agent 9.4.7+build202609161309 IAR release notes (#16683)
  docs/release-notes/_snippets/9.4.7+build202609161309/breaking-changes.md
  docs/release-notes/_snippets/9.4.7+build202609161309/deprecations.md
  docs/release-notes/_snippets/9.4.7+build202609161309/index.md
  docs/release-notes/_snippets/index/9.4.md
Due: none

Add Elastic Agent 9.5.4+build202609161310 IAR release notes (#16684)
  docs/release-notes/_snippets/9.5.4+build202609161310/breaking-changes.md
  docs/release-notes/_snippets/9.5.4+build202609161310/deprecations.md
  docs/release-notes/_snippets/9.5.4+build202609161310/index.md
  docs/release-notes/_snippets/index/9.5.md
Due: none

Improve container-log rewrite heuristic with confidence scoring
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/kubernetes/kubernetes.go
  internal/pkg/agent/application/kubernetes/kubernetes_test.go
  pkg/testing/kubernetes/kind/provisioner.go
Due: Trigger Extended tests for Pull request

Fix staticcheck warnings in kubernetes_test.go
  internal/pkg/agent/application/kubernetes/kubernetes_test.go
Due: Trigger Extended tests for Pull request

Sync agentic workflow files from elastic/oblt-aw
  .github/workflows/trigger-obs-aw-issue-comment.yml
  .github/workflows/trigger-obs-aw-issues.yml
  .github/workflows/trigger-obs-aw-pull-request.yml
  .github/workflows/trigger-obs-aw-schedule.yml
  .github/workflows/trigger-obs-aw-status.yml
Due: none

fix: remove extra blank line in fetch.go to pass goimports lint
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
