Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Update pipeline.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

fix(windows): local privilege escalation via binary tampering on unprivileged installs (#16058)
  changelog/fragments/1786027979-fix-local-privilege-escalation-via-binary-tampering-on-windows-unprivileged-installs.yaml
  internal/pkg/agent/perms/opts.go
  internal/pkg/agent/perms/unix_test.go
  pkg/utils/perm_windows.go
  pkg/utils/perm_windows_test.go
  testing/installtest/checks_windows.go
Due: Trigger Extended tests for Pull request

fix: correct casing to lowercase streams (matches actual GitHub team slug)
  catalog-info.yaml
Due: none

Don't override settings for the custom preset.
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

Rename ingest-fp team reference to Streams (#16138)
  catalog-info.yaml
Due: none

fix: resolve 8.19 Windows permissions backport conflict
  pkg/utils/perm_windows.go
  pkg/utils/perm_windows_test.go
Due: Trigger Extended tests for Pull request

Fix conflicts
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[mage] Unify packaging targets (#14871)
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/package.sh
  AGENTS.md
  README.md
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  docs/test-framework-dev-guide.md
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

[ci] Clone beats branch matching EA branch for serverless tests; disable local package metadata (#16110)
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/beats_tests.sh
Due: Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, DRY RUN publish to serverless

[8.19][Automation] Update elastic/beats to ada4ac71c519
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

docs: update generated documentation for v9.5.1
  docs/reference/edot-collector/components.md
  docs/reference/edot-collector/config/default-config-standalone.md
  docs/reference/edot-collector/custom-collector.md
Due: none

[beatreceiver] Fallback to process runtime if kafka + kerberos is enabled
  changelog/fragments/1786460214-fallback-process-runtime-kerberos.yaml
  internal/pkg/otel/translate/output_kafka.go
Due: Trigger Extended tests for Pull request

fix(ci): add retry logic to ESS metadata set_buildkite_metadata function
  .buildkite/scripts/steps/ess_start.sh
Due: Trigger Extended tests for Pull request

fix(ci): verify ESS metadata written before FIPS test matrix starts
  .buildkite/scripts/steps/ess_start.sh
  .buildkite/scripts/steps/integration_tests_tf_fips.ps1
Due: Trigger Extended tests for Pull request

fix(ci): guard against empty ESS metadata values before retrying
  .buildkite/scripts/steps/ess_start.sh
Due: Trigger Extended tests for Pull request

revert: restore original error message in integration_tests_tf_fips.ps1
  .buildkite/scripts/steps/integration_tests_tf_fips.ps1
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 77136f9aa3ee
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to 2d82b045b313
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to c37262a782cd
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

docs: update contrib Collector ECH section to reflect mOTLP GA availability
  docs/reference/edot-collector/upstream-collector.md
Due: none

chore: update Beats to 92c1b056c831
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Use opamp for otel collector monitoring
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/testing/components.go
  internal/pkg/otel/manager/execution.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/execution_subprocess_test.go
  internal/pkg/otel/manager/healthcheck.go
  internal/pkg/otel/manager/healthcheck_test.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/manager/opamp_inject.go
  internal/pkg/otel/manager/opamp_inject_test.go
  internal/pkg/otel/manager/opamp_server.go
  internal/pkg/otel/manager/opamp_server_test.go
  internal/pkg/otel/manager/opamp_translate.go
  internal/pkg/otel/manager/opamp_translate_test.go
Due: Trigger Extended tests for Pull request

chore: update Beats to 92c1b056c831 (#16167)
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Fix flaky unit tests and skip integration tests broken by OpAMP migration
  internal/pkg/otel/manager/manager_test.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Fix dangling symlink when changeSymlink rotates to a non-existent target (#14238)
  changelog/fragments/1778666423-fix-dangling-symlink-when-rotating-to-a-non-existent-target.yaml
Due: none

fix: emit STOPPED for otel-managed components when collector stops
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Remove stale nolint:gosec directive from opamp_translate_test.go
  internal/pkg/otel/manager/opamp_translate_test.go
Due: Trigger Extended tests for Pull request

Fix linter warnings
  internal/pkg/otel/manager/opamp_translate_test.go
Due: Trigger Extended tests for Pull request

fix: correct parameter names and signatures after rebase
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

fix conflicts
  .github/dependabot.yml
Due: none

[mage] Load .package-version by default only for select targets
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/helm-charts.sh
  .buildkite/scripts/steps/package.sh
  dev-tools/mage/crossbuild.go
  dev-tools/mage/packageversion.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  docs/test-framework-dev-guide.md
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

test(k8s): regression test + fix for kubernetes metrics RBAC deadlock (#15666)
  changelog/fragments/1785319944-k8s-rbac-deadlock-regression-test.yaml
  go.sum
  testing/integration/k8s/kubernetes_agent_helm_rbac_deadlock_test.go
Due: Trigger Extended tests for Pull request

[beatreceiver] Fallback to process runtime if kafka + kerberos is enabled (#16165)
  changelog/fragments/1786460214-fallback-process-runtime-kerberos.yaml
  internal/pkg/otel/translate/output_kafka.go
Due: Trigger Extended tests for Pull request

[9.4] [beatreceiver] Fallback to process runtime when kafka + kerberos is enabled (#16144)
  changelog/fragments/1786460214-fallback-process-runtime-kerberos.yaml
  internal/pkg/otel/translate/output_kafka.go
Due: Trigger Extended tests for Pull request

Verify provisioning ESS variables to buildkite agents (#16166)
  .buildkite/scripts/steps/ess_start.sh
Due: Trigger Extended tests for Pull request
