Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Add warning to skip Elastic Agent 9.3.4 release (#14984)
  docs/release-notes/_snippets/9.3.4/index.md
  docs/release-notes/known-issues.md
Due: none

docs: update docs
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

bk: enable test reports for all the branches
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
  docs/test-framework-dev-guide.md
Due: Trigger Extended tests for Pull request

tag for fips
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

updatecli: use searchpattern
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: none

Apply suggestions from code review
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

updatecli: use searchpattern (#15008)
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: none

[otel]: set profiles feature-gates flag if profiles pipeline is configured
  changelog/fragments/1781862490-profiles-feature-gate.yaml
  internal/pkg/otel/manager/confmap.go
  internal/pkg/otel/manager/confmap_test.go
  internal/pkg/otel/manager/execution_subprocess.go
Due: Trigger Extended tests for Pull request

Update kube-stack to 0.16.0 and fix AGENT_OTEL boolean
  changelog/fragments/1781862946-Bump-OpenTelemetry-kube-stack-version-to-0.16.0.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  testing/integration/k8s/k8s.go
  testing/integration/k8s/testdata/opentelemetry-kube-stack/Chart.lock
  testing/integration/k8s/testdata/opentelemetry-kube-stack/Chart.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/README.md
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/Chart.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/UPGRADING.md
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/conf/crds/crd-opentelemetry.io_opampbridges.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/conf/crds/crd-opentelemetry.io_targetallocators.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/conf/crds/crd-opentelemetrycollector.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/conf/crds/crd-opentelemetryinstrumentation.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/templates/clusterrole.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/templates/clusterrolebinding.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/templates/deployment.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/templates/extramanifests.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/templates/service.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/templates/tests/test-service-connection.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/templates/verticalpodautoscaler.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/values.schema.json
  testing/integration/k8s/testdata/opentelemetry-kube-stack/charts/opentelemetry-operator/values.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/ci/daemonset-ta-no-scrape-config-file.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/templates/_config.tpl
  testing/integration/k8s/testdata/opentelemetry-kube-stack/templates/_helpers.tpl
  testing/integration/k8s/testdata/opentelemetry-kube-stack/templates/hooks.yaml
  testing/integration/k8s/testdata/opentelemetry-kube-stack/values.schema.json
  testing/integration/k8s/testdata/opentelemetry-kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

Apply suggestion from @v1v
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: none

ci: pass stack_build_id to ess_up in all callers (#14985)
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
  .buildkite/scripts/steps/ess_start_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_tf.ps1
Due: Trigger Extended tests for Pull request

[mage] Set SNAPSHOT=true by default (#14805)
  .buildkite/pipeline.elastic-agent-helm-charts.yml
  .buildkite/scripts/steps/build-agent-core.sh
  README.md
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  docs/test-framework-dev-guide.md
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(tests): add t.Cleanup(wg.Wait) to prevent goroutine leaks after test failure
  testing/integration/ess/agent_start_shutdown_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

fix(tests): replace hardcoded \"default\" namespace with info.Namespace in policy updates
  testing/integration/ess/container_cmd_test.go
  testing/integration/ess/event_logging_test.go
  testing/integration/ess/metrics_monitoring_test.go
Due: Trigger Extended tests for Pull request

fix(tests): add telemetry.metrics.level: none to OTel service blocks
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

fix(tests): accept DEGRADED component state when ES output is unreachable
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

fix(tests): use require.EventuallyWithT to avoid t.FailNow from goroutines
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/fqdn_test.go
  testing/integration/ess/metrics_monitoring_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

fix(tests): replace os.CreateTemp with os.WriteFile to avoid held file handles
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Fix merge for Otel configurations
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/testdata/config_fleet.yaml
  internal/pkg/agent/application/coordinator/testdata/service_populated.yaml
  internal/pkg/agent/cmd/run.go
Due: Trigger Extended tests for Pull request

not needed opts remove
  internal/pkg/agent/application/coordinator/coordinator.go
Due: Trigger Extended tests for Pull request

lint
  internal/pkg/agent/cmd/run.go
Due: Trigger Extended tests for Pull request

handle errors
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/cmd/run.go
Due: Trigger Extended tests for Pull request

go mod
  go.mod
Due: Trigger Extended tests for Pull request

[chore][coordinator]: give each subtest its own context
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
Due: Trigger Extended tests for Pull request

ci: cost attribution (#14972)
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request
