Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Audience rename
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/config_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/tls_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request

Remove NS and dataset
  internal/edot/receivers/verifierreceiver/README.md
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/receiver.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/testdata/TESTING.md
  internal/edot/receivers/verifierreceiver/testdata/agent-simulation.yaml
  internal/edot/receivers/verifierreceiver/testdata/config.yaml
  internal/edot/receivers/verifierreceiver/testdata/otel-config.yaml
  internal/edot/receivers/verifierreceiver/testdata/templates/verifier.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-aws.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-azure.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-gcp.yaml
  internal/edot/receivers/verifierreceiver/testdata/test-standalone.yaml
Due: Trigger Extended tests for Pull request

Use IRSA when available
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
Due: Trigger Extended tests for Pull request

Rewrite API calls and leave CSPM, Asset registry
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/config_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/verifier.go
  internal/edot/receivers/verifierreceiver/receiver.go
  internal/edot/receivers/verifierreceiver/receiver_test.go
  internal/edot/receivers/verifierreceiver/registry.go
Due: Trigger Extended tests for Pull request

Create go.sum
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[beatreceiver] Remove redundant add_fields processors (#13417)
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_otel.yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_process.yaml
  internal/pkg/agent/application/monitoring/component/v1_monitor.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

Revert "[agent] Fix a few bugs related to logging for fleet-managed mode (#13244)"
  changelog/fragments/1774000686-fix-logging.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
Due: Trigger Extended tests for Pull request

fix conflicts
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

Revert "[agent] Fix a few bugs related to logging for fleet-managed mode (#13244)" (#13460)
  changelog/fragments/1774000686-fix-logging.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Fix TestClassicAndReceiverAgentMonitoring OTel test queries
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

add the 8.19.14 Elastic Agent release notes
  changelog/8.19.14.asciidoc
  changelog/8.19.14.yaml
  changelog/fragments/1758822287-bump-golang-1.25.8.yaml
  changelog/fragments/1772715054-cloud-defend-procfs.yaml
  changelog/fragments/1772815729-cloud-defend-helm-chart.yaml
  changelog/fragments/1773138205-update-otel-components-to-v0.145.0.yaml
  changelog/fragments/1773217838-main.yaml
  changelog/fragments/1773392178-fix-agent-buildtime.yaml
  changelog/fragments/1773697016-Prevent-zombie-processes-when-component-fails-to-shutdown.yaml
  changelog/fragments/1773760327-fix-container-enrollment-to-not-re-enroll-when-the-fleet_url-is-the-same.yaml
  changelog/fragments/1773838908-update-otel-components-to-v0.147.0.yaml
  changelog/fragments/1774382936-update-otel-to-v1.54.0-v0.148.0.yaml
  changelog/fragments/1774970286-dependency-upgrade-nodejs-v22.22.2.yaml
Due: none

fix PR entries
  changelog/8.19.14.asciidoc
  changelog/8.19.14.yaml
Due: none

fix duplicated OTel update entry
  changelog/8.19.14.asciidoc
  changelog/8.19.14.yaml
Due: none

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

add the 9.2.8 Elastic Agent release notes
  changelog/9.2.8.yaml
  changelog/fragments/1758822287-bump-golang-1.25.8.yaml
  changelog/fragments/1770671850-otel-monitoring-log-feedback.yaml
  changelog/fragments/1773760327-fix-container-enrollment-to-not-re-enroll-when-the-fleet_url-is-the-same.yaml
  changelog/fragments/1773935030-update-otel-components-to-v0.147.0.yaml
  changelog/fragments/1774970286-dependency-upgrade-nodejs-v22.22.2.yaml
  docs/release-notes/_snippets/9.2.8/breaking-changes.md
  docs/release-notes/_snippets/9.2.8/deprecations.md
  docs/release-notes/_snippets/9.2.8/index.md
  docs/release-notes/_snippets/breaking-changes/9.2.md
  docs/release-notes/_snippets/deprecations/9.2.md
  docs/release-notes/_snippets/index/9.2.md
Due: none

fix PR entries
  changelog/9.2.8.yaml
  docs/release-notes/_snippets/9.2.8/index.md
Due: none

add the 9.3.3 Elastic Agent release notes
  changelog/9.3.3.yaml
  changelog/fragments/1758822287-bump-golang-1.25.8.yaml
  changelog/fragments/1772815729-cloud-defend-helm-chart.yaml
  changelog/fragments/1773760327-fix-container-enrollment-to-not-re-enroll-when-the-fleet_url-is-the-same.yaml
  changelog/fragments/1773918025-update-otel-components-to-v0.147.0.yaml
  changelog/fragments/1774382936-update-otel-to-v1.54.0-v0.148.0.yaml
  changelog/fragments/1774970286-dependency-upgrade-nodejs-v22.22.2.yaml
  docs/release-notes/_snippets/9.3.3/breaking-changes.md
  docs/release-notes/_snippets/9.3.3/deprecations.md
  docs/release-notes/_snippets/9.3.3/index.md
  docs/release-notes/_snippets/breaking-changes/9.3.md
  docs/release-notes/_snippets/deprecations/9.3.md
  docs/release-notes/_snippets/index/9.3.md
Due: none

fix PR links
  changelog/9.3.3.yaml
  docs/release-notes/_snippets/9.3.3/index.md
Due: none

Update version
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Config validations, gcp client fix
  internal/edot/receivers/verifierreceiver/config.go
  internal/edot/receivers/verifierreceiver/config_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
Due: Trigger Extended tests for Pull request

docs: update generated documentation for v9.3.2
  docs/reference/edot-collector/components.md
Due: none

Strip Unit.Config from components diagnostic files to prevent secret leakage (#13338)
  changelog/fragments/1774617287-strip-unit-config-from-components-diagnostics.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/diagnostics_test.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

fix ci tests
  internal/pkg/agent/application/coordinator/diagnostics_test.go
Due: Trigger Extended tests for Pull request
