Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Link the 9.4.8 security notice to ESA-2026-194.
  docs/release-notes/_snippets/9.4.8/index.md
Due: none

Link the 9.5.5 security notice to ESA-2026-194.
  docs/release-notes/_snippets/9.5.5/index.md
Due: none

Link the 8.19.23 security notice to ESA-2026-194.
  changelog/8.19.23.asciidoc
Due: none

[main][Automation] Update elastic/beats to e30e9beb7d31
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to e16fb5e56c20
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to fd0a2d1c0822
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Fix ESToOTelConfig call in backported test to match 9.5 signature
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

Add security advisory notice to the 9.4.8 release notes. (#17054)
  docs/release-notes/_snippets/9.4.8/index.md
Due: none

Add security advisory notice to the 9.5.5 release notes. (#17055)
  docs/release-notes/_snippets/9.5.5/index.md
Due: none

fix missing signature errors
  pkg/testing/kubernetes/microshift/provisioner.go
Due: Trigger Extended tests for Pull request

use default checkout for orka smoke steps
  .buildkite/macos.integration.pipeline.yml
Due: none

Add integration test for Ironbank Dockerfile yml file permissions (#16584)
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/dockervariants.go
  dev-tools/mage/ironbank_dockerfile_test.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/testing/package_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

run integration tests under sudo on macos
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/steps/integration_tests_oblt-cli.sh
Due: Trigger Extended tests for Pull request

[kube-stack] Switch apm aggregated metrics to _otlp ES native endpoint
  deploy/helm/edot-collector/kube-stack/README.md
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

fix(elasticmonitoringreceiver): don't deadlock when Shutdown is called without Start
  internal/edot/receivers/elasticmonitoring/receiver.go
  internal/edot/receivers/elasticmonitoring/receiver_test.go
Due: Trigger Extended tests for Pull request

set ess test package for macos smoke
  .buildkite/macos.integration.pipeline.yml
Due: none

fix agent OOM kills on MicroShift
  pkg/testing/kubernetes/microshift/provisioner.go
Due: Trigger Extended tests for Pull request

test: fix startup of Azure Event Hub receiver
  internal/edot/otelcol/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

test: fix AWS Cloud Watch receiver startup failure
  internal/edot/otelcol/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

test: fix MongoDB receiver startup
  internal/edot/otelcol/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

test: fix panic in `TestStartCollector/nonexistent-component.yml`
  internal/edot/otelcol/run_test.go
Due: Trigger Extended tests for Pull request

test: fix race in `TestStartCollector/nonexistent-component.yml`
  internal/edot/otelcol/run_nofips_test.go
Due: Trigger Extended tests for Pull request

fix: enable OTel profiles feature gate on config update (#16888)
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1790673585-fix-otel-profiles-pipeline-hot-update-restart.yaml
  go.mod
  go.sum
  internal/edot/go.sum
  internal/pkg/otel/manager/confmap.go
  internal/pkg/otel/manager/confmap_test.go
  internal/pkg/otel/manager/execution_subprocess.go
Due: Trigger Extended tests for Pull request

test: fix TestStartCollectorFIPS to not succeed when it should fail
  internal/edot/otelcol/run_fips_test.go
Due: Trigger Extended tests for Pull request

[kube-stack] Switch apm aggregated metrics to _otlp ES native endpoint (#16832)
  deploy/helm/edot-collector/kube-stack/README.md
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

test: fix config in FIPS mode
  internal/edot/otelcol/testdata/all-components-fips.yml
Due: Trigger Extended tests for Pull request

test: use non-deprecated component names
  internal/edot/otelcol/testdata/all-components-fips.yml
  internal/edot/otelcol/testdata/all-components.windows.yml
  internal/edot/otelcol/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

Fix cacheprog root dir resolution
  .buildkite/hooks/pre-command.ps1
  .buildkite/scripts/setup-cacheprog.sh
Due: Trigger Extended tests for Pull request

Add worked RCA example and events-log guidance to IT RCA skill
  .agents/skills/elastic-agent-diagnostics/references/bundle-layout.md
  .agents/skills/elastic-agent-diagnostics/references/playbooks.md
  .agents/skills/elastic-agent-it-failure-rca/SKILL.md
  .agents/skills/elastic-agent-it-failure-rca/examples/shared-stack-shard-limit.md
  .agents/skills/elastic-agent-it-failure-rca/references/locating-the-failure.md
  .agents/skills/elastic-agent-it-failure-rca/references/rca-playbook.md
Due: none

Correct dynamic-inputs runtime default in runtimes reference
  .agents/skills/elastic-agent-diagnostics/references/runtimes.md
Due: none

Note that the dynamic-inputs default on main is still undecided
  .agents/skills/elastic-agent-diagnostics/references/runtimes.md
Due: none

Add security advisory note to the release notes for 9.5.2
  docs/release-notes/_snippets/9.4.6/index.md
  docs/release-notes/_snippets/9.5.2/index.md
Due: none

Remove the uninstall token, don't proxy to Endpoint
  internal/pkg/agent/application/actions/handlers/handler_action_uninstall.go
  internal/pkg/agent/application/actions/handlers/handler_action_uninstall_test.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/managed_mode.go
  pkg/fleetapi/action.go
  pkg/fleetapi/action_test.go
Due: Trigger Extended tests for Pull request

ci: drop updatecli singlebranch
  .ci/updatecli/update-otel.yml
  .ci/updatecli/updatecli-bump-edot.yml
  .ci/updatecli/updatecli-bump-golang.yml
  .ci/updatecli/updatecli-bump-kube-stack.yml
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: none

ci(docs): run update-docs from main and fix components.yml link (#17049)
  .github/workflows/update-docs.yml
  docs/reference/edot-collector/components.md
  docs/reference/edot-collector/config/default-config-standalone.md
  docs/reference/edot-collector/custom-collector.md
Due: none

update application agents docker images
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

use t.Context() in tests
  changelog/fragments/1789390360-read-agent-tags-from-policy.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
