Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Sync K8s:
  label: Sync K8s
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: family/core-ubuntu-2204
  env:
  - GH_VERSION=2.4.0

elastic-agent-extended-testing:
  trigger: elastic-agent-extended-testing
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

mage: run mage update steps in parallel (#6871)
  magefile.go
Due: elastic-agent-extended-testing

[CI] New upgrade-flavor test group for TestStandaloneUpgrade_Flavor tests (#6870)
  .buildkite/bk.integration.pipeline.yml
  testing/integration/groups_test.go
  testing/integration/upgrade_standalone_flavors_test.go
Due: elastic-agent-extended-testing

chore: update config to reflect degrade_on_partial (#6640)
  _meta/config/common.p2.yml.tmpl
  _meta/config/common.reference.p2.yml.tmpl
  _meta/elastic-agent.yml
  elastic-agent.reference.yml
  elastic-agent.yml
Due: none

Add statePersistence value to helm chart presets (#6803)
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/_pod_template.yaml
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
Due: none

Add a test for empty local provider (#6894)
  internal/pkg/composable/controller_test.go
Due: elastic-agent-extended-testing

after comparison
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

ignore agent.version
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Fix race in error handling.
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: elastic-agent-extended-testing

Add changelog.
  changelog/fragments/1739981369-Fix-deadlock-in-OTelManager.yaml
Due: none

Never split metrics requests in batchprocessor
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: none

feat: bump go to 1.23.2 (#5309)
  .buildkite/pipeline.yml
  .github/workflows/bump-agent-versions.yml
  .go-version
  .golangci.yml
  .tool-versions
  Dockerfile
  Dockerfile.skaffold
  Makefile
  changelog/fragments/1723829102-Upgrade-to-Go-1.23.0.yaml
  go.mod
  pkg/testing/runner/runner_test.go
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

Review feedback
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  dev-tools/mage/build.go
  dev-tools/mage/build_test.go
  magefile.go
  testing/integration/fips_verification_test.go
Due: elastic-agent-extended-testing

Fix integration test
  testing/integration/fips_verification_test.go
Due: elastic-agent-extended-testing

Add testing.
  internal/pkg/otel/manager/manager_test.go
Due: elastic-agent-extended-testing

Changelog bug-fix.
  changelog/fragments/1739981369-Fix-deadlock-in-OTelManager.yaml
Due: none

feat: bump go to 1.24.0
  Dockerfile
  Dockerfile.skaffold
  changelog/fragments/1723829102-Upgrade-to-Go-1.23.0.yaml
  go.mod
  pkg/testing/runner/runner_test.go
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

lint: bump golangci-lint
  Makefile
Due: none

lint: bump golangci-lint
  .github/workflows/golangci-lint.yml
Due: none

Update .golangci.yml
  .golangci.yml
Due: none

enchancement(6394): started adding integraiton tests
  testing/integration/endpoint_security_test.go
Due: elastic-agent-extended-testing

Update container_init_test.go
  internal/pkg/agent/cmd/container_init_test.go
Due: elastic-agent-extended-testing

Move FIPS verification test to PackageTest
  .buildkite/bk.integration.pipeline.yml
  dev-tools/mage/pkg.go
  dev-tools/packaging/package_test.go
  pkg/testing/fixture.go
  testing/integration/fips_verification_test.go
  testing/integration/groups_test.go
Due: elastic-agent-extended-testing

Fix package test issue
  dev-tools/packaging/package_test.go
Due: elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/
