Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

[coordinator] Fix status reporting of out-of-order component updates (#13119)
  changelog/fragments/1773217838-main.yaml
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/coordinator/coordinator_state_test.go
  internal/pkg/otel/manager/manager.go
  pkg/component/component.go
Due: Trigger Extended tests for Pull request

changelog and integration test
  changelog/fragments/1773394006-state-store-extension.yaml
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Fix binary build time returned by version command (#13140)
  changelog/fragments/1773392178-fix-agent-buildtime.yaml
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  testing/integration/ess/pkgversion_common_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[Release] update version
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

fix: adjust docs failed metric to account for http retry errors
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/monitoring_test.go
  internal/pkg/otel/receivers/elasticmonitoring/convert.go
Due: Trigger Extended tests for Pull request

Add as suggested in review
  internal/edot/samples/linux/gateway.yml
Due: Trigger Extended tests for Pull request

Apply suggestion to keep empty map initializations
  internal/edot/samples/linux/gateway.yml
Due: Trigger Extended tests for Pull request

[docs] Refine tracing collection examples and rename page
  docs/redirects.yml
  docs/reference/edot-collector/config/configure-tracing-collection.md
  docs/reference/edot-collector/config/index.md
  docs/reference/edot-collector/toc.yml
Due: none

Do not transfer logs that contain "No non-zero metrics" (#12718)
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_otel.yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_process.yaml
  internal/pkg/agent/application/monitoring/component/v1_monitor.go
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Copy test artifacs
  .buildkite/bk.integration.pipeline.yml
  testing/integration/ess/otel_log_as_filestream_test.go
Due: Trigger Extended tests for Pull request

Update bump-agent-versions.sh
  .github/workflows/bump-agent-versions.sh
Due: none

Update README.md
  README.md
Due: none

Update magefile.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update version.go
  version/version.go
Due: Trigger Extended tests for Pull request

Update pre-commit.yml
  .github/workflows/pre-commit.yml
Due: none

adjust integration tests
  testing/integration/k8s/kubernetes_agent_cloud_defend_test.go
Due: Trigger Extended tests for Pull request

revert formatting spaces
  internal/edot/components.yml
Due: Trigger Extended tests for Pull request

manual testing
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_kafka.go
Due: Trigger Extended tests for Pull request

fix ut
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

Edit redirect
  docs/redirects.yml
Due: none

fix ut
  internal/pkg/agent/application/monitoring/component/v1_monitor_test.go
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

update kafka unsupported list
  internal/pkg/otel/translate/output_kafka.go
Due: Trigger Extended tests for Pull request

[hybrid agent] add state storage extension (#12993)
  changelog/fragments/1773394006-state-store-extension.yaml
  internal/edot/otelcol/components.go
  internal/pkg/otel/translate/otelconfig.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

testing k8sCheckAgentStatus
  testing/integration/k8s/common.go
Due: Trigger Extended tests for Pull request

debug k8sCheckAgentStatus
  testing/integration/k8s/common.go
Due: Trigger Extended tests for Pull request

Metrics work.
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components.go
  internal/pkg/agent/application/application.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  wrapper/windows/archive-proxy/go.mod
Due: Trigger Extended tests for Pull request

fix pointer usage
  testing/integration/k8s/common.go
Due: Trigger Extended tests for Pull request

Move telemetry into internal/edot.
  internal/edot/otel/internaltelemetry/factory.go
  internal/edot/otel/receivers/elasticmonitoring/README.md
  internal/edot/otel/receivers/elasticmonitoring/convert.go
  internal/edot/otel/receivers/elasticmonitoring/convert_test.go
  internal/edot/otel/receivers/elasticmonitoring/factory.go
  internal/edot/otel/receivers/elasticmonitoring/receiver.go
  internal/edot/otelcol/components.go
  internal/pkg/otel/manager/manager.go
Due: Trigger Extended tests for Pull request

Remove nested otel directory.
  internal/edot/internaltelemetry/factory.go
  internal/edot/otelcol/components.go
  internal/edot/receivers/elasticmonitoring/README.md
  internal/edot/receivers/elasticmonitoring/convert.go
  internal/edot/receivers/elasticmonitoring/convert_test.go
  internal/edot/receivers/elasticmonitoring/factory.go
  internal/edot/receivers/elasticmonitoring/receiver.go
Due: Trigger Extended tests for Pull request

docs: add otel batcher override example to hybrid agent docs
  docs/hybrid-agent-beats-receivers.md
Due: none

fix conflict
  .github/workflows/bump-agent-versions.yml
Due: none

Fix yaml
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

Apply suggestion from @rogercoll
  internal/edot/samples/linux/gateway.yml
Due: Trigger Extended tests for Pull request

Apply review comments
  internal/edot/samples/linux/gateway.yml
Due: Trigger Extended tests for Pull request
