Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

chore(synthetics): bump npm to 11.17.0 (#14938)
  changelog/fragments/1781639318-heartbeat-bump-npm-11.17.0.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Apply suggestions from code review
  docs/release-notes/known-issues.md
Due: none

Preserve file modes in test repo archive
  pkg/testing/runner/archiver.go
  pkg/testing/runner/archiver_test.go
Due: Trigger Extended tests for Pull request

fix conflict
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[docs] Document known EDOT component matrix issue causing missing `service_destination` metrics in 9.2/9.3 (#14965)
  docs/release-notes/known-issues.md
Due: none

ci: cost attribution
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

Deduplicate config loading and override TLS cert paths in container mode (#14408)
  changelog/fragments/1779995943-read-container-tls-from-env.yaml
  changelog/fragments/1779996772-fix-container-override-inconsistencies.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/cmd/run_test.go
  internal/pkg/agent/configuration/configuration.go
  internal/pkg/agent/configuration/grpc.go
  internal/pkg/agent/configuration/grpc_test.go
  testing/integration/ess/container_cmd_test.go
Due: Trigger Extended tests for Pull request

Fix merge conflicts
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/run.go
  testing/integration/ess/container_cmd_test.go
Due: Trigger Extended tests for Pull request

Backport PR 14719
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_nofips_test.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/configuration/configuration.go
  testing/integration/ess/container_cmd_test.go
  testing/integration/ess/event_logging_test.go
Due: Trigger Extended tests for Pull request

Fix lint
  internal/pkg/agent/cmd/container.go
Due: Trigger Extended tests for Pull request

Skip TestContainerEnvOverridesFleetTLSPaths for FIPS-only
  internal/pkg/agent/cmd/container_test.go
Due: Trigger Extended tests for Pull request

skip the test on Windows
  pkg/testing/runner/archiver_test.go
Due: Trigger Extended tests for Pull request

Use native GO for linux FIPS builds (#14953)
  changelog/fragments/1781686401-use-native-go-for-linux-fips-builds.yaml
  dev-tools/mage/build.go
  dev-tools/mage/crossbuild.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/testing/package_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[deps] Bump github.com/rs/zerolog v1.27.0 -> v1.35.1
  go.mod
  go.sum
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Add warning to skip Elastic Agent 9.3.4 release
  docs/release-notes/_snippets/9.3.4/index.md
  docs/release-notes/known-issues.md
Due: none

ci: honour stack build id
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

add missing
  .buildkite/scripts/steps/ess_start_oblt-cli.sh
Due: Trigger Extended tests for Pull request

use the build id by passing the location of the docker images
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

simplify
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

test
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

support windows
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/integration_tests_tf.ps1
Due: Trigger Extended tests for Pull request

fix unit tests
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_otel.yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_process.yaml
Due: Trigger Extended tests for Pull request

fix integration tests
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_otel.yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_process.yaml
Due: Trigger Extended tests for Pull request
