Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Rename template arguments and settings field
  dev-tools/mage/pkg_test.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  dev-tools/packaging/files/linux/filebeat.sh.tmpl
  dev-tools/packaging/files/linux/metricbeat.sh.tmpl
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/darwin/elastic-agent.tmpl
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  dev-tools/packaging/templates/linux/preinstall.sh.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Drop support for AGENT_COMMIT_HASH_OVERRIDE
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Unify packaging targets
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/package.sh
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
  packaging-analysis.md
  packaging-internals.md
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

Update license override and include license check in CI (#14130)
  Makefile
  dev-tools/notice/overrides.json
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Clean up packaging scripts and document USE_PACKAGE_VERSION default
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/package.sh
  packaging-analysis.md
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

add the 9.4.1 Elastic Agent release notes
  changelog/9.4.1.yaml
  changelog/fragments/1776464382-Update-go-to-v1.26.2.yaml
  changelog/fragments/1777295027-fix-windows-otel-signal-handling.yaml
  changelog/fragments/1777366905-fix-windows-service-stop-hang-during-enroll-retry.yaml
  changelog/fragments/1777410560-k8s-daemonset-fix.yaml
  changelog/fragments/1777882926-drosiek-validate-download-retrysleepinit-time.yaml
  changelog/fragments/1777976666-drosiek-rollback-prune-issue.yaml
  docs/release-notes/_snippets/9.4.1/breaking-changes.md
  docs/release-notes/_snippets/9.4.1/deprecations.md
  docs/release-notes/_snippets/9.4.1/index.md
  docs/release-notes/_snippets/breaking-changes/9.4.md
  docs/release-notes/_snippets/deprecations/9.4.md
  docs/release-notes/_snippets/index/9.4.md
Due: none

remove duplicate entries
  changelog/9.4.1.yaml
  docs/release-notes/_snippets/9.4.1/index.md
Due: none

Distinguish between core version and package version
  dev-tools/mage/build.go
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/kubernetes/kubernetes.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/darwin/Info.plist.tmpl
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/README.md.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix defaults in packaging scripts
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/package.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

Clean up manifest loading
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
  pkg/testing/runner/runner_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Always set agent drop path
  .buildkite/scripts/steps/package.sh
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(upgrade): protect live install in cleanup, mark failed aborts (#13505)
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/application/upgrade/step_relink.go
  internal/pkg/agent/application/upgrade/step_relink_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
Due: Trigger Extended tests for Pull request

chore: changelog
  changelog/fragments/1777551882-drosiek-marker-stale.yaml
Due: none

feat(watcher): invalide keep list, so we don't try to remove non-existing paths
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
Due: Trigger Extended tests for Pull request

chore: update log levels to info as user cannot do much on them
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
Due: Trigger Extended tests for Pull request

chore: reoranise cleanup in order to limit places with filepath.Rel usage
  internal/pkg/agent/application/upgrade/rollback.go
Due: Trigger Extended tests for Pull request

chore: revert step_relink.go
  internal/pkg/agent/application/upgrade/step_relink.go
Due: Trigger Extended tests for Pull request

test: add e2e regression for removing live version due to stale marker scenario
  internal/pkg/agent/cmd/watch_test.go
Due: Trigger Extended tests for Pull request

chore: move liveVersionedHome to rollback.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/step_relink.go
  internal/pkg/agent/application/upgrade/step_relink_test.go
  internal/pkg/agent/application/upgrade/step_unpack.go
Due: Trigger Extended tests for Pull request

test: enable test for windows
  internal/pkg/agent/cmd/watch_test.go
Due: Trigger Extended tests for Pull request

chore: refactor comments and log level
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_unpack.go
Due: Trigger Extended tests for Pull request

feat: move MarkUpgradeFailed call to coordinator's abortUpgrade
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
Due: Trigger Extended tests for Pull request

test: add test to confirm the issue
  internal/pkg/agent/application/upgrade/ttl/ttl_marker_source_test.go
Due: Trigger Extended tests for Pull request

fix: restore default packaging behavior when PACKAGES env var is empty (#13478)
  .buildkite/pipeline.elastic-agent-package.yml
  AGENTS.md
  README.md
  dev-tools/mage/pkgtypes.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  docs/test-framework-dev-guide.md
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Skip flaky `TestSwitchToUnprivilegedDeduplication` in ESS integration tests (#14121)
  testing/integration/ess/switch_unprivileged_test.go
Due: Trigger Extended tests for Pull request

Docs: Clarify version in which known issues are resolved (#14102)
  docs/release-notes/known-issues.md
Due: none

fix: tolerate corrupt `.ttl` rollback markers during upgrade and rollback
  changelog/fragments/1778488758-drosiek-fix-ttl.yaml
  internal/pkg/agent/application/upgrade/ttl/ttl_marker_source.go
Due: Trigger Extended tests for Pull request

chore: changelog
  changelog/fragments/1778488758-drosiek-fix-ttl.yaml
Due: none

Use repoInfo.RootDir
  dev-tools/mage/settings.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

test: add component test
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
