Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

update test case
  internal/pkg/otel/translate/otelconfig.go
Due: Trigger Extended tests for Pull request

Revert "Use the exact removaAll implementation from Go 1.24"
  internal/pkg/agent/install/uninstall.go
Due: Trigger Extended tests for Pull request

simplify
  internal/pkg/agent/application/coordinator/coordinator_state.go
Due: Trigger Extended tests for Pull request

todo
  internal/pkg/agent/application/coordinator/coordinator_state_test.go
Due: Trigger Extended tests for Pull request

Disable dnf-automatic.timer in tests
  .buildkite/scripts/common.sh
Due: Trigger Extended tests for Pull request

docs: update docs
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

[Release] update version
  version/version.go
Due: Trigger Extended tests for Pull request

ci(ff): support feature freeze automation phase 1
  dev-tools/mage/release/release.go
  dev-tools/mage/release/release_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix Windows Archive root binary
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Disable dnf-automatic.timer in tests (#13127)
  .buildkite/scripts/common.sh
Due: Trigger Extended tests for Pull request

ci(ff): support feature freeze automation phase 2
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
  dev-tools/mage/release/github.go
  dev-tools/mage/release/release.go
  dev-tools/mage/release/release_test.go
  go.mod
  go.sum
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

ci(ff): support feature freeze automation phase 3
  RELEASE.md
  dev-tools/mage/release/README.md
  dev-tools/mage/release/release.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix linting
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
  dev-tools/mage/release/github.go
  dev-tools/mage/release/release_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

add the 8.19.13 Elastic Agent release notes
  changelog/8.19.13.asciidoc
  changelog/8.19.13.yaml
  changelog/fragments/1769800077-Add-support-for-encrypted-config-for-standalone-agents.yaml
  changelog/fragments/1771854258-do-not-fail-fix-permissions-when-file-is-protected.yaml
  changelog/fragments/1771868124-Enrolling-fleet-server-uses-internal-port.yaml
  changelog/fragments/1772205184-otel-collector-multiline-errors.yaml
  changelog/fragments/1772578978-redact-url-credentials-in-diagnostic-outputs.yaml
Due: none

Fix Windows Archive root binary (#13134)
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

go mod tidy
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

test TestStandaloneUpgrade
  pkg/testing/fixture.go
Due: Trigger Extended tests for Pull request

Fix binary build time returned by version command
  changelog/fragments/1773392178-fix-agent-buildtime.yaml
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  testing/integration/ess/pkgversion_common_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

make check-ci
  go.mod
  go.sum
  internal/pkg/otel/translate/common.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

fix ut
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

[coordinator] Fix status reporting of out-of-order component updates (#13119)
  changelog/fragments/1773217838-main.yaml
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/coordinator/coordinator_state_test.go
  internal/pkg/otel/manager/manager.go
  pkg/component/component.go
Due: Trigger Extended tests for Pull request
