Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Fix agent stuck in upgrading state after manual rollback (#13329)
  changelog/fragments/1774545453-Fix-Windows-agent-stuck-in-upgrading-state-after-manual-rollback.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  pkg/testing/tools/fleettools/fleet.go
  testing/integration/ess/upgrade_rollback_test.go
Due: Trigger Extended tests for Pull request

Cleanup code review. Add deadline transition.
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
Due: Trigger Extended tests for Pull request

Update chlog for disabling host.ip and host.mac
  changelog/fragments/1775811454-disable-host.ip-and-host.mac-kube-stack.yaml
Due: none

Report all process exit errors
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/execution_subprocess_test.go
Due: Trigger Extended tests for Pull request

lint
  .golangci.yml
Due: none

fix test
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

add check-ci
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Explicitly handle extensions not being a list
  internal/pkg/otel/manager/confmap.go
  internal/pkg/otel/manager/confmap_test.go
  internal/pkg/otel/manager/healthcheck.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Merge component and collector extensions
  internal/pkg/otel/manager/confmap.go
  internal/pkg/otel/manager/confmap_test.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/force_extension_converter.go
  internal/pkg/otel/manager/healthcheck.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Add changelog entry
  changelog/fragments/1776251957-fix-otel-embedded-auth.yaml
Due: none

Persist logging level on policy change (#13289)
  changelog/fragments/1774526504-persist-logging-level-on-policy-change.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  testing/integration/ess/log_level_test.go
Due: Trigger Extended tests for Pull request

Update testing/integration/ess/log_level_test.go
  testing/integration/ess/log_level_test.go
Due: Trigger Extended tests for Pull request

fix linting issues
  testing/integration/ess/log_level_test.go
Due: Trigger Extended tests for Pull request

Fix extension merge logic
  internal/pkg/otel/manager/confmap.go
  internal/pkg/otel/manager/confmap_test.go
Due: Trigger Extended tests for Pull request

support a new version with windows support
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

[mage] Centralize MANIFEST_URL handling (#13629)
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

removing 8.19.15-SNAPSHOT until 9.3.4-SNAPSHOT is available
  testing/integration/testdata/.upgrade-test-agent-versions.yml
Due: Trigger Extended tests for Pull request

Fix unit tests
  internal/pkg/otel/manager/confmap.go
  internal/pkg/otel/manager/confmap_test.go
  internal/pkg/otel/manager/healthcheck_test.go
Due: Trigger Extended tests for Pull request

fixing conflict
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

remove buildkite plugin in version bump pipeline automation (#13390)
  .buildkite/pipeline.version-bump.yml
Due: none

Add shared intake queue ids to Beats receivers gated on agent.internal.runtime.shared_receiver_queues
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  pkg/component/component.go
Due: Trigger Extended tests for Pull request

Fix changelog
  changelog/fragments/1776251957-fix-otel-embedded-auth.yaml
Due: none

Fix license issue for spdx/tools-golang
  dev-tools/notice/overrides.json
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package
