Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

fix licenses
  NOTICE-fips.txt
  NOTICE.txt
Due: none

regenerate kubernetes test data
  testing/integration/k8s/testdata/elastic-agent-kustomize-openshift.yaml
Due: Trigger Extended tests for Pull request

restore .buildkite/integration.pipeline.yml
  .buildkite/integration.pipeline.yml
Due: Trigger Extended tests for Pull request

Fix goimports formatting in dynamicProviderMapping struct
  internal/pkg/composable/controller.go
Due: Trigger Extended tests for Pull request

feat: migrate elastic-agent-core DRA to dra-prep-buildkite-plugin
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/scripts/stage_artifacts.sh
Due: Trigger Extended tests for Pull request

buildkite: fix DRA prep pipeline for elastic-agent-core
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/scripts/stage_artifacts.sh
  .buildkite/scripts/upload_dra_staging.sh
Due: Trigger Extended tests for Pull request

fix: use K8s wolfi runner for dra-prep steps and add stage_artifacts.sh header
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/scripts/stage_artifacts.sh
Due: Trigger Extended tests for Pull request

fix: inline dra-prep plugin config to avoid env var expansion issue
  .buildkite/pipeline.elastic-agent-binary-dra.yml
Due: none

update version to 8.19.24
  version/version.go
Due: Trigger Extended tests for Pull request

update docs to 8.19.23
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

update docs version 9.4.8
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

update docs version 9.5.5
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

add the 9.5.5 Elastic Agent release notes
  changelog/9.5.5.yaml
  changelog/fragments/1784542898-allow-overriding-elastic-agent-hostname-via-elastic_agent_hostname-environment-variable.yaml
  changelog/fragments/1785319944-k8s-rbac-deadlock-regression-test.yaml
  changelog/fragments/1785561405-fix-temporary-fleet-error-failing-upgrade.yaml
  changelog/fragments/1787851588-revert-non-ironbank-container-images-to-ubi9.yaml
  changelog/fragments/1788165328-edot_enqueue_failed_metrics.yaml
  changelog/fragments/1788339094-fix-diagnostics-for-otel-components.yaml
  changelog/fragments/1788347691-fix-otel-diagnostics-stream-overwrite.yaml
  changelog/fragments/1788553536-update-go-to-1.26.8.yaml
  changelog/fragments/1788777765-edot-collector-kube-stack-openshift.yaml
  changelog/fragments/1789073037-ironbank-fix-yml-permissions.yaml
  changelog/fragments/1789414944-propagate-custom-namespace-for-osquerybeat.yaml
  changelog/fragments/1789581976-enable-kafka-exporter-and-receiver-in-fips-builds.yaml
  changelog/fragments/1789980231-update-otel-components-to-v0.161.0.yaml
  changelog/fragments/1789982424-support-aws-cloudwatch-initial-lookback.yaml
  changelog/fragments/1790068271-k8s_attributes-processor-emits-stable-k8s-semconv-attribute-names.yaml
  changelog/fragments/1790189940-autoops-remove-temp-resource-id.yaml
  changelog/fragments/1790196670-feat-docker-nodocs.yaml
  changelog/fragments/1790245081-self-monitoring-data-fixes.yaml
  changelog/fragments/1790282152-fix-unnecessary-agent.download.retry_sleep_init_duration-warning-log-on-every-policy-change..yaml
  changelog/fragments/1790349506-helm-edot-collector-openshift-rootless.yaml
  docs/release-notes/_snippets/9.5.5/breaking-changes.md
  docs/release-notes/_snippets/9.5.5/deprecations.md
  docs/release-notes/_snippets/9.5.5/index.md
  docs/release-notes/_snippets/breaking-changes/9.5.md
  docs/release-notes/_snippets/deprecations/9.5.md
  docs/release-notes/_snippets/index/9.5.md
Due: none

remove duplicate PR entries
  changelog/9.5.5.yaml
  docs/release-notes/_snippets/9.5.5/index.md
Due: none

add the 9.4.8 Elastic Agent release notes
  changelog/9.4.8.yaml
  changelog/fragments/1784542898-allow-overriding-elastic-agent-hostname-via-elastic_agent_hostname-environment-variable.yaml
  changelog/fragments/1785319944-k8s-rbac-deadlock-regression-test.yaml
  changelog/fragments/1785561405-fix-temporary-fleet-error-failing-upgrade.yaml
  changelog/fragments/1787851588-revert-non-ironbank-container-images-to-ubi9.yaml
  changelog/fragments/1788339094-fix-diagnostics-for-otel-components.yaml
  changelog/fragments/1788553536-update-go-to-1.26.8.yaml
  changelog/fragments/1789073037-ironbank-fix-yml-permissions.yaml
  changelog/fragments/1789980231-update-otel-components-to-v0.161.0.yaml
  changelog/fragments/1790068271-k8s_attributes-processor-emits-stable-k8s-semconv-attribute-names.yaml
  changelog/fragments/1790196670-feat-docker-nodocs.yaml
  changelog/fragments/1790282152-fix-unnecessary-agent.download.retry_sleep_init_duration-warning-log-on-every-policy-change..yaml
  docs/release-notes/_snippets/9.4.8/breaking-changes.md
  docs/release-notes/_snippets/9.4.8/deprecations.md
  docs/release-notes/_snippets/9.4.8/index.md
  docs/release-notes/_snippets/breaking-changes/9.4.md
  docs/release-notes/_snippets/deprecations/9.4.md
  docs/release-notes/_snippets/index/9.4.md
Due: none

remove duplicate PR entries
  changelog/9.4.8.yaml
  docs/release-notes/_snippets/9.4.8/index.md
Due: none

add the 8.19.23 Elastic Agent release notes
  changelog/8.19.23.asciidoc
  changelog/8.19.23.yaml
  changelog/fragments/1785319944-k8s-rbac-deadlock-regression-test.yaml
  changelog/fragments/1788553536-update-go-to-1.26.8.yaml
  changelog/fragments/1789980231-update-otel-components-to-v0.161.0.yaml
  changelog/fragments/1790068271-k8s_attributes-processor-emits-stable-k8s-semconv-attribute-names.yaml
  changelog/fragments/1790196670-feat-docker-nodocs.yaml
Due: none

remove duplicate PR entries
  changelog/8.19.23.asciidoc
  changelog/8.19.23.yaml
Due: none

Revise changelog for 8.19.23 release
  changelog/8.19.23.asciidoc
Due: none

[main][Automation] Update elastic/beats to c24f8abbee2c
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 0ff59176f4d5
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to 97838ff9a3ce
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 673722d674b0
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

Split the longest integration test groups (#16919)
  .buildkite/bk.integration.pipeline.yml
  testing/integration/ess/checkin_compress_test.go
  testing/integration/ess/endpoint_security_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/policy_change_no_ack_test.go
  testing/integration/ess/policy_change_persistence_test.go
  testing/integration/ess/proxy_url_test.go
  testing/integration/ess/scheduled_upgrade_details_test.go
  testing/integration/ess/upgrade_fleet_test.go
  testing/integration/ess/upgrade_rollback_test.go
  testing/integration/ess/upgrade_standalone_test.go
  testing/integration/groups.go
Due: Trigger Extended tests for Pull request

Delete testing/integration/ess/policy_change_persistence_test.go
  testing/integration/ess/policy_change_persistence_test.go
Due: Trigger Extended tests for Pull request

Split the longest integration test groups (#16919)
  .buildkite/bk.integration.pipeline.yml
  testing/integration/ess/endpoint_security_test.go
  testing/integration/ess/proxy_url_test.go
  testing/integration/ess/scheduled_upgrade_details_test.go
  testing/integration/ess/upgrade_fleet_test.go
  testing/integration/ess/upgrade_rollback_test.go
  testing/integration/ess/upgrade_standalone_test.go
  testing/integration/groups.go
Due: Trigger Extended tests for Pull request

Download tinit and jq from hardening manifest instead of using stubs
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Wire DOCKER_VARIANTS=ironbank mage package into CI and update test
  .buildkite/scripts/steps/package.sh
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add integration test for Ironbank Dockerfile yml permissions
  changelog/fragments/1789153486-add-ironbank-dockerfile-permissions-integration-test.yaml
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use COPY for tinit/jq in the Ironbank Dockerfile
  dev-tools/mage/dockerbuilder.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Drive tinit/jq sha256 hashes from template variables
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add elastic-agent.yml to fake agent tarball in Ironbank test
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove changelog fragment for test-only change
  changelog/fragments/1789153486-add-ironbank-dockerfile-permissions-integration-test.yaml
Due: none

Read ironbank resource hashes from hardening_manifest.yaml.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Switch Ironbank test from exec.Command to Moby Docker client SDK
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Derive public UBI image path from Dockerfile BASE_IMAGE arg
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Test that the Ironbank submission Dockerfile has no ADD
  dev-tools/mage/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package
