Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Silence retry_sleep_init_duration log noise. (#16819)
  changelog/fragments/1790282152-fix-unnecessary-agent.download.retry_sleep_init_duration-warning-log-on-every-policy-change..yaml
  internal/pkg/agent/application/upgrade/artifact/config.go
Due: Trigger Extended tests for Pull request

ci: split the longest integration test groups
  .buildkite/bk.integration.pipeline.yml
  testing/integration/ess/checkin_compress_test.go
  testing/integration/ess/endpoint_security_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/policy_change_no_ack_test.go
  testing/integration/ess/policy_change_persistence_test.go
  testing/integration/ess/proxy_url_test.go
  testing/integration/ess/scheduled_upgrade_details_test.go
  testing/integration/ess/upgrade_fleet_test.go
  testing/integration/ess/upgrade_rollback_test.go
  testing/integration/ess/upgrade_standalone_test.go
  testing/integration/groups.go
Due: Trigger Extended tests for Pull request

ci: package linux and windows amd64 artifacts in separate steps
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
Due: Trigger Extended tests for Pull request

ci: start integration test VMs before packaging finishes
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/integration_tests_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_tf.ps1
  .buildkite/scripts/steps/wait-for-step.ps1
  .buildkite/scripts/steps/wait-for-step.sh
Due: Trigger Extended tests for Pull request

ci: upload junit reports from each integration test job
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

ci: upload the integration test steps together with the packaging steps
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

feat(otel): add Syslog receiver to EDOT Collector (#16826)
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1790334234-add-syslog-receiver-to-edot-collector.yaml
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components/default.go
  internal/pkg/otel/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

Fix build failure
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Move test to correct location
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Run check-ci
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Fix post-rebase test failures in otelconfig translate package.
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

Support disabling metadata processors per output.
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  pkg/features/features.go
  pkg/features/features_test.go
Due: Trigger Extended tests for Pull request

Collect diagnostics on test failure.
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

WIP integration test
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Add changelog
  changelog/fragments/1790369822-disable-default-processors-per-output.yaml
Due: none

fix(synthetics): mark the wolfi complete image as complete
  changelog/fragments/1790375775-mark-wolfi-complete-image.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[main][Automation] Update elastic/beats to b5529c228d2b
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 49fb972ba8bc
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to 16bc9648fc3e
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 77dcc765fc4d
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[edot] switch examples to ship metrics native _otlp of ES
  internal/edot/samples/darwin/logs_metrics_traces.yml
  internal/edot/samples/darwin/platformlogs_hostmetrics.yml
  internal/edot/samples/linux/gateway.yml
  internal/edot/samples/linux/logs_metrics_traces.yml
  internal/edot/samples/linux/platformlogs_hostmetrics.yml
  internal/edot/samples/windows/logs_metrics_traces.yml
  internal/edot/samples/windows/platformlogs_hostmetrics.yml
Due: Trigger Extended tests for Pull request

add batching
  internal/edot/samples/darwin/logs_metrics_traces.yml
  internal/edot/samples/darwin/platformlogs_hostmetrics.yml
  internal/edot/samples/linux/logs_metrics_traces.yml
  internal/edot/samples/linux/platformlogs_hostmetrics.yml
  internal/edot/samples/windows/logs_metrics_traces.yml
  internal/edot/samples/windows/platformlogs_hostmetrics.yml
Due: Trigger Extended tests for Pull request

docs: update generated documentation for v9.5.4
  docs/reference/edot-collector/config/default-config-standalone.md
Due: none

ci: enable single-branch Updatecli checkouts (#16833)
  .ci/updatecli/update-otel.yml
  .ci/updatecli/updatecli-bump-edot.yml
  .ci/updatecli/updatecli-bump-golang.yml
  .ci/updatecli/updatecli-bump-kube-stack.yml
  .ci/updatecli/updatecli-bump-vm-images.yml
  .updatecli-version
Due: none

Apply batched suggestions from code review
  .ci/updatecli/updatecli-bump-edot.yml
  .ci/updatecli/updatecli-bump-golang.yml
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: none

PoC: S3-backed Go build cache via GOCACHEPROG (cacheprog)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-command.ps1
  .buildkite/hooks/pre-exit
  .buildkite/pipeline.yml
  .buildkite/scripts/setup-cacheprog.sh
Due: Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, DRY RUN publish to serverless

switch profiling metrics
  internal/edot/samples/linux/profiles_metrics.yml
Due: Trigger Extended tests for Pull request

Keep cacheprog logs out of go command output
  .buildkite/hooks/pre-command.ps1
  .buildkite/scripts/setup-cacheprog.sh
Due: Trigger Extended tests for Pull request

Start wiring elasticsearchauth extension
  internal/edot/otelcol/components/default.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

remove block step in version bump pipeline and placeholder step, slack notification
  .buildkite/pipeline.version-bump.yml
Due: none

fix notification
  .buildkite/pipeline.version-bump.yml
Due: none

[9.4][Automation] Update elastic/beats to 6e9abff1c775
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to b670dd60a0dd
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 1e42cbe42f1f
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 33944cc83ec6
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request
