Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

[9.4][Automation] Update elastic/beats to 65635559f1d1
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

chore(synthetics): bump nodejs to 22.23.2 and npm to 12.0.2
  changelog/fragments/1786098015-bump-heartbeat-nodejs-22.23.2-npm-12.0.2.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

chore(synthetics): bump nodejs to 22.23.2 and npm to 12.0.2 (#16072)
  changelog/fragments/1786098015-bump-heartbeat-nodejs-22.23.2-npm-12.0.2.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: conflict
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(backport/9.4): update internal/edot/go.mod for kardianos/service v1.3.0
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

bump github.com/kardianos/service v1.2.4 -> v1.3.0 and fix systemd template (#15976)
  .gitignore
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1785938601-bump-github.com-kardianos-service-to-v1.3.0.yaml
  go.mod
  go.sum
  internal/pkg/agent/install/svc.go
Due: Trigger Extended tests for Pull request

resolve merge conflicts in 8.19 backport of kardianos/service v1.3.0 bump
  .gitignore
  internal/pkg/agent/install/svc.go
Due: Trigger Extended tests for Pull request

resolve go.sum conflict in 8.19 backport of kardianos/service v1.3.0 bump
  go.sum
Due: Trigger Extended tests for Pull request

fix(backport/8.19): update internal/edot/go.mod for kardianos/service v1.3.0
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Disable local package metadata for beats serverless tests
  .buildkite/scripts/steps/beats_tests.sh
Due: Trigger Extended tests for Pull request, Trigger Serverless Beats Tests

add the 9.5.1 Elastic Agent release notes
  changelog/9.5.1.yaml
  changelog/fragments/1785317648-redact-json-diagnostics.yaml
  changelog/fragments/1785769574-edot-collector-renamed-elastic-agent.yaml
  changelog/fragments/1785779400-fix-otel-heartbeat-browser-monitors.yaml
  changelog/fragments/1785860674-fix-ordering-of-streams-for-osquerybeat-receiver.yaml
  changelog/fragments/1785872496-fix-complete-image-synthetics-browser-install.yaml
  docs/release-notes/_snippets/9.5.1/breaking-changes.md
  docs/release-notes/_snippets/9.5.1/deprecations.md
  docs/release-notes/_snippets/9.5.1/index.md
  docs/release-notes/_snippets/breaking-changes/9.5.md
  docs/release-notes/_snippets/deprecations/9.5.md
  docs/release-notes/_snippets/index/9.5.md
Due: none

add missing PRs links
  changelog/9.5.1.yaml
  docs/release-notes/_snippets/9.5.1/index.md
Due: none

Update index.md
  docs/release-notes/_snippets/9.5.1/index.md
Due: none

Log status error
  testing/integration/ess/auditd_monitoring_test.go
Due: Trigger Extended tests for Pull request

Fix typo
  testing/integration/ess/auditd_monitoring_test.go
Due: Trigger Extended tests for Pull request

update docs version 9.5.1
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Update version to 9.5.2
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-secret/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

fix(test): remove redundant embedded field selectors in k8s standalone tests (#16033)
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request

add the 9.4.5 Elastic Agent release notes
  changelog/9.4.5.yaml
  changelog/fragments/1783505837-give-service-runtime-components-more-time-to-check-in-before-failing-an-upgrade.yaml
  changelog/fragments/1783951984-otel-collector-most-verbose-log-level.yaml
  changelog/fragments/1783991840-add-collector-env-diagnostics.yaml
  changelog/fragments/1784257071-fix-windows-no-profile-directory.yaml
  changelog/fragments/1784562105-fix-orphaned-filelog-receiver-in-edot-collector-helm-charts.yaml
  changelog/fragments/1784643475-bump-heartbeat-npm-12.0.1.yaml
  changelog/fragments/1784815776-fleet-policy-preserves-base-logging-settings.yaml
  changelog/fragments/1784893952-update-otel-components-to-v0.156.0.yaml
  changelog/fragments/1785317648-redact-json-diagnostics.yaml
  changelog/fragments/1785872496-fix-complete-image-synthetics-browser-install.yaml
  docs/release-notes/_snippets/9.4.5/breaking-changes.md
  docs/release-notes/_snippets/9.4.5/deprecations.md
  docs/release-notes/_snippets/9.4.5/index.md
  docs/release-notes/_snippets/breaking-changes/9.4.md
  docs/release-notes/_snippets/deprecations/9.4.md
  docs/release-notes/_snippets/index/9.4.md
Due: none

Fix remaining duplicate PRs.
  changelog/9.4.5.yaml
  docs/release-notes/_snippets/9.4.5/index.md
Due: none

fix glob to exclude elastic-agent-metrics.ndjson ingestion (#15992)
  changelog/fragments/1785868582-exclude-new-elastic-agent-metrics.ndjson-file-from-log-ingestion.yaml
  internal/pkg/agent/application/monitoring/component/v1_monitor.go
  internal/pkg/agent/application/monitoring/component/v1_monitor_test.go
Due: Trigger Extended tests for Pull request

update docs version 9.4.5
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Update version to 9.4.6
  version/version.go
Due: Trigger Extended tests for Pull request

add the 8.19.20 Elastic Agent release notes
  changelog/8.19.20.asciidoc
  changelog/8.19.20.yaml
  changelog/fragments/1783505837-give-service-runtime-components-more-time-to-check-in-before-failing-an-upgrade.yaml
  changelog/fragments/1783991840-add-collector-env-diagnostics.yaml
  changelog/fragments/1784257071-fix-windows-no-profile-directory.yaml
  changelog/fragments/1784643475-bump-heartbeat-npm-12.0.1.yaml
  changelog/fragments/1784893918-update-otel-components-to-v0.156.0.yaml
  changelog/fragments/1785317648-redact-json-diagnostics.yaml
  changelog/fragments/1785505890-update-otel-collector-dependencies-to-v0.157.0-v1.63.0.yaml
  changelog/fragments/1785872496-fix-complete-image-synthetics-browser-install.yaml
Due: none

Fix remaining duplicate PRs.
  changelog/8.19.20.asciidoc
  changelog/8.19.20.yaml
Due: none

Rename test subcases
  internal/pkg/agent/application/upgrade/step_unpack_test.go
Due: Trigger Extended tests for Pull request

update docs version 8.19.20
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

update version to 8.19.21
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Add changelog fragment
  changelog/fragments/1785994961-support-multiple-upgrade-source-uris.yaml
Due: none

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
