Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Fix submodule access error in post-checkout merge for sparse checkouts (#15436)
  .buildkite/hooks/post-checkout
Due: Trigger Extended tests for Pull request

[mage] Fix release Helm Chart version
  deploy/helm/elastic-agent/values.yaml
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add retries to network calls in Buildkite CI scripts
  .buildkite/hooks/pre-command
  .buildkite/scripts/buildkite-integration-tests.ps1
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/common.sh
  .buildkite/scripts/install-kind.sh
  .buildkite/scripts/install-kubectl.sh
  .buildkite/scripts/retry.sh
  .buildkite/scripts/steps/dra-publish.sh
  .buildkite/scripts/steps/ecp-internal-release.sh
  .buildkite/scripts/steps/fleet.sh
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/integration_tests_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_tf.sh
  .buildkite/scripts/steps/k8s-extended-tests.sh
  .buildkite/scripts/steps/merge.sh
  .buildkite/scripts/steps/package.sh
  .buildkite/scripts/steps/run-agentless-tests.sh
  .buildkite/scripts/version_qualifier.sh
Due: Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

fix: retry DRA artifact downloads on checksum mismatch; download checksum before the artifact (#15378)
  dev-tools/mage/manifest/checksum_retry.go
  dev-tools/mage/manifest/checksum_retry_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add stack provisioning to mage integration:local (#15422)
  dev-tools/mage/settings.go
  magefile.go
  pkg/testing/common/instance.go
  pkg/testing/local/local.go
  pkg/testing/local/runner.go
  pkg/testing/runner/runner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: resolve golangci-lint findings surfaced by whole-file define-tag linting (#15421)
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Make retry.sh executable to match sibling scripts
  .buildkite/scripts/retry.sh
Due: Trigger Extended tests for Pull request

[mage] Fix release Helm Chart version (#15447)
  deploy/helm/elastic-agent/values.yaml
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update magefile.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update values.yaml
  deploy/helm/elastic-agent/values.yaml
Due: Trigger Extended tests for Pull request

Ensure errors are reported when actions can't be routed.
  internal/pkg/otel/extension/elasticdiagnostics/README.md
  internal/pkg/otel/extension/elasticdiagnostics/extension.go
  internal/pkg/otel/extension/elasticdiagnostics/extension_test.go
  internal/pkg/otel/extension/elasticdiagnostics/factory.go
Due: Trigger Extended tests for Pull request

Tidy error handling
  internal/pkg/otel/extension/elasticdiagnostics/extension.go
Due: Trigger Extended tests for Pull request

Prepare SSH key before provisioning VM instances in test runner
  pkg/testing/runner/runner.go
Due: Trigger Extended tests for Pull request

More tweaks after self-review
  internal/pkg/otel/actions_test.go
  internal/pkg/otel/extension/elasticdiagnostics/api.go
Due: Trigger Extended tests for Pull request

Fix golangci-lint issues in adjacent tests
  testing/integration/ess/container_cmd_test.go
Due: Trigger Extended tests for Pull request

Add fallback unit tests
  internal/pkg/agent/cmd/container_test.go
Due: Trigger Extended tests for Pull request

Override with empty FLEET_CA+ if set
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
  testing/integration/ess/container_cmd_test.go
Due: Trigger Extended tests for Pull request

Add changelog fragment
  changelog/fragments/1783541510-container-fleet-ca-override.yaml
Due: none

Add container-mode fleet certificate authorities override
  internal/pkg/agent/cmd/container.go
Due: Trigger Extended tests for Pull request

Split TestContainerEnvOverridesFleetCA into subtests
  internal/pkg/agent/cmd/container_test.go
Due: Trigger Extended tests for Pull request

Move subtests to table
  internal/pkg/agent/cmd/container_test.go
Due: Trigger Extended tests for Pull request

Add tests
  internal/pkg/agent/cmd/container_test.go
  testing/integration/ess/container_cmd_test.go
Due: Trigger Extended tests for Pull request

Propagate all feature flags to Beat receivers
  changelog/fragments/1783638976-propagate-all-feature-flags-to-beat-receivers.yaml
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  pkg/features/features.go
  pkg/features/features_test.go
Due: Trigger Extended tests for Pull request

Add retries on connection failure
  internal/pkg/otel/actions.go
  internal/pkg/otel/actions_test.go
  internal/pkg/otel/extension/elasticdiagnostics/README.md
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
  testing/integration/ess/osquery_monitoring_test.go
Due: Trigger Extended tests for Pull request
