Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Sync K8s:
  label: Sync K8s
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: family/core-ubuntu-2204
  env:
  - GH_VERSION=2.4.0

elastic-agent-extended-testing:
  trigger: elastic-agent-extended-testing
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

Support VERSION_QUALIFIER for elastic-agent-core DRA (#6551)
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/dra-publish.sh
Due: elastic-agent-extended-testing

wip: run filestream input in Otel
  go.mod
  go.sum
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/otel.go
  pkg/component/runtime/runtime_comm.go
Due: elastic-agent-extended-testing

Reordered groups in pipeline matrix
  .buildkite/bk.integration.pipeline.yml
Due: none

install server for fleet server tests
  testing/integration/fleetserver_test.go
Due: elastic-agent-extended-testing

Fail fast dra publish on errors
  .buildkite/scripts/steps/dra-publish.sh
Due: elastic-agent-extended-testing

Tidy `mage package` output: only display links on failure, fix failing fleet config embed (#6547)
  dev-tools/cmd/buildfleetcfg/buildfleetcfg.go
  dev-tools/mage/gotool/linkcheck.go
  internal/pkg/agent/application/configuration_embed.go
  magefile.go
Due: elastic-agent-extended-testing

Simple changes for testing image
  .buildkite/bk.integration.pipeline.yml
Due: none

Update bk.integration.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
Due: none

flavors in manifest
  .flavors
  dev-tools/mage/settings.go
  dev-tools/packaging/packages.yml
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/application/upgrade/step_unpack_test.go
  internal/pkg/agent/install/flavors.go
  internal/pkg/agent/install/flavors_test.go
  internal/pkg/agent/install/install.go
  pkg/api/v1/manifest.go
Due: elastic-agent-extended-testing

update
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

fix: do not generate service's signals for non apm data
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: none

Revert "fix: do not generate service's signals for non apm data"
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: none

mage update
  internal/pkg/otel/README.md
Due: elastic-agent-extended-testing

github-actions(pre-commit): detect merge conflicts and shebangs
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

feat: add k8s integration test to check fleet enrollment
  testing/integration/kubernetes_agent_standalone_test.go
Due: elastic-agent-extended-testing

github-actions(pre-commit): detect merge conflicts and shebangs (#6563)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

pre-commit: remove check_executables_have_shebangs for now
  .pre-commit-config.yaml
Due: none

fix
  .pre-commit-config.yaml
Due: none

fix chmod
  .buildkite/hooks/pre-exit
  .buildkite/scripts/common.sh
  .buildkite/scripts/common2.sh
  .buildkite/scripts/install-gh.sh
  .buildkite/scripts/install-kind.sh
  .buildkite/scripts/install-kubectl.sh
  .buildkite/scripts/retry.sh
  .buildkite/scripts/steps/ess.sh
  .buildkite/scripts/steps/gce-cleanup.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/k8s-extended-tests.sh
  .buildkite/scripts/steps/k8s-tests.sh
  .buildkite/scripts/steps/sync-k8s.sh
  .buildkite/scripts/steps/unit-tests.sh
  dev-tools/deploy
  dev-tools/packaging/files/ironbank/config/docker-entrypoint
  dev-tools/packaging/files/linux/filebeat.sh
  dev-tools/packaging/files/linux/metricbeat.sh
  dev-tools/packaging/files/linux/otelcol.sh
  dev-tools/packaging/files/linux/systemd-daemon-reload.sh
  dev-tools/promote_docs
  dev-tools/vagrant_scripts/dockerProvision.sh
  dev-tools/vagrant_scripts/kindProvision.sh
  dev-tools/vagrant_scripts/unixProvision.sh
  version/docs/build_docs.sh
Due: elastic-agent-extended-testing

fix: container correct fleet enrollment when token changes or the agent is unenrolled
  changelog/fragments/1737552345-Fix-enrollment-for-containerised-agent-when-there-is-an-enrollement-token-change-or-the-agent-is-unenrolled.yaml
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/configuration/fleet.go
  internal/pkg/crypto/hash.go
  internal/pkg/crypto/hash_test.go
Due: elastic-agent-extended-testing

fix: update TestDiagnosticLocalConfig to include enrollment_token_hash
  internal/pkg/agent/application/coordinator/diagnostics_test.go
Due: elastic-agent-extended-testing

WIP try to get fips package available
  dev-tools/mage/build.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/settings.go
  internal/pkg/release/version.go
  magefile.go
Due: elastic-agent-extended-testing

feat: add a simple retry logic while validate the stored agent api token
  internal/pkg/agent/cmd/container.go
Due: elastic-agent-extended-testing

feat: add unit-test for shouldFleetEnroll
  .mockery.yaml
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
  testing/mocks/internal_/pkg/agent/application/actions/handlers/diagnostics_provider_mock.go
  testing/mocks/internal_/pkg/agent/application/actions/handlers/log_level_setter_mock.go
  testing/mocks/internal_/pkg/agent/application/actions/handlers/uploader_mock.go
  testing/mocks/internal_/pkg/agent/application/info/agent_mock.go
  testing/mocks/internal_/pkg/agent/storage/storage_mock.go
  testing/mocks/internal_/pkg/fleetapi/acker/acker_mock.go
  testing/mocks/internal_/pkg/fleetapi/client/sender_mock.go
  testing/mocks/pkg/control/v2/client/client_mock.go
Due: elastic-agent-extended-testing

Update internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade.go
Due: elastic-agent-extended-testing

specs for flavor returning no error
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/install/flavors.go
  internal/pkg/agent/install/flavors_test.go
Due: elastic-agent-extended-testing

pre-commit: fix failures (#6571)
  .buildkite/hooks/pre-exit
  .buildkite/scripts/common.sh
  .buildkite/scripts/common2.sh
  .buildkite/scripts/install-gh.sh
  .buildkite/scripts/install-kind.sh
  .buildkite/scripts/install-kubectl.sh
  .buildkite/scripts/retry.sh
  .buildkite/scripts/steps/ess.sh
  .buildkite/scripts/steps/gce-cleanup.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/k8s-extended-tests.sh
  .buildkite/scripts/steps/k8s-tests.sh
  .buildkite/scripts/steps/sync-k8s.sh
  .buildkite/scripts/steps/unit-tests.sh
  .pre-commit-config.yaml
  dev-tools/deploy
  dev-tools/packaging/files/ironbank/config/docker-entrypoint
  dev-tools/packaging/files/linux/filebeat.sh
  dev-tools/packaging/files/linux/metricbeat.sh
  dev-tools/packaging/files/linux/otelcol.sh
  dev-tools/packaging/files/linux/systemd-daemon-reload.sh
  dev-tools/promote_docs
  dev-tools/vagrant_scripts/dockerProvision.sh
  dev-tools/vagrant_scripts/kindProvision.sh
  dev-tools/vagrant_scripts/unixProvision.sh
  version/docs/build_docs.sh
Due: elastic-agent-extended-testing

updated test version selection
  testing/integration/testdata/.upgrade-test-agent-versions.yml
  testing/upgradetest/versions.go
Due: elastic-agent-extended-testing

ci(buildkite): exclude .github folder and updatecli-compose.yaml
  .buildkite/pull-requests.json
Due: none

Add otel components command
  changelog/fragments/1737106864-add_otel_components_cmd.yaml
  internal/pkg/agent/cmd/command_components.go
  internal/pkg/agent/cmd/otel.go
  internal/pkg/otel/command_components.go
Due: elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/
