Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

[mage] Fix FindFilesRecursive walking into git submodules and worktrees (#15520)
  .gitignore
  dev-tools/mage/common.go
  dev-tools/mage/common_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix 8.19 backport: remove non-existent 8.19 types from cherry-picked mocks
  go.mod
  go.sum
  internal/pkg/agent/application/upgrade/ttl/mocks.go
  internal/pkg/agent/cmd/mocks.go
Due: Trigger Extended tests for Pull request

Retry transient failures in integration test infrastructure
  pkg/testing/define/define_notdefine.go
  testing/integration/k8s/otel_helm_test.go
  testing/integration/leak/long_running_test.go
Due: Trigger Extended tests for Pull request

Update common.go
  dev-tools/mage/common.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

feat: introduce `otel-quark-receiver` otel receiver
  changelog/fragments/1784196736-quark-edot-receiver.yaml
  deploy/helm/elastic-agent/cloud-defend-values.yaml
  internal/edot/go.mod
  internal/edot/otelcol/components/default.go
Due: Trigger Extended tests for Pull request

Remove non-9.3 indirect deps from go.mod/go.sum
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

Run mage fmt after regenerating mocks in post-dependabot workflow
  .github/workflows/post-dependabot.yml
Due: none

Fix Format.License to use Elasticv2 license template
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Revert dependabot.yml to base branch state
  .github/dependabot.yml
Due: none

Extract Elasticv2LicenseName constant to dev-tools/licenses
  dev-tools/cmd/buildfleetcfg/buildfleetcfg.go
  dev-tools/cmd/buildpgp/build_pgp.go
  dev-tools/licenses/license.go
  dev-tools/mage/check.go
  dev-tools/mage/fmt.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: lint
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove spurious vbatts/tar-split from go.sum
  go.sum
Due: Trigger Extended tests for Pull request

Disable intermediate build cancellation for elastic-agent-package
  catalog-info.yaml
Due: none

oblt-cli: use a new template with support for StackBuildId
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

mount external repo to go cross build
  dev-tools/mage/crossbuild.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Disable intermediate build cancellation for elastic-agent-package (#15599)
  catalog-info.yaml
Due: none

fix linter warnings
  testing/integration/k8s/otel_helm_test.go
  testing/integration/leak/long_running_test.go
Due: Trigger Extended tests for Pull request

Add PR check for IAR staging package workflow
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/trigger-elastic-agent-package-iar.sh
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

propagate SetLevel to all loggers via shared atomic level
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  internal/pkg/agent/cmd/watch.go
  pkg/core/logger/logger.go
  pkg/core/logger/logger_test.go
Due: Trigger Extended tests for Pull request

Rename post-dependabot to post-dependency-update
  .github/workflows/post-dependency-update.yml
Due: none

Support renovate PRs in post-dependabot job
  .github/workflows/post-dependabot.yml
Due: none

Keep active branches up to date
  .github/renovate.json
  .github/workflows/update-renovate-branches.yml
Due: none

[deps] Replace Dependabot with Renovate
  .github/dependabot.yml
  .github/renovate.json
Due: none

Move renovate.json to repo root
  renovate.json
Due: none

Retry transient failures in integration test infrastructure (#15552)
  pkg/testing/define/define_notdefine.go
  testing/integration/k8s/otel_helm_test.go
  testing/integration/leak/long_running_test.go
Due: Trigger Extended tests for Pull request

Add comment.
  internal/pkg/agent/application/application.go
  internal/pkg/agent/vars/vars.go
Due: Trigger Extended tests for Pull request

Update otel_helm_test.go
  testing/integration/k8s/otel_helm_test.go
Due: Trigger Extended tests for Pull request

Run mage fmt and use unify license across all tools (#15597)
  .github/workflows/post-dependabot.yml
  dev-tools/cmd/buildfleetcfg/buildfleetcfg.go
  dev-tools/cmd/buildpgp/build_pgp.go
  dev-tools/licenses/license.go
  dev-tools/mage/check.go
  dev-tools/mage/fmt.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Register the composable providers explicitly (#15504)
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/cmd/include.go
  internal/pkg/agent/vars/vars.go
  internal/pkg/composable/controller_test.go
  internal/pkg/composable/include/include.go
  internal/pkg/composable/providers/agent/agent.go
  internal/pkg/composable/providers/agent/agent_test.go
  internal/pkg/composable/providers/docker/docker.go
  internal/pkg/composable/providers/env/env.go
  internal/pkg/composable/providers/env/env_test.go
  internal/pkg/composable/providers/filesource/filesource.go
  internal/pkg/composable/providers/filesource/filesource_test.go
  internal/pkg/composable/providers/host/host.go
  internal/pkg/composable/providers/host/host_test.go
  internal/pkg/composable/providers/kubernetes/kubernetes.go
  internal/pkg/composable/providers/kubernetesleaderelection/kubernetes_leaderelection.go
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets.go
  internal/pkg/composable/providers/local/local.go
  internal/pkg/composable/providers/local/local_test.go
  internal/pkg/composable/providers/localdynamic/localdynamic.go
  internal/pkg/composable/providers/localdynamic/localdynamic_test.go
  internal/pkg/composable/providers/path/path.go
  internal/pkg/composable/providers/path/path_test.go
Due: Trigger Extended tests for Pull request

Expand ES exporter auth and TLS documentation
  docs/reference/edot-collector/components/elasticsearchexporter.md
Due: none

fix(mockery): set boilerplate-file to enforce Elastic License 2.0 in generated mocks
  .mockery.yaml
  changelog/fragments/1784225908-configure-mockery-boilerplate-file-to-always-emit-correct-elastic-license-2.0-header.yaml
  internal/pkg/agent/application/actions/handlers/mocks.go
  internal/pkg/agent/application/info/mocks.go
  internal/pkg/agent/application/upgrade/mocks.go
  internal/pkg/agent/cmd/mocks.go
  internal/pkg/fleetapi/acker/mocks.go
Due: Trigger Extended tests for Pull request

Remove changelog fragment (not a user-facing change)
  changelog/fragments/1784225908-configure-mockery-boilerplate-file-to-always-emit-correct-elastic-license-2.0-header.yaml
Due: none

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
