Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Move metrics conversion to connector (#15177)
  internal/edot/connectors/elasticmonitoring/connector.go
  internal/edot/connectors/elasticmonitoring/convert.go
  internal/edot/connectors/elasticmonitoring/convert_test.go
  internal/edot/connectors/elasticmonitoring/factory.go
  internal/edot/otelcol/components/default.go
  internal/edot/otelcol/monitoring_test.go
  internal/edot/receivers/elasticmonitoring/convert.go
  internal/edot/receivers/elasticmonitoring/convert_test.go
  internal/edot/receivers/elasticmonitoring/factory.go
  internal/edot/receivers/elasticmonitoring/receiver.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Fix SNAPSHOT documentation
  docs/test-framework-dev-guide.md
Due: none

Point AGENTS.md to the test framework guide
  AGENTS.md
Due: none

update test yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_otel.yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_process.yaml
Due: Trigger Extended tests for Pull request

Skip fragment-in-pr for mergify[bot]-authored PRs (#15221)
  .github/workflows/fragment-in-pr.yml
Due: none

fix(test): fix flaky TestClassicAndReceiverAgentMonitoring (#15172)
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

test: fix flaky TestOtelAPMIngestion (#4148) (#15201)
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

feat: quark receiver
  internal/edot/receivers/quarkreceiver/README.md
  internal/edot/receivers/quarkreceiver/config.go
  internal/edot/receivers/quarkreceiver/doc.go
  internal/edot/receivers/quarkreceiver/factory.go
  internal/edot/receivers/quarkreceiver/generated_component_test.go
  internal/edot/receivers/quarkreceiver/generated_package_test.go
  internal/edot/receivers/quarkreceiver/internal/metadata/generated_logs.go
  internal/edot/receivers/quarkreceiver/internal/metadata/generated_logs_test.go
  internal/edot/receivers/quarkreceiver/internal/metadata/generated_status.go
  internal/edot/receivers/quarkreceiver/metadata.yaml
  internal/edot/receivers/quarkreceiver/receiver.go
  internal/edot/receivers/quarkreceiver/receiver_test.go
  internal/edot/receivers/quarkreceiver/testdata/TESTING.md
  internal/edot/receivers/quarkreceiver/testdata/otel-config.yaml
Due: Trigger Extended tests for Pull request

defaults
  internal/edot/otelcol/components/default.go
Due: Trigger Extended tests for Pull request

do not include spec changes
  specs/cloudbeat.spec.yml
  specs/endpoint-security.spec.yml
Due: Trigger Extended tests for Pull request

changelog
  changelog/fragments/1782926963-quark-edot-receiver.yaml
Due: none

docs: fix packaging example to match linux/amd64 build command
  README.md
Due: none

fix: don't reset locally-configured monitoring.http/pprof on Fleet policy check-in
  changelog/fragments/1782932182-preserve-locally-configured-monitoring.http.host-across-fleet-policy-check-ins.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
Due: Trigger Extended tests for Pull request

missing header
  internal/edot/receivers/quarkreceiver/internal/sensor/quark/include/nova.h
Due: Trigger Extended tests for Pull request

Resolve backport conflict markers in 9.3 branch
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/storage/store/state_store_test.go
  pkg/fleetapi/action.go
Due: Trigger Extended tests for Pull request

fix: don't reset locally-configured monitoring.http/pprof on Fleet policy check-in (#15291)
  changelog/fragments/1782932182-preserve-locally-configured-monitoring.http.host-across-fleet-policy-check-ins.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
Due: Trigger Extended tests for Pull request

fix: resolve unresolved backport conflict markers
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
Due: Trigger Extended tests for Pull request

fix: cover debug-log skip path and use clearer wording in log message
  internal/pkg/otel/manager/diagnostics.go
Due: Trigger Extended tests for Pull request

Replace strings.Contains segment match with exact comp.ID extraction
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Improve OTel diagnostics: fix receiver segment matching, cross-platform error checks, and expand tests
  changelog/fragments/1782214855-fix-duplicate-entries-and-empty-unit-dirs-in-otel-diagnostics-zip.yaml
  internal/pkg/diagnostics/diagnostics_test.go
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Address review comments: tighten warning assertion and reuse managerLogger
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Fix duplicate entries and empty unit dirs in OTel diagnostics ZIP
  changelog/fragments/1782214855-fix-duplicate-entries-and-empty-unit-dirs-in-otel-diagnostics-zip.yaml
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

fix: add debug log for skipped EDOT diagnostics and restore warn-level assertion
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
Due: Trigger Extended tests for Pull request

chore: revert doubtful change
  internal/pkg/otel/manager/diagnostics.go
Due: Trigger Extended tests for Pull request

Include fleet-server component for windows/arm64 packages (#14120)
  changelog/fragments/1778271360-Include-fleet-server-in-windows-arm64-packages.yaml
  dev-tools/packaging/packages.yml
  specs/fleet-server.spec.yml
  testing/integration/ess/fleetserver_test.go
  testing/integration/ess/install_test.go
  testing/integration/ess/upgrade_standalone_flavors_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Include fleet-server component for windows/arm64 packages (#14120)
  changelog/fragments/1778271360-Include-fleet-server-in-windows-arm64-packages.yaml
  specs/fleet-server.spec.yml
  testing/integration/ess/install_test.go
  testing/integration/ess/upgrade_standalone_flavors_test.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
