Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

fix merge
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_otel.yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_process.yaml
  internal/pkg/agent/application/monitoring/component/v1_monitor.go
Due: Trigger Extended tests for Pull request

Review feedback
  AGENTS.md
  docs/architecture.md
  docs/test-framework-dev-guide.md
Due: none

Add config options to enable checkin request compression (#13110)
  _meta/config/common.reference.p2.yml.tmpl
  changelog/fragments/1773175656-Add-feature-flag-to-enable-checkin-request-compression.yaml
  elastic-agent.reference.yml
  internal/pkg/agent/application/enroll/enroll.go
  internal/pkg/agent/application/enroll/enroll_test.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/configuration/fleet.go
  internal/pkg/fleetapi/checkin_cmd.go
  internal/pkg/fleetapi/checkin_cmd_test.go
  testing/fleetservertest/fleetserver_test.go
  testing/fleetservertest/server.go
  testing/integration/ess/checkin_compress_test.go
Due: Trigger Extended tests for Pull request

Update pipeline.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Fix backport
  .github/workflows/bump-agent-versions.yml
  .github/workflows/post-dependabot.yml
Due: none

Fix lint: remove redundant embedded Event field from selectors
  internal/pkg/otel/status/serializable.go
  internal/pkg/otel/translate/status.go
Due: Trigger Extended tests for Pull request

Add upgrade rpm --prefix integration tests (#13275)
  pkg/testing/fixture.go
  testing/integration/common_logs_ingestion.go
  testing/integration/ess/install_test.go
  testing/integration/ess/linux_rpm_test.go
Due: Trigger Extended tests for Pull request

Add pull request section
  AGENTS.md
Due: none

validate-docs-structure workflow not needed for 8.19
  .github/workflows/validate-docs-structure.yml
Due: none

Add to integration test.
  testing/integration/ess/linux_rpm_test.go
Due: Trigger Extended tests for Pull request

Fix backport
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

Add failing test
  internal/edot/otelcol/monitoring_test.go
Due: Trigger Extended tests for Pull request

Fix text errors in container help and docs (#13318)
  docs/cpu-metrics-in-fleet.md
  docs/fleet-server-bootstrap.asciidoc
  docs/pgp-workaround.md
  docs/test-framework-dev-guide.md
  internal/pkg/agent/cmd/container.go
Due: Trigger Extended tests for Pull request

Add entry for Windows/ARM64 support to the 9.3.2 release notes
  docs/release-notes/_snippets/9.3.2/index.md
Due: none

Update Defend for Containers k8s manifests (#13228)
  changelog/fragments/1772715054-cloud-defend-procfs.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-managed/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-daemonset.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Add comment and remove changelog fragment
  changelog/fragments/1774013885-add-ratelimit-processor-to-edot-collector.yaml
  internal/edot/otelcol/ratelimit_test.go
Due: Trigger Extended tests for Pull request

Fix SerializableEvent/Status for pkg/status.Event Attributes() interface in 8.19 backport
  internal/pkg/otel/README.md
  internal/pkg/otel/manager/healthcheck.go
  internal/pkg/otel/status/serializable.go
Due: Trigger Extended tests for Pull request

fixup: use fbreceiver/mbreceiver NewFactory() compatible with beats 9.3
  internal/edot/otelcol/components.go
Due: Trigger Extended tests for Pull request

Fix RPM prefix installation to copy service file instead of symlink. (#13284)
  changelog/fragments/1774358740-fix-rpm---prefix-installation-to-copy-service-file.yaml
  dev-tools/packaging/templates/linux/postinstall.sh.tmpl
  dev-tools/packaging/templates/linux/postrm.sh.tmpl
  testing/integration/ess/linux_rpm_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package
