Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

fix(synthetics): bake Playwright browsers into complete image
  changelog/fragments/1785872496-fix-complete-image-synthetics-browser-install.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

docs: update 9.5.0 Synthetics browser known issue
  docs/release-notes/known-issues.md
Due: none

Temporarily drop the host OS restriction
  pkg/testing/docker/provisioner.go
Due: Trigger Extended tests for Pull request

docs: update 9.5.0 Synthetics browser known issue (missing browsers + discourage upgrade) (#16014)
  docs/release-notes/known-issues.md
Due: none

[test] Fix CI for OTel heartbeat PL e2e
  dev-tools/packaging/testing/package_test.go
  testing/integration/ess/heartbeat_monitoring_test.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(synthetics): bake Playwright browsers into complete image (#15994)
  changelog/fragments/1785872496-fix-complete-image-synthetics-browser-install.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Stop Fleet Server containers from re-enrolling on every restart (#15987)
  changelog/fragments/1785700000-fix-fleet-server-container-re-enrollment.yaml
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/agent/cmd/enroll_cmd_nofips_test.go
  internal/pkg/agent/cmd/enroll_cmd_test.go
  internal/pkg/agent/errors/network.go
  internal/pkg/agent/errors/network_test.go
  testing/integration/k8s/kubernetes_fleet_server_test.go
  testing/integration/k8s/testdata/fleet-server.json
Due: Trigger Extended tests for Pull request

chore: run go mod tidy after gomod updates in Renovate
  renovate.json
Due: none

fix(deps): update tooling-test in internal/edot
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

update NOTICE files after tooling-test dependency update
  NOTICE-fips.txt
  NOTICE.txt
Due: none

update NOTICE files and clean up go.sum after kardianos/service bump
  NOTICE-fips.txt
  NOTICE.txt
  go.sum
Due: Trigger Extended tests for Pull request

chore: run go mod tidy after gomod updates in Renovate (#16021)
  renovate.json
Due: none

use mage notice directly in post-dependency-update workflow
  .github/workflows/post-dependency-update.yml
Due: none

use mage notice directly in post-dependency-update workflow (#16023)
  .github/workflows/post-dependency-update.yml
Due: none

fix(deps): update golang-x in internal/edot
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

update NOTICE files after golang-x dependency update
  NOTICE-fips.txt
  NOTICE.txt
Due: none

(backport #15874) chore: update OTel Collector dependencies to v0.157.0/v1.63.0
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1785505890-update-otel-collector-dependencies-to-v0.157.0-v1.63.0.yaml
  go.mod
  go.sum
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  testing/installtest/checks_unix.go
Due: Trigger Extended tests for Pull request

docs: update automation to reflect EDOT Collector → Elastic Agent rename (#15991)
  .github/workflows/update-docs.yml
  docs/scripts/update-docs/README.md
  docs/scripts/update-docs/templates/components-table.jinja2
  docs/scripts/update-docs/templates/ocb.jinja2
  docs/scripts/update-docs/update-components-docs.py
  internal/edot/components.yml
Due: Trigger Extended tests for Pull request

[9.3] (backport #15874) chore: update OTel Collector dependencies to v0.157.0/v1.63.0
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1785505890-update-otel-collector-dependencies-to-v0.157.0-v1.63.0.yaml
  go.mod
  go.sum
  internal/edot/README.md
  internal/edot/components.yml
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components/default.go
  testing/installtest/checks_unix.go
Due: Trigger Extended tests for Pull request

(backport #15874) chore: update OTel Collector dependencies to v0.157.0/v1.63.0
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1785505890-update-otel-collector-dependencies-to-v0.157.0-v1.63.0.yaml
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components/default.go
  internal/pkg/otel/README.md
  testing/installtest/checks_unix.go
Due: Trigger Extended tests for Pull request

fix broken cross-link to upstream-collector page
  docs/reference/otel-collector/config/default-config-standalone.md
Due: none

fix(edot): select compatible ebpfevents version
  NOTICE-fips.txt
  NOTICE.txt
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

fix: tidy modules after Beats backport update
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

go mod tidy and notice
  NOTICE-fips.txt
  NOTICE.txt
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Add known-issue for #15964
  docs/release-notes/known-issues.md
Due: none

Sync Beats with 9.5
  go.sum
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

(backport #15874) chore: update OTel Collector dependencies to v0.157.0/v1.63.0 (#16028)
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1785505890-update-otel-collector-dependencies-to-v0.157.0-v1.63.0.yaml
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components/default.go
  internal/pkg/otel/README.md
  testing/installtest/checks_unix.go
Due: Trigger Extended tests for Pull request

Update internal/pkg/agent/application/monitoring/component/v1_monitor_test.go
  internal/pkg/agent/application/monitoring/component/v1_monitor_test.go
Due: Trigger Extended tests for Pull request
