Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

[beatreceivers] Add stream-id to the diagnostic path (#16459)
  changelog/fragments/1788347691-fix-otel-diagnostics-stream-overwrite.yaml
  internal/pkg/diagnostics/diagnostics_test.go
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/status.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

fix conflicts
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/status.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Enable kafka exporter and receiver in FIPS builds
  NOTICE-fips.txt
  changelog/fragments/1789581976-enable-kafka-exporter-and-receiver-in-fips-builds.yaml
  internal/edot/otelcol/components/components_nofips.go
  internal/edot/otelcol/components/default.go
  internal/pkg/agent/application/configuration_embed.go
  internal/pkg/release/pgp.go
Due: Trigger Extended tests for Pull request

chore: update CODEOWNERS for ecp-internal-release.sh and update-beats.sh (#16748)
  .github/CODEOWNERS
Due: none

Update configuration_embed.go and pgp.go to match origin/main
  internal/pkg/agent/application/configuration_embed.go
  internal/pkg/release/pgp.go
Due: Trigger Extended tests for Pull request

docs: add breaking change note for OTel k8s_attributes processor
  changelog/fragments/1781291375-update-otel-components-to-v0.155.0.yaml
  changelog/fragments/1790068271-k8s_attributes-processor-emits-stable-k8s-semconv-attribute-names.yaml
Due: none

docs: add breaking change note for OTel k8s_attributes processor (#16761)
  changelog/fragments/1781291375-update-otel-components-to-v0.155.0.yaml
  changelog/fragments/1790068271-k8s_attributes-processor-emits-stable-k8s-semconv-attribute-names.yaml
Due: none

feat(docker): do not install docs and manpages
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

feat(docker): drop weak dependencies during install
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

feat: update OTel Collector components from 0.159.0 to 0.161.0 (#16745)
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1789980231-update-otel-components-to-v0.161.0.yaml
  changelog/fragments/1790068271-k8s_attributes-processor-emits-stable-k8s-semconv-attribute-names.yaml
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  internal/pkg/agent/cmd/watch.go
  internal/pkg/otel/README.md
  internal/pkg/otel/extension/elasticdiagnostics/README.md
  internal/pkg/otel/extension/elasticdiagnostics/extension.go
  internal/pkg/otel/extension/elasticdiagnostics/extension_test.go
  pkg/core/logger/logger.go
  wrapper/windows/archive-proxy/go.mod
  wrapper/windows/archive-proxy/go.sum
Due: Trigger Extended tests for Pull request

feat: update OTel Collector components from 0.159.0 to 0.161.0 (#16745)
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1789980231-update-otel-components-to-v0.161.0.yaml
  changelog/fragments/1790068271-k8s_attributes-processor-emits-stable-k8s-semconv-attribute-names.yaml
  go.mod
  go.sum
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/internaltelemetry/factory.go
  internal/pkg/agent/cmd/watch.go
  internal/pkg/otel/extension/elasticdiagnostics/README.md
  internal/pkg/otel/extension/elasticdiagnostics/extension.go
  internal/pkg/otel/extension/elasticdiagnostics/extension_test.go
  pkg/core/logger/logger.go
  wrapper/windows/archive-proxy/go.mod
  wrapper/windows/archive-proxy/go.sum
Due: Trigger Extended tests for Pull request

feat: update OTel Collector components from 0.159.0 to 0.161.0 (#16745)
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1789980231-update-otel-components-to-v0.161.0.yaml
  changelog/fragments/1789982424-support-aws-cloudwatch-initial-lookback.yaml
  changelog/fragments/1790068271-k8s_attributes-processor-emits-stable-k8s-semconv-attribute-names.yaml
  go.mod
  go.sum
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/internaltelemetry/factory.go
  internal/pkg/agent/cmd/watch.go
  internal/pkg/otel/extension/elasticdiagnostics/README.md
  internal/pkg/otel/extension/elasticdiagnostics/extension.go
  internal/pkg/otel/extension/elasticdiagnostics/extension_test.go
  internal/pkg/otel/testdata/all-components.yml
  pkg/core/logger/logger.go
  wrapper/windows/archive-proxy/go.mod
  wrapper/windows/archive-proxy/go.sum
Due: Trigger Extended tests for Pull request

make notice
  NOTICE-fips.txt
  NOTICE.txt
Due: none

feat(docker): clean npm cache after install
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

feat(docker): clean npm cache after install (#16768)
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use opamp for otel collector monitoring
  go.mod
  internal/edot/testing/components.go
  internal/pkg/otel/manager/execution.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/execution_subprocess_test.go
  internal/pkg/otel/manager/healthcheck.go
  internal/pkg/otel/manager/healthcheck_test.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/manager/opamp_inject.go
  internal/pkg/otel/manager/opamp_inject_test.go
  internal/pkg/otel/manager/opamp_server.go
  internal/pkg/otel/manager/opamp_server_test.go
  internal/pkg/otel/manager/opamp_translate.go
  internal/pkg/otel/manager/opamp_translate_test.go
Due: Trigger Extended tests for Pull request

Fix flaky unit tests and skip integration tests broken by OpAMP migration
  internal/pkg/otel/manager/manager_test.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

fix: emit STOPPED for otel-managed components when collector stops
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Remove stale nolint:gosec directive from opamp_translate_test.go
  internal/pkg/otel/manager/opamp_translate_test.go
Due: Trigger Extended tests for Pull request

Fix linter warnings
  internal/pkg/otel/manager/opamp_translate_test.go
Due: Trigger Extended tests for Pull request

fix: correct parameter names and signatures after rebase
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

fix: drain stale collectorRunErr after log-level-change restart
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

WIP: move OpAMP server lifecycle to run.go level
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/manager/opamp_server.go
Due: Trigger Extended tests for Pull request

refactor: share gRPC port with OpAMP via cmux connection multiplexing
  go.mod
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/manager/opamp_server.go
  pkg/component/runtime/manager.go
Due: Trigger Extended tests for Pull request

fix: address lint errors introduced by cmux commit
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/manager/opamp_server.go
Due: Trigger Extended tests for Pull request

fix: prevent race between otel:prepare and otel:crossBuild
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

chore: regenerate NOTICE files after adding cmux dependency
  NOTICE-fips.txt
  NOTICE.txt
Due: none

fix: suppress cmux shutdown errors from opamp http server
  internal/edot/go.mod
  internal/pkg/otel/manager/opamp_server.go
Due: Trigger Extended tests for Pull request

feat(opamp): replace cmux TCP sharing with Unix domain socket for OpAMP
  go.mod
  internal/edot/go.mod
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/manager/opamp_inject.go
  internal/pkg/otel/manager/opamp_inject_test.go
  internal/pkg/otel/manager/opamp_server.go
Due: Trigger Extended tests for Pull request

feat(opamp): add Windows named pipe support for OpAMP IPC
  internal/pkg/agent/cmd/opamp_socket_unix.go
  internal/pkg/agent/cmd/opamp_socket_windows.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/manager/opamp_inject.go
  internal/pkg/otel/manager/opamp_inject_test.go
  internal/pkg/otel/manager/opamp_server.go
Due: Trigger Extended tests for Pull request

refactor(opamp): move OpAMP server lifecycle back into OTelManager
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/manager/opamp_socket_unix.go
  internal/pkg/otel/manager/opamp_socket_windows.go
Due: Trigger Extended tests for Pull request

fix(opamp): use paths package for OpAMP socket and defer listener to Run()
  internal/pkg/agent/application/paths/common.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/manager/opamp_socket_unix.go
  internal/pkg/otel/manager/opamp_socket_windows.go
Due: Trigger Extended tests for Pull request

fix(opamp): use full UUID for per-instance socket path to prevent collisions
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/opamp_socket_unix.go
  internal/pkg/otel/manager/opamp_socket_windows.go
Due: Trigger Extended tests for Pull request
