Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Extract pkg/scheduler and pkg/fleetgateway for shared Fleet Server checkin loop (#14447)
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
  pkg/fleetgateway/checkin_loop.go
  pkg/fleetgateway/checkin_loop_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Due: Trigger Extended tests for Pull request

Export enrollment and ack backoff constants from pkg/fleetapi
  internal/pkg/agent/application/enroll/enroll.go
  internal/pkg/agent/cmd/enroll_cmd.go
  internal/pkg/fleetapi/acker/retrier/retrier.go
  pkg/fleetapi/backoff.go
Due: Trigger Extended tests for Pull request

fix test
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  testing/integration/ess/event_logging_test.go
Due: Trigger Extended tests for Pull request

add missing method
  testing/integration/ess/event_logging_test.go
Due: Trigger Extended tests for Pull request

Fix periodic cleanup missing leftover agent directories (#14378)
  changelog/fragments/1779134830-drosiek-cleanup-ttl.yaml
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/application/upgrade/cleanup_agent_directories.go
  internal/pkg/agent/application/upgrade/cleanup_agent_directories_test.go
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/manual_rollback_test.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_unpack.go
  internal/pkg/agent/application/upgrade/step_unpack_test.go
  internal/pkg/agent/application/upgrade/ttl/ttl_marker_source_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
  internal/pkg/agent/cmd/watch.go
Due: Trigger Extended tests for Pull request

chore: dedup getting rollback target
  internal/pkg/agent/application/upgrade/manual_rollback.go
Due: Trigger Extended tests for Pull request

Fix BK pipeline fetches
  .github/workflows/gh-aw-estc-pr-buildkite-flaky-test-reporter.lock.yml
Due: none

Fix BK pipeline retry detection
  .github/workflows/gh-aw-estc-pr-buildkite-flaky-test-reporter.lock.yml
Due: none

Test change
  main.go
Due: Trigger Extended tests for Pull request

Add flaky test reporter workflow
  .github/workflows/flaky-test-reporter.yml
  .github/workflows/gh-aw-estc-pr-buildkite-flaky-test-reporter.lock.yml
Due: none

Test new crossbuild images
  dev-tools/mage/settings.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix overrides api
  testing/integration/ess/event_logging_test.go
Due: Trigger Extended tests for Pull request

nit: use new(false) instead of temp variable for CertificateReload default (#14733)
  internal/pkg/agent/configuration/fleet_server.go
  internal/pkg/remote/config.go
Due: Trigger Extended tests for Pull request

nit: use new(false) instead of temp variable for CertificateReload default (#14732)
  internal/pkg/agent/configuration/fleet_server.go
  internal/pkg/remote/config.go
Due: Trigger Extended tests for Pull request

[8.19] Fix IAR container images
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

remove outdated comment
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
Due: Trigger Extended tests for Pull request

store before reexecing
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_nofips_test.go
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change_test.go
  internal/pkg/agent/application/actions/handlers/handler_helpers.go
Due: Trigger Extended tests for Pull request

Fix health_check endpoint to bind on all interfaces
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

Add health_check extension to kube-stack OTelCol configs
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

Check container readiness instead of running state in kube-stack test
  testing/integration/k8s/otel_helm_test.go
Due: Trigger Extended tests for Pull request

Add changelog entry
  changelog/fragments/1779881482-otel-kube-stack-healthcheck.yaml
Due: none

[8.19] Fix IAR container images (#14743)
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

reorder and add comments
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
Due: Trigger Extended tests for Pull request

Use the latency preset in integration tests (#14705)
  pkg/testing/tools/fleettools/fleet.go
  testing/integration/ess/auditd_monitoring_test.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/container_cmd_test.go
  testing/integration/ess/diagnostics_test.go
  testing/integration/ess/fips_test.go
  testing/integration/ess/fqdn_test.go
  testing/integration/ess/metrics_monitoring_test.go
  testing/integration/ess/monitoring_endpoint_test.go
  testing/integration/ess/monitoring_probe_preserve_text_cfg_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/osquery_monitoring_test.go
  testing/integration/ess/otel_test.go
  testing/integration/ess/run_path_logs_test.go
  testing/integration/ess/upgrade_rollback_test.go
  testing/integration/k8s/testdata/journald-input.yml
  testing/integration/leak/long_running_test.go
Due: Trigger Extended tests for Pull request

fix: sync README extensions list with registered components
  internal/pkg/otel/README.md
Due: Trigger Extended tests for Pull request

Fix conflicts
  testing/integration/ess/auditd_monitoring_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/osquery_monitoring_test.go
Due: Trigger Extended tests for Pull request

Fix conflicts
  testing/integration/ess/auditd_monitoring_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/osquery_monitoring_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Fix conflicts
  pkg/testing/tools/fleettools/fleet.go
  testing/integration/ess/auditd_monitoring_test.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/osquery_monitoring_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Fix: don't clean up after integration tests by default (#14747) (#14749)
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  docs/test-framework-dev-guide.md
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package
