Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Drop remaining globals from mage settings (#12856)
  dev-tools/mage/build.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/integtest.go
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/kubernetes/kubernetes.go
  dev-tools/mage/packageversion.go
  dev-tools/mage/pkg.go
  dev-tools/mage/pkg_test.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/pkgtypes.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
  pkg/testing/runner/runner_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix conflicts
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

fix conflicts
  go.mod
Due: Trigger Extended tests for Pull request

[docs] Fix applies_to tags in EDOT Collector component pages
  docs/reference/edot-collector/components/apmconfigextension.md
  docs/reference/edot-collector/components/attributesprocessor.md
  docs/reference/edot-collector/components/elasticapmconnector.md
  docs/reference/edot-collector/components/elasticapmintakereceiver.md
  docs/reference/edot-collector/components/elasticapmprocessor.md
  docs/reference/edot-collector/components/elasticsearchexporter.md
  docs/reference/edot-collector/components/filelogreceiver.md
  docs/reference/edot-collector/components/hostmetricsreceiver.md
  docs/reference/edot-collector/components/k8sclusterreceiver.md
  docs/reference/edot-collector/components/k8sobjectsreceiver.md
  docs/reference/edot-collector/components/kubeletstatsreceiver.md
  docs/reference/edot-collector/components/migrate-components.md
  docs/reference/edot-collector/components/prometheusremotewritereceiver.md
Due: none

Restructure for Go style
  internal/pkg/diagnostics/diagnostics.go
Due: Trigger Extended tests for Pull request

[Diagnostic] Redact URL (#13022)
  changelog/fragments/1772578978-redact-url-credentials-in-diagnostic-outputs.yaml
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
Due: Trigger Extended tests for Pull request

add some more edge cases
  internal/pkg/otel/translate/output_logstash_test.go
Due: Trigger Extended tests for Pull request

fix ci tests
  internal/pkg/otel/translate/output_logstash_test.go
Due: Trigger Extended tests for Pull request

Add build failure notifications for elastic-agent-package on release branches (#13036)
  .buildkite/pipeline.elastic-agent-package.yml
Due: Trigger Elastic Agent Package

Resolve conflicts
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkgspecs.go
  dev-tools/packaging/settings.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[docs] Fix applies_to tags in EDOT Collector component pages (#13040)
  docs/reference/edot-collector/components/apmconfigextension.md
  docs/reference/edot-collector/components/attributesprocessor.md
  docs/reference/edot-collector/components/elasticapmconnector.md
  docs/reference/edot-collector/components/elasticapmintakereceiver.md
  docs/reference/edot-collector/components/elasticapmprocessor.md
  docs/reference/edot-collector/components/elasticsearchexporter.md
  docs/reference/edot-collector/components/filelogreceiver.md
  docs/reference/edot-collector/components/hostmetricsreceiver.md
  docs/reference/edot-collector/components/k8sclusterreceiver.md
  docs/reference/edot-collector/components/k8sobjectsreceiver.md
  docs/reference/edot-collector/components/kubeletstatsreceiver.md
  docs/reference/edot-collector/components/migrate-components.md
  docs/reference/edot-collector/components/prometheusremotewritereceiver.md
Due: none

Resolve conflicts
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/settings.go
  dev-tools/packaging/settings.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Revert back to old packaging code
  dev-tools/mage/pkgspecs.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use a context for cancellation directly
  internal/edot/otelcol/agentprovider/stdingob_provider.go
Due: Trigger Extended tests for Pull request

Fix update:Beats
  dev-tools/mage/target/update/update.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Simplify initialization
  internal/edot/otelcol/agentprovider/stdingob_provider.go
Due: Trigger Extended tests for Pull request

changelog entry
  changelog/fragments/1772715054-cloud-defend-procfs.yaml
Due: none

Update changelog to include input type list
  changelog/fragments/1772560987-otel-metricbeat-all.yaml
Due: none

Fix backport error
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Bump to go-ucfg v0.9.1.
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Use the otel runtime for all metricbeat inputs (#13016)
  changelog/fragments/1772560987-otel-metricbeat-all.yaml
  internal/pkg/agent/configuration/configuration_test.go
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Fix go.sum
  go.sum
Due: Trigger Extended tests for Pull request

Add known issue for osquery in 9.3+
  docs/release-notes/known-issues.md
Due: none

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
