Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Avoid Windows TempDir cleanup failure in beat-diagnostics tests
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

docs: cofactor A/B result (build 40742) — -race necessary, coverage & GOGC ruled out
  investigation.md
Due: none

Fix docker service image for IAR (#14683)
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

package: use ubi10 (#12573)
  dev-tools/dependencies-report
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

ci: re-enable Windows 11 unit tests without the race detector (#14684)
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/unit-tests.ps1
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

updatecli: use the latest policy
  updatecli-compose.yaml
Due: none

Avoid Windows TempDir cleanup failure in beat-diagnostics tests (#14685)
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Fix conflicts
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

formatting
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Remove remaining conflict marker
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Switch all standalone configs to latency preset.
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/container_cmd_test.go
  testing/integration/ess/diagnostics_test.go
  testing/integration/ess/monitoring_probe_preserve_text_cfg_test.go
  testing/integration/ess/otel_test.go
  testing/integration/ess/run_path_logs_test.go
  testing/integration/ess/upgrade_rollback_test.go
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
  testing/integration/k8s/testdata/journald-input.yml
Due: Trigger Extended tests for Pull request

Use latency preset in Fleet based tests.
  pkg/testing/tools/fleettools/fleet.go
  testing/integration/ess/auditd_monitoring_test.go
  testing/integration/ess/fips_test.go
  testing/integration/ess/fqdn_test.go
  testing/integration/ess/metrics_monitoring_test.go
  testing/integration/ess/monitoring_endpoint_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/osquery_monitoring_test.go
  testing/integration/leak/long_running_test.go
Due: Trigger Extended tests for Pull request

fix: notify endpoint-security just before symlink swap, not before upgrade attempt (#14397)
  changelog/fragments/1779219800-fix-notify-endpoint-security-just-before-symlink-swap,-not-before-upgrade-attempt.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade_test.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/upgrade/options.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

fix: use subtest t in TestUpgradeErrorHandling assertion callbacks
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

fix: resolve backport conflicts for 8.19
  internal/pkg/agent/application/actions/handlers/handler_action_upgrade_test.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

fix: remove extra blank line in upgrade.go
  internal/pkg/agent/application/upgrade/upgrade.go
Due: Trigger Extended tests for Pull request

fix policy
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
Due: Trigger Extended tests for Pull request

Extract CheckinCmd to pkg/fleetapi for cross-repo sharing
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_test.go
  internal/pkg/fleetapi/ack_cmd.go
  internal/pkg/fleetapi/audit_unenroll_cmd.go
  internal/pkg/fleetapi/checkin_cmd_test.go
  internal/pkg/fleetapi/client/round_trippers.go
  pkg/fleetapi/checkin_cmd.go
  testing/fleetservertest/fleetserver_test.go
Due: Trigger Extended tests for Pull request

Fix fleet_gateway_test.go: use pkgfleetapi for CheckinComponent and CheckinUnit
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
Due: Trigger Extended tests for Pull request

Fix mustUnmarshalActions panic on nil/empty actions
  testing/fleetservertest/fleetserver_test.go
Due: Trigger Extended tests for Pull request

nit: rename disabled to enabled for clarity
  internal/edot/README.md
  internal/pkg/agent/configuration/fleet_server.go
  internal/pkg/remote/config.go
Due: Trigger Extended tests for Pull request

fix: add ssl.certificate_reload docs to config templates
  _meta/config/common.p2.yml.tmpl
  _meta/config/common.reference.p2.yml.tmpl
  _meta/config/elastic-agent.docker.yml.tmpl
  elastic-agent.docker.yml
  elastic-agent.yml
Due: none

bk: tier 2 only for PRs touching some files
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

fix: preserve live install during upgrade cleanup and report aborted upgrades to Fleet (#13935)
  changelog/fragments/1777551882-drosiek-marker-stale.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/cmd/watch_test.go
Due: Trigger Extended tests for Pull request
