Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Fix tests.
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/translate/status_test.go
Due: Trigger Extended tests for Pull request

Update config, regenerate changelogs
  changelog/new/10231.yaml
  changelog/new/10644.yaml
  changelog/new/11186.yaml
  changelog/new/11300.yaml
  changelog/new/11484.yaml
  changelog/new/11619.yaml
  changelog/new/11795.yaml
  changelog/new/11813.yaml
  changelog/new/11825.yaml
  changelog/new/11826.yaml
  changelog/new/11955.yaml
  changelog/new/11998.yaml
  changelog/new/12073.yaml
  changelog/new/12187.yaml
  changelog/new/12205.yaml
  changelog/new/12225.yaml
  changelog/new/12312.yaml
  changelog/new/12364.yaml
  docs/changelog.yml
Due: none

Regenerate bundle
  changelog/new/12187.yaml
  docs/changelog/bundles/9.3.0.yaml
Due: none

Cleanup and improve handling of collector exits in otel manager (#12927)
  internal/pkg/otel/manager/common.go
  internal/pkg/otel/manager/common_test.go
  internal/pkg/otel/manager/execution.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Align test binary with real EDOT binary
  internal/edot/testing/testing.go
Due: Trigger Extended tests for Pull request

Set without_scope_info to false for Prometheus metrics
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Fix TestOTelManager_Logging assertion
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

test rpm lock contention
  pkg/testing/fixture_install.go
  testing/integration/ess/rpm_lock_contention_test.go
Due: Trigger Extended tests for Pull request

Add changelog entry
  changelog/fragments/1772535983-edot-supervised-prometheus-metrics.yaml
Due: none

Fix isPlatformIndependentPackage for non-Python-wheel packages
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[docs] Replace tail-based sampling page with tracing collection config
  docs/redirects.yml
  docs/reference/edot-collector/config/configure-traces-collection.md
  docs/reference/edot-collector/config/index.md
  docs/reference/edot-collector/config/tail-based-sampling.md
  docs/reference/edot-collector/toc.yml
Due: none

Disable the dnf-automatic timer
  .buildkite/scripts/common.sh
Due: Trigger Extended tests for Pull request

fix ci-check
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger Extended tests for Pull request

Fix unit test
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Restore pre-9.3 DRA packaging logic
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[Diagnostic] Redact URL
  changelog/fragments/1772578978-redact-url-credentials-in-diagnostic-outputs.yaml
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Fixing conflicts
  go.mod
  go.sum
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Fix supervised EDOT internal telemetry endpoint (#13010)
  changelog/fragments/1772535983-edot-supervised-prometheus-metrics.yaml
  internal/edot/testing/testing.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Use the otel runtime for all metricbeat inputs
  changelog/fragments/1772560987-otel-metricbeat-all.yaml
  internal/pkg/agent/configuration/configuration_test.go
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Improve package version testability
  dev-tools/mage/packageversion.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add and use stdingob otel config provider
  internal/edot/cmd/otel.go
  internal/edot/cmd/otel_flags.go
  internal/edot/cmd/otel_flags_test.go
  internal/edot/cmd/otel_test.go
  internal/edot/cmd/validate.go
  internal/edot/go.mod
  internal/edot/otelcol/agentprovider/buffer_provider.go
  internal/edot/otelcol/agentprovider/buffer_provider_test.go
  internal/edot/otelcol/agentprovider/provider.go
  internal/edot/otelcol/agentprovider/provider_test.go
  internal/edot/otelcol/agentprovider/scheme.go
  internal/edot/otelcol/agentprovider/stdingob_provider.go
  internal/edot/otelcol/agentprovider/stdingob_provider_test.go
  internal/edot/otelcol/run.go
  internal/pkg/otel/manager/execution_subprocess.go
Due: Trigger Extended tests for Pull request

Add build notifications for elastic-agent-package
  .buildkite/pipeline.elastic-agent-package.yml
Due: Trigger Elastic Agent Package

delete extension from elastic-agent
  internal/edot/otelcol/components.go
  internal/pkg/otel/extension/elasticstorage/config.go
  internal/pkg/otel/extension/elasticstorage/extension.go
  internal/pkg/otel/extension/elasticstorage/factory.go
  internal/pkg/otel/extension/elasticstorage/generated_component_test.go
  internal/pkg/otel/extension/elasticstorage/generated_package_test.go
  internal/pkg/otel/extension/elasticstorage/internal/metadata/generated_status.go
  internal/pkg/otel/extension/elasticstorage/metadata.yaml
  internal/pkg/otel/extension/elasticstorage/store.go
Due: Trigger Extended tests for Pull request

Drop the condition for testing
  .buildkite/pipeline.elastic-agent-package.yml
Due: Trigger Elastic Agent Package

use env variable
  internal/pkg/otel/translate/otelconfig.go
Due: Trigger Extended tests for Pull request

Revert to pre-9.3 packaging logic
  dev-tools/mage/checksums.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Try pinging the elastic-agent-control-plane team
  .buildkite/pipeline.elastic-agent-package.yml
Due: Trigger Elastic Agent Package

Finalize conditional and custom message
  .buildkite/pipeline.elastic-agent-package.yml
Due: Trigger Elastic Agent Package
