Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Restore mocks.go to pre-backport state; regenerate with go tool mockery later
  pkg/control/v2/client/mocks.go
Due: Trigger Extended tests for Pull request

Resolve go.mod merge conflict from mockery backport
  go.mod
Due: Trigger Extended tests for Pull request

Revert dependabot.yml to base branch state
  .github/dependabot.yml
Due: none

Resolve dependabot.yml merge conflict from mockery backport
  .github/dependabot.yml
Due: none

Pin mockery v3 and regenerate mocks (#15513)
  .github/dependabot.yml
  .github/workflows/post-dependabot.yml
  go.mod
  go.sum
  internal/pkg/agent/application/actions/handlers/mocks.go
  internal/pkg/agent/application/info/mocks.go
  internal/pkg/agent/application/upgrade/mocks.go
  internal/pkg/agent/application/upgrade/ttl/mocks.go
  internal/pkg/agent/cmd/mocks.go
  internal/pkg/agent/storage/mocks.go
  internal/pkg/fleetapi/acker/mocks.go
  internal/pkg/fleetapi/client/mocks.go
  magefile.go
  pkg/control/v2/client/mocks.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix getting current user failing on Windows when no profile directory is present
  changelog/fragments/1784257071-fix-windows-no-profile-directory.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_privilege_level_change_windows.go
  pkg/ipc/listener_windows.go
Due: Trigger Extended tests for Pull request

Fix adjacent golangci-lint issues
  testing/integration/ess/install_test.go
Due: Trigger Extended tests for Pull request

Add Windows no-profile integration test
  testing/integration/ess/install_test.go
Due: Trigger Extended tests for Pull request

fix for adjacent noctx lint issue
  internal/pkg/otel/extension/elasticdiagnostics/extension_test.go
Due: Trigger Extended tests for Pull request

ci: track version in the PR title (#15667)
  .github/workflows/bump-agent-versions.sh
Due: none

add the 9.3.8 Elastic Agent release notes
  changelog/9.3.8.yaml
  changelog/fragments/1782214855-fix-duplicate-entries-and-empty-unit-dirs-in-otel-diagnostics-zip.yaml
  changelog/fragments/1782833975-bump-heartbeat-nodejs-22.23-npm-11.18.yaml
  changelog/fragments/1782932182-preserve-locally-configured-monitoring.http.host-across-fleet-policy-check-ins.yaml
  changelog/fragments/1782979541-update-otel-components-to-v0.155.0.yaml
  changelog/fragments/1783056842-redact-fleet-header-values-in-diagnostics-env-vars.yaml
  changelog/fragments/1783412071-fix-spurious-failed-to-unmarshal-checkin-actions-error-on-idle-fleet-check-ins.yaml
  changelog/fragments/1783541510-container-fleet-ca-override.yaml
  docs/release-notes/_snippets/9.3.8/breaking-changes.md
  docs/release-notes/_snippets/9.3.8/deprecations.md
  docs/release-notes/_snippets/9.3.8/index.md
  docs/release-notes/_snippets/breaking-changes/9.3.md
  docs/release-notes/_snippets/deprecations/9.3.md
  docs/release-notes/_snippets/index/9.3.md
Due: none

add the 9.4.4 Elastic Agent release notes
  changelog/9.4.4.yaml
  changelog/fragments/1779390024-add-hostname-monitoring-metrics.yaml
  changelog/fragments/1780322182-fix-missing-beat-receiver-trace-logs-from-diagnostic-bundle.yaml
  changelog/fragments/1781862490-profiles-feature-gate.yaml
  changelog/fragments/1782147307-drop-force-extension-converter.yaml
  changelog/fragments/1782214855-fix-duplicate-entries-and-empty-unit-dirs-in-otel-diagnostics-zip.yaml
  changelog/fragments/1782232123-Fix-minimum-batch-size-for-supervised-OTel-collector-ES-and-Kafka-exporters.yaml
  changelog/fragments/1782259200-otel-translate-honor-fqdn-feature-flag.yaml
  changelog/fragments/1782833975-bump-heartbeat-nodejs-22.23-npm-11.18.yaml
  changelog/fragments/1782932182-preserve-locally-configured-monitoring.http.host-across-fleet-policy-check-ins.yaml
  changelog/fragments/1782979445-update-otel-components-to-v0.154.0.yaml
  changelog/fragments/1783056842-redact-fleet-header-values-in-diagnostics-env-vars.yaml
  changelog/fragments/1783071900-fix-otel-flush-timeout-missing-unit.yaml
  changelog/fragments/1783412071-fix-spurious-failed-to-unmarshal-checkin-actions-error-on-idle-fleet-check-ins.yaml
  changelog/fragments/1783541510-container-fleet-ca-override.yaml
  docs/release-notes/_snippets/9.4.4/breaking-changes.md
  docs/release-notes/_snippets/9.4.4/deprecations.md
  docs/release-notes/_snippets/9.4.4/index.md
  docs/release-notes/_snippets/breaking-changes/9.4.md
  docs/release-notes/_snippets/deprecations/9.4.md
  docs/release-notes/_snippets/index/9.4.md
Due: none

add the 8.19.19 Elastic Agent release notes
  changelog/8.19.19.asciidoc
  changelog/8.19.19.yaml
  changelog/fragments/1782214855-fix-duplicate-entries-and-empty-unit-dirs-in-otel-diagnostics-zip.yaml
  changelog/fragments/1782833975-bump-heartbeat-nodejs-22.23-npm-11.18.yaml
  changelog/fragments/1782932182-preserve-locally-configured-monitoring.http.host-across-fleet-policy-check-ins.yaml
  changelog/fragments/1782979228-update-otel-components-to-v0.155.0.yaml
  changelog/fragments/1783056842-redact-fleet-header-values-in-diagnostics-env-vars.yaml
  changelog/fragments/1783412071-fix-spurious-failed-to-unmarshal-checkin-actions-error-on-idle-fleet-check-ins.yaml
  changelog/fragments/1783541510-container-fleet-ca-override.yaml
Due: none

Fix ordering issue in integration test script
  .buildkite/scripts/buildkite-integration-tests.sh
  .buildkite/scripts/retry.sh
Due: Trigger Extended tests for Pull request

Address Carson's comments
  docs/reference/edot-collector/components/elasticsearchexporter.md
Due: none

solve conflicts
  dev-tools/mage/settings.go
  magefile.go
  pkg/testing/define/define.go
  pkg/testing/fixture.go
  pkg/testing/local/runner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

solve conflicts
  pkg/testing/define/define_notdefine.go
Due: Trigger Extended tests for Pull request

solve conflicts
  dev-tools/mage/settings.go
  magefile.go
  pkg/testing/define/define.go
  pkg/testing/define/define_notdefine.go
  pkg/testing/fixture.go
  pkg/testing/local/runner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

deps: bump oblt-cli version to 8.0.16 (#15627)
  .oblt-cli-version
Due: none

Resolve merge conflicts in backport of #15673 to 8.19
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Apply suggestion from @v1v
  .ci/updatecli/values.d/oblt-cli.yml
Due: none

Fix orphaned filelog receiver in EDOT Collector Helm values
  changelog/fragments/1784562105-fix-orphaned-filelog-receiver-in-edot-collector-helm-charts.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

fix: upgrade marker not deleted on Windows after successful upgrade
  changelog/fragments/1752580000-fix-upgrade-marker-not-deleted-windows.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_watcher_marker_test.go
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/manual_rollback_test.go
  internal/pkg/agent/application/upgrade/watcher_marker.go
  internal/pkg/agent/application/upgrade/watcher_marker_test.go
  internal/pkg/agent/cmd/watch.go
  internal/pkg/agent/cmd/watch_test.go
Due: Trigger Extended tests for Pull request

fix: upgrade marker not deleted on Windows after successful upgrade
  internal/pkg/agent/application/coordinator/coordinator.go
Due: Trigger Extended tests for Pull request

docs: update docs
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

[Release] update version
  version/version.go
Due: Trigger Extended tests for Pull request

remove duplicate entries
  changelog/8.19.19.asciidoc
  changelog/8.19.19.yaml
Due: none

remove duplicate entries
  changelog/9.3.8.yaml
  docs/release-notes/_snippets/9.3.8/index.md
Due: none

remove duplicate entries attempt two
  changelog/9.3.8.yaml
  docs/release-notes/_snippets/9.3.8/index.md
Due: none

Stop leaked progress bar spinner corrupting test output
  testing/integration/ess/install_test.go
  testing/integration/ess/switch_unprivileged_test.go
Due: Trigger Extended tests for Pull request

Fix leaked progress bar spinner failing tests
  testing/integration/ess/install_test.go
  testing/integration/ess/switch_unprivileged_test.go
Due: Trigger Extended tests for Pull request

remove duplicate entries
  changelog/9.4.4.yaml
  docs/release-notes/_snippets/9.4.4/index.md
Due: none
