Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

docs: update docs
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

[Release] update version
  version/version.go
Due: Trigger Extended tests for Pull request

Update deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
Due: Trigger Extended tests for Pull request

Update deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

remove leftover keychain item after fixture uninstall on darwin
  pkg/testing/fixture_install.go
Due: Trigger Extended tests for Pull request

Resolve cherry-pick conflict in magefile.go imports
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add integration test for Ironbank Dockerfile yml file permissions (#16584)
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/dockervariants.go
  dev-tools/mage/ironbank_dockerfile_test.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  dev-tools/packaging/testing/package_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Increase Kibana memory to 2048 in integration tests
  pkg/testing/ess/create_deployment_request.tmpl.json
Due: Trigger Extended tests for Pull request

Implement review suggestions
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/cmd/run.go
  testing/integration/ess/container_cmd_test.go
  testing/integration/ess/restrict_upgrade_test.go
Due: Trigger Extended tests for Pull request

Include MacOS -fips artifacts in elastic-agent-package
  .buildkite/pipeline.elastic-agent-package.yml
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix test
  pkg/testing/ess/deployment_test.go
Due: Trigger Extended tests for Pull request

fix(packaging): fix yaml.v3 merge key priority — explicit keys must beat merge sources
  dev-tools/mage/pkgspecs.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

chore: remove changelog fragment and revert packages.yml to main
  changelog/fragments/1787676162-upgrade-mage-packaging-spec-loader-from-yaml.v2-to-yaml.v3.yaml
Due: none

fix(tests): fix duplicate YAML keys in integration test configs
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

fix(mage): let explicit keys beat nested merge sources in deep-merge
  dev-tools/mage/pkgspecs.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(mage): generalize deep-merge fix to also cover files and add changelog
  changelog/fragments/1787676162-upgrade-mage-packaging-spec-loader-from-yaml.v2-to-yaml.v3.yaml
  dev-tools/mage/pkgspecs.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(mage): upgrade pkgspecs.go from yaml.v2 to yaml.v3 with deep-merge fix
  dev-tools/mage/pkg_test.go
  dev-tools/mage/pkgspecs.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(packaging): convert new duplicate merge keys in packages.yml to yaml v3 list form
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

chore(mage): use go.yaml.in/yaml/v3 import path in mage packaging files
  dev-tools/mage/pkg_test.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/pkgtypes.go
  dev-tools/mage/settings.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[AutoOps] Change from AutoOpsToken to ApiKey Auth
  deploy/helm/elastic-agent/templates/integrations/_auto_ops/_auto_ops.tpl
  internal/edot/samples/darwin/autoops_es.yml
  internal/edot/samples/darwin/autoops_es_ssl.yml
  internal/edot/samples/linux/autoops_es.yml
  internal/edot/samples/linux/autoops_es_ssl.yml
  internal/edot/samples/windows/autoops_es.yml
  internal/edot/samples/windows/autoops_es_ssl.yml
Due: Trigger Extended tests for Pull request

fix(packaging): reverse merge-key lists to preserve yaml.v2 precedence
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[8.19][Automation] Update elastic/beats to a1be9b7ecfad
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to 1eba25fdf4c5
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to 7eff44ff320c
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 421cb5c7951e
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

broadcaster: release buffered values no subscriber can receive
  changelog/fragments/1791400000-release-unreachable-broadcaster-values.yaml
  pkg/utils/broadcaster/broadcaster.go
  pkg/utils/broadcaster/broadcaster_test.go
Due: Trigger Extended tests for Pull request

ci: run internal/edot unit tests
  .buildkite/pipeline.yml
  .buildkite/scripts/steps/unit-tests.ps1
  .buildkite/scripts/steps/unit-tests.sh
  .github/workflows/macos-unit-tests.yml
  AGENTS.md
  dev-tools/mage/gotest.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

ci: CODEOWNERS for oblt-aw trigger clients
  .github/CODEOWNERS
Due: none

feat(kubernetes): add OpenShift support to the Helm chart
  changelog/fragments/1791549397-helm-openshift-support.yaml
  deploy/helm/elastic-agent/examples/README.md
  deploy/helm/elastic-agent/examples/kubernetes-openshift-unprivileged/README.md
  deploy/helm/elastic-agent/examples/kubernetes-openshift-unprivileged/agent-kubernetes-values.yaml
  deploy/helm/elastic-agent/examples/kubernetes-openshift-unprivileged/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-openshift/README.md
  deploy/helm/elastic-agent/examples/kubernetes-openshift/agent-kubernetes-values.yaml
  deploy/helm/elastic-agent/examples/kubernetes-openshift/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
  deploy/helm/elastic-agent/templates/agent/openshift-scc.yaml
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
  pkg/testing/kubernetes/loader.go
  testing/integration/k8s/agent_helm_test.go
Due: Trigger Extended tests for Pull request

feat(kubernetes): add OpenShift support to the Kustomize manifests
  changelog/fragments/1791549397-kustomize-openshift-support.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc-clusterrole.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc-rolebinding-ksm.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc-rolebinding.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc.yaml
  magefile.go
  testing/integration/k8s/common.go
  testing/integration/k8s/k8s.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
  testing/integration/k8s/testdata/elastic-agent-kustomize-openshift.yaml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

add manager
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/manager/useragent_test.go
Due: Trigger Extended tests for Pull request

remove old code
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_nofips_test.go
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

changelog
  changelog/fragments/1790843739-pass-elastic-agent-information-to-beat-receivers.yaml
Due: none

chore: deps(updatecli): bump "ghcr.io/elastic/oblt-updatecli-policies...
  updatecli-compose.yaml
Due: none

ci: CODEOWNERS for oblt-aw trigger clients (#17110)
  .github/CODEOWNERS
Due: none

Increase Kibana memory to 2048 in integration tests (#17098)
  pkg/testing/ess/create_deployment_request.tmpl.json
  pkg/testing/ess/deployment_test.go
Due: Trigger Extended tests for Pull request

feat(kubernetes): add OpenShift support to the Helm chart (#17112)
  changelog/fragments/1791549397-helm-openshift-support.yaml
  deploy/helm/elastic-agent/examples/README.md
  deploy/helm/elastic-agent/examples/kubernetes-openshift-unprivileged/README.md
  deploy/helm/elastic-agent/examples/kubernetes-openshift-unprivileged/agent-kubernetes-values.yaml
  deploy/helm/elastic-agent/examples/kubernetes-openshift-unprivileged/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-openshift/README.md
  deploy/helm/elastic-agent/examples/kubernetes-openshift/agent-kubernetes-values.yaml
  deploy/helm/elastic-agent/examples/kubernetes-openshift/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
  deploy/helm/elastic-agent/templates/agent/openshift-scc.yaml
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
  pkg/testing/kubernetes/loader.go
  testing/integration/k8s/agent_helm_test.go
Due: Trigger Extended tests for Pull request

feat(kubernetes): add OpenShift support to the Kustomize manifests (#17113)
  changelog/fragments/1791549397-kustomize-openshift-support.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc-clusterrole.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc-rolebinding-ksm.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc-rolebinding.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc.yaml
  magefile.go
  testing/integration/k8s/common.go
  testing/integration/k8s/k8s.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
  testing/integration/k8s/testdata/elastic-agent-kustomize-openshift.yaml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package
