Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

moved to docs
  docs/magefile.go
Due: none

moved to docs
  docs/PII_HANDLING.md
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Change log level from Warn to Info for user check
  internal/pkg/agent/application/actions/handlers/handler_action_privilege_level_change.go
Due: Trigger Extended tests for Pull request

chore: deps(updatecli): bump "ghcr.io/elastic/oblt-updatecli-policies...
  updatecli-compose.yaml
Due: none

updatecli: bump version, debug and less often
  .github/workflows/updatecli-compose.yml
  .updatecli-version
Due: none

Enable keepalives in healthcheckv2 extension
  changelog/fragments/1769802977-fix-otel-healthcheck.yaml
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/healthcheck.go
  internal/pkg/otel/manager/healthcheck_test.go
Due: Trigger Extended tests for Pull request

Drop unnecessary logging
  internal/pkg/otel/manager/execution_subprocess.go
Due: Trigger Extended tests for Pull request

Rename some functions back to their original names
  dev-tools/mage/build.go
  dev-tools/mage/common.go
  dev-tools/mage/config.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/target/build/build.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

remove global config
  dev-tools/mage/build.go
  dev-tools/mage/clean.go
  dev-tools/mage/common.go
  dev-tools/mage/config.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/envconfig.go
  dev-tools/mage/fmt.go
  dev-tools/mage/gotest.go
  dev-tools/mage/integtest.go
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/kubernetes/kind.go
  dev-tools/mage/kubernetes/kubernetes.go
  dev-tools/mage/pkg.go
  dev-tools/mage/pkg_test.go
  dev-tools/mage/pkgtypes.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  dev-tools/mage/target/build/build.go
  dev-tools/mage/target/common/package.go
  dev-tools/mage/target/common/shared.go
  dev-tools/mage/target/integtest/integtest.go
  dev-tools/mage/target/pkg/test.go
  dev-tools/mage/target/unittest/unittest.go
  dev-tools/magefile.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Drop unused envOr
  dev-tools/mage/settings.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix linter warnings
  dev-tools/mage/build.go
  dev-tools/mage/common.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/envconfig.go
  dev-tools/mage/integtest.go
  dev-tools/mage/settings.go
  dev-tools/mage/target/build/build.go
  dev-tools/mage/target/update/update.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add config struct for mage
  dev-tools/mage/common.go
  dev-tools/mage/config.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/envconfig.go
  dev-tools/mage/gotest.go
  dev-tools/mage/packageversion.go
  dev-tools/mage/settings.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Drop unnecessary line
  dev-tools/mage/kubernetes/kubernetes.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Move and rename the new config struct
  dev-tools/mage/build.go
  dev-tools/mage/clean.go
  dev-tools/mage/common.go
  dev-tools/mage/config.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/envconfig.go
  dev-tools/mage/fmt.go
  dev-tools/mage/gotest.go
  dev-tools/mage/integtest.go
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/kubernetes/kind.go
  dev-tools/mage/kubernetes/kuberemote.go
  dev-tools/mage/kubernetes/kubernetes.go
  dev-tools/mage/packageversion.go
  dev-tools/mage/pkg.go
  dev-tools/mage/pkg_test.go
  dev-tools/mage/pkgtypes.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  dev-tools/mage/target/build/build.go
  dev-tools/mage/target/common/package.go
  dev-tools/mage/target/common/shared.go
  dev-tools/mage/target/integtest/integtest.go
  dev-tools/mage/target/pkg/test.go
  dev-tools/mage/target/unittest/unittest.go
  dev-tools/magefile.go
  magefile.go
  pkg/testing/runner/runner_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Stop settings tests from loading from env
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Drop remaining usages of MustLoadSettings
  dev-tools/mage/kubernetes/kuberemote.go
  dev-tools/mage/kubernetes/kubernetes.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Don't use env variables to pass config
  dev-tools/mage/build.go
  dev-tools/mage/clean.go
  dev-tools/mage/common.go
  dev-tools/mage/config.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/envconfig.go
  dev-tools/mage/fmt.go
  dev-tools/mage/gotest.go
  dev-tools/mage/integtest.go
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/kubernetes/kind.go
  dev-tools/mage/packageversion.go
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgtypes.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  dev-tools/magefile.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Additional cleanups
  dev-tools/mage/crossbuild.go
  dev-tools/mage/envconfig.go
  dev-tools/mage/integtest.go
  dev-tools/mage/kubernetes/kuberemote.go
  dev-tools/mage/settings.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix mage target name
  dev-tools/mage/build.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Rename npcapImageSelector
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Adjust osqueryd strip targets
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove remaining calls to os.Getenv
  dev-tools/devmachine/devmachine.go
  dev-tools/mage/build.go
  dev-tools/mage/envconfig.go
  dev-tools/mage/fmt.go
  dev-tools/mage/settings.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add unit tests for the new config loading
  dev-tools/mage/settings_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Refactor integration tester configuration
  dev-tools/mage/integtest.go
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/integtest_mage.go
  dev-tools/mage/kubernetes/kind.go
  dev-tools/mage/kubernetes/kubernetes.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Drop internal agent status extension
  internal/pkg/otel/manager/extension.go
Due: Trigger Extended tests for Pull request

Fix output status reporting for internal telemetry (#12659)
  internal/pkg/otel/translate/status.go
  internal/pkg/otel/translate/status_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Enable keepalives in healthcheckv2 extension (#12517)
  changelog/fragments/1769802977-fix-otel-healthcheck.yaml
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/healthcheck.go
  internal/pkg/otel/manager/healthcheck_test.go
Due: Trigger Extended tests for Pull request

Update elastic-agent-client to v7.18.0
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Remove unnecessary change to go.sum
  go.sum
Due: Trigger Extended tests for Pull request

update tests
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_otel.yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_process.yaml
Due: Trigger Extended tests for Pull request

Change feature flag detection
  internal/pkg/agent/application/application.go
Due: Trigger Extended tests for Pull request

add beat processor component to otel monitoring
  internal/edot/otelcol/components.go
  internal/pkg/otel/manager/manager.go
Due: Trigger Extended tests for Pull request

Split config equality check into func, add failing unit test
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
Due: Trigger Extended tests for Pull request
