Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

[9.4][Automation] Update elastic/beats to 1b127bb65d22
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 2dc2ccf39937
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

feat!: remove RollbacksAvailable from upgrade marker
  changelog/fragments/1781185493-remove-rollbacks_available-field-from-upgrade-marker.yaml
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/step_mark.go
  internal/pkg/agent/application/upgrade/step_mark_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

fix(diagnostics): redact sensitive values in JSON diagnostic files
  changelog/fragments/1785317648-redact-json-diagnostics.yaml
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Apply suggestion from @v1v
  .ci/updatecli/values.d/ironbank.yml
Due: none

Update auditd_monitoring_test.go
  testing/integration/ess/auditd_monitoring_test.go
Due: Trigger Extended tests for Pull request

replace for go-quark
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

add go-quark to docker
  dev-tools/mage/crossbuild.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

do not redact plain-text json diagnostics
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Benchmark: test blakerouse/opentelemetry-collector-contrib esexporter-serialize-at-ingest
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Fix Updatecli compose worktree failure (#15886)
  .github/workflows/updatecli-compose.yml
Due: none

fix(diagnostics): redact sensitive values in JSON diagnostic files (#15899)
  changelog/fragments/1785317648-redact-json-diagnostics.yaml
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
Due: Trigger Extended tests for Pull request

solve conflicts
  .golangci.yml
  changelog/fragments/1783951984-otel-collector-dedicated-log-file.yaml
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/application/monitoring/component/v1_monitor.go
  internal/pkg/agent/application/monitoring/component/v1_monitor_test.go
  internal/pkg/agent/cmd/logs.go
  internal/pkg/agent/cmd/logs_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/manager/execution.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  pkg/core/logger/logger.go
  pkg/core/logger/logger_test.go
  testing/integration/ess/diagnostics_test.go
  testing/integration/ess/event_logging_test.go
  testing/integration/ess/logging_file_test.go
Due: Trigger Extended tests for Pull request

Enable agent develop mode for local integration tests (#15542)
  dev-tools/mage/settings.go
  magefile.go
  pkg/testing/define/define.go
  pkg/testing/fixture.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

solve conflicts
  changelog/fragments/1783951984-otel-collector-most-verbose-log-level.yaml
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

solve conflicts
  changelog/fragments/1783951984-otel-collector-most-verbose-log-level.yaml
Due: none

mage tidy
  NOTICE-fips.txt
  NOTICE.txt
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 8d2ab535d12b
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.3][Automation] Update elastic/beats to a43270a0b994
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to fe17d032ac4f
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

solve conflicts
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/agent/cmd/run.go
Due: Trigger Extended tests for Pull request

fix: upgrade marker not deleted on Windows after successful upgrade
  internal/pkg/agent/application/coordinator/coordinator.go
Due: Trigger Extended tests for Pull request

fix: upgrade marker not deleted on Windows after successful upgrade
  changelog/fragments/1752580000-fix-upgrade-marker-not-deleted-windows.yaml
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_watcher_marker_test.go
  internal/pkg/agent/application/upgrade/manual_rollback.go
  internal/pkg/agent/application/upgrade/manual_rollback_test.go
  internal/pkg/agent/application/upgrade/watcher_marker.go
  internal/pkg/agent/application/upgrade/watcher_marker_test.go
  internal/pkg/agent/cmd/watch.go
  internal/pkg/agent/cmd/watch_test.go
Due: Trigger Extended tests for Pull request

docs: update upgrades.md to reflect two-file marker architecture
  docs/upgrades.md
Due: none

feat: revert bumping 9.2 to 9.3 version checks
  internal/pkg/agent/cmd/watch.go
  internal/pkg/agent/cmd/watch_test.go
Due: Trigger Extended tests for Pull request

Point ingest-dev triggers at PR 8918 with DRY_RUN for integration testing.
  .buildkite/pipeline.version-bump.yml
Due: none

fix: read watcher marker on startup and preserve FailedState
  docs/upgrades.md
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_watcher_marker_test.go
  internal/pkg/agent/application/upgrade/marker_watcher.go
  internal/pkg/agent/application/upgrade/marker_watcher_test.go
  internal/pkg/agent/application/upgrade/watcher_marker.go
  internal/pkg/agent/application/upgrade/watcher_marker_test.go
  internal/pkg/agent/cmd/watch.go
Due: Trigger Extended tests for Pull request

Add docker provisioner
  dev-tools/mage/gotest.go
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/common/instance.go
  pkg/testing/docker/Dockerfile
  pkg/testing/docker/provisioner.go
  pkg/testing/docker/provisioner_test.go
  pkg/testing/runner/runner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Restore ingest-dev trigger branch to main and drop DRY_RUN.
  .buildkite/pipeline.version-bump.yml
Due: none

fix: ack fallback via watcher marker when upgrade marker is removed
  internal/pkg/agent/application/upgrade/ack_marker.go
  internal/pkg/agent/application/upgrade/ack_marker_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/cmd/watch.go
Due: Trigger Extended tests for Pull request

Scope auditd test comparison to execve events from test rules
  testing/integration/ess/auditd_monitoring_test.go
Due: Trigger Extended tests for Pull request

Fix Renovate beats submodule and branch pattern issues
  .github/workflows/post-dependency-update.yml
  renovate.json
Due: none

test: add ackFromWatcherMarker unit tests
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

Fix Renovate beats submodule and branch pattern issues (#15915)
  .github/workflows/post-dependency-update.yml
  renovate.json
Due: none
