Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Preserve unexpired available rollback agent versions during rollback (#14024)
  changelog/fragments/1777976666-drosiek-rollback-prune-issue.yaml
  internal/pkg/agent/application/upgrade/rollback.go
  internal/pkg/agent/application/upgrade/rollback_test.go
  internal/pkg/agent/application/upgrade/ttl/ttl_marker_source.go
  internal/pkg/agent/application/upgrade/ttl/ttl_marker_source_test.go
  internal/pkg/agent/cmd/watch.go
Due: Trigger Extended tests for Pull request

Fix version order
  docs/release-notes/known-issues.md
Due: none

Group Go Dependabot updates into a single weekly batch (#14105)
  .github/dependabot.yml
Due: none

Add support for abreceiver, hbreceiver, osqreceiver, and pbreceiver (#14029)
  changelog/fragments/1777998109-add-support-for-auditbeat,-heartbeat,-osquerybeat,-and-packetbeat-to-run-under-otel-mode.yaml
  internal/edot/otelcol/components/components_nofips.go
  internal/edot/otelcol/components/default.go
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/assert_tools.go
  testing/integration/ess/auditd_monitoring_test.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/osquery_monitoring_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Update docs
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Update version
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-secret/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Inject policy id and revision into checkins via setter
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/actions/handlers/handler_helpers.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
  internal/pkg/agent/application/managed_mode.go
  internal/pkg/fleetapi/action.go
  internal/pkg/fleetapi/action_test.go
Due: Trigger Extended tests for Pull request

Fix references in integration tests.
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/metrics_monitoring_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

improve agent info store tests
  internal/pkg/agent/application/info/agent_info_store.go
  internal/pkg/agent/application/info/agent_info_store_test.go
Due: Trigger Extended tests for Pull request

run mage tidy
  go.sum
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

make check-ci
  testing/integration/k8s/testdata/opentelemetry-kube-stack/templates/_helpers.tpl
  testing/integration/k8s/testdata/opentelemetry-kube-stack/values.schema.json
Due: Trigger Extended tests for Pull request

run make check-ci
  go.sum
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

add changelog
  changelog/fragments/1778020336-fix-non-executable-package-file-permissions.yaml
Due: none

set mode for endpoint-security-resources.zip
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

set config samples to 0644
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

add PR to changelog fragment
  changelog/fragments/1778020336-fix-non-executable-package-file-permissions.yaml
Due: none

Include fleet-server component for windows/arm64 packages
  changelog/fragments/1778271360-Include-fleet-server-in-windows-arm64-packages.yaml
  dev-tools/packaging/packages.yml
  specs/fleet-server.spec.yml
  testing/integration/ess/fleetserver_test.go
  testing/integration/ess/install_test.go
  testing/integration/ess/upgrade_standalone_flavors_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

revert initializeAgentInfo
  internal/pkg/agent/application/info/agent_info.go
  internal/pkg/agent/application/info/agent_info_test.go
Due: Trigger Extended tests for Pull request

Move component model building errors out of generic configMgrErr
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
Due: Trigger Extended tests for Pull request

Add changelog fragment
  changelog/fragments/1778016504-fix-config-manager-errors-poisoning-aggregate-state.yaml
Due: none

Add ack failure test
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
Due: Trigger Extended tests for Pull request

Handle policy change errors in actionsErr
  internal/pkg/agent/application/coordinator/coordinator.go
Due: Trigger Extended tests for Pull request

Increase Fleet reconnect timeout in ESS log level restart test (#14119)
  testing/integration/ess/log_level_test.go
Due: Trigger Extended tests for Pull request

Check dependency licenses in `make check-ci`
  Makefile
Due: none

Fix license override for github.com/elastic/cloud-on-k8s/v3
  dev-tools/notice/overrides.json
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove dependency report
  Makefile
Due: none

[mage] Fix commit hash override
  dev-tools/mage/build.go
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/kubernetes/kubernetes.go
  dev-tools/mage/pkg_test.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Don't use templating for build args
  dev-tools/mage/build.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package
