Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

macroscope feedback
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
  .buildkite/scripts/steps/ess_start_oblt-cli.sh
Due: Trigger Extended tests for Pull request

chore: integration kafka partitioning
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/output_kafka.go
Due: Trigger Extended tests for Pull request

integration test case
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

test cases
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

Propagate ess_load_secrets failure from ess.ps1 ess_up
  .buildkite/scripts/steps/ess.ps1
Due: Trigger Extended tests for Pull request

fix: lower log level for process runtime fallback warning
  internal/pkg/agent/application/monitoring/component/v1_monitor.go
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Refactor the otel subprocess execution (#13582)
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/execution_subprocess_test.go
Due: Trigger Extended tests for Pull request

docs: fix Docker build command
  README.md
Due: none

docs: fix Docker build command (#13731)
  README.md
Due: none

also change in coordinator
  internal/pkg/agent/application/coordinator/coordinator.go
Due: Trigger Extended tests for Pull request

fix: lower log level for process runtime fallback warning (#13729)
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/monitoring/component/v1_monitor.go
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Wait for ESS stack in CI
  .buildkite/scripts/steps/ess.sh
  .buildkite/scripts/steps/ess_start.sh
Due: Trigger Extended tests for Pull request

[otel/kube-stack] Disable host.ip and host.mac for kube-stack managed_otlp due to high cardinality (#13566)
  changelog/fragments/1775811454-disable-host.ip-and-host.mac-kube-stack.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

fix ci tests
  testing/integration/ess/install_test.go
Due: Trigger Extended tests for Pull request

chore: remove docker and docker-compose dead code
  .buildkite/pull-requests.json
  .ci/updatecli/updatecli-bump-golang.yml
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

chore: remove skaffold related dead code and docs
  .buildkite/pull-requests.json
  AGENTS.md
  docs/local-k8s-testing.md
Due: none

updatecli: filter where the Azure images are defined
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: none

Fix test.
  testing/integration/ess/linux_rpm_test.go
Due: Trigger Extended tests for Pull request

fix
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: none

test
  .github/workflows/bump-vm-images.yml
Due: none

Add rhel as support OS in gcloud.
  pkg/testing/gcloud/supported.go
  pkg/testing/supported/supported.go
Due: Trigger Extended tests for Pull request

Update agent versions to latest
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

Enrich APM pipelines in daemon collector kube stack with k8sattributes
  changelog/fragments/1776865394-enrich-apm-data-with-k8s-attributes-in-daemon-collector-kube-stack.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
Due: Trigger Extended tests for Pull request

updatecli: filter where the Azure images are defined (#13742)
  .ci/updatecli/updatecli-bump-vm-images.yml
Due: none

fix(testing/windows): make go available to integration runs on fresh Windows images
  magefile.go
  pkg/testing/gcloud/provisioner.go
  pkg/testing/gcloud/provisioner_test.go
  pkg/testing/runner/runner.go
  pkg/testing/windows/windows.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix ai findings
  pkg/testing/gcloud/provisioner.go
Due: Trigger Extended tests for Pull request
