Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Add changelog fragment for opampextension
  changelog/fragments/1771511114-add-opamp-extension-to-edot-collector.yaml
Due: none

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

add doc
  docs/hybrid-agent-beats-receivers.md
Due: none

Revert "dra(iar): support helmcharts workaround (#12745) (#12802)" (#12855)
  .buildkite/pipeline.elastic-agent-package.yml
  .buildkite/scripts/steps/helmchart-cp-workaround.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix lint
  pkg/component/component.go
Due: Trigger Extended tests for Pull request

Pass config directly to non-target functions
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Default inputs using dynamic providers to the process runtime (#12854)
  changelog/fragments/1771503155-dynamic-inputs-process.yaml
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  pkg/component/component.go
  pkg/component/component_test.go
Due: Trigger Extended tests for Pull request

Update README and fix import ordering for opampextension
  internal/edot/README.md
  internal/edot/otelcol/components.go
Due: Trigger Extended tests for Pull request

update image to use wolfi based container
  .buildkite/pipeline.version-bump.yml
Due: none

Make some methods into attributes
  dev-tools/mage/build.go
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/integtest_docker.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/settings.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove unnecessary comment
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

add the 8.19.12 Elastic Agent release notes
  changelog/8.19.12.asciidoc
  changelog/8.19.12.yaml
  changelog/fragments/1769621019-synthetics-add-playwright-dependency-on-wolfi.yaml
  changelog/fragments/1769802977-fix-otel-healthcheck.yaml
  changelog/fragments/1770896223-update-otel-to-01440.yaml
Due: none

clean up changelog entries
  changelog/8.19.12.asciidoc
  changelog/8.19.12.yaml
Due: none

add the 9.2.6 Elastic Agent release notes
  changelog/9.2.6.yaml
  changelog/fragments/1769621019-synthetics-add-playwright-dependency-on-wolfi.yaml
  changelog/fragments/1769802977-fix-otel-healthcheck.yaml
  changelog/fragments/1770144916-update-otel-components-to-v0.144.0.yaml
  changelog/fragments/1770366462-add-statsd-receiver-to-edot-collector.yaml
  docs/release-notes/_snippets/9.2.6/breaking-changes.md
  docs/release-notes/_snippets/9.2.6/deprecations.md
  docs/release-notes/_snippets/9.2.6/index.md
  docs/release-notes/_snippets/breaking-changes/9.2.md
  docs/release-notes/_snippets/deprecations/9.2.md
  docs/release-notes/_snippets/index/9.2.md
Due: none

clean up changelog entries
  changelog/9.2.6.yaml
  docs/release-notes/_snippets/9.2.6/index.md
  docs/release-notes/_snippets/breaking-changes/9.2.md
  docs/release-notes/_snippets/deprecations/9.2.md
  docs/release-notes/_snippets/index/9.2.md
Due: none

add the 9.3.1 Elastic Agent release notes
  changelog/9.3.1.yaml
  changelog/fragments/1768496853-Support---prefix-flag-when-installing-from-RPM.yaml
  changelog/fragments/1769453831-otel-dynamic-providers.yaml
  changelog/fragments/1769621019-synthetics-add-playwright-dependency-on-wolfi.yaml
  changelog/fragments/1769775010-update-otel-components-to-v0.144.0.yaml
  changelog/fragments/1769802977-fix-otel-healthcheck.yaml
  changelog/fragments/1770045833-fix-agent-becoming-unhealthy-when-using-the-warn-log-level..yaml
  changelog/fragments/1770253767-deprecate_jmx_receiver.yaml
  changelog/fragments/1770366462-add-statsd-receiver-to-edot-collector.yaml
  changelog/fragments/1770625543-log-dedup.yaml
  changelog/fragments/1770671850-otel-monitoring-log-feedback.yaml
  changelog/fragments/1770892325-fix-otel-collector-config-merge.yaml
  changelog/fragments/1770923467-otel-telemetry-default-processors.yaml
  docs/release-notes/_snippets/9.3.1/breaking-changes.md
  docs/release-notes/_snippets/9.3.1/deprecations.md
  docs/release-notes/_snippets/9.3.1/index.md
  docs/release-notes/_snippets/breaking-changes/9.3.md
  docs/release-notes/_snippets/deprecations/9.3.md
  docs/release-notes/_snippets/index/9.3.md
Due: none

clean up changelog entries
  changelog/9.3.1.yaml
  docs/release-notes/_snippets/9.3.1/deprecations.md
  docs/release-notes/_snippets/9.3.1/index.md
  docs/release-notes/_snippets/breaking-changes/9.3.md
  docs/release-notes/_snippets/deprecations/9.3.md
  docs/release-notes/_snippets/index/9.3.md
Due: none

Removed backstage definition for Agentless (#12853)
  catalog-info.yaml
Due: none

Adding CHANGELOG
  changelog/fragments/1771511114-add-opamp-extension-to-edot-collector.yaml
Due: none

wip
  internal/edot/cmd/otel.go
  internal/edot/otelcol/agentprovider/buffer_provider.go
  internal/edot/otelcol/agentprovider/buffer_provider_test.go
  internal/edot/otelcol/agentprovider/provider.go
  internal/edot/otelcol/agentprovider/provider_test.go
  internal/edot/otelcol/agentprovider/streaming_provider.go
  internal/edot/otelcol/agentprovider/streaming_provider_test.go
  internal/pkg/otel/manager/execution.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Use socket instead of pipe
  internal/edot/cmd/otel.go
  internal/edot/otelcol/agentprovider/dial.go
  internal/edot/otelcol/agentprovider/dial_windows.go
  internal/edot/otelcol/agentprovider/streaming_provider.go
  internal/edot/otelcol/agentprovider/streaming_provider_test.go
  internal/edot/testing/testing.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/socket.go
  internal/pkg/otel/manager/socket_windows.go
Due: Trigger Extended tests for Pull request

Clean up socket usage
  internal/edot/otelcol/agentprovider/dial.go
  internal/edot/otelcol/agentprovider/dial_windows.go
  internal/edot/otelcol/agentprovider/streaming_provider.go
  internal/pkg/agent/application/paths/common.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/manager/socket.go
  internal/pkg/otel/manager/socket_windows.go
Due: Trigger Extended tests for Pull request

Apply config asynchronously
  internal/pkg/otel/manager/execution_subprocess.go
Due: Trigger Extended tests for Pull request
