Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Drop redundant ironbank build and test from package.sh
  .buildkite/scripts/steps/package.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Explain that ADD is not allowed by Ironbank in the Dockerfile template
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Put Dockerfile template if/else on separate lines
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix hardening manifest parsing for template expressions
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Check Ironbank component permissions in package_test.go
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
  dev-tools/packaging/testing/package_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use COPY for tinit/jq in the public ironbank build too
  dev-tools/mage/ironbank_dockerfile_test.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix prepareIronbankBuild compile error
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use pre-built ironbank build context and agent tarball instead of fake stubs
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

build ironbank variant
  dev-tools/mage/dockervariants.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Make /tinit 0755 in the public ironbank build
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Run Ironbank Dockerfile permissions test in CI after packaging
  .buildkite/scripts/steps/package.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Define public_build for the Ironbank submission template data
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix golangci-lint issues in ironbank dockerfile test
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Inject ironbank sha256 hashes from manifest into mage package path
  dev-tools/packaging/packages.yml
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use a context-aware HTTP request to download ironbank resources
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Resolve pipeline conflict in the 9.4 backport of #16919
  .buildkite/bk.integration.pipeline.yml
Due: Trigger Extended tests for Pull request

test: fix TestSamples test
  internal/edot/samples_test.go
Due: Trigger Extended tests for Pull request

test: fix TestComponentsCommand test
  internal/edot/cmd/testdata/otel/components-output-fips.yml
  internal/edot/cmd/testdata/otel/components-output.yml
Due: Trigger Extended tests for Pull request

Add macOS 27 runners to unit tests
  .github/workflows/macos-unit-tests.yml
Due: none

Apply batched suggestions from code review
  .github/workflows/macos-unit-tests.yml
Due: none

Apply suggestion from @v1v
  .github/workflows/macos-unit-tests.yml
Due: none

mage check
  go.sum
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Fix variables in Fleet policy inputs and outputs being resolved too early
  changelog/fragments/1790940000-fix-early-resolution-of-policy-input-variables.yaml
  internal/pkg/config/config.go
  internal/pkg/config/config_test.go
Due: Trigger Extended tests for Pull request

[fix] Address mismatch between version file generation and PreviousMinor filter (#16901)
  testing/upgradetest/versions.go
  testing/upgradetest/versions_test.go
Due: Trigger Extended tests for Pull request

Fix variables in Fleet policy inputs and outputs being resolved too early (#16972)
  changelog/fragments/1790940000-fix-early-resolution-of-policy-input-variables.yaml
  internal/pkg/config/config.go
  internal/pkg/config/config_test.go
Due: Trigger Extended tests for Pull request

ci: package linux and windows amd64 artifacts in separate steps
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
Due: Trigger Extended tests for Pull request

ci: ensure elastic-agent-core tar.gz is built for rpm/deb packaging
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

ci: upload the integration test steps together with the packaging steps
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Fix mage addLicenseHeaders
  AGENTS.md
  dev-tools/mage/target/common/fmt.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix benchmark heap delta to keep baseline objects alive through second sample
  internal/pkg/agent/transpiler/render_cache_mem_test.go
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to a4e0a0f13647
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 668de5814701
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[8.19][Automation] Update elastic/beats to 48890aed16de
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

chore(synthetics): patch vulnerable deps bundled with npm 12.0.2
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
