Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Verify provisioning ESS variables to buildkite agents (#16166)
  .buildkite/scripts/steps/ess_start.sh
Due: Trigger Extended tests for Pull request

fix: drain stale collectorRunErr after log-level-change restart
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Cleanups from code review.
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

fix(windows): local privilege escalation via binary tampering on unprivileged installs (#16058)
  changelog/fragments/1786027979-fix-local-privilege-escalation-via-binary-tampering-on-windows-unprivileged-installs.yaml
  internal/pkg/agent/perms/opts.go
  internal/pkg/agent/perms/unix_test.go
  pkg/utils/perm_windows.go
  pkg/utils/perm_windows_test.go
  testing/installtest/checks_windows.go
Due: Trigger Extended tests for Pull request

fix(windows): trust current Agent process user SID in HasStrictExecPerms
  changelog/fragments/1786546956-allow-current-windows-agent-user-to-write-components.yaml
  pkg/utils/perm_windows.go
  pkg/utils/perm_windows_test.go
Due: Trigger Extended tests for Pull request

Do it without changes to beat.
  internal/pkg/otel/translate/output_elasticsearch.go
Due: Trigger Extended tests for Pull request

WIP: move OpAMP server lifecycle to run.go level
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/manager/opamp_server.go
Due: Trigger Extended tests for Pull request

fix(windows): trust current Agent process user SID in HasStrictExecPerms (#16173)
  changelog/fragments/1786546956-allow-current-windows-agent-user-to-write-components.yaml
  pkg/utils/perm_windows.go
  pkg/utils/perm_windows_test.go
Due: Trigger Extended tests for Pull request

Remove redundant changelog fragment (already covered by backport of #16058)
  changelog/fragments/1786546956-allow-current-windows-agent-user-to-write-components.yaml
Due: none

Re-add changelog fragment for current-user SID fix (mirrors #16173)
  changelog/fragments/1786546956-allow-current-windows-agent-user-to-write-components.yaml
Due: none

test(k8s): address code review comments on RBAC deadlock test
  pkg/testing/kubernetes/supported.go
  testing/integration/k8s/kubernetes_agent_helm_rbac_deadlock_test.go
Due: Trigger Extended tests for Pull request

Fix clear docs and config text errors
  deploy/helm/elastic-agent/CONTRIBUTING.md
  docs/architecture.md
  docs/hybrid-agent-beats-receivers.md
  specs/cloudbeat.spec.yml
  specs/endpoint-security.spec.yml
  testing/integration/ess/endpoint_security_test.go
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to 74f42ea1e6c8
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 3880356e9273
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to 5c2f0187978f
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

test(k8s): trigger deadlock via kubernetes integration update, not system deletion
  testing/integration/k8s/kubernetes_agent_helm_rbac_deadlock_test.go
Due: Trigger Extended tests for Pull request

Add known issue for kerberos not being supported in kafka [otel runtime] (#16119)
  docs/release-notes/known-issues.md
Due: none

test(k8s): wait deterministically for Fleet policy ack before HEALTHY assertion
  testing/integration/k8s/kubernetes_agent_helm_rbac_deadlock_test.go
Due: Trigger Extended tests for Pull request

[mage] Load .package-version by default only for select targets (#16169)
  .buildkite/scripts/steps/build-agent-core.sh
  .buildkite/scripts/steps/helm-charts.sh
  .buildkite/scripts/steps/package.sh
  dev-tools/mage/crossbuild.go
  dev-tools/mage/packageversion.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  docs/test-framework-dev-guide.md
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update build-agent-core.sh
  .buildkite/scripts/steps/build-agent-core.sh
Due: Trigger Extended tests for Pull request

Update crossbuild.go
  dev-tools/mage/crossbuild.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update magefile.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

refactor: share gRPC port with OpAMP via cmux connection multiplexing
  go.mod
  go.sum
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/otel/manager/opamp_server.go
  pkg/component/runtime/manager.go
Due: Trigger Extended tests for Pull request

Add local stack provisioner
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/common/instance.go
  pkg/testing/common/stack.go
  pkg/testing/docker/provisioner.go
  pkg/testing/ess/local_provisioner.go
  pkg/testing/ess/local_provisioner_test.go
  pkg/testing/ess/serverless_provisioner.go
  pkg/testing/ess/statful_provisioner.go
  pkg/testing/gcloud/provisioner.go
  pkg/testing/kubernetes/kind/provisioner.go
  pkg/testing/local/local.go
  pkg/testing/multipass/provisioner.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/runner_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(diagnostics): collect component trace logs in container deployments
  changelog/fragments/1786552448-fix-diagnostics-collect-component-trace-logs-in-container-deployments.yaml
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Address Heartbeat parity test review feedback
  pkg/component/heartbeat_runtime_test.go
Due: Trigger Extended tests for Pull request

Test Heartbeat monitor state restoration
  testing/integration/ess/heartbeat_monitoring_test.go
Due: Trigger Extended tests for Pull request

Keep Heartbeat TestBeatsMetrics timeout at 20m
  testing/integration/ess/heartbeat_monitoring_test.go
Due: Trigger Extended tests for Pull request

Test Heartbeat process runtime parity guards
  pkg/component/heartbeat_runtime_test.go
Due: Trigger Extended tests for Pull request

Fix linter warnings
  magefile.go
  pkg/testing/kubernetes/kind/provisioner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

docs: add 'Added in' version column to EDOT Collector components table
  docs/scripts/update-docs/backfill-component-since.py
  docs/scripts/update-docs/templates/components-table.jinja2
  docs/scripts/update-docs/update-components-docs.py
  internal/edot/components.yml
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
