Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Sync K8s:
  label: Sync K8s
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: family/core-ubuntu-2204
  env:
  - GH_VERSION=2.4.0

elastic-agent-extended-testing:
  trigger: elastic-agent-extended-testing
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

add add_cloud_metadata processor
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

remove hybrid test
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Resolved Conflicts
  pkg/testing/tools/fleettools/fleet.go
  testing/integration/install_test.go
Due: elastic-agent-extended-testing

ci: skip flaky TestSetLogLevelFleetManaged
  testing/integration/log_level_test.go
Due: elastic-agent-extended-testing

[CI] New upgrade-flavor test group for TestStandaloneUpgrade_Flavor tests
  .buildkite/bk.integration.pipeline.yml
  testing/integration/groups_test.go
  testing/integration/upgrade_standalone_flavors_test.go
Due: elastic-agent-extended-testing

fix: proper k8s versions
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/aws_mp_configuration_schema.json
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

fix: remove irrelevant files
  deploy/helm/elastic-agent/aws_mp_configuration_schema.json
Due: none

mage: run mage update steps in parallel
  magefile.go
Due: elastic-agent-extended-testing

refactor: move motel values to motel dir
  deploy/helm/edot-collector/kube-stack/motel/values.yaml
Due: none

add ApiKey prefix for motel exporter headers
  deploy/helm/edot-collector/kube-stack/motel/values.yaml
Due: none

refactor: move motel configurations to motel subdir
  internal/pkg/otel/samples/darwin/logs_metrics_traces.yml
  internal/pkg/otel/samples/darwin/motel/logs_metrics_traces.yml
  internal/pkg/otel/samples/darwin/motel/platformlogs.yml
  internal/pkg/otel/samples/darwin/motel/platformlogs_hostmetrics.yml
  internal/pkg/otel/samples/darwin/platformlogs_hostmetrics.yml
  internal/pkg/otel/samples/linux/logs_metrics_traces.yml
  internal/pkg/otel/samples/linux/motel/logs_metrics_traces.yml
  internal/pkg/otel/samples/linux/motel/platformlogs.yml
  internal/pkg/otel/samples/linux/motel/platformlogs_hostmetrics.yml
  internal/pkg/otel/samples/linux/platformlogs.yml
Due: elastic-agent-extended-testing

remove changelog fragment as the bug didn't land in any release yet
  changelog/fragments/1739528415-fix-install-prevention-on-linux.yaml
Due: none

upgate go-sysinfo module
  go.mod
  go.sum
Due: elastic-agent-extended-testing

go mod tidy
  go.sum
Due: elastic-agent-extended-testing

chore: Update go.mod version
  go.mod
Due: elastic-agent-extended-testing

chore: Update .golangci.yml
  .golangci.yml
Due: none

chore: Update .go-version
  .go-version
Due: elastic-agent-extended-testing

chore: Update from dockerfiles
  Dockerfile
  Dockerfile.skaffold
Due: none

chore: Update version.asciidoc
  version/docs/version.asciidoc
Due: Sync K8s, elastic-agent-extended-testing

test: add motel configuration integration test case
  magefile.go
  testing/integration/otel_helm_test.go
Due: elastic-agent-extended-testing

chore: add fragments entry
  changelog/fragments/1739544282-add-MOtel-sample-configurations.yaml
Due: none

ci: update version in k8s manifests and skip flaky TestSetLogLevelFleetManaged (#6869)
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/log_level_test.go
Due: Sync K8s, elastic-agent-extended-testing

fix: make Run not to fail if getK8sClientFunc returns an err which is appropriate only for 8.17.x
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets.go
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets_test.go
Due: elastic-agent-extended-testing

fix: disable kubernetes_secrets unit-test that relies on timing for windows platform (#6805)
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets_test.go
Due: elastic-agent-extended-testing

enhancement(6394): updated preinstall script, updated service to use uninstall token
  dev-tools/packaging/templates/linux/preinstall.sh.tmpl
  pkg/component/runtime/service.go
Due: elastic-agent-extended-testing

Fail install in case Fleet Server flags are used and `--install-server` flag is missing (#6727)
  internal/pkg/agent/cmd/install.go
Due: elastic-agent-extended-testing

test works
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

remove golang references
  .golangci.yml
Due: none

add changelog
  changelog/fragments/1739786378-Upgrade-to-Go-1.24.0.yaml
Due: none

bumpv ersion pipeline
  .buildkite/pipeline.yml
Due: elastic-agent-extended-testing

ci(buildkite): use go-version env variable in the pipeline.yml
  .buildkite/pipeline.yml
Due: elastic-agent-extended-testing

fix ci
  go.mod
  go.sum
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Add a test for empty local provider
  internal/pkg/composable/controller_test.go
Due: elastic-agent-extended-testing

bump versions golangci
  .github/workflows/golangci-lint.yml
  Makefile
Due: none

feat: improve readability by replacing Info with Infof
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets.go
Due: elastic-agent-extended-testing

updated versions
  testing/integration/testdata/.upgrade-test-agent-versions.yml
Due: elastic-agent-extended-testing

pin 9.0
  magefile.go
  testing/integration/testdata/.upgrade-test-agent-versions.yml
Due: elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/
