Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Sync K8s:
  label: Sync K8s
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: family/core-ubuntu-2204
  env:
  - GH_VERSION=2.4.0

elastic-agent-extended-testing:
  trigger: elastic-agent-extended-testing
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    env:
    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

re-enable otel subcommand on Windows (#6068)
  changelog/fragments/1731962301-re-enable-otel-subcommand-on-Windows.yaml
  internal/pkg/agent/cmd/otel.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/cmd/validate_test.go
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Store AST directly in provider mappings (#6114)
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

Increase failure threshold for agent monitoring inputs from 2 to 5
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
Due: elastic-agent-extended-testing

test: no merge it
  README.md
Due: none

Fix BUILDKITE_ANALYTICS_TOKEN
  .buildkite/hooks/pre-command
  .buildkite/scripts/steps/integration_tests.sh
Due: elastic-agent-extended-testing

Fix BUILDKITE_ANALYTICS_TOKEN (#6163)
  .buildkite/hooks/pre-command
  .buildkite/scripts/steps/integration_tests.sh
Due: elastic-agent-extended-testing

mark and skip flaky TestOTelManager_Run (#6126)
  internal/pkg/otel/manager/manager_test.go
Due: elastic-agent-extended-testing

Increase failure threshold for agent monitoring inputs from 2 to 5 (#6160)
  internal/pkg/agent/application/monitoring/v1_monitor.go
  internal/pkg/agent/application/monitoring/v1_monitor_test.go
Due: elastic-agent-extended-testing

[CI] Source BUILDKITE_ANALYTICS_TOKEN in the commands
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/set-bk-analytics-token.ps1
  .buildkite/scripts/set-bk-analytics-token.sh
Due: elastic-agent-extended-testing

Added windows retry for BUILDKITE_ANALYTICS_TOKEN. Test changes
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/retry.ps1
  .buildkite/scripts/set-bk-analytics-token.ps1
  .buildkite/scripts/set-bk-analytics-token.sh
  .buildkite/scripts/steps/ess.ps1
Due: elastic-agent-extended-testing

Bump K8S version
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

Test windows scope
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/set-bk-analytics-token.ps1
  .buildkite/scripts/set-bk-analytics-token.sh
Due: elastic-agent-extended-testing

chore: add changelog fragment
  changelog/fragments/1732809895-add-GeoIP-processor-to-EDOT-collector.yaml
Due: none

Initial commit.
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/ast_test.go
  internal/pkg/agent/vars/vars.go
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/controller_test.go
Due: elastic-agent-extended-testing

Update catalog file with correct system property (#6003)
  catalog-info.yaml
Due: none

Make restart interval configurable. Retry provider create as well.
  internal/pkg/composable/config.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

Add changelog.
  changelog/fragments/1732840106-Only-run-providers-referenced-in-the-policy.yaml
Due: none

more UTs
  pkg/version/version_parser_test.go
Due: elastic-agent-extended-testing

Add 1 independent release into upgrade matrix (#6075)
  pkg/testing/fetcher_artifact.go
  pkg/version/version_parser.go
  pkg/version/version_parser_test.go
  testing/integration/testdata/.upgrade-test-agent-versions.yml
  testing/upgradetest/versions.go
Due: elastic-agent-extended-testing

Test windows scope
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-command.ps1
  .buildkite/scripts/set-bk-analytics-token.sh
Due: elastic-agent-extended-testing

Avoid unbound variable
  .buildkite/hooks/pre-command
Due: elastic-agent-extended-testing

Avoid unbound variable
  .buildkite/scripts/set-bk-analytics-token.ps1
  .buildkite/scripts/set-bk-analytics-token.sh
Due: elastic-agent-extended-testing

Teverted test collector plugin for bk integration tests. It doesn't support windows
  .buildkite/bk.integration.pipeline.yml
Due: none

Skip new ARM tests: https://github.com/elastic/ingest-dev/issues/4610
  .buildkite/bk.integration.pipeline.yml
Due: none

Fixes from code review.
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/ast_test.go
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

Update retry interval to 30 seconds.
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

add kube-stack values file to Update mage target
  deploy/helm/edot-collector/kube-stack/values.yaml
  magefile.go
Due: elastic-agent-extended-testing

remove tls setting
  internal/pkg/agent/install/uninstall.go
Due: elastic-agent-extended-testing

Add PR link to changelog
  changelog/fragments/1732043830-Fix-audit-unenroll-call-when-running-fleet-server.yaml
Due: none

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/
