Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Fix goimports ordering: move chart/common before chart/loader
  magefile.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

feat(kubernetes): add OpenShift support to the Helm chart and Kustomize manifests
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/scripts/install-kind.sh
  .buildkite/scripts/install-kubectl.sh
  .buildkite/scripts/k8s-utils.sh
  .buildkite/scripts/steps/integration_tests_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_tf.sh
  .buildkite/scripts/steps/k8s-tests.sh
  changelog/fragments/1789584701-helm-openshift-support.yaml
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
  deploy/helm/elastic-agent/templates/agent/openshift-scc.yaml
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc-clusterrole.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc-rolebinding-ksm.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc-rolebinding.yaml
  deploy/kubernetes/elastic-agent-kustomize/openshift/default/elastic-agent-standalone/scc.yaml
  docs/test-framework-dev-guide.md
  go.mod
  go.sum
  magefile.go
  pkg/testing/kubernetes/kind/provisioner.go
  pkg/testing/kubernetes/loader.go
  pkg/testing/kubernetes/microshift/manifests/infrastructure-crds.yaml
  pkg/testing/kubernetes/microshift/manifests/monitoring-crds.yaml
  pkg/testing/kubernetes/microshift/provisioner.go
  testing/integration/k8s/agent_helm_test.go
  testing/integration/k8s/common.go
  testing/integration/k8s/journald_test.go
  testing/integration/k8s/k8s.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
  testing/integration/k8s/kubernetes_fleet_server_test.go
  testing/integration/k8s/otel_helm_test.go
  testing/integration/k8s/testdata/elastic-agent-kustomize-openshift.yaml
  testing/integration/k8s/testdata/flog.yaml
  testing/integration/k8s/testdata/k8s.hints.redis.yaml
  testing/integration/k8s/testdata/logstash.yaml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[8.19][Automation] Update elastic/beats to 127cbf47fb8f
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to fe12dcf0c109
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  wrapper/windows/archive-proxy/go.mod
Due: Trigger Extended tests for Pull request

[9.4][Automation] Update elastic/beats to a308b35ff1cb
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  wrapper/windows/archive-proxy/go.mod
Due: Trigger Extended tests for Pull request

fix: use K8s wolfi runner for dra-prep steps and add stage_artifacts.sh header
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/scripts/stage_artifacts.sh
Due: Trigger Extended tests for Pull request

[edot] switch examples to ship metrics native _otlp of ES
  internal/edot/samples/darwin/logs_metrics_traces.yml
  internal/edot/samples/darwin/platformlogs_hostmetrics.yml
  internal/edot/samples/linux/gateway.yml
  internal/edot/samples/linux/logs_metrics_traces.yml
  internal/edot/samples/linux/platformlogs_hostmetrics.yml
  internal/edot/samples/windows/logs_metrics_traces.yml
  internal/edot/samples/windows/platformlogs_hostmetrics.yml
Due: Trigger Extended tests for Pull request

Remove legacy PR Buildkite Detective workflow (#16523)
  .github/workflows/trigger-pr-buildkite-detective.yml
Due: none

fix it
  internal/pkg/otel/manager/diagnostics.go
  internal/pkg/otel/manager/diagnostics_test.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/status.go
Due: Trigger Extended tests for Pull request

fix lint failures
  testing/integration/ess/monitoring_probe_reload_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
Due: Trigger Extended tests for Pull request

Add elastic-agent.yml to fake agent tarball in Ironbank test
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Run Ironbank Dockerfile permissions test in CI after packaging
  .buildkite/scripts/steps/package.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Derive public UBI image path from Dockerfile BASE_IMAGE arg
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Switch Ironbank test from exec.Command to Moby Docker client SDK
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add integration test for Ironbank Dockerfile yml permissions
  changelog/fragments/1789153486-add-ironbank-dockerfile-permissions-integration-test.yaml
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Download tinit and jq from hardening manifest instead of using stubs
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove changelog fragment for test-only change
  changelog/fragments/1789153486-add-ironbank-dockerfile-permissions-integration-test.yaml
Due: none

Fix golangci-lint issues in ironbank dockerfile test
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use pre-built ironbank build context and agent tarball instead of fake stubs
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[edot] Add `enqueue_failed` metrics to `elasticmonitoringconnector` dropped count (#16420)
  changelog/fragments/1788165328-edot_enqueue_failed_metrics.yaml
  internal/edot/processors/elasticmonitoring/convert.go
  internal/edot/processors/elasticmonitoring/convert_test.go
  internal/edot/receivers/elasticmonitoring/README.md
Due: Trigger Extended tests for Pull request

fix(packaging): fix yaml.v3 merge key priority — explicit keys must beat merge sources
  dev-tools/mage/pkgspecs.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(mage): generalize deep-merge fix to also cover files and add changelog
  changelog/fragments/1787676162-upgrade-mage-packaging-spec-loader-from-yaml.v2-to-yaml.v3.yaml
  dev-tools/mage/pkgspecs.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

chore: restore packages.yml yaml.v3 migration changes
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(mage): upgrade pkgspecs.go from yaml.v2 to yaml.v3 with deep-merge fix
  dev-tools/mage/pkg_test.go
  dev-tools/mage/pkgspecs.go
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

chore(mage): use go.yaml.in/yaml/v3 import path in mage packaging files
  dev-tools/mage/pkg_test.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/pkgtypes.go
  dev-tools/mage/settings.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(tests): fix duplicate YAML keys in integration test configs
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

chore: remove changelog fragment and revert packages.yml to main
  changelog/fragments/1787676162-upgrade-mage-packaging-spec-loader-from-yaml.v2-to-yaml.v3.yaml
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Pass a *paths.Path to the elastic-agent-libs logp configure helpers (#16447)
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
  internal/pkg/agent/cmd/watch.go
  pkg/core/logger/logger.go
Due: Trigger Extended tests for Pull request

Enable kafka exporter and receiver in FIPS builds
  changelog/fragments/1789581976-enable-kafka-exporter-and-receiver-in-fips-builds.yaml
  internal/edot/otelcol/components/components_nofips.go
  internal/edot/otelcol/components/default.go
Due: Trigger Extended tests for Pull request

Regenerate NOTICE-fips.txt
  NOTICE-fips.txt
Due: none

fail tests on cleanup timeout
  testing/integration/k8s/common.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request

add the 8.19.22 Elastic Agent release notes
  changelog/8.19.22.asciidoc
  changelog/8.19.22.yaml
  changelog/fragments/1788339094-fix-diagnostics-for-otel-components.yaml
  changelog/fragments/1788375679-handle-units-with-nil-config.yaml
  changelog/fragments/1788436606-update-otel-collector-dependencies-to-v0.159.0-v1.65.0.yaml
  changelog/fragments/1788440317-validate-component-working-directory-path-to-prevent-path-traversal.yaml
  changelog/fragments/1789073037-ironbank-fix-yml-permissions.yaml
Due: none

Add degraded vs failed to actions message
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/coordinator/coordinator_state_test.go
Due: Trigger Extended tests for Pull request

re-add changelog file
  changelog/fragments/1785561405-fix-temporary-fleet-error-failing-upgrade.yaml
Due: none

Always discard/close in CheckRemote
  internal/pkg/fleetapi/client/client.go
Due: Trigger Extended tests for Pull request

Add RecoverableError
  internal/pkg/agent/application/coordinator/coordinator_state.go
  internal/pkg/agent/application/coordinator/coordinator_state_test.go
  internal/pkg/agent/errors/error.go
Due: Trigger Extended tests for Pull request

Log error in CheckRemote
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/fleetapi/client/client.go
  internal/pkg/fleetapi/client/client_test.go
Due: Trigger Extended tests for Pull request

Return RecoverableError in CheckRemote
  internal/pkg/fleetapi/client/client.go
  internal/pkg/fleetapi/client/client_test.go
Due: Trigger Extended tests for Pull request

Switch packetbeat crossbuild image to debian9, in line with beats
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
