Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Temporarily skip unit tests on Windows 10 (#13429)
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Fix unit test
  internal/pkg/agent/install/uninstall_windows_test.go
Due: Trigger Extended tests for Pull request

pick most recent version dir during upgrades
  pkg/testing/fixture.go
Due: Trigger Extended tests for Pull request

fix(flake): clean up prefix install data dirs in RPM test fixture
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
Due: Trigger Extended tests for Pull request

add podLabels to the helm chart
  changelog/fragments/1775749255-add-podLabels-support-to-helm-chart-presets.yaml
  deploy/helm/elastic-agent/templates/agent/eck/_pod_template.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/daemonset.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/deployment.yaml
  deploy/helm/elastic-agent/templates/agent/k8s/statefulset.yaml
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
Due: Trigger Extended tests for Pull request

Pin Win10 to general image as workaround
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

unskip Win10
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Allow otel replaces in golangci-lint config
  .golangci.yml
Due: none

Replace Terraform ESS provisioning with oblt-cli and add Windows ARM64 CI
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess.sh
  .buildkite/scripts/steps/ess_down.sh
  .buildkite/scripts/steps/ess_start.sh
  .buildkite/scripts/steps/integration_tests_tf.ps1
  .buildkite/scripts/steps/integration_tests_tf.sh
  .oblt-cli-version
  .tool-versions
  test_infra/ess/.gitignore
  test_infra/ess/deployment.tf
  test_infra/ess/output.tf
  test_infra/ess/terraform.tf
Due: Trigger Extended tests for Pull request

macroscope feedback
  .buildkite/scripts/steps/ess.sh
Due: Trigger Extended tests for Pull request

Add latest config options
  docs/changelog.yml
Due: none

feat(helm): add support for Fleet URL and token from Kubernetes Secret (#13507)
  changelog/fragments/1775565578-helm-fleet-credentials-from-secret.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-secret/README.md
  deploy/helm/elastic-agent/examples/fleet-managed-secret/fleet-values.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-secret/rendered/manifest.yaml
  deploy/helm/elastic-agent/templates/agent/_helpers.tpl
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request

fixed regex
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
Due: Trigger Extended tests for Pull request

Disabling host.ip and host.mac for kube-stack managed_otlp
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
Due: Trigger Extended tests for Pull request

Add chlog for disabling host.ip and host.mac for kube-stack motlp
  changelog/fragments/1775811454-disable-host.ip-and-host.mac-kube-stack.yaml
Due: none

fix(flake): clean up prefix install data dirs in RPM test fixture (#13552)
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
Due: Trigger Extended tests for Pull request

Switch back to moving the file
  internal/pkg/agent/install/install_test.go
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_windows.go
  internal/pkg/agent/install/uninstall_windows_test.go
Due: Trigger Extended tests for Pull request

avoid nil pointer dereference
  pkg/testing/fixture_install.go
Due: Trigger Extended tests for Pull request

Update issue for disabling host.ip and host.mac to public gh issue
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
Due: Trigger Extended tests for Pull request

Apply suggestion from @AndersonQ
  internal/pkg/otel/translate/common.go
Due: Trigger Extended tests for Pull request

Update internal/pkg/otel/translate/common.go
  internal/pkg/otel/translate/common.go
Due: Trigger Extended tests for Pull request

Address comments
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

fix test
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Add Elastic Agent 9.3.3+IAR release notes (#13556)
  docs/release-notes/_snippets/9.3.3+build202604082258/breaking-changes.md
  docs/release-notes/_snippets/9.3.3+build202604082258/deprecations.md
  docs/release-notes/_snippets/9.3.3+build202604082258/index.md
  docs/release-notes/_snippets/index/9.3.md
Due: none

make check-ci
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Automate updates to opentelemetry-collector-components
  .ci/scripts/update-otel.sh
Due: none

Minor test fix
  internal/pkg/agent/install/install_test.go
Due: Trigger Extended tests for Pull request

[beatreceivers] Enable otel runtime by default for kafka and logstash output (#13514)
  changelog/fragments/1775576362-enable-kafka-logstash.yaml
  pkg/component/component.go
Due: Trigger Extended tests for Pull request

Fix clean stopping of beats on Windows.
  pkg/component/runtime/command.go
  pkg/core/process/cmd.go
  pkg/core/process/cmd_notwindows.go
  pkg/core/process/cmd_windows_test.go
Due: Trigger Extended tests for Pull request

Add changelog.
  changelog/fragments/1775838969-fix-clean-stopping-of-beats-on-windows.yaml
Due: none

updating addl manifest
  deploy/helm/elastic-agent/examples/fleet-managed-secret/rendered/manifest.yaml
Due: Trigger Extended tests for Pull request

Ensure upgrade_details are set to StateRollback
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_test.go
  testing/integration/ess/upgrade_rollback_test.go
Due: Trigger Extended tests for Pull request

Verify rollback state in Kibana
  testing/integration/ess/upgrade_rollback_test.go
Due: Trigger Extended tests for Pull request

Make some functions universal
  internal/pkg/agent/install/uninstall.go
  internal/pkg/agent/install/uninstall_unix.go
  internal/pkg/agent/install/uninstall_windows.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
