Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

Fix license header
  internal/pkg/composable/benchmark_test.go
Due: elastic-agent-extended-testing

fix(6107): skipping escaping secrets in policy test because it is flaky
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

fix(6107): fix linting
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

Store AST directly in dynamic provider mappings
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

Store AST directly in context provider mappings
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

Update testing/integration/escaping_secrets_in_policy_test.go
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

[Release] update version
  version/version.go
Due: elastic-agent-extended-testing

Update k8s files
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

audit/uninstall will call localhost with certonly tls
  internal/pkg/agent/install/uninstall.go
Due: elastic-agent-extended-testing

Temporarily pin versions for integration tests to 8.17.0
  .buildkite/scripts/steps/beats_tests.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/k8s-extended-tests.sh
  testing/integration/upgrade_broken_package_test.go
Due: elastic-agent-extended-testing

Temporarily pin versions for integration tests to 8.17.0 (#6121)
  .buildkite/scripts/steps/beats_tests.sh
  .buildkite/scripts/steps/integration-package.sh
  .buildkite/scripts/steps/integration_tests.sh
  .buildkite/scripts/steps/k8s-extended-tests.sh
  testing/integration/upgrade_broken_package_test.go
Due: elastic-agent-extended-testing

updated win22 image name
  .buildkite/bk.integration.pipeline.yml
Due: none

removed tool-versions && restored asdf vars in a pipeline
  .buildkite/bk.integration.pipeline.yml
  .tool-versions
Due: none

Buildkite integration tests: Windows 2022 Sudo tests (#6010)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command.ps1
  .buildkite/pipeline.yml
  .buildkite/scripts/install-go.ps1
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  .tool-versions
Due: elastic-agent-extended-testing

[Kubernetes provider]Update kubernetes provider README (#5990)
  changelog/fragments/1732005233-kubernetes-provider-readme.yaml
  internal/pkg/composable/providers/kubernetes/README.md
Due: elastic-agent-extended-testing

mark and skip flaky TestOTelManager_Run
  internal/pkg/otel/manager/manager_test.go
Due: elastic-agent-extended-testing

(backport #5878) proxytest: fix log after test finished (#5878)
  testing/proxytest/proxytest_test.go
Due: elastic-agent-extended-testing

(backport #5950) [proxytest] Await requests before server shutdown #5970
  testing/proxytest/proxytest.go
Due: elastic-agent-extended-testing

update one missed OTel dependency
  go.mod
Due: elastic-agent-extended-testing

Fix linter
  internal/pkg/agent/install/uninstall.go
Due: elastic-agent-extended-testing

add changelog entry
  changelog/fragments/1732184289-redact-case-insensitive.yaml
Due: none

change to bug fix
  changelog/fragments/1732184289-redact-case-insensitive.yaml
Due: none

fix(6107): skipping escaping secrets in policy test because it is flaky (#6120)
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

Don't deepcopy AST when generating vars (#6058)
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/ast_test.go
  internal/pkg/agent/transpiler/vars.go
  internal/pkg/composable/controller.go
Due: elastic-agent-extended-testing

Use xxhash instead of sha256 for hashing AST nodes
  internal/pkg/agent/transpiler/ast.go
  internal/pkg/agent/transpiler/utils.go
Due: elastic-agent-extended-testing

Evaluate condition expressions only once
  internal/pkg/agent/transpiler/ast.go
Due: elastic-agent-extended-testing

Avoid unnecessary copies when rendering inputs
  internal/pkg/agent/transpiler/utils.go
Due: elastic-agent-extended-testing

Remove unnecessary ast clone
  internal/pkg/agent/application/coordinator/coordinator.go
Due: elastic-agent-extended-testing

Fix readme.
  internal/pkg/otel/README.md
Due: elastic-agent-extended-testing

Skip auditing fleetserver while uninstalling agent (#5757)
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/uninstall.go
  internal/pkg/agent/install/uninstall.go
Due: elastic-agent-extended-testing

removed tool-versions && restored asdf vars in a pipeline
  .tool-versions
Due: none

Buildkite integration tests: Windows 2022 Sudo tests (#6010)
  .tool-versions
Due: none

[CI] Buildkite integration tests: Windows ess retry script (#6030)
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/ess.ps1
Due: elastic-agent-extended-testing
