Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Sync K8s, elastic-agent-extended-testing

Path conditions:
  Sync K8s: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  elastic-agent-extended-testing: any of: internal/, dev-tools/, pkg/, testing/, version/, specs/, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/, .buildkite/hooks/

enhancement(5320): added changelog
  changelog/fragments/1731292950-added-integration-tests-for-escaping-secrets-in-policy.yaml
Due: none

enhancement(5320): ran mage addLicenseHeaders
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

enhancement(5320): remove changelog
  changelog/fragments/1731292950-added-integration-tests-for-escaping-secrets-in-policy.yaml
Due: none

ehancement(5320): update import order
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

enhancement(5320): added force flag to package installation
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

enhancement(5320): added test case where we get install package and get diagnostics
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

enhancement(5320): updated test case, corrected assertion
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

enhancement(5320): updated tests removed template file
  testing/integration/custom_log_package.json.tmpl
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

enhancement(5320): updated tests, fixed error in parsing pre-config
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing

Removed build_id
  .buildkite/bk.integration.pipeline.yml
Due: none

Scheduled builds for the new BK integration testing pipeline
  catalog-info.yaml
Due: none

cleanup
  catalog-info.yaml
Due: none

Revert "Skip TestAPMConfig for now (#5891)" (#5993)
  testing/integration/apm_propagation_test.go
Due: elastic-agent-extended-testing

[CI] Run Buildkite integration tests by CRON (#6013)
  catalog-info.yaml
Due: none

Update internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/install.go
Due: elastic-agent-extended-testing

Buildkite integration tests: Windows 2022 Sudo tests (#6010)
  .buildkite/bk.integration.pipeline.yml
  .buildkite/hooks/pre-command.ps1
  .buildkite/pipeline.yml
  .buildkite/scripts/install-go.ps1
  .buildkite/scripts/integration-tests.ps1
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
  .tool-versions
Due: elastic-agent-extended-testing

[CI] Fix windows image prefix in the new integration pipeline
  .buildkite/bk.integration.pipeline.yml
Due: none

[CI] Fix windows image prefix in the new integration pipeline (#6019)
  .buildkite/bk.integration.pipeline.yml
Due: none

update beats
  go.mod
  go.sum
Due: elastic-agent-extended-testing

switch to errors.Is
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

add filebeat receiver e2e test
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

Update testing/integration/otel_test.go
  testing/integration/otel_test.go
Due: elastic-agent-extended-testing

[Release] update version
  version/version.go
Due: elastic-agent-extended-testing

Update k8s resources
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
Due: Sync K8s

Fixing more conflicts
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
Due: none

Fix flaky test Test_runDispatcher/gateway_actions_passed (#5405)
  internal/pkg/agent/application/managed_mode_test.go
Due: elastic-agent-extended-testing

Update internal/pkg/agent/cmd/unprivileged.go
  internal/pkg/agent/cmd/unprivileged.go
Due: elastic-agent-extended-testing

added e2e tests for darwin and linux
  internal/pkg/agent/install/install_windows.go
  pkg/testing/define/testdata/sample_test.go
  pkg/testing/fixture_install.go
  testing/installtest/checks.go
  testing/installtest/checks_unix.go
  testing/installtest/checks_windows.go
  testing/integration/install_test.go
  testing/integration/switch_unprivileged_test.go
Due: elastic-agent-extended-testing

add integration tests using a proxy with mTLS for control plane with Elastic Defend installed (#5889)
  pkg/testing/define/define.go
  pkg/testing/fixture.go
  pkg/testing/fixture_install.go
  pkg/testing/tools/tools.go
  testing/integration/endpoint_security_test.go
  testing/integration/endpoint_test_tools.go
  testing/proxytest/https.go
  testing/proxytest/proxytest.go
Due: elastic-agent-extended-testing

fix conflicts: use proxytest.go from main
  testing/proxytest/proxytest.go
Due: elastic-agent-extended-testing

Sudo test script refactoring
  .buildkite/scripts/steps/integration_tests_tf_sudo.sh
  .buildkite/scripts/sudo-integration-tests.sh
Due: elastic-agent-extended-testing

Add var generation benchmark
  internal/pkg/composable/benchmark_test.go
  internal/pkg/composable/controller.go
  internal/pkg/composable/testdata/agent.yaml
  internal/pkg/composable/testdata/env.yaml
  internal/pkg/composable/testdata/host.yaml
  internal/pkg/composable/testdata/kubernetes.yaml
  internal/pkg/composable/testdata/path.yaml
Due: elastic-agent-extended-testing

reverted sample_test
  pkg/testing/define/testdata/sample_test.go
Due: elastic-agent-extended-testing

Enhancement/5320 add integration test escape secrets in policy (#5987)
  testing/integration/escaping_secrets_in_policy_test.go
Due: elastic-agent-extended-testing
