Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

list
  .github/workflows/unit-tests.yml
Due: none

windows-11-arm
  .buildkite/pipeline.yml
  .github/workflows/unit-tests.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Add abreceiver, hbreceiver, osqreceiver, pbreceiver.
  internal/edot/otelcol/components/default.go
  testing/integration/ess/auditd_monitoring_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/osquery_monitoring_test.go
Due: Trigger Extended tests for Pull request

Drop support for AGENT_COMMIT_HASH_OVERRIDE
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add changelog
  changelog/fragments/1777998109-add-support-for-auditbeat,-heartbeat,-osquerybeat,-and-packetbeat-to-run-under-otel-mode.yaml
Due: none

docs: update generated documentation for v9.4.0
  docs/reference/edot-collector/components.md
  docs/reference/edot-collector/config/default-config-standalone.md
  docs/reference/edot-collector/custom-collector.md
Due: none

remove duplicate OTel Collector components entries
  changelog/9.4.0.yaml
  docs/release-notes/_snippets/9.4.0/index.md
Due: none

race conditions
  .github/workflows/unit-tests.yml
Due: none

Apply suggestion from @swiatekm
  .github/workflows/trigger-pr-buildkite-detective.yml
Due: none

Apply suggestion from @v1v
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

Apply suggestion from @v1v
  .buildkite/scripts/steps/ess.ps1
Due: Trigger Extended tests for Pull request

gh(aw): add pr buildkite detective (#14004)
  .github/workflows/trigger-pr-buildkite-detective.yml
Due: none

oblt-cli: wait might be flaky if github is flaky
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

Add test for running Log input as Filestream in Beatsreceivers (#11155)
  magefile.go
  pkg/core/process/cmd_linux.go
  pkg/testing/fixture.go
  pkg/testing/linux/linux.go
  testing/integration/common.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/otel_log_as_filestream_test.go
  testing/integration/ess/otel_test.go
  testing/integration/ess/testdata/filebeat_receiver_log_as_filestream.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Apply suggestion from @v1v
  .github/workflows/unit-tests.yml
Due: none

its: expiry date 6 hours after creation (#14020)
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

Use t.Fatal instead of t.Error to stop test execution on error
  pkg/testing/fixture.go
Due: Trigger Extended tests for Pull request

revert windows for now
  .buildkite/pipeline.yml
  .github/workflows/unit-tests.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

fix warnings and add monitoring flag
  internal/pkg/agent/cmd/inspect.go
  internal/pkg/agent/cmd/inspect_otel.go
  internal/pkg/diagnostics/diagnostics.go
Due: Trigger Extended tests for Pull request

Make otel runtime the default for filebeat inputs
  changelog/fragments/1777903110-make-otel-runtime-the-default-for-filebeat-inputs..yaml
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/container_cmd_test.go
  testing/integration/ess/event_logging_test.go
Due: Trigger Extended tests for Pull request

Add resolveStreamID.
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/status.go
Due: Trigger Extended tests for Pull request

Use t.Fatal instead of t.Error to stop test execution on error (#14036)
  pkg/testing/fixture.go
Due: Trigger Extended tests for Pull request

Add validation to integration tests for document format.
  testing/integration/ess/assert_tools.go
  testing/integration/ess/auditd_monitoring_test.go
  testing/integration/ess/beat_receivers_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/osquery_monitoring_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

fix the test
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

remove metadata
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

support empty in some cases
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

usse nul without quotes
  .buildkite/scripts/steps/ess.ps1
Due: Trigger Extended tests for Pull request

redirect to stdout for now
  .buildkite/scripts/steps/ess.ps1
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
