Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

test(integration): extend restart log level test for QA parity (#14628)
  testing/integration/ess/log_level_test.go
Due: Trigger Extended tests for Pull request

Clean up manifest loading
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
  pkg/testing/runner/runner_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Always set agent drop path
  .buildkite/scripts/steps/package.sh
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add packaging analysis reference docs
  packaging-analysis.md
  packaging-internals.md
Due: none

[9.3] Disable TLS certificate hot-reload by default
  changelog/fragments/1779933702-disable-tls-certificate-hot-reload-by-default.yaml
  elastic-agent.reference.yml
  internal/pkg/agent/configuration/fleet_server.go
  internal/pkg/remote/config.go
Due: Trigger Extended tests for Pull request

Remove ssl.certificate_reload from reference.yml to fix check-ci
  elastic-agent.reference.yml
Due: none

[8.19] Disable TLS certificate hot-reload by default
  changelog/fragments/1779933797-disable-tls-certificate-hot-reload-by-default.yaml
  elastic-agent.reference.yml
  internal/pkg/agent/configuration/fleet_server.go
  internal/pkg/remote/config.go
Due: Trigger Extended tests for Pull request

Inject environment into LoadSettings via LoadOptions
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Allow base branch merge for BK pipeline upload steps (#14556)
  .buildkite/hooks/post-checkout
Due: Trigger Extended tests for Pull request

docs: add implementation plan for azure auth extension in EDOT
  docs/superpowers/plans/2026-05-26-azure-auth-extension-edot.md
Due: none

fix: set correct kind and component in changelog fragment
  changelog/fragments/1779748227-Add-Azure-auth-extension-to-EDOT-Collector.yaml
Due: none

chore: remove superpowers plan file
  docs/superpowers/plans/2026-05-26-azure-auth-extension-edot.md
Due: none

Read container TLS from env vars
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
Due: Trigger Extended tests for Pull request

Add changelog fragment
  changelog/fragments/1779995943-read-container-tls-from-env.yaml
Due: none

Don't override logging event policy when fleet update is empty
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
Due: Trigger Extended tests for Pull request

Add integration test
  testing/integration/ess/container_cmd_test.go
Due: Trigger Extended tests for Pull request

Add separate changelog fragment for container override ordering fix
  changelog/fragments/1779996772-fix-container-override-inconsistencies.yaml
Due: none

Fix gosec path traversal taint with default config
  internal/pkg/agent/application/application_test.go
Due: Trigger Extended tests for Pull request

Deduplicate config loading
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/cmd/run_test.go
  internal/pkg/agent/configuration/configuration.go
  internal/pkg/agent/configuration/grpc.go
  internal/pkg/agent/configuration/grpc_test.go
Due: Trigger Extended tests for Pull request

re-apply template ref from https://github.com/elastic/elastic-agent/commit/014ac3482caf844f08e1827c9a1f72769c3ca729
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Expanding list of Ironbank maintainers
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: update TestRemoteConfig expectations for disabled TLS cert hot reloading
  internal/pkg/agent/application/enroll/options_test.go
Due: Trigger Extended tests for Pull request

[8.19] Disable TLS certificate hot-reload by default (#14599)
  changelog/fragments/1779933797-disable-tls-certificate-hot-reload-by-default.yaml
  internal/pkg/agent/configuration/fleet_server.go
  internal/pkg/remote/config.go
Due: Trigger Extended tests for Pull request

nit: rename disabled to enabled for clarity
  internal/pkg/agent/configuration/fleet_server.go
  internal/pkg/remote/config.go
Due: Trigger Extended tests for Pull request

Expanding list of Ironbank maintainers (#14645)
  dev-tools/packaging/templates/ironbank/hardening_manifest.yaml.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Deduplicate config loading and override TLS cert paths in container mode (#14408)
  changelog/fragments/1779995943-read-container-tls-from-env.yaml
  changelog/fragments/1779996772-fix-container-override-inconsistencies.yaml
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
  internal/pkg/agent/cmd/run.go
  internal/pkg/agent/cmd/run_test.go
  internal/pkg/agent/configuration/configuration.go
  internal/pkg/agent/configuration/grpc.go
  internal/pkg/agent/configuration/grpc_test.go
  testing/integration/ess/container_cmd_test.go
Due: Trigger Extended tests for Pull request

Fix merge conflicts
  internal/pkg/agent/application/application.go
  internal/pkg/agent/application/application_test.go
  internal/pkg/agent/cmd/container.go
Due: Trigger Extended tests for Pull request

[9.3] Disable TLS certificate hot-reload by default (#14598)
  changelog/fragments/1779933702-disable-tls-certificate-hot-reload-by-default.yaml
  internal/pkg/agent/configuration/fleet_server.go
  internal/pkg/remote/config.go
Due: Trigger Extended tests for Pull request

Fix merge conflicts
  internal/pkg/agent/application/application.go
Due: Trigger Extended tests for Pull request

Skip TestContainerEnvOverridesFleetTLSPaths for FIPS-only
  internal/pkg/agent/cmd/container_test.go
Due: Trigger Extended tests for Pull request
