Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

chore: remove docker, docker-compose and skaffold dead code and docs (#13741)
  .buildkite/pull-requests.json
  .ci/updatecli/updatecli-bump-golang.yml
  .dockerignore
  AGENTS.md
  Dockerfile
  docker-compose.yml
  docs/local-k8s-testing.md
Due: none

Fix migrate action to not merge options.
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/enroll/options.go
  internal/pkg/agent/application/enroll/options_test.go
Due: Trigger Extended tests for Pull request

ess.ps1 ess_load_secrets: null-check cluster name, isolate oblt-cli stdout
  .buildkite/scripts/steps/ess.ps1
Due: Trigger Extended tests for Pull request

Enrich APM pipelines in daemon collector kube stack with k8sattributes (#13746)
  changelog/fragments/1776865394-enrich-apm-data-with-k8s-attributes-in-daemon-collector-kube-stack.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
Due: Trigger Extended tests for Pull request

Add changelog entry.
  changelog/fragments/1776878791-fix-migrate-action-inherits-source-config.yaml
Due: none

Replace em dashes with ASCII hyphens in oblt-cli scripts
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
  .buildkite/scripts/steps/ess_start_oblt-cli.sh
Due: Trigger Extended tests for Pull request

Fix unit test.
  pkg/testing/supported/supported_test.go
Due: Trigger Extended tests for Pull request

Remove replace directives
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

Consolidate auth
  internal/edot/receivers/verifierreceiver/internal/verifier/aws_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/azure_verifier.go
  internal/edot/receivers/verifierreceiver/internal/verifier/gcp_verifier.go
Due: Trigger Extended tests for Pull request

Create 1776901242-identity-federation-verifier-packages.yaml
  changelog/fragments/1776901242-identity-federation-verifier-packages.yaml
Due: none

regenerate EDOT README
  internal/edot/README.md
Due: Trigger Extended tests for Pull request

update docs version 9.3.4
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Update version to 9.3.5
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

chlog
  changelog/fragments/1776919181-kafka-partitioner-extension.yaml
Due: none

fix test
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

fix: rever windowseventlogreceiver to 0.149.0
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Remove update-dockerfiles and update-gomod-full-version
  .ci/updatecli/updatecli-bump-golang.yml
Due: none

Add include_metadata field for beatreceivers configured with logstash/kafka output
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Create new default options when loading config
  internal/pkg/config/config.go
Due: Trigger Extended tests for Pull request

fix: reject empty PACKAGES env var and add PACKAGES=all support
  .buildkite/pipeline.elastic-agent-package.yml
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

refactor: move AllPackageTypes to pkgtypes.go and update PACKAGES docs
  AGENTS.md
  README.md
  dev-tools/mage/pkgtypes.go
  dev-tools/mage/settings.go
  dev-tools/mage/settings_test.go
  docs/test-framework-dev-guide.md
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix conflicts
  internal/pkg/agent/application/enroll/enroll_test.go
Due: Trigger Extended tests for Pull request

fix: clean up leftover artifacts when install fails (#13705)
  changelog/fragments/1776765594-clean-up-after-failed-install.yaml
  internal/pkg/agent/cmd/install.go
  internal/pkg/agent/cmd/install_test.go
  testing/installtest/checks.go
  testing/integration/ess/install_test.go
Due: Trigger Extended tests for Pull request
