Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Bump oras-go to v2.6.2 to address CVE-2026-50162
  changelog/fragments/1790612989-bump-oras-go-to-v2.6.2-to-address-cve-2026-50162.yaml
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

fix(deps): bump helm.sh/helm/v3 to v3.22.0 (CVE-2026-63308)
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1790613016-bump-helm-v3-to-v3.22.0-to-fix-cve-2026-63308.yaml
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Add double counting regression test
  internal/edot/processors/elasticmonitoring/smoke_test.go
  internal/edot/processors/elasticmonitoring/testdata/double-counting-metrics.json
Due: Trigger Extended tests for Pull request

Fix cacheprog failures on Windows and in FIPS unit tests
  .buildkite/hooks/pre-command.ps1
  .buildkite/scripts/setup-cacheprog.sh
Due: Trigger Extended tests for Pull request

ci: split the longest integration test groups
  .buildkite/bk.integration.pipeline.yml
  testing/integration/ess/checkin_compress_test.go
  testing/integration/ess/endpoint_security_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/policy_change_no_ack_test.go
  testing/integration/ess/policy_change_persistence_test.go
  testing/integration/ess/proxy_url_test.go
  testing/integration/ess/scheduled_upgrade_details_test.go
  testing/integration/ess/upgrade_fleet_test.go
  testing/integration/ess/upgrade_rollback_test.go
  testing/integration/ess/upgrade_standalone_test.go
  testing/integration/groups.go
Due: Trigger Extended tests for Pull request

ci: package linux and windows amd64 artifacts in separate steps
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
Due: Trigger Extended tests for Pull request

Remove changes to kubernetes provisioner files not belonging in this PR
  pkg/testing/kubernetes/kind/provisioner.go
  pkg/testing/kubernetes/supported.go
Due: Trigger Extended tests for Pull request

Fix data correctness issues in the elastic monitoring processor (#16805)
  changelog/fragments/1790245081-self-monitoring-data-fixes.yaml
  internal/edot/processors/elasticmonitoring/convert.go
  internal/edot/processors/elasticmonitoring/convert_test.go
  internal/edot/processors/elasticmonitoring/smoke_test.go
  internal/edot/processors/elasticmonitoring/testdata/double-counting-metrics.json
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

fix: use correct fleet-server pkg/api pseudo-version for v9.5.4
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

fix(synthetics): mark the wolfi complete image as complete (#16841)
  changelog/fragments/1790375775-mark-wolfi-complete-image.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

[8.19][Automation] Update elastic/beats to 51e2dad18170
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

[9.5][Automation] Update elastic/beats to 62425d8e2c16
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  internal/edot/go.mod
Due: Trigger Extended tests for Pull request

feat(edot-collector): run the EDOT daemon collector as non-root on OpenShift (#16837)
  changelog/fragments/1790349506-helm-edot-collector-openshift-rootless.yaml
  deploy/helm/edot-collector/kube-stack/README.md
  deploy/helm/edot-collector/kube-stack/openshift/rootless-values.yaml
  testing/integration/k8s/common.go
  testing/integration/k8s/otel_helm_test.go
Due: Trigger Extended tests for Pull request

fix: enable OTel profiles feature gate on config update
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

chore: add fragment file
  changelog/fragments/1790673585-fix-otel-profiles-pipeline-hot-update-restart.yaml
Due: none

Check diskspace availability before downloading upgrade artifact
  changelog/fragments/1784775896-add-upgrade-diskspace-check.yaml
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/diskspace_darwin.go
  internal/pkg/agent/application/upgrade/diskspace_linux.go
  internal/pkg/agent/application/upgrade/diskspace_test.go
  internal/pkg/agent/application/upgrade/diskspace_windows.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  testing/integration/common_logs_ingestion.go
  testing/integration/ess/upgrade_diskspace_darwin_test.go
  testing/integration/ess/upgrade_diskspace_linux_test.go
  testing/integration/ess/upgrade_diskspace_test.go
  testing/integration/ess/upgrade_diskspace_windows_test.go
  testing/upgradetest/upgrader.go
Due: Trigger Extended tests for Pull request

Fix adjacent lint issues
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

Add new upgrade errors and rename ErrInsufficientDiskSpace
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors_test.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch_test.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

Treat disk space reservation failures as permanent download errors
  internal/pkg/agent/application/upgrade/step_download.go
Due: Trigger Extended tests for Pull request

Replace preallocate with write
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/diskspace_darwin.go
  internal/pkg/agent/application/upgrade/diskspace_linux.go
  internal/pkg/agent/application/upgrade/diskspace_windows.go
Due: Trigger Extended tests for Pull request

Use per-platform fallback sizes
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/diskspace_darwin.go
  internal/pkg/agent/application/upgrade/diskspace_linux.go
  internal/pkg/agent/application/upgrade/diskspace_windows.go
Due: Trigger Extended tests for Pull request

Add reserve_diskspace agent setting
  _meta/config/common.p2.yml.tmpl
  _meta/config/common.reference.p2.yml.tmpl
  elastic-agent.reference.yml
  elastic-agent.yml
  internal/pkg/agent/application/upgrade/artifact/config.go
  internal/pkg/agent/application/upgrade/diskspace_test.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
  testing/integration/ess/upgrade_diskspace_test.go
Due: Trigger Extended tests for Pull request

Add disk space check before preallocate
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/diskspace_darwin.go
  internal/pkg/agent/application/upgrade/diskspace_linux.go
  internal/pkg/agent/application/upgrade/diskspace_windows.go
Due: Trigger Extended tests for Pull request

Fix windows lint error
  internal/pkg/agent/application/upgrade/diskspace_windows.go
Due: Trigger Extended tests for Pull request

Use preallocated reservation file
  dev-tools/mage/manifest/checksum_retry.go
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch_test.go
  internal/pkg/agent/application/upgrade/artifact/download/verify.go
  internal/pkg/agent/application/upgrade/artifact/download/verify_test.go
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/diskspace_darwin.go
  internal/pkg/agent/application/upgrade/diskspace_linux.go
  internal/pkg/agent/application/upgrade/diskspace_test.go
  internal/pkg/agent/application/upgrade/diskspace_windows.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/step_download_test.go
  internal/pkg/agent/application/upgrade/upgrade.go
  testing/integration/ess/upgrade_diskspace_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update changelog
  changelog/fragments/1784775896-add-upgrade-diskspace-check.yaml
Due: none

Unify disk space reporting into DiskSpaceLowError
  internal/pkg/agent/application/coordinator/coordinator.go
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors.go
  internal/pkg/agent/application/upgrade/artifact/download/errors/disk_space_errors_test.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch.go
  internal/pkg/agent/application/upgrade/artifact/download/fetch_test.go
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/step_download.go
  internal/pkg/agent/application/upgrade/upgrade.go
  internal/pkg/agent/application/upgrade/upgrade_test.go
Due: Trigger Extended tests for Pull request

ci: upload the integration test steps together with the packaging steps
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Fix pre-existing lint issues in touched integration test files
  testing/integration/ess/policy_change_no_ack_test.go
  testing/integration/ess/proxy_url_test.go
  testing/integration/ess/scheduled_upgrade_details_test.go
  testing/integration/ess/upgrade_fleet_test.go
Due: Trigger Extended tests for Pull request

ci: ensure elastic-agent-core tar.gz is built for rpm/deb packaging
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Revert "Replace preallocate with write"
  internal/pkg/agent/application/upgrade/diskspace.go
  internal/pkg/agent/application/upgrade/diskspace_darwin.go
  internal/pkg/agent/application/upgrade/diskspace_linux.go
  internal/pkg/agent/application/upgrade/diskspace_windows.go
Due: Trigger Extended tests for Pull request

Add changelog entry for copy concurrency fix
  changelog/fragments/1790623826-Fix-copy-concurrency-during-agent-installation-to-4.yaml
Due: none

Add changelog entry for copy concurrency fix
  internal/pkg/agent/install/install.go
Due: Trigger Extended tests for Pull request

fix linter warnings
  internal/pkg/agent/install/install_test.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
