Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

fix(otel): fix queue flush timeout translation for unitless values
  changelog/fragments/1783071900-fix-otel-flush-timeout-missing-unit.yaml
  internal/pkg/otel/translate/common.go
  internal/pkg/otel/translate/common_test.go
Due: Trigger Extended tests for Pull request

chore(docker): upgrade OS packages in Ubuntu-based agent image build
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix spurious unmarshal error on idle Fleet check-ins (#15398)
  changelog/fragments/1783412071-fix-spurious-failed-to-unmarshal-checkin-actions-error-on-idle-fleet-check-ins.yaml
  docs/release-notes/known-issues.md
  internal/pkg/agent/application/gateway/fleet/fleet_gateway.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
Due: Trigger Extended tests for Pull request

Correct affected versions for checkin actions known issue
  docs/release-notes/known-issues.md
Due: none

docs: trim lint tag-set comments to what they're for
  .github/workflows/golangci-lint.yml
  dev-tools/mage/lint.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: define LintPlan mage target in its own file
  magefile.go
  magefile_lint.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

perf: skip extra lint tag-set runs when a PR doesn't touch them
  .github/workflows/golangci-lint.yml
  AGENTS.md
  dev-tools/mage/lint.go
  dev-tools/mage/lint_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

refactor: compute lint tag-set plan in Go, not workflow bash
  .github/workflows/golangci-lint.yml
  dev-tools/lintplan/main.go
  dev-tools/mage/lint.go
  dev-tools/mage/lint_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: constrain kubernetes_inner test to linux for cross-OS lint
  testing/kubernetes_inner/agent_paths_ownership_test.go
Due: Trigger Extended tests for Pull request

fix: run golangci-lint against every build tag, not just the default
  .github/workflows/golangci-lint.yml
  AGENTS.md
  dev-tools/mage/lint.go
  go.mod
  tools/tools.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

refactor: dedupe plan-job checkout, trim comment
  .github/workflows/golangci-lint.yml
Due: none

simplify: make the lint tag-set matrix static
  .github/workflows/golangci-lint.yml
  dev-tools/mage/lint.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

docs: clarify changedFiles comment
  dev-tools/mage/lint.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

docs: trim AGENTS.md lint-scope note
  AGENTS.md
Due: none

docs: reword plan-job fetch-depth comment
  .github/workflows/golangci-lint.yml
Due: none

simplify: drop diff-based lint tag-set planning
  dev-tools/lintplan/main.go
  dev-tools/mage/lint_test.go
  magefile_lint.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Correct affected versions for checkin actions known issue (#15406)
  docs/release-notes/known-issues.md
Due: none

Follow up native Go FIPS migration; clean up missed leftovers (#14986)
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/scripts/buildkite-integration-tests.sh
  changelog/fragments/1783087904-fips-builds-reject-non-approved-tls-peer-cert-key-types.yaml
  dev-tools/mage/build.go
  dev-tools/mage/gotest.go
  dev-tools/mage/gotest_test.go
  dev-tools/packaging/settings.go
  dev-tools/packaging/testing/package_test.go
  internal/edot/receivers/verifierreceiver/internal/verifier/tls.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(otel): fix queue flush timeout translation for unitless values (#15404)
  changelog/fragments/1783071900-fix-otel-flush-timeout-missing-unit.yaml
  internal/pkg/otel/translate/common.go
  internal/pkg/otel/translate/common_test.go
Due: Trigger Extended tests for Pull request

Revert "Run osquerybeat as a receiver by default (#15319)"
  changelog/fragments/1783021378-run-osquery-inputs-as-collector-receivers-by-default.yaml
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/osquery_monitoring_test.go
Due: Trigger Extended tests for Pull request

Fixes from code review.
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  testing/integration/ess/fqdn_test.go
Due: Trigger Extended tests for Pull request

Unskip subcomponent test
  testing/integration/ess/beat_receivers_test.go
Due: Trigger Extended tests for Pull request

Revert "Run osquerybeat as a receiver by default (#15319)" (#15411)
  changelog/fragments/1783021378-run-osquery-inputs-as-collector-receivers-by-default.yaml
  pkg/component/component.go
  pkg/component/component_test.go
  testing/integration/ess/osquery_monitoring_test.go
Due: Trigger Extended tests for Pull request

Adopt fleet-server union ack event types (#15292)
  internal/pkg/agent/application/dispatcher/dispatcher_test.go
  internal/pkg/agent/storage/store/state_store_test.go
  internal/pkg/fleetapi/ack_cmd.go
  internal/pkg/fleetapi/ack_cmd_test.go
  internal/pkg/fleetapi/acker/fleet/fleet_acker.go
  internal/pkg/fleetapi/acker/fleet/fleet_acker_test.go
  internal/pkg/queue/actionqueue_test.go
  pkg/fleetapi/ack.go
  pkg/fleetapi/action.go
  testing/fleetservertest/fleetserver_test.go
Due: Trigger Extended tests for Pull request

Fix agent.features.fqdn.enabled in otel/translate. (#15191)
  changelog/fragments/1782259200-otel-translate-honor-fqdn-feature-flag.yaml
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  testing/integration/ess/fqdn_test.go
Due: Trigger Extended tests for Pull request

docs: correct affected versions for checkin actions known issue
  docs/release-notes/known-issues.md
Due: none

docs: remove known-issues.md, not present on this branch before this PR
  docs/release-notes/known-issues.md
Due: none

fix(test): resolve unresolved cherry-pick conflicts in fleet_gateway_test.go
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
Due: Trigger Extended tests for Pull request

fix(test): adapt cherry-picked test to 9.3's rollback-source mock API
  internal/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
Due: Trigger Extended tests for Pull request

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
