Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Permit context cancelled error message in TestMonitoringLogsAreShipped
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

docs: fix packaging example to match linux/amd64 build command (#15290)
  README.md
Due: none

[monitoring] fix monitoring for process mode (#15272)
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_otel.yaml
  internal/pkg/agent/application/monitoring/component/testdata/monitoring_config_full_process.yaml
  internal/pkg/agent/application/monitoring/component/v1_monitor.go
  internal/pkg/agent/application/monitoring/component/v1_monitor_test.go
Due: Trigger Extended tests for Pull request

Update docs/test-framework-dev-guide.md
  docs/test-framework-dev-guide.md
Due: none

Handle package spec loading error
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add missing backtick
  docs/test-framework-dev-guide.md
Due: none

Fix build without manifest
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Permit context cancelled error message in TestMonitoringLogsAreShipped (#15304)
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

Emit a single batch from elasticmonitoring connector
  internal/edot/connectors/elasticmonitoring/connector.go
  internal/edot/connectors/elasticmonitoring/connector_test.go
Due: Trigger Extended tests for Pull request

Batch elasticmonitoring connector log records into a single ConsumeLogs call
  internal/edot/connectors/elasticmonitoring/connector.go
  internal/edot/connectors/elasticmonitoring/connector_test.go
Due: Trigger Extended tests for Pull request

wip
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  testing/integration/ess/heartbeat_monitoring_test.go
Due: Trigger Extended tests for Pull request

Exclude all metadata processors for synthetics in GetDefaultProcessors
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

Add heartbeat integration test for synthetics/http process vs OTel modes
  testing/integration/ess/heartbeat_monitoring_test.go
Due: Trigger Extended tests for Pull request

Remove add_observer_metadata from GetDefaultProcessors
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

Fix heartbeat test: use synthetics-http* index pattern
  testing/integration/ess/heartbeat_monitoring_test.go
Due: Trigger Extended tests for Pull request

Remove host field exclusion from heartbeat mode comparison
  testing/integration/ess/heartbeat_monitoring_test.go
Due: Trigger Extended tests for Pull request

Apply review feedback to heartbeat integration test
  testing/integration/ess/heartbeat_monitoring_test.go
Due: Trigger Extended tests for Pull request

chore: bump nodejs 22.23 and npm 11.18 (#15242)
  changelog/fragments/1782833975-bump-heartbeat-nodejs-22.23-npm-11.18.yaml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix: conflict
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Drop error check from TestMonitoringLogsAreShipped
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

Switch to beat processor per pipeline
  internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager_test.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
Due: Trigger Extended tests for Pull request

Drop error check from TestMonitoringLogsAreShipped (#15312)
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

Update common_logs_ingestion.go
  testing/integration/common_logs_ingestion.go
Due: Trigger Extended tests for Pull request

Make ESS stack build ID optional (#15267)
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
  .buildkite/scripts/steps/ess_start.sh
  .buildkite/scripts/steps/ess_start_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_tf.sh
Due: Trigger Extended tests for Pull request
