Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

fix conflicts
  go.mod
  go.sum
Due: Trigger Extended tests for Pull request

Cleanup
  internal/pkg/agent/configuration/fleet.go
  internal/pkg/fleetapi/checkin_cmd.go
  internal/pkg/fleetapi/checkin_cmd_test.go
  pkg/features/features.go
  pkg/features/features_test.go
  testing/fleetservertest/fleetserver_test.go
  testing/fleetservertest/server.go
Due: Trigger Extended tests for Pull request

use default consts
  internal/pkg/agent/configuration/fleet.go
Due: Trigger Extended tests for Pull request

Update go.sum
  go.sum
Due: Trigger Extended tests for Pull request

Update go.mod
  go.mod
Due: Trigger Extended tests for Pull request

Rename threshold var
  _meta/config/common.reference.p2.yml.tmpl
  elastic-agent.reference.yml
  internal/pkg/agent/configuration/fleet.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

update docs versions 9.3.2
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Harmonize golangci-lint use between local and CI
  .github/workflows/golangci-lint.yml
  .tool-versions
  Makefile
Due: none

migrate sample to 8.19
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
Due: Trigger Extended tests for Pull request

9.3 example
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
Due: Trigger Extended tests for Pull request

now 8.19.14
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
Due: Trigger Extended tests for Pull request

fix: address logging issues
  internal/pkg/agent/application/actions/handlers/handler_action_policy_change.go
Due: Trigger Extended tests for Pull request

chlog
  changelog/fragments/1774000686-fix-logging.yaml
Due: none

Fix conflicts
  go.mod
Due: Trigger Extended tests for Pull request

Add IT for helm template
  testing/integration/k8s/kubernetes_agent_standalone_test.go
  testing/integration/k8s/otel_helm_test.go
Due: Trigger Extended tests for Pull request

Don't build unnecessary artifacts for agent core
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

wip: use sockets and npipes for otel health check
  internal/edot/go.mod
  internal/edot/go.sum
  internal/pkg/agent/application/paths/common.go
  internal/pkg/agent/application/paths/paths_unix.go
  internal/pkg/agent/application/paths/paths_windows.go
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/healthcheck.go
  internal/pkg/otel/manager/healthcheck_test.go
  internal/pkg/otel/manager/healthcheck_unix_test.go
  internal/pkg/otel/manager/healthcheck_windows_test.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Change the socket path permission to 770
  pkg/ipc/listener.go
Due: Trigger Extended tests for Pull request

Don't build unnecessary artifacts for agent core (#13245)
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

temporarily disable permission check
  testing/installtest/checks_unix.go
Due: Trigger Extended tests for Pull request

Fix Windows npipe path
  internal/pkg/otel/manager/healthcheck.go
Due: Trigger Extended tests for Pull request

mage fmt
  internal/pkg/otel/manager/execution_subprocess.go
Due: Trigger Extended tests for Pull request

partially address
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

add ut and address more comments
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

Fix shouldFleetEnroll so it doesn't re-enroll when FLEET_URL hasn't changed (#13187)
  changelog/fragments/1773760327-fix-container-enrollment-to-not-re-enroll-when-the-fleet_url-is-the-same.yaml
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
Due: Trigger Extended tests for Pull request
