Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

s/1.24.4/1.24.5/g
  .go-version
  Dockerfile
  changelog/fragments/1758822287-bump-golang-1.25.4.yaml
  dev-tools/mage/otel/deps_test.go
  go.mod
  internal/edot/go.mod
  version/docs/version.asciidoc
  wrapper/windows/archive-proxy/go.mod
Due: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove ms_tls13kdf from TestTagsWithFIPS
  dev-tools/mage/settings.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

update notes
  deploy/helm/elastic-agent/templates/NOTES.txt
Due: Trigger Extended tests for Pull request

changelog
  changelog/fragments/1772815729-cloud-defend-helm-chart.yaml
Due: none

s/1.25.5/1.25.8/g
  .go-version
  Dockerfile
  changelog/fragments/1758822287-bump-golang-1.25.8.yaml
  dev-tools/mage/otel/deps_test.go
  go.mod
  internal/edot/go.mod
  version/docs/version.asciidoc
  wrapper/windows/archive-proxy/go.mod
Due: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Running mage otel:readme
  internal/edot/README.md
Due: Trigger Extended tests for Pull request

Update unit tests
  dev-tools/mage/settings_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Added osquery exception
  internal/pkg/agent/perms/unix.go
Due: Trigger Extended tests for Pull request

Lint
  internal/pkg/agent/perms/unix.go
Due: Trigger Extended tests for Pull request

[mage] Stop using global package specs (#13058)
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/pkgspecs_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

add policy_id to cloud-defend
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/templates/integrations/_cloud_defend/_cloud_defend.tpl
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
Due: Trigger Extended tests for Pull request

Update internal/pkg/otel/manager/manager.go
  internal/pkg/otel/manager/manager.go
Due: Trigger Extended tests for Pull request

Use pipes created by process.Start
  internal/pkg/otel/manager/execution_subprocess.go
  internal/pkg/otel/manager/execution_subprocess_test.go
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Verify collector start count in TestOTelManagerEndToEnd
  internal/pkg/otel/manager/manager_test.go
Due: Trigger Extended tests for Pull request

Remove unnecessary comment
  internal/pkg/otel/manager/execution_subprocess.go
Due: Trigger Extended tests for Pull request

Update outdated comment
  internal/pkg/otel/manager/execution_subprocess.go
Due: Trigger Extended tests for Pull request

[AutoOps] Move `sizer` under `batch`
  changelog/fragments/1773088413-autoops-move-sizer.yaml
  internal/edot/samples/darwin/autoops_es.yml
  internal/edot/samples/darwin/autoops_es_ssl.yml
  internal/edot/samples/linux/autoops_es.yml
  internal/edot/samples/linux/autoops_es_ssl.yml
  internal/edot/samples/windows/autoops_es.yml
  internal/edot/samples/windows/autoops_es_ssl.yml
Due: Trigger Extended tests for Pull request

Change changelog
  changelog/fragments/1773088413-autoops-move-sizer.yaml
Due: none

[AutoOps] Rename `otlphttp` to `otlp_http`
  changelog/fragments/1773089893-rename-autoops-otlphttp-to-otlp_http.yaml
  internal/edot/samples/darwin/autoops_es.yml
  internal/edot/samples/darwin/autoops_es_ssl.yml
  internal/edot/samples/linux/autoops_es.yml
  internal/edot/samples/linux/autoops_es_ssl.yml
  internal/edot/samples/windows/autoops_es.yml
  internal/edot/samples/windows/autoops_es_ssl.yml
Due: Trigger Extended tests for Pull request

Add components required for content packs to EDOT collector
  changelog/fragments/1773075909-add-receivers-haproxy-mongodb-rabbitmq-memcached-couchdb-oracledb-vcenter.yaml
  internal/edot/go.mod
  internal/edot/go.sum
  internal/edot/otelcol/components.go
  internal/pkg/otel/testdata/all-components.yml
Due: Trigger Extended tests for Pull request

first commit
  go.mod
  go.sum
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

[AutoOps] Move `sizer` under `batch` (#13093)
  changelog/fragments/1773088413-autoops-move-sizer.yaml
  internal/edot/samples/darwin/autoops_es.yml
  internal/edot/samples/darwin/autoops_es_ssl.yml
  internal/edot/samples/linux/autoops_es.yml
  internal/edot/samples/linux/autoops_es_ssl.yml
  internal/edot/samples/windows/autoops_es.yml
  internal/edot/samples/windows/autoops_es_ssl.yml
Due: Trigger Extended tests for Pull request

[AutoOps] Move `sizer` under `batch` (#13093)
  changelog/fragments/1773088413-autoops-move-sizer.yaml
  internal/pkg/otel/samples/darwin/autoops_es.yml
  internal/pkg/otel/samples/darwin/autoops_es_debug.yml
  internal/pkg/otel/samples/linux/autoops_es.yml
  internal/pkg/otel/samples/linux/autoops_es_debug.yml
  internal/pkg/otel/samples/windows/autoops_es.yml
  internal/pkg/otel/samples/windows/autoops_es_debug.yml
Due: Trigger Extended tests for Pull request

Update go mod and readme
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

make `revision` configurable.
  deploy/helm/elastic-agent/README.md
  deploy/helm/elastic-agent/templates/integrations/_cloud_defend/_cloud_defend.tpl
  deploy/helm/elastic-agent/values.schema.json
  deploy/helm/elastic-agent/values.yaml
Due: Trigger Extended tests for Pull request

add check unsupported parameters
  internal/pkg/otel/translate/output_kafka.go
  internal/pkg/otel/translate/output_kafka_test.go
Due: Trigger Extended tests for Pull request

use revision value from values file
  deploy/helm/elastic-agent/templates/integrations/_cloud_defend/_cloud_defend.tpl
Due: Trigger Extended tests for Pull request

added test for ignoring osquery.app related EPERM error
  internal/pkg/agent/perms/unix.go
  internal/pkg/agent/perms/unix_test.go
Due: Trigger Extended tests for Pull request

added some more tests
  internal/pkg/agent/perms/unix_test.go
Due: Trigger Extended tests for Pull request

address issues
  internal/edot/otelcol/components.go
Due: Trigger Extended tests for Pull request
