Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Apply suggestions from code review
  docs/release-notes/known-issues.md
Due: none

Add all patches the issue applies to
  docs/release-notes/known-issues.md
Due: none

Update docs/release-notes/known-issues.md
  docs/release-notes/known-issues.md
Due: none

Add known issue for disable_policy_change_acks feature (#13950)
  docs/release-notes/known-issues.md
Due: none

Fix version list for outdated policy warning issue
  docs/release-notes/known-issues.md
Due: none

ratelimit test not present on 9.3 branch
  internal/edot/otelcol/ratelimit_test.go
Due: Trigger Extended tests for Pull request

fix conflicts
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

fix backport
  docs/release-notes/known-issues.md
Due: none

golangci-lint: skip workflow on non-Go PRs (#13999)
  .github/workflows/golangci-lint.yml
Due: none

fix: remove extra quotes from ELASTIC_AGENT_OTEL env var in kube-stack values
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
Due: Trigger Extended tests for Pull request

Revert "Temporarily skip MacOS 13 unit tests (#13834)" (#13860)
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Handle streams without IDs.
  internal/pkg/otel/translate/otelconfig.go
Due: Trigger Extended tests for Pull request

Skip tests that require unavailable windows/arm64 components
  pkg/testing/define/define.go
  pkg/testing/define/requirements.go
  testing/integration/ess/fakes.go
  testing/integration/ess/fleetserver_test.go
  testing/integration/ess/install_test.go
  testing/integration/ess/network_traffic_monitoring_test.go
  testing/integration/ess/upgrade_standalone_flavors_test.go
  testing/integration/ess/upgrade_standalone_test.go
Due: Trigger Extended tests for Pull request

fix: clamp non-positive agent.download.retry_sleep_init_duration to default 30s (#13974)
  changelog/fragments/1777882926-drosiek-validate-download-retrysleepinit-time.yaml
  internal/pkg/agent/application/upgrade/artifact/config.go
  internal/pkg/agent/application/upgrade/artifact/config_test.go
Due: Trigger Extended tests for Pull request

its: expiry date 6 hours after creation
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

use parameter "ExpireInHours=6"
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

Revert "Replace Terraform ESS provisioning with oblt-cli for Windows and Linu…"
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess.sh
  .buildkite/scripts/steps/ess_down_oblt-cli.sh
  .buildkite/scripts/steps/ess_oblt-cli.sh
  .buildkite/scripts/steps/ess_start.sh
  .buildkite/scripts/steps/ess_start_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_oblt-cli.sh
  .buildkite/scripts/steps/integration_tests_tf.ps1
  .buildkite/scripts/steps/integration_tests_tf.sh
  .oblt-cli-version
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/runner/runner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix conflicts
  internal/pkg/agent/cmd/run_test.go
Due: Trigger Extended tests for Pull request

Fix some error formatting
  internal/pkg/agent/cmd/otel_windows.go
Due: Trigger Extended tests for Pull request

oblt-cli: use the docker image for the elastic-agent when running ITs
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request

validate
  .buildkite/scripts/steps/ess.ps1
Due: Trigger Extended tests for Pull request

bk: run extended ITs on scheduling for the active branches
  .buildkite/pipeline.yml
  .buildkite/scripts/trigger-pipeline-generate-steps.sh
  .buildkite/trigger_pipelines.yml
  catalog-info.yaml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

Fix some more error formatting
  internal/pkg/agent/cmd/otel_windows.go
Due: Trigger Extended tests for Pull request

chore: fix k8s manifest comments wrt to `initContainers` (#13975)
  deploy/kubernetes/Makefile
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml.original
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-daemonset.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

support custom image
  .buildkite/bk.integration.pipeline.yml
  .buildkite/scripts/steps/ess.ps1
  .buildkite/scripts/steps/ess_oblt-cli.sh
Due: Trigger Extended tests for Pull request
