Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

Removing unneeded helm-chart cp workaround for IAR
  .buildkite/pipeline.elastic-agent-package.yml
Due: Trigger Elastic Agent Package

ci(ff): support feature freeze automation phase 1
  dev-tools/mage/release/release.go
  dev-tools/mage/release/release_test.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

ci(ff): support feature freeze automation phase 2
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
  dev-tools/mage/release/github.go
  dev-tools/mage/release/release.go
  dev-tools/mage/release/release_test.go
  go.mod
  go.sum
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix linting
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
  dev-tools/mage/release/github.go
  dev-tools/mage/release/release_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

ci(ff): support feature freeze automation phase 3
  RELEASE.md
  dev-tools/mage/release/README.md
  dev-tools/mage/release/release.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

go mod tidy
  go.mod
Due: Trigger Extended tests for Pull request

remove
  dev-tools/mage/release/release.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

dry-run
  dev-tools/mage/release/release.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

mergify: reorder
  .mergify.yml
Due: none

fix(release): satisfy gosec path traversal checks in release tooling
  dev-tools/mage/release/release.go
  dev-tools/mage/release/release_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Make release automation steps idempotent
  dev-tools/mage/release/README.md
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
  dev-tools/mage/release/github.go
  dev-tools/mage/release/github_test.go
  dev-tools/mage/release/release.go
  dev-tools/mage/release/release_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

docs(release): use valid X.Y.Z version in local testing examples
  dev-tools/mage/release/README.md
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Keep unstaged changes when creating release branch
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Stage all worktree changes without recursing into submodules
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(release): fix goimports formatting in github_test.go
  dev-tools/mage/release/github_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Align release automation with beats package structure.
  RELEASE.md
  dev-tools/mage/release/README.md
  dev-tools/mage/release/config.go
  dev-tools/mage/release/config_test.go
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
  dev-tools/mage/release/github.go
  dev-tools/mage/release/mergify.go
  dev-tools/mage/release/release.go
  dev-tools/mage/release/release_test.go
  dev-tools/mage/release/workflows.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Use GITHUB_TOKEN for authenticated git push in release automation
  dev-tools/mage/release/README.md
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Sync submodules when checking out release branches
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(release): resolve lint failures in PR 15433
  .mergify.yml
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Expand release doc updates to match upstream feature-freeze scope
  dev-tools/mage/release/docs.go
  dev-tools/mage/release/docs_test.go
  dev-tools/mage/release/release.go
  dev-tools/mage/release/workflows.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Auto-tidy wrapper/windows/archive-proxy go.mod in post-dependabot workflow (#15489)
  .github/workflows/post-dependabot.yml
Due: none

Align release PR labels with upstream version-bump PRs
  dev-tools/mage/release/workflows.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(release): apply goimports formatting to docs helpers
  dev-tools/mage/release/docs.go
  dev-tools/mage/release/docs_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(release): open PR for patch releases instead of pushing to release branch
  RELEASE.md
  dev-tools/mage/release/README.md
  dev-tools/mage/release/release_test.go
  dev-tools/mage/release/workflows.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Disable CGO on non-darwin only or the elastic-agent binary.
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Register the composable providers explicitly.
  internal/pkg/agent/application/coordinator/coordinator_unit_test.go
  internal/pkg/agent/cmd/common.go
  internal/pkg/agent/cmd/include.go
  internal/pkg/composable/controller_test.go
  internal/pkg/composable/include/include.go
  internal/pkg/composable/providers/agent/agent.go
  internal/pkg/composable/providers/agent/agent_test.go
  internal/pkg/composable/providers/docker/docker.go
  internal/pkg/composable/providers/env/env.go
  internal/pkg/composable/providers/env/env_test.go
  internal/pkg/composable/providers/filesource/filesource.go
  internal/pkg/composable/providers/filesource/filesource_test.go
  internal/pkg/composable/providers/host/host.go
  internal/pkg/composable/providers/host/host_test.go
  internal/pkg/composable/providers/kubernetes/kubernetes.go
  internal/pkg/composable/providers/kubernetesleaderelection/kubernetes_leaderelection.go
  internal/pkg/composable/providers/kubernetessecrets/kubernetes_secrets.go
  internal/pkg/composable/providers/local/local.go
  internal/pkg/composable/providers/local/local_test.go
  internal/pkg/composable/providers/localdynamic/localdynamic.go
  internal/pkg/composable/providers/localdynamic/localdynamic_test.go
  internal/pkg/composable/providers/path/path.go
  internal/pkg/composable/providers/path/path_test.go
Due: Trigger Extended tests for Pull request

Resolve unresolved merge-conflict markers left in backport
  .github/workflows/update-docs.yml
Due: none

Add temp testing branch
  .buildkite/scripts/steps/dra-publish.sh
Due: Trigger Extended tests for Pull request

Testing on 9.4 branch
  .buildkite/pipeline.elastic-agent-package.yml
  .buildkite/scripts/steps/dra-publish.sh
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove testing bit
  .buildkite/scripts/steps/dra-publish.sh
Due: Trigger Extended tests for Pull request

Override fleet.ssl.certificate_authorities from env vars in container mode (#15427)
  changelog/fragments/1783541510-container-fleet-ca-override.yaml
  internal/pkg/agent/cmd/container.go
  internal/pkg/agent/cmd/container_test.go
  testing/integration/ess/container_cmd_test.go
Due: Trigger Extended tests for Pull request

Add environment variables to collector diagnostics
  internal/pkg/diagnostics/diagnostics.go
  internal/pkg/diagnostics/diagnostics_test.go
  internal/pkg/otel/extension/elasticdiagnostics/extension.go
  internal/pkg/otel/extension/elasticdiagnostics/extension_test.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Add changelog fragment
  changelog/fragments/1783991840-add-collector-env-diagnostics.yaml
Due: none

Fix adjacent lint issues
  internal/pkg/otel/extension/elasticdiagnostics/extension_test.go
  testing/integration/ess/diagnostics_test.go
Due: Trigger Extended tests for Pull request

Enable OTel-based components and heartbeat receiver in FIPS builds
  internal/edot/beats/cmd_fips.go
  internal/edot/cmd/testdata/otel/components-output-fips.yml
  internal/edot/otelcol/components/components_fips.go
  internal/edot/otelcol/components/components_nofips.go
Due: Trigger Extended tests for Pull request

fix(release): split patch workflow into version and docs PRs
  RELEASE.md
  dev-tools/mage/release/README.md
  dev-tools/mage/release/release.go
  dev-tools/mage/release/release_test.go
  dev-tools/mage/release/workflows.go
  magefile.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
