Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh

Drop unsupported memory claim from changelog
  changelog/fragments/1788000000-kubernetes-container-logs-glob-input.yaml
Due: none

bump and skip
  .buildkite/bk.integration-fips.pipeline.yml
  .buildkite/bk.integration.pipeline.yml
  .buildkite/integration.pipeline.yml
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  .buildkite/pipeline.elastic-agent-package.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package, DRY RUN publish to serverless

Ironbank: fix yml file permissions in Dockerfile (#16565)
  changelog/fragments/1789073037-ironbank-fix-yml-permissions.yaml
  dev-tools/packaging/templates/ironbank/Dockerfile.tmpl
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Re-enable TestAuditdCorrectBinaries on Debian
  testing/integration/ess/auditd_monitoring_test.go
Due: Trigger Extended tests for Pull request

Fix docker instance provisioner for Lima/Docker Desktop setups
  pkg/testing/common/instance.go
  pkg/testing/docker/Dockerfile
  pkg/testing/docker/provisioner.go
  pkg/testing/docker/provisioner_docker_test.go
  pkg/testing/runner/runner.go
  pkg/testing/ssh/client.go
Due: Trigger Extended tests for Pull request

Fix nil Docker client and HostIP binding in docker provisioner
  pkg/testing/docker/provisioner.go
  pkg/testing/docker/provisioner_docker_test.go
Due: Trigger Extended tests for Pull request

Drop linux host requirement for docker provisioner
  pkg/testing/docker/provisioner.go
Due: Trigger Extended tests for Pull request

Fix local stack provisioner failing when stdout is not a TTY
  pkg/testing/ess/local_provisioner.go
  pkg/testing/ess/local_provisioner_test.go
Due: Trigger Extended tests for Pull request

test
  .buildkite/bk.integration.pipeline.yml
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

skip
  .buildkite/pipeline.yml
Due: Trigger Extended tests for Pull request, DRY RUN publish to serverless

add the 9.5.4 Elastic Agent release notes
  changelog/9.5.4.yaml
  changelog/fragments/1787053351-add-googlecloudmonitoringreceiver.yaml
  changelog/fragments/1788375679-handle-units-with-nil-config.yaml
  changelog/fragments/1788440317-validate-component-working-directory-path-to-prevent-path-traversal.yaml
  docs/release-notes/_snippets/9.5.4/breaking-changes.md
  docs/release-notes/_snippets/9.5.4/deprecations.md
  docs/release-notes/_snippets/9.5.4/index.md
  docs/release-notes/_snippets/breaking-changes/9.5.md
  docs/release-notes/_snippets/deprecations/9.5.md
  docs/release-notes/_snippets/index/9.5.md
Due: none

add the 9.4.7 Elastic Agent release notes
  changelog/9.4.7.yaml
  changelog/fragments/1787733895-fix-kafka-lz4-compression-failing-in-the-otel-runtime.yaml
  changelog/fragments/1788375679-handle-units-with-nil-config.yaml
  changelog/fragments/1788440317-validate-component-working-directory-path-to-prevent-path-traversal.yaml
  docs/release-notes/_snippets/9.4.7/breaking-changes.md
  docs/release-notes/_snippets/9.4.7/deprecations.md
  docs/release-notes/_snippets/9.4.7/index.md
  docs/release-notes/_snippets/breaking-changes/9.4.md
  docs/release-notes/_snippets/deprecations/9.4.md
  docs/release-notes/_snippets/index/9.4.md
Due: none

test: fix forbidigo lint on context.Background in cleanup functions
  testing/integration/ess/fleet_server_parsed_policy_race_test.go
Due: Trigger Extended tests for Pull request

test: refine comments in parsed policy race test
  testing/integration/ess/fleet_server_parsed_policy_race_test.go
Due: Trigger Extended tests for Pull request

test: add E2E integration test for fleet-server parsed policy race condition fix
  testing/integration/ess/fleet_server_parsed_policy_race_test.go
Due: Trigger Extended tests for Pull request

test: remove SDH references and update comments in parsed policy race test
  testing/integration/ess/fleet_server_parsed_policy_race_test.go
Due: Trigger Extended tests for Pull request

test: trim inline comments to single sentences
  testing/integration/ess/fleet_server_parsed_policy_race_test.go
Due: Trigger Extended tests for Pull request

Add integration test for Ironbank Dockerfile yml permissions
  changelog/fragments/1789153486-add-ironbank-dockerfile-permissions-integration-test.yaml
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Remove changelog fragment for test-only change
  changelog/fragments/1789153486-add-ironbank-dockerfile-permissions-integration-test.yaml
Due: none

Fix golangci-lint issues in ironbank dockerfile test
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update documentation
  docs/test-framework-dev-guide.md
Due: none

Move beats metrics conversion to a processor (#16297)
  internal/edot/connectors/elasticmonitoring/connector.go
  internal/edot/connectors/elasticmonitoring/connector_test.go
  internal/edot/connectors/elasticmonitoring/convert.go
  internal/edot/connectors/elasticmonitoring/convert_test.go
  internal/edot/connectors/elasticmonitoring/factory.go
  internal/edot/internaltelemetry/monitoring.go
  internal/edot/otelcol/components/default.go
  internal/edot/processors/elasticmonitoring/convert.go
  internal/edot/processors/elasticmonitoring/convert_test.go
  internal/edot/processors/elasticmonitoring/factory.go
  internal/edot/processors/elasticmonitoring/processor.go
  internal/edot/processors/elasticmonitoring/smoke_test.go
  internal/edot/processors/elasticmonitoring/testdata/diagnostics-metrics.json
  internal/edot/receivers/elasticmonitoring/convert.go
  internal/edot/receivers/elasticmonitoring/convert_test.go
  internal/pkg/otel/manager/manager.go
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Switch Ironbank test from exec.Command to Moby Docker client SDK
  dev-tools/packaging/testing/ironbank_dockerfile_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update version to 9.4.8
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-secret/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

update docs version 9.5.4
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Clean ups and error handling
  pkg/testing/docker/Dockerfile
  pkg/testing/docker/provisioner.go
  pkg/testing/runner/runner.go
Due: Trigger Extended tests for Pull request

update docs version 9.4.7
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Validate PR entries
  changelog/9.4.7.yaml
  docs/release-notes/_snippets/9.4.7/index.md
Due: none

small cleanup
  magefile.go
  pkg/testing/docker/provisioner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

drop checkDocker
  pkg/testing/docker/provisioner.go
  pkg/testing/docker/provisioner_docker_test.go
Due: Trigger Extended tests for Pull request

fix comment
  pkg/testing/docker/provisioner.go
Due: Trigger Extended tests for Pull request

Update version to 9.5.5
  version/version.go
Due: Trigger Extended tests for Pull request

Validate PR entries
  changelog/9.5.4.yaml
  docs/release-notes/_snippets/9.5.4/index.md
Due: none
