Repository elastic/elastic-agent: changes, and which Buildkite steps are due for each by the changed paths.
All: Trigger k8s sync, Trigger Extended tests for Pull request, Trigger Serverless Beats Tests, Trigger Elastic Agent Package, DRY RUN publish to serverless

Trigger k8s sync:
  branches: main
  command: .buildkite/scripts/steps/sync-k8s.sh
  agents:
    provider: gcp
    image: ${IMAGE_UBUNTU_2204_X86_64}
  env:
    GH_VERSION: 2.4.0

Trigger Extended tests for Pull request:
  if: '(build.pull_request.id != null && !build.env("GITHUB_PR_LABELS") =~ /skip-it/) ||
  
    build.env("GITHUB_PR_TRIGGER_COMMENT") =~ /.*extended.*/
  
    '
  command: buildkite-agent pipeline upload .buildkite/integration.pipeline.yml
  env:
    BUILDKITE_PULL_REQUEST: ${BUILDKITE_PULL_REQUEST}
  ...

Trigger Serverless Beats Tests:
  if: build.pull_request.id != null
  trigger: beats-agent-serverless-tests
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}

Trigger Elastic Agent Package:
  if: build.pull_request.id != null
  commands:
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh
  - .buildkite/scripts/steps/trigger-elastic-agent-package.sh | buildkite-agent pipeline upload

DRY RUN publish to serverless:
  if: build.pull_request.id != null && build.env("BUILDKITE_PULL_REQUEST_BASE_BRANCH") == "main"
  trigger: agentless-serverless-release
  build:
    commit: ${BUILDKITE_COMMIT}
    branch: ${BUILDKITE_BRANCH}
    message: 'publish to serverless (dry-run) #${BUILDKITE_PULL_REQUEST}'
    env:
      DRY_RUN: 'true'

merge both test scenarios
  testing/integration/ess/otel_test.go
Due: Trigger Extended tests for Pull request

Apply suggestions from code review
  docs/release-notes/known-issues.md
Due: none

review improvements
  internal/edot/connectors/elasticmonitoring/connector.go
  internal/edot/processors/elasticmonitoring/convert.go
  internal/edot/processors/elasticmonitoring/processor.go
Due: Trigger Extended tests for Pull request

fix(release): address review feedback on token, labels, and dead code
  dev-tools/mage/release/git.go
  dev-tools/mage/release/git_test.go
  dev-tools/mage/release/github.go
  dev-tools/mage/release/github_test.go
  dev-tools/mage/release/release_test.go
  dev-tools/mage/release/workflows.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Add local stack provisioner
  docs/test-framework-dev-guide.md
  magefile.go
  pkg/testing/common/instance.go
  pkg/testing/common/stack.go
  pkg/testing/docker/provisioner.go
  pkg/testing/ess/local_provisioner.go
  pkg/testing/ess/local_provisioner_test.go
  pkg/testing/ess/serverless_provisioner.go
  pkg/testing/ess/statful_provisioner.go
  pkg/testing/gcloud/provisioner.go
  pkg/testing/kubernetes/kind/provisioner.go
  pkg/testing/local/local.go
  pkg/testing/multipass/provisioner.go
  pkg/testing/runner/runner.go
  pkg/testing/runner/runner_test.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Fix linter warnings
  magefile.go
  pkg/testing/kubernetes/kind/provisioner.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

update docs
  docs/test-framework-dev-guide.md
Due: none

fix(mage): upgrade pkgspecs.go from yaml.v2 to yaml.v3 with deep-merge fix
  dev-tools/mage/pkg_test.go
  dev-tools/mage/pkgspecs.go
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(release): normalize Windows paths and refresh go.sum for check-ci
  dev-tools/mage/release/docs.go
  dev-tools/mage/release/docs_test.go
  go.sum
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(mage): generalize deep-merge fix to also cover files and add changelog
  changelog/fragments/1787676162-upgrade-mage-packaging-spec-loader-from-yaml.v2-to-yaml.v3.yaml
  dev-tools/mage/pkgspecs.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

Update docs versions 9.4.6
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Update version to 9.4.7
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/logs-values.yaml
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/autoops-agent/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-secret/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-logstash-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-onboarding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

Update version 8.19.22
  version/version.go
Due: Trigger Extended tests for Pull request

make check-ci
  deploy/helm/edot-collector/kube-stack/managed_otlp/values.yaml
  deploy/helm/edot-collector/kube-stack/values.yaml
  deploy/helm/elastic-agent/Chart.yaml
  deploy/helm/elastic-agent/examples/cloud-defend/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/eck/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-certificates/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/fleet-managed/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-custom-output/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-default/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-hints-autodiscover/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-ksm-sharding/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/kubernetes-only-logs/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/multiple-integrations/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/netflow-service/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/nginx-custom-integration/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/priority-class/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/statefulset-preset/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/system-custom-auth-paths/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-cluster-role/rendered/manifest.yaml
  deploy/helm/elastic-agent/examples/user-service-account/rendered/manifest.yaml
  deploy/helm/elastic-agent/values.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/default/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/base/elastic-agent-managed-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-managed/extra/elastic-agent-managed-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/base/elastic-agent-standalone-daemonset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-autosharding/elastic-agent-standalone/extra/elastic-agent-standalone-statefulset.yaml
  deploy/kubernetes/elastic-agent-kustomize/ksm-hints/elastic-agent-standalone/kustomization.yaml
  deploy/kubernetes/elastic-agent-managed-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  testing/integration/k8s/testdata/elastic-agent-kustomize.yaml
Due: Trigger k8s sync, Trigger Extended tests for Pull request

update docs version 8.19.21
  version/docs/version.asciidoc
Due: Trigger k8s sync, Trigger Extended tests for Pull request

[main][Automation] Update elastic/beats to 613ad1a85505
  NOTICE-fips.txt
  NOTICE.txt
  go.mod
  go.sum
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

fix(otel): fix ES exporter timeout=0 issue and xconfmap removal
  go.mod
  internal/edot/README.md
  internal/pkg/otel/translate/beatsauth_test.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/otel/translate/output_elasticsearch.go
  internal/pkg/otel/translate/output_elasticsearch_test.go
Due: Trigger Extended tests for Pull request

[beatreceiver] Set compression level only when kafka output is set
  internal/pkg/otel/translate/output_kafka.go
Due: Trigger Extended tests for Pull request

add chanheloh
  changelog/fragments/1787733895-fix-kafka-lz4-compression-failing-in-the-otel-runtime.yaml
Due: none

feat: propagate ELASTIC_AGENT_HOSTNAME to beats processes and OTel receivers
  .buildkite/bk.integration.pipeline.yml
  changelog/fragments/1784542898-allow-overriding-elastic-agent-hostname-via-elastic_agent_hostname-environment-variable.yaml
  internal/edot/cmd/otel.go
  internal/edot/cmd/otel_test.go
  internal/edot/cmd/validate_test.go
  internal/pkg/agent/cmd/container.go
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/util/host.go
  internal/pkg/util/host_test.go
  pkg/component/runtime/command.go
Due: Trigger Extended tests for Pull request

test: hostname override integration tests (ESS + K8s)
  testing/integration/ess/fqdn_test.go
  testing/integration/ess/hostname_override_test.go
  testing/integration/groups.go
  testing/integration/k8s/common.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request

test(k8s): use dedicated policy in TestKubernetesAgentBeatsHostnameOverride
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request

test(k8s): unenroll agents before deleting temporary policy
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request

refactor(release): use pkg/version instead of local semver helpers
  dev-tools/mage/release/release.go
  dev-tools/mage/release/version.go
  dev-tools/mage/release/version_test.go
  dev-tools/mage/release/workflows.go
  dev-tools/mage/release_settings.go
  dev-tools/mage/release_settings_test.go
  dev-tools/mage/settings.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

chore: remove implementation-detail comments
  internal/edot/cmd/otel.go
  internal/edot/cmd/otel_test.go
  internal/pkg/otel/translate/otelconfig.go
  testing/integration/ess/hostname_override_test.go
  testing/integration/k8s/kubernetes_agent_standalone_test.go
Due: Trigger Extended tests for Pull request

chore: remove spurious changes vs origin/main
  internal/pkg/otel/translate/otelconfig.go
  internal/pkg/otel/translate/otelconfig_test.go
  internal/pkg/util/host.go
  pkg/component/runtime/command.go
  testing/integration/ess/fqdn_test.go
Due: Trigger Extended tests for Pull request

fix: apply ELASTIC_AGENT_HOSTNAME in standalone OTel mode too
  internal/edot/cmd/otel.go
Due: Trigger Extended tests for Pull request

chore: trim ELASTIC_AGENT_HOSTNAME help text to match surrounding entries
  internal/pkg/agent/cmd/container.go
Due: Trigger Extended tests for Pull request

fix: restrict Beat hostname override to supervised OTel mode
  internal/edot/cmd/otel.go
Due: Trigger Extended tests for Pull request

Remove unused legacy Kind integration tests runner
  dev-tools/mage/kubernetes/kind.go
  dev-tools/mage/kubernetes/kubectl.go
  dev-tools/mage/kubernetes/kuberemote.go
  dev-tools/mage/kubernetes/kubernetes.go
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

fix(edot): bump all OTel deps to v0.159.0+ and core to v1.65.0
  go.mod
  go.sum
  internal/edot/README.md
  internal/edot/go.mod
  internal/edot/go.sum
Due: Trigger Extended tests for Pull request

Fix NOTICE
  NOTICE-fips.txt
  NOTICE.txt
Due: none

Build Elastic Agent FIPS for MacOS
  .buildkite/pipeline.elastic-agent-binary-dra.yml
  dev-tools/packaging/packages.yml
Due: Trigger Extended tests for Pull request, Trigger Elastic Agent Package

reflect mac artifacts in package CI labels
  .buildkite/integration.pipeline.yml
Due: Trigger Extended tests for Pull request

add FIPS MacOS builds to integration pipeline
  .buildkite/integration.pipeline.yml
Due: Trigger Extended tests for Pull request

fix(edot): register add_docker_metadata and add_kubernetes_metadata in elastic-otel-collector
  internal/edot/otelcol/components/beat_processors.go
Due: Trigger Extended tests for Pull request

docs: add GCP OTel runtime known issue
  docs/release-notes/known-issues.md
Due: none

Skip renovate updates for internal cross-module imports
  renovate.json
Due: none

Skip renovate updates for internal cross-module imports (#16365)
  renovate.json
Due: none

Path conditions:
  Trigger k8s sync: any of: deploy/kubernetes/*, version/docs/version.asciidoc
  Trigger Extended tests for Pull request: any of: internal/**, dev-tools/**, pkg/**, deploy/**, test_infra/**, testing/**, version/**, specs/**, .agent-versions.json, .go-version, .package-version, go.mod, go.sum, magefile.go, main.go, .buildkite/integration.pipeline.yml, .buildkite/bk.integration.pipeline.yml, .buildkite/bk.integration-fips.pipeline.yml, .buildkite/pipeline.yml, .buildkite/scripts/**, .buildkite/hooks/**
  Trigger Serverless Beats Tests: any of: .buildkite/serverless.beats.tests.yml, .buildkite/scripts/steps/beats_tests.sh, .buildkite/hooks/pre-command
  Trigger Elastic Agent Package: any of: .buildkite/pipeline.elastic-agent-package.yml, .buildkite/scripts/steps/package.sh, .buildkite/scripts/steps/trigger-elastic-agent-package.sh, magefile.go, dev-tools/**/*
  DRY RUN publish to serverless: any of: .buildkite/pipeline.yml, .buildkite/pipeline.agentless-app-release.yaml, .buildkite/scripts/steps/ecp-internal-release.sh, .buildkite/scripts/steps/integration-package.sh, .buildkite/scripts/steps/validate-agentless-docker-image.sh
